=head2 DESCRIPTION

This URL path returns information about a single collection record from the Paleobiology Database.

Examples:

=over 4

=item *

L</data1.1/colls/single.json?id=1003&show=loc,time,crmod>

=item *

L</data1.1/colls/single.txt?id=1003>

=back

<% INCLUDE STANDARD %>
