<% PROCESS sections/definitions.tt %>

=head2 DESCRIPTION

This path returns information about geographic clusters of collections from the Paleobiology Database.
These clusters are defined in order to facilitate the generation of maps at low resolutions.

<% PROCESS params %>

<% PROCESS response %>

