=head2 DESCRIPTION

This path returns information about interval records from the Paleobiology Database.

For example:

=over

=item *

L</data1.1/intervals/list.txt?scale=all&limit=all&showsource>

=back

<% INCLUDE STANDARD %>
