/* Common style sheet to be used for all pages. 
   Created 1/2004 by rjp. */

   
/*	note, this defines the defaults for the document unless 
	they are overridden by something more specific */
body {
	background-color: white;
	background-image: url(/public/PDbg.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

table, tbody, tr, td { 
    font-size: 1em;
}

hr { 
    color: #AAAAAA;
    background-color: #AAAAAA;
    width: 100%;
    height: 1px;
    border: 0;
}

/* how should the regular links look? */
A:link	{ color : #0040FF; text-decoration:none; }
A:visited	{ color : #6E00FF; text-decoration:none; }
A:active	{ color : #00AAFF; text-decoration:none; }
A:hover	{ color : #C80078; text-decoration:none; }

/* how should the links look in the menu bar at the top?  */
A:link.menu { 
	color : White; font-size : 0.85em; text-decoration:none; 
	padding: 2px 5px 2px 5px;
}

A:visited.menu { 
	color : White; font-size : 0.85em; text-decoration:none; 
	padding: 2px 5px 2px 5px;
}

A:active.menu { 
	color : White; font-size : 0.85em; text-decoration:none; 
	padding: 2px 5px 2px 5px;
}

A:hover.menu { 
	color : black; font-size : 0.85em; 

	border-style: solid;  /*solid, dashed, dotted, grooved */
    border-color: white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;   
	
	/* top, right, bottom, left*/
	/*padding: 0px 4px 0px 4px;*/
	padding: 2px 5px 2px 5px;

	
	text-decoration:none; 
}

A:link.homeStats	{
	color : #000000;
}       

A:visited.homeStats	{
	color : #808080;
}       

A:active.homeStats	{
	color : #808080;
}       

A:hover.homeStats	{
	color : #A0C0F0;
}       


H1, H2, H3, H4, H5, H6 { 
	padding: 0px 0px 0px 0px;
	/*margin: 0.1em 1em 0.5em 1em;*/
}

H1 {font-size: 2em;}
H2 {font-size: 1.5em;}
H3 {font-size: 1.25em;}
H4 {font-size: 1.1em;}
H5 {font-size: 1em;}
H6 {font-size: .9em;}

.verytiny {  font-size : 0.7em; text-decoration:none; }
.tiny {  font-size : 0.8em; text-decoration:none; }
.small {  font-size : 0.9em; text-decoration:none; }
.medium {  font-size : 1.0em; text-decoration:none; }
.large {  font-size : 1.1em; text-decoration:none; }
.verylarge {  font-size : 1.3em; text-decoration:none; }
.huge {  font-size : 1.5em; text-decoration:none; }
.cell {  font-size : 1.1em; text-decoration:none; }
.blue {  font-size : .85em; color : #0040FF; text-decoration:none; }

/* the menu at the top and bottom of each page. */
.menu {
	color: white;
}

.indentNext {
    text-indent: -1em; 
    margin-left: 1em; 
    margin-top: 0.15em; 
    margin-bottom: 0;
}

.mainBody	{
    margin-left: 1em; 
    margin-right: 1em;
}

#mainSpacer	{
 /* need align and width to roughly center the page contents below the banner */
    text-align: center;
    width: 56em;
    position: absolute;
    padding-top: 2em;
    top: 52px;
    bottom: 0;
}

#homeBanner	{
    width: 100%;
    background-image: url(/public/bannerimages/dcaloostBlue3.jpg);
    min-width: 56em; /* needed because scrolling down when a window is small
                          causes the image to be truncated */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}

#homeLinksShadow	{
    background: #E4E4E4;
    width: 100%;
    position: relative;
    top: 52px;
}

#homeLinksShadow2	{
    background: #D0D0D0;
    width: 100%;
    position: relative;
    top: -1px;
}

#homeLinks	{
    width: 100%;
    min-width: 56em; /* needed because scrolling down when a window is small
                          causes the image to be truncated */
    background-color: #64A8FF;
    border-bottom: 1px #909090 solid;
    position: relative;
    #position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    #top: 50px;
    z-index: 9;
}

#homeTotals	{
    border-bottom: 1px solid rgb(144, 144, 144);
    text-align: center;
    margin-left: -1em;
    padding-top: 3em;
    height: 45em;
    width: 13em;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0em;
    right: 14em;
    z-index: 1;
}

.FeaturesShadow	{
    background: #E4E4E4;
    margin-left: 1.25em;
    margin-right: 1.25em;
    position: relative;
}

.Features	{
    background-color: #F4F4F8;
    padding-left: 0.5em;
    padding-right: 0.5em;
    left: -1px;
    top: -3px;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #909090;
/* Explorer demands to know this - go figure */
    position: relative;
}

.FeatureHeadline	{
    text-align: center;
    background-color: #9090A8;
    color: #FFFFFF;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-bottom: -0.25em;
    padding-top: 0.15em;
    padding-bottom: 0.25em;
}

.FeatureText	{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#homeInfo	{
    padding-top: 3em;
    padding-bottom: 0em;
    border-bottom: 1px solid rgb(144, 144, 144);
    border-left: 1px solid rgb(144, 144, 144);
    border-right: 1px solid rgb(144, 144, 144);
    height: 45em;
    width: 32em;
    position: absolute;
    top: 0px;
    left: 13em;
    right: 45em;
    z-index: 2;
}

.homeTextBoxes	{
    font-size : 0.9em; text-decoration: none;
    float: left;
}

#homeTextBoxShadow	{
    background: #E4E4E4;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}

#homeTextBox	{
    background-image: url(/public/PDbg.gif);
    border: 1px solid #808080;
    padding: 16px;
    position: relative;
    left: -2px;
    top: -3px;
}

#homeBorder	{
    margin-left: 45em;
    padding-top: 1.5em;
    padding-left: 0px;
    border-bottom: 1px solid rgb(144, 144, 144);
    border-right: 1px solid rgb(144, 144, 144);
    height: 46.5em;
    width: 150px;
    position: absolute;
    top: 0px;
}


/*
html,body	{
    height: 100%;
}
*/


.homePageOnBullet	{
    padding-top : 0.2em;
    padding-left: 0.6em;
    font-size : 1.0em; color: #000000; text-decoration: none;
}

.homePageOffBullet	{
    padding-top : 0.2em;
    padding-left: 0.6em;
    font-size : 1.0em; color: #909090; text-decoration: none;
}

.homePageMSIEBullet	{
    padding-top : 0.0em;
    padding-left: 0.6em;
    font-size : 1.33em; text-decoration: none;
}

.largeBullet	{
   font-size : 2em;
}

/*	Meant to be a main section, for example, in an entry form. 
	Used to help divide the page and make it easier to use.*/
.mainSection {
    padding: 1em 1em 1em 1em;
	margin: 1em 1em 1em 1em;
    border-style: solid;
    border-color: #C8C8C8;
    border-width: 4px 4px 4px 4px;
}

/* Usually used for a single line of text which needs a bit more emphasis to stand out */
div.emphasized {
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin: 0em 1em 0em 1em;
	
	background-color: #E6E6E6;
	
	border-style: solid;  /*solid, dashed, dotted, grooved */
    border-color: #DCDCDC;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}


/*	used for titles at top of forms, ie, "Collection Search Form" */
/*  deprecated, use H2 -- PS */
.title,.title_small_overhead {
	padding-top: 0.2em;
	padding-bottom: 0.6em;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
}

/*	most titles have a smaller details section after them,
	ie, "Fill in any of the following fields." */ 
/*  deprecated, use H4 -- PS */
.titleDetails {
	padding-top: 0em;
	padding-bottom: 1em;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}


/* generic warning message */
.errorMessage {
	border-color: #909090;
	border-width: 2px;
	border-style: solid;
	
	padding: 0.5em 0.5em 0.5em 0.5em;

    font-weight: bold;	
	color: red;
	background-color: #FFFF80;

	width:auto;
	margin: 1em 5em 1em 5em;
	
	text-align: center;
}

.errorTitle {
	color:red;
	font-weight: bold;
	font-size: 120%;
	text-align: center;	
	margin: 0em 0em 1em 0em;
}

.warning {
	border-color: #404040;
	border-width: 2px;
	border-style: solid;
	
	padding: 0.5em 0.5em 0.5em 0.5em;
	
	background-color: #EDEDFE;

	width:auto;
	margin: 1em 5em 1em 5em;
	
	text-align: center;
}


.errorTitle {
	background-color: #FFFF60;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
	padding: 0.25em 0.25em 0.25em 0.25em;
    text-align: left;
}

.errorBox {
	border: 1px #909090 solid;
	background-color: #FFFF80;
	width: 600;
    text-align: left;
}
.warningTitle {
	background-color: #DDDDEE;
    font-size: 1.2em;
    font-weight: bold;
	padding: 0.25em 0.25em 0.25em 0.25em;
    text-align: left;
}

.warningBox {
	border: 1px #909090 solid;
	background-color: #EDEDFE;
	width: 600;
    text-align: left;
}
.boxBullet {  
    font-size : 1.0em; 
    padding: 0em 1em 0.25em 0em;
}


/* format for required entries in forms */
.required {
	color: red;
	font-weight: bold;	
}


/* Used on download form */
.lightGrey {
	background-color:#EEEEEE;
}

/*	the color for the dark row in a list which has alternating 
	light and dark rows. */
.darkList {
	background-color:#E0E0E0;
}

/*	color of light row in list, not used everywhere. */
.lightList {
	background-color:#FFFFFF;
}

/* relate to report formatting */
.dataTable {
    border: 0px; 
}
.dataTableCell, .dataTableCellTotal, .dataTableCellLeft {
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #D0D0D0 solid;
    border-bottom: 1px #D0D0D0 solid;
}
.dataTableCellLeft { border-left:  1px #D0D0D0 solid;}

.dataTableColumn, .dataTableColumnTotal, .dataTableColumnLeft {
    text-align: center;
    /*white-space: nowrap;*/
    background-color:#EEEEEE;
    border-top: 0px;
    border-bottom: 1px #808080 solid;
    border-left: 0px;
    border-right: 1px #A0A0A0 solid;
/*    padding: 0px 3px 0px 3px;*/
}
.dataTableColumnTotal { border-right: 0px; }
.dataTableColumnLeft { border-left: 1px #A0A0A0 solid;}

.dataTableRow, .dataTableRowTotal {
    white-space: nowrap;
    background-color:#EEEEEE;
    border-left: 0px;
    border-right: 1px #808080 solid;
    border-top: 0px;
    border-bottom: 1px #A0A0A0 solid;
 /*   padding: 0px 3px 0px 3px;*/
}

.dataTableULCorner {
    background-color:#E0E0E0;
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #808080 solid;
    border-bottom: 1px #808080 solid;
}

.dataTableTopULCorner{
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #808080 solid;
    border-bottom: 0px;
}
.dataTableTop {
    background-color:#E0E0E0;
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #A0A0A0 solid;
    border-bottom: 1px #A0A0A0 solid;
}

.headerList1 {
	background-color:#A0A0A0;
}

/* The navigation box at the left of pages such as the taxon display page */

div.navbox {
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	
	text-align: center;
	
	background-color: #64A8FF;

	width: 100%;
	margin: 10px 20px 20px 20px;
}

table.navbox {
	border-style: solid;
	border-width: 1px;
	border-color: #909090;

	background-color: #64A8FF;
	margin-bottom: 20px;
}

.navtable {
    background-color: #E0E0E0;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.float_box {
    float: left;
    clear: left;
    margin-left: 20px;
    margin-right: 20px;
}

.tabOn, .tabOff, /*.tabHoverOn, .tabHoverOff,*/ .tabLoadingOn, .tabLoadingOff {
    /*background-color: #EEEEEE;*/
	color : white; 
    background-color: #909090;
    font-weight: bold;
    /*border: 1px solid #0044CC;*/
    border: 1px solid #D9D9D9;
    position: inline;
    top: 10px;
    width: 140px;
    text-align: center;
    z-index: 2;
    padding: 3px;
    cursor: pointer;
    cursor: hand;
}

.tabOff, .tabLoadingOff {
    font-weight: normal;
    background-color: #C9C9C9;
	border-color: #E0E0E0;
}

.tabLoadingOn {
    color: #909090;
}
.tabLoadingOff {
    color: #C9C9C9;
}

/*.tabHoverOn{
    background-color: #B0B0B0;
}

.tabHoverOff{
    background-color: #D0D0D0;
}
*/

.panel{
    position: absolute;
    left: 10px;
    width: 95%;
    z-index: 1;
    visibility: hidden;
    padding: 10px;
}

/*
A:link.tabOn, A:visited.tabOn, A:active.tabOn, A:link.tabOff, A:visited.tabOff, A:active.tabOff { 
	color : white; text-decoration:none; 
}

A:hover.tabOn, A:hover.tabOff{ 
	color : black;  text-decoration:none; 
}       
*/

.superscript {
    font-size: 0.75em;
    vertical-align: text-top;
}

/* for non-editable fields, such as in forms */
span.nonEditable {
	
	background-color: white;
	color: #323232;
	
	border-color: #404040;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	
	padding: 0.1em 0.2em 0.1em 0.2em;
	
	text-decoration: none;
}


.displayPanel {      
    border: 1px solid #C8C8C8; 
    /*background-color: #EEEEEE;*/      
    background-image: url(/public/PDbg.gif);    
    /*margin-top: 20px;   */
    padding-top: 0.0em;
    padding-left: 0.3em;     
    padding-right: 0.3em;    
    padding-bottom: 0.3em;   
    margin-bottom: 1em;
}   
     
.displayPanelHeader{    
    position: relative; 
    font-size: 1em;
    top: -0.6em;      
    padding-left: 0.5em;      
    padding-right: 0.5em;     
    /*border: 1px solid black;*/    
/*    border-bottom: 1px solid lightgrey;*/
    /*padding-bottom: .3em; */
    background-image: url(/public/PDbg.gif);    
    white-space: nowrap;    
}

.displayPanelContent {
    background-image: url(/public/PDbg.gif);    
}

.displayPanelText tbody {
    font-size: .9em;
    background-image: url(/public/PDbg.gif);    
}

#dropDown, #dropDown ul {
    padding: 0;
    margin: 0;
    list-style: none;
/*    position: relative;*/
}

/* how should the links look in the menu bar at the top?  */
#dropDown a:link {  color : white; text-decoration:none; }
#dropDown a:visited { color : white; text-decoration:none;}   
#dropDown a:active { color : white; text-decoration:none; }   
#dropDown a:hover { color : black; text-decoration:none; }

/*
#dropDown a {
    display: block;
    width: 10em;
}
*/

#dropDown td {
    text-align: left;
    color : white; 
    text-decoration: none;
    font-size: .95em;
    /*float: left;*/
    /*width: 10em;*/
}

#dropDown td.dropDownBullet {
    width: auto;
    padding-left:.75em;
    padding-right:.75em;
}

#dropDown td ul {
    text-align: left;
    background: #64A8FF;
    border-top: 1px #88B2DF solid;
    position: absolute;
    padding: 0.15em;
    z-index: 999;
    display: none;
}
#dropDown td ul a:link,#dropDown td ul a:visited, #dropDown td ul a:hover {
    color: #EFEFEF;
}
#dropDown td ul li:hover, #dropDown td ul li.sfhover {
    background: #90A0A8;
}
#dropDown td ul a:hover {
    color: #FFFFFF;
}

/* This makes the div a bit bigger so the UL below it 
   (the drop down menu) is flush with the bottom of the top menu
  adding some padding JA 19.5.06 */
#dropDown div.dropDownVertSpacer {
    height: 1.5em;
    padding-top: 0.2em;
}

#dropDown td ul li {
    font-size : 0.95em;
    white-space: nowrap;
    text-align: left;
    float: none;
    clear: left;
    width: auto;
    padding: 0.15em;
}

#dropDown td:hover ul, #dropDown td.sfhover ul {
/*    left: auto;*/
/*    left: auto;*/
    display: block;
}


