/* Common style sheet to be used for all pages. 
   Created 1/2004 by rjp. */

   
/*	note, this defines the defaults for the document unless 
	they are overridden by something more specific */
body {
	background-color: white;
	background-image: url(/public/PDbg.gif);
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 0.9em;
}

/* how should the regular links look? */
A:link	{ color : #0033FF; text-decoration:none; }
A:visited	{ color : #6E00FF; text-decoration:none; }
A:active	{ color : #00AAFF; text-decoration:none; }
A:hover	{ color : #C80078; text-decoration:none; }

/* how should the links look in the menu bar at the top?  */
A:link.menu { 
	color : White; font-size : 0.9em; text-decoration:none; 
	padding: 2px 5px 2px 5px;
}

A:visited.menu { 
	color : White; font-size : 0.9em; text-decoration:none; 
	padding: 2px 5px 2px 5px;
}

A:active.menu { 
	color : White; font-size : 0.9em; text-decoration:none; 
	padding: 2px 5px 2px 5px;
}

A:hover.menu { 
	color : black; font-size : 0.9em; 

	border-style: solid;  /*solid, dashed, dotted, grooved */
    border-color: white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;   
	
	/* top, right, bottom, left*/
	/*padding: 0px 4px 0px 4px;*/
	padding: 2px 5px 2px 5px;

	
	text-decoration:none; 
}       


TD, TH { font-size: 14px; }
H1, H2, H3, H4 { 
	padding: 0px 0px 0px 0px;
	/*margin: 0.1em 1em 0.5em 1em;*/
}

UL {
    list-style-position: inside;
}

LI { font-size: 13px; }
.tiny {  font-size : 10px; text-decoration:none; }
.small {  font-size : 12px; text-decoration:none; }
.medium {  font-size : 14px; text-decoration:none; }
.large {  font-size : 16px; text-decoration:none; }
.cell {  font-size : 12px; text-decoration:none; }

.smaller {
	font-size: 90%;
}
   
.test {
	width:0px;	
}
   
/* the menu at the top and bottom of each page. */
.menu {
	color: white;	
}

/* puts a nice border around tables */
table.niceBorder {
	border-style: solid;  /*solid, dashed, dotted, grooved */
    border-color: #C8C8C8;
    border-width: 4px 4px 4px 4px;
	
	padding: 1em 1em 1em 1em;
}

/*	Meant to be a main section, for example, in an entry form. 
	Used to help divide the page and make it easier to use.*/
div.mainSection {
    padding: 1em 1em 1em 1em;
    
	/*background-color: RGB(240,240,240);*/
    
	margin: 1em 1em 1em 1em;
	
    border-style: solid;  /*solid, dashed, dotted, grooved */
    border-color: #C8C8C8;
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-top-width: 4px;
}

/* nothing here yet */
div.subSection {
	
}


/* Usually used for a single line of text which needs a bit more emphasis to stand out */
div.emphasized {
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin: 0em 1em 0em 1em;
	
	background-color: #E6E6E6;
	
	border-style: solid;  /*solid, dashed, dotted, grooved */
    border-color: #DCDCDC;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}


/*	used for titles at top of forms, ie, "Collection Search Form" */
.title,.title_small_overhead {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
}
.title_small_overhead {
	padding-top: 0.0em;
}

/*	most titles have a smaller details section after them,
	ie, "Fill in any of the following fields." */ 
.titleDetails {
	padding-top: 0em;
	padding-bottom: 1em;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}


/*	similar to a title, meant to be used for large font headers within a form, for 
	example, on the enter taxonomy form. */
.header {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-weight: bold;
	font-size: 1.3em;
}

/* generic warning message */
.warning {
	border-color: lightgrey;
	border-width: 2;
	border-style: solid;
	
	padding: 0.5em 0.5em 0.5em 0.5em;

    font-weight: bold;	
	color: red;
	background-color: lightyellow;

	width:auto;
	margin: 1em 5em 1em 5em;
	
	text-align: center;
}

DIV.errorTitle {
	color:red;
	font-weight: bold;
	font-size: 120%;
	text-align: center;	
	margin: 0em 0em 1em 0em;
}

DIV.errorMessage {
	border-color: darkgrey;
	border-width: 2;
	border-style: solid;
	
	padding: 0.5em 0.5em 0.5em 0.5em;
	
	background-color: #EDEDFE;

	width:auto;
	margin: 1em 5em 1em 5em;
	
	text-align: center;
}


/* format for required entries in forms */
.required {
	color: red;
	font-weight: bold;	
}


/* Used on download form */
.lightGrey {
	background-color:EEEEEE;
}

/*	the color for the dark row in a list which has alternating 
	light and dark rows. */
.darkList {
	background-color:#E0E0E0;
}

/*	color of light row in list, not used everywhere. */
.lightList {
	background-color:#FFFFFF;
}

/* relate to report formatting */
.dataTable {
    border: 0px; 
}
.dataTableCell, .dataTableCellTotal, .dataTableCellLeft {
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #D0D0D0 solid;
    border-bottom: 1px #D0D0D0 solid;
}
.dataTableCellLeft { border-left:  1px #D0D0D0 solid;}

.dataTableColumn, .dataTableColumnTotal, .dataTableColumnLeft {
    text-align: center;
    /*white-space: nowrap;*/
    background-color:#EEEEEE;
    border-top: 0px;
    border-bottom: 1px #808080 solid;
    border-left: 0px;
    border-right: 1px #A0A0A0 solid;
/*    padding: 0px 3px 0px 3px;*/
}
.dataTableColumnTotal { border-right: 0px; }
.dataTableColumnLeft { border-left: 1px #A0A0A0 solid;}

.dataTableRow, .dataTableRowTotal {
    white-space: nowrap;
    background-color:#EEEEEE;
    border-left: 0px;
    border-right: 1px #808080 solid;
    border-top: 0px;
    border-bottom: 1px #A0A0A0 solid;
 /*   padding: 0px 3px 0px 3px;*/
}

.dataTableULCorner {
    background-color:#E0E0E0;
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #808080 solid;
    border-bottom: 1px #808080 solid;
}

.dataTableTopULCorner{
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #808080 solid;
    border-bottom: 0px;
}
.dataTableTop {
    background-color:#E0E0E0;
    border-left: 0px;
    border-top: 0px;
    border-right: 1px #A0A0A0 solid;
    border-bottom: 1px #A0A0A0 solid;
}

.headerList1 {
	background-color:#A0A0A0;
}

/* The navigation box at the left of pages such as the taxon display page */

div.navbox {
	border-style: solid;
	border-width: 1;
	border-color: lightgrey;
	
	text-align: center;
	
	background-color: 0077FF;

	width: 100%;
	margin: 10px 20px 20px 20px;
}

table.navbox {
	border-style: solid;
	border-width: 1;
	border-color: lightgrey;
	
	background-color: 0077FF;
	margin-bottom: 20px;
}

.navtable {
	background-color: #E0E0E0;
    border-style: solid;
    border-width: 1;
    border-color: black;
    padding-left: 5;
    padding-right: 5;
    padding-top: 10;
    padding-bottom: 10;
}

.float_box {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.indent_left {
    margin-left: 20px;
}


th.style1 {
	text-align: left;
	font-weight: normal;
	text-decoration: underline;
}

/* for occurrence lists */
td.indet {
	font-style: normal;
}

td.nonindet {
	font-style: italic;
}

.tabOn, .tabOff, .tabHoverOn, .tabHoverOff {
    /*background-color: #EEEEEE;*/
	color : white; 
    background-color: #909090;
    font-weight: bold;
    /*border: 1px solid #0044CC;*/
    border: 1px solid #D9D9D9;
    position: inline;
    top: 10;
    width: 140;
    text-align: center;
    z-index: 2;
    padding: 3;
    cursor: pointer;
    cursor: hand;
}

.tabOff {
    font-weight: normal;
    background-color: #C9C9C9;
	border-color: #E0E0E0;
}

.tabHoverOn{
    background-color: #B0B0B0;
}

.tabHoverOff{
    background-color: #D0D0D0;
}

.panel{
    position: absolute;
    /*top: 32;*/
    left: 10;
    width: 95%;
    z-index: 1;
    /*height: 85%;*/
    visibility: hidden;
    /*font: 12pt Verdana,sans-serif;*/
    /*color: navy;*/
    /*border: thin solid navy;*/
    padding: 10;
    /*overflow: auto;*/
}

A:link.tabOn, A:visited.tabOn, A:active.tabOn, A:link.tabOff, A:visited.tabOff, A:active.tabOff { 
	color : white; text-decoration:none; 
}

A:hover.tabOn, A:hover.tabOff{ 
	color : black;  text-decoration:none; 
}       

/* for a small reference display line */
span.smallRef {
	font-size: 0.9em;
}

.smallTextHeader {
    font-size: 0.9em;
}
.smallText {
    font-size: 0.8em;
}

.superscript {
    font-size: 0.75em;
    vertical-align: super;
}

/* for non-editable fields, such as in forms */
span.nonEditable {
	
	background-color: white;
	color: #323232;
	
	border-color: darkgrey;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	
	padding: 0.1em 0.2em 0.1em 0.2em;
	
	text-decoration: none;
}
