html, body	{
	font-family: Baskerville, Garamond, Hoefler Text, serif;
	font-size: 0.95em;
	background-color: Snow;
}

A:link	{ color: Sienna; text-decoration: none; }
A:visited	{ color: Sienna; text-decoration: none; }
A:active	{ color: Orange; text-decoration: none; }
A:hover	{ color: Orange; text-decoration: none; }
 
.verytiny {  font-size : 0.7em; text-decoration:none; }
.tiny {  font-size : 0.8em; text-decoration:none; }
.verysmall {  font-size : 0.85em; text-decoration:none; }
.small {  font-size : 0.9em; text-decoration:none; }
.medium {  font-size : 1.0em; text-decoration:none; }
.large {  font-size : 1.1em; text-decoration:none; }
.verylarge {  font-size : 1.2em; text-decoration:none; }
.huge {  font-size : 1.3em; text-decoration:none; }
.veryhuge {  font-size : 1.5em; text-decoration:none; }
.cell {  font-size : 1.1em; text-decoration:none; }

th	{
	font-size: 1.1em;
	font-weight: normal;
}

A:link.bannerLink	{ color: DarkRed; text-decoration: none; }
A:visited.bannerLink	{ color: DarkRed; text-decoration: none; }
A:active.bannerLink	{ color: DarkRed; text-decoration: none; }
A:hover.bannerLink	{ color: DarkRed; text-decoration: none; }

#mainPanel	{
	width: 60em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: white;
	border-left: 1px solid OldLace;
	border-right: 1px solid OldLace;
	border-bottom: 1px solid OldLace;
}

.tile	{
	height: 6em;
	width: 6em;
	opacity: 0.01;
	background-color: Gray;
}

.loginBox	{
	margin-top: 2em;
	background-color: #E6E6E6;
	border: 1px solid Black;
	padding: 1em;
}

.pageTitle      {
	font-size: 1.3em;
	margin-top: 1.75em;
	margin-bottom: 1em;
}

.displayPanel	{
	border: 1px solid #C8C8C8;
	padding-top: 0.0em;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.displayPanelHeader	{
	position: relative;
	font-size: 1.2em;
	top: -0.6em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-top: 1px solid Gainsboro;
	background-color: White;
	white-space: nowrap;
}

.displayPanelContent	{
	background-color: White;
}

.errorTitle	{
	color: #D00000;
	font-size: 1.2em;
	text-align: center;
	margin: 0.5em 0em 1em 1em;
}

.errorBox	{
	margin-top: 0em;
	border: 1px solid Black;
	background-color: #FFFF80;
	width: 30em;
	text-align: left;
}


