<% PROCESS sections/definitions.tt %>

=head2 DESCRIPTION

This path returns information about occurrence records stored in the Paleobiology Database.

<% PROCESS params %>

<% PROCESS methods %>

<% PROCESS response %>

