=head2 DESCRIPTION

This path returns information about a single occurrence record from the Paleobiology Database.
Depending upon which output blocks you select, the response will contain a mixture of fields
describing the occurrence and fields describing the collection of which it is a member.

Examples:

=over

=item *

L</data1.1/occs/single.json?id=1001&show=loc>

=item *

L</data1.1/occs/single.txt?id=1001&show=loc,crmod>

=back

<% INCLUDE STANDARD %>
