<% PROCESS sections/definitions.tt %>

=head2 DESCRIPTION

This path returns information useful for configuring client applications.  It
is designed specifically for the PBDB Navigator application, but may be useful
to other applications as well.

=head3 Examples:

=over 4

=item *

L</data1.1/config.json?show=all>

=item *

L</data1.1/config.txt?show=clusters>

=back

<% PROCESS params %>

<% PROCESS methods %>

<% PROCESS response %>

