
=head2 AUTHOR

This service is provided by the L<Paleobiology Database|http://paleobiodb.org/>, 
hosted by the L<Department of Geoscience|http://geoscience.wisc.edu/geoscience/>
at the L<University of Wisconsin-Madison|http://www.wisc.edu/>.

If you have questions about this service, please contact 
Michael McClennen <L<mmcclenn@geology.wisc.edu|mailto:mmcclenn@geology.wisc.edu>>.
