/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.boundedSection {
    border: 1px solid black;
    padding: 5px;
}

.focalTaxon {
    
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 3px;
    width: 50%;
}

.taxonTitle {

    font-weight: bold;
    margin: 0 auto;
}

.taxonAttr {
    
    font-style: italic;
    martin: 0 auto;
}

.taxonParents {

    text-align: center;
}