body {
  font-family: 'Open-sans', sans-serif;
}
.container {
  width: 100%;
  max-width: 2500px;
  padding:20px;
}
a:hover {
  text-decoration: none;
}
#map {
  height:400px;
  width:100%;
}
.countries {
  stroke: #000;
  fill: #FEFBFB;
  stroke-width: 0.5;
}
#zoom {
  position: absolute;
  margin-top:10px;
  margin-left:10px;
}
/* For reconstruct map sphere */
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.fill {
  fill: #000;
}
#reconstructMap {
  height:400px;
  width:100%;
  display:none;
}
#reconstructMapInfo {
  position: absolute;
  width: 14em;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 25px;
  background-color:#fff;
}
.leaflet-container#reconstructMap {
    background: #000;
}
#placeholder {
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  height:350px;
  position: absolute;
  width:100%;
  text-align: center;
}
#placeText {
  margin: 0 auto;
  top: 42%;
  position: absolute;
  left: 40%;
  color: white;
}
#download {
  margin-top:8px;
}
#mapControls {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.bins {
  fill: #EFEE69;
  stroke: none;
  opacity:0.7;
}
.bins:hover {
  stroke:#222;
  stroke-width:1px;
}
.svgbins {
  fill: #EFEE69;
  stroke: none;
  opacity:0.7;
}
.svgbins:hover {
  stroke:#222;
  stroke-width:1px;
}
.clusters {
  fill: #72BBDF;
  stroke: none;
  opacity:0.7;
}
.clusters:hover {
  stroke:#222;
  stroke-width:1px;
}
#brand {
  margin-bottom: 7px;
}
.title {
  font-family: 'Raleway', sans-serif;
  display: inline;
}
#the {
  font-size: 20px;
}
#database {
  letter-spacing: 0;
}
.tagline {
  margin-left:10px;
}
#infoContainer {
  position: relative;
}
.info {
  background-color: white;
  padding:10px;
  display:none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size:0.9em;
  width:16em;
  bottom:0;
  position: absolute;
}
.info.leaflet-control {
  margin-left: 0;
}
.info.leaflet-control {
  margin-bottom: 0;
}
.customControl {
  background-color: rgba(255,255,255,0.95);
  padding:10px;
  font-weight: bold;
  border-right:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  line-height: 1;
  padding-top: 10px;
}
.tooltip-inner {
  border:1px solid #ccc;
}
.buttons {
  margin:0;
}
.collection {
  fill: #EFEE69;
  stroke: none;
  opacity:0.7;
}
.collection:hover {
  stroke:#222;
  stroke-width:1px;
}
.customControl.leaflet-control {
  margin-left: 0;
  margin-right:0;
}
.customControl.leaflet-control {
  margin-bottom: 0;
}
.customControl > .leaflet-bar {
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}
.leaflet-left .leaflet-control {
  margin-left: 0;
}
.leaflet-top .leaflet-control {
  margin-top:0;
}
.zoom-in {
  height:30px;
  width:30px;
  font-size:20px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.zoom-in:hover {
  background-color:#ccc;
}
.zoom-out {
  height:30px;
  width:30px;
  margin-top:10px;
  font-size:20px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.zoom-out:hover {
  background-color:#ccc;
}
/*.layers {
  height:30px;
  width:30px;
  margin-top:10px;
  background-image:url('http://cdn.leafletjs.com/leaflet-0.6.3/images/layers.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.layerToggler.leaflet-control {
  left:50px;
  margin-top:76px;
  position: absolute;
  width: 75px;
  height:55px;
  padding:10px;
  vertical-align: middle;
  display:none;
}*/
.time {
  height:30px;
  width:30px;
  /*margin-top:15px;*/
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}
/*
.tools {
  height:30px;
  width:30px;
  margin-top:15px;
  cursor: pointer;
  text-align: center;
}
.toolToggler.leaflet-control {
  left:50px;
  margin-top:130px;
  position: absolute;
  width:170px;
  padding:10px;
  vertical-align: middle;
  display:none;
}*/
.timeToggler.leaflet-control {
  left:50px;
  margin-top:130px;
  position: absolute;
  width:170px;
  padding:10px;
  vertical-align: middle;
  display:none;
}
.rotate {
  height:30px;
  width:30px;
  margin-top:15px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  margin-top: 7px;
  background-image: url('../img/taxa/pangea.png');
  border-radius: 3px;
}
.reconstructToggler.leaflet-control {
  left:50px;
  margin-top:130px;
  position: absolute;
  width:170px;
  padding:10px;
  vertical-align: middle;
  display:none;
}
.userFilter {
  height:30px;
  width:30px;
  margin-top:15px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}
.userToggler.leaflet-control {
  left:50px;
  margin-top:149px;
  position: absolute;
  width:215px;
  padding:10px;
  vertical-align: middle;
  font-size: 0.8em;
  display:none;
}

.taxaToggler.leaflet-control {
  border-right:none;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  cursor: pointer;
  padding-top:0;
}
.taxa {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin:0;
  position: relative;
  height:25px;
  width:25px;
}
.taxa:hover {
  background-color:#ccc;
}
.filters {
  position: absolute;
  left:40%;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255,255,255,0.95);
  border-right:1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
}
.filters > p {
  display: inline;
}
.filter {
  display: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  color: #777;
}
.filter > button {
  float:left;
  margin-right:5px;
}
#trex {
  background-image: url('../img/taxa/trex.png');
}
#bacteria {
  background-image: url('../img/taxa/bacteria.png');
}
#lecanorales {
  background-image: url('../img/taxa/lecanorales.png');
}
#opisthokonta {
  background-image: url('../img/taxa/opisthokonta.png');
}
#plant {
  background-image: url('../img/taxa/plant.png');
}
#rotaria {
  background-image: url('../img/taxa/rotaria.png');
}
#starfish {
  background-image: url('../img/taxa/starfish.png');
}
#thysanura {
  background-image: url('../img/taxa/thysanura.png');
}
#tree {
  background-image: url('../img/taxa/tree.png');
}
#trilobita {
  background-image: url('../img/taxa/trilobita.png');
}
/*.taxaToggler:hover {
  background-color:#ccc;
}*/
.tooltip.right {
  padding-left: 10px;
}
.tooltip.left {
  padding-right: 10px;
}
.tooltip-inner {
  background-color:rgba(255,255,255,0.95);
  color:#000;
  margin-left: 2px;
  width: 300px;
  border:1px solid #ccc;
}
.tooltip.right .tooltip-arrow {
  border-right-color:#ccc;
  left:7px;
}
.tooltip.left .tooltip-arrow {
  border-left-color:#ccc;
  right:9px;
}
.taxaToggler > .tooltip > .tooltip-inner {
  margin-right:4px;
}
#taxaBrowser {
  display:none;
  height:100%;
}
.credits {
 /* display:block;*/
  display: none;
  font-weight: normal;
  font-size: 10px;
  padding:3px;
}
.rank {
  display:inline;
  margin-right:8px;
}
#authorToggler {
 /* display: inline;*/
 display:none;
  margin-right:12px;
  cursor: pointer;
}
#authors {
  display:none;
}
input[type=checkbox] {
  margin-right:6px;
}
#gplatesLogo {
  height:45px;
  float:left;
  margin-right:10px;
}
#gplatesText {
  font-size: 1.2em;
  margin-top:11px;
}
#reconstructMapStats {
  margin-top:2em;
}
#reconstructMapReference {
  font-size: 0.6em;
  padding-top:1em;
  padding-bottom: 1em;
}
.plates {
  fill: #fff;
  stroke:#777;
  stroke-width:.75px;
  opacity:1;
}
#interval {
  text-align: center;
}
#age {
  text-align: center;
}
#chart {
  line-height: 1;
  font-family: Open-sans, sans-serif;
  font-weight: 200;
  cursor: pointer;
}
rect {
  stroke: #fff;
  stroke-width:1px;
}
.abbr {
  display:none;
}
h4 {
  font-size: 16px;
}
.socialMedia {
  padding: 6px;
}
.footerNav {
  display:inline;
}
#pbdbTitle {
  width: 20em;
  text-align: left;
  padding-left: 1em;
}
.navContainer {
  width:4%;
  text-align: center;
  display:table-cell;
}
.logo {
  width:1%;
}
#window {
  background-color:rgba(255,255,255,0.95);
  height:384px;
  z-index: 999;
  float:right;
  position: absolute;
  top:0;
  right:0;
  overflow-y:scroll;
  display:none;
}
td {
  font-size: 12px;
}
#stats {
  width:100%;
  display: table;
}
.statContainer {
  text-align: center;
  display:table-cell;
  width:14.2857%;
  padding-bottom: 10px;
  border-left:2px dotted white;
  background-color:#bbb;
  color:#fff;
}
.statContainer:hover {
  background-color:#5BBBD5;
}
#clusterTable {
  cursor: pointer;
}
footer {
  text-align: center;
  bottom: 0;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
}
@media (min-width: 992px) {
  .col-lg-2 {
    width: 247px;
  }
}
@media (max-width: 991px) {

  
}
@media (max-width: 758px) {

}
@media (max-width: 565px) {
  .footerNavContainer {
    font-size: 10px;
  }
}