
A.pod_link { color: #0000F0; text-decoration: none; font-weight: bold; }

.pod_verbatim { border-width: 1; border-style: solid; background-color: #F5F5F5; border-color: #AAAAAA; margin-left: 10px; padding: 6px; }

.pod_heading { color: #00A0A0; margin-top: 25px }

DT.pod_term, TD.pod_term, SPAN.pod_term { color: #A00000; font-weight: bold; }

DT.pod_term2, TD.pod_term2, SPAN.pod_term2 { color: #CC8080; font-weight: bold; }

TD.pod_term, TD.pod_term2, TD.pod_def, TD.pod_def2 { vertical-align: top; }

.pod_th TD { color: #00A0A0; text-align: center; }

H1 { font-size: 150%; }

H2 { font-size: 120%; }

H3 { font-size: 100%; }

H4 { font-size: 100%; }

TABLE.pod_list { border-width: 1; border-style: solid; border-color: #AAAAAA; border-spacing: 0; }

TABLE.pod_list TD { border-width: 1; border-style: solid; border-color: #AAAAAA; padding: 6px; }

UL.pod_list, OL.pod_list, DL.pod_list { }

LI.pod_def { margin-bottom: 10px; }

TABLE.pod_list2 { border-width: 0; }

TABLE.pod_list2 TD { border-width: 0; padding: 3px; vertical-align: top; }

UL.pod_list2, OL.pod_list2, DL.pod_list2 { }

LI.pod_def2 { margin-bottom: 10px; }

.pod_S { white-space: pre; }

.pod_F { font-style: italic; }

.pod_I { font-style: italic; }

.pod_B { font-weight: bold; }

.pod_C { font-family: monospace; }

#logo {
    height: 7em;
    width: 7em;
}

#title {
    display: table-cell;
    position: relative;
    font-size: 200%;
    vertical-align: middle;
    #left: 0.5em;
}

#bottom {
    margin-top: 1em;
    height: 3em;
}

#contact {
    position: relative;
    left: 0.5em;
    top: 0.5em;
    #vertical-align: middle;
}

.banner {
    color: white;
    background-color: #00A0A0;
    display: table;
    width: 100%;
}

.error_banner {
    color: white;
    background-color: #702000;
    display: table;
    width: 100%;
}

.error_heading { color: #702000; margin-top: 25px }

A.error_link { color: #0000F0; text-decoration: none; font-weight: bold; }

.nobreak { white-space: nowrap }
