[mysqld_safe]
datadir=/Volumes/pbdb_RAID/mysql/data
basedir=/Volumes/pbdb_RAID/mysql
ledir=/Volumes/pbdb_RAID/mysql/bin
log=/Volumes/pbdb_RAID/logmysql/mysql.log
log-bin=/Volumes/pbdb_RAID/logmysql/mysql-bin.log

[mysqld]
key_buffer_size=256M
join_buffer_size=32M
max_allowed_packet=1M
table_cache=256
sort_buffer_size=2M
read_buffer_size=2M
myisam_sort_buffer_size=64M
thread_cache_size=8
query_cache_type=1
query_cache_size=64M
query_cache_limit=5M
log-bin=/Volumes/pbdb_RAID/logmysql/mysqld_bin.log
