<div class="boundedSection" name="pbdb_phylo">
  <form ng-submit="nameEntered()">
    <input type="text" class="form-control" id="taxonInput" ng-model="name_entry" placeholder="Enter a taxonomic name:"/>
  </form>

  <div class="focalTaxon" ng-class="{ extinct: focal_taxon.exs==0 }" name="focal_taxon_box">
    <table class="table table-hover">
      <tr ng-repeat="taxon in focal_parents">
        <td>
          <a href="#{{taxonRoute2(taxon)}}" ng-class="{immediateParent: $last, extinct: taxon.exs==0 }" ng-click="jumpTaxon(taxon)">{{taxonTitle(taxon)}}</a>
        </td>
      </tr>
      <tr class="active">
        <td>
          <p class="taxonTitle" ng-bind="taxonTitle(focal_taxon)"></p>
          <p class="taxonAttr" ng-bind="focal_taxon.att"></p>
          <p class="laAttr" ng-bind="taxonFirstapp(focal_taxon)"></p>
          <p class="laAttr" ng-bind="taxonLastapp(focal_taxon)"></p>
          <a id="showTaxonOnMap" href=""><i class="icon-globe icon-2x"></i></a>
          <a id="exclude" href=""><i class="icon-remove-sign icon-2x"></i></a>
        </td>
      </tr>
    </table>

  </div>

  <div class="taxonChildren">
    <p ng-repeat="s in focal_subsect">
    {{s.size}} {{s.section}}: &nbsp;&nbsp;
      <b><a ng-show="showAllIsVisible(s)" ng-click="showAllSubTaxa(s)">show all...</a></b><br/>
      <span ng-class="{ extinct: taxon.exs==0 }" ng-repeat="taxon in s.taxa | orderBy:subTaxonOrderGetter">
        <a href="#{{taxonRoute2(taxon)}}" ng-click="jumpTaxon(taxon)">{{taxonTitle(taxon)}}</a>&nbsp;
      </span>
    </p>
    <a id="clearTaxa" href="javascript:updateTaxon()"><i class="icon-eraser"></i>Clear map</a>
  </div>
</div>
<!--
<table class="table table-condensed table-hover" ng-repeat="s in focal_subsect">
  <thead>
    <tr>
      <th>{{s.size}} {{s.section}}: &nbsp;&nbsp;</th>
      <th><a ng-show="showAllIsVisible(s)" ng-click="showAllSubTaxa(s)">show all...</a></th>
    </tr>
  </thead>
  <tr ng-class="{ extinct: taxon.exs==0 }" ng-repeat="taxon in s.taxa | orderBy:subTaxonOrderGetter">
    <td>
      <a href="#{{taxonRoute2(taxon)}}" ng-click="jumpTaxon(taxon)">{{taxonTitle(taxon)}}</a>
    </td>
  </tr>
</table>-->
