=head2 DESCRIPTION

The URL paths documented in this section provide access to information about the
geological time scales represented in the Paleobiology Database. 
These include the standard international set defined by the
L<International Commission on Stratigraphy|http://http://www.stratigraphy.org/>
(L<v2013-1|http://www.stratigraphy.org/ICSchart/ChronostratChart2013-01.jpg>) and many
others as well.

=head2 SYNOPSIS

<% NODELIST(opt_usage=1) %>
