<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.paleodb.webapp</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/starman</string>
		<string>--listen</string>
		<string>:3000</string>
		<string>--workers=2</string>
		<string>bin/web_app.pl</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Library/WebServer/paleodb</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
