This version of the data service is obsolete, and has been discontinued.  If you have
an old application that absolutely needs this version in order to work, please e-mail
L<admin@paleobiodb.org|mailto:admin@paleobiodb.org>.