
=head2 DESCRIPTION

The URL paths described in this section provide access to information about the
fossil occurrences represented in the Paleobiology Database.  These
occurrences may be selected by a variety of criteria including: name,
location, age, enterer, and taxonomic identification.

Follow this link for more information on L<the use of taxonomic names in this data service|node:names>.

=head2 SYNOPSIS

The following URL paths are available:

<% NODELIST(opt_usage=1) %>
