
<STYLE type="text/css">
    H2 { text-align: center; }
</STYLE>


%%message%%
%%error_message%%

<H2>Add/edit authority data for %%taxon_name%%</H2>


<FORM method="POST" action="%%exec_url%%">

<DIV class="mainSection">

<!-- some hidden values -->
%%hiddens%%

<input type="hidden" id="action" name="action" value="submitAuthorityForm">
<input type="hidden" id="reference_no" name="reference_no" value="%%reference_no%%">
<input type="hidden" id="taxon_no" name="taxon_no" value="%%taxon_no%%">
<input type="hidden" id="confirmed_taxon_name" name="confirmed_taxon_name" value="%%confirmed_taxon_name%%">


<!-- end of hiddens.  other fields may be converted to hidden if the user is not 
supposed to edit them -->



<H2>Who named <input type="text" name="taxon_name" id="taxon_name" size="30" value="%%taxon_name%%">&nbsp;?</H2>

<CENTER>
<SPAN class="tiny">
See the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Authority')">tip sheet</a>.
If the name is misspelled, <a href="$exec_url?action=displayAuthoritiesTaxonSearchForm">try another search</a>.
</SPAN>
</CENTER>

<BR>

<DIV class="emphasized">
<input id="ref_is_authority" name="ref_is_authority" type="radio" value="YES" %%ref_is_authority_checked%%>
It was first named in the data record's primary reference, which is:
</div>
<BR>

<CENTER>
<SPAN id="ref_string">%%formatted_reference%%</span>
<p>
<b>Pages*:</b> <input id="pages" name="pages" size=12 value="%%pages%%">
<b>Figures*:</b> <input id="figures" name="figures" size=12 value="%%figures%%">
</p>
</CENTER>

<DIV class="emphasized">
<input id="ref_is_authority" name="ref_is_authority" type="radio" value="NO" %%ref_is_authority_notchecked%%>

... <i>or</i> it was named in an earlier publication, which is:</DIV>
<BR>

<CENTER>
<TABLE>

<TR>
<td></td><td class=tiny>initials</td><td class=tiny>last name</td>
<td></td><td class=tiny>initials</td><td class=tiny>last name</td>
</TR>

<TR><td align=right><b>First author:</b></td>
<td><input id="author1init" name="author1init" size=6 value="%%author1init%%"></td>
<td><input id="author1last" name="author1last" size=20 value="%%author1last%%"></td>
<td align=right><b>Second author:</b></td>
<td><input id="author2init" name="author2init" size=6 value="%%author2init%%"></td>
<td><input id="author2last" name="author2last" size=20 value="%%author2last%%"></td>
</TR>

<TR><td valign=top align=right><b>Other authors:</b></td>
<td colspan=5><textarea id="otherauthors" name="otherauthors" rows=3 cols=70>%%otherauthors%%</textarea></td>
</TR>

<TR><td align=right><b>Year:</b></td>
<td colspan=1><input id="pubyr" name="pubyr" size=6 value="%%pubyr%%"></td>
<td colspan=4><b>Pages*:</b> <input id="2nd_pages" name="2nd_pages" size=12 value="%%2nd_pages%%">
<b>Figures*:</b> <input id="2nd_figures" name="2nd_figures" size=12 value="%%2nd_figures%%"></td>
</TR>
</table>
</CENTER>

<CENTER>
<p><span class="tiny">* Enter numbers of pages and figures that describe and show the type specimen(s).</span></p>
</CENTER>

</DIV>

<DIV class="mainSection">

<H2>How was %%taxon_name%% named?</H2>

<TABLE>
<TR><td align=right><b>Original rank:</b></td>
<td>
<!-- Note: any field named "taxon_rank" will be replaced as
usual.  However, any field called "taxon_rank_popup" will be replaced with
a popup menu of taxon ranks with the current "taxon_rank" selected. -->
<select id="taxon_rank" name="taxon_rank">
%%taxon_rank_popup%%
</select>

&nbsp; &nbsp;
%%parent_taxon_popup%%

&nbsp;&nbsp;
<b>Is this an extant (living) taxon?</b> %%extant_popup%%

</td>

</TR>

%%START_OPTIONAL_type_taxon%%
<!-- Note: this should only appear if the rank is species -->
<TR><td></td><td><input id="type_taxon" name="type_taxon" type="checkbox" %%type_taxon_checked%% value="1"><b>This is the type %%taxon_rank%%</b>
</td>
</TR>
%%END_OPTIONAL_type_taxon%%

%%START_OPTIONAL_type_specimen%%
<TR><td align=right><b>Type specimen:</b></td>
<td><input id="type_specimen" name="type_specimen" size=50 value="%%type_specimen%%">
</td>
</TR>
%%END_OPTIONAL_type_specimen%%

<TR><td align=right><b>Comments:</b></td>
<td colspan=5><textarea id="comments" name="comments" rows=2 cols=70>%%comments%%</textarea></td>
</TR>
</TABLE>

</center>

</DIV>



<CENTER>

<TABLE BORDER=0 cellpadding=10>
<TR>
<TD>%%authorizer_name%%</TD>
<TD>%%enterer_name%%</TD>
<TD>%%modifier_name%%</TD>
</TR>
</TABLE>



<INPUT type="submit" value="Submit">
</CENTER>

</FORM>
<BR>

