<span id="message"></span>

<div align="center"><h3>Opinion record for <span id="taxon_display_name"></span></h3></div>

<div show="error_message">%%error_message%%</div>

<form method="POST" action="%%write_url%%" onSubmit="checkForm()">

<div class="displayPanel" style="padding-top: 1em;">

<input type="hidden" id="action" name="action" value="submitOpinionForm">
<input type="hidden" id="reference_no" name="reference_no">

<input type="hidden" id="child_no" name="child_no">
<input type="hidden" id="opinion_no" name="opinion_no">
<input type="hidden" id="orig_status" name="orig_status">
<input type="hidden" id="confirm_migrate_opinions" name="confirm_migrate_opinions">
<input type="hidden" id="confirm_create_misspelling" name="confirm_create_misspelling">
<input type="hidden" id="confirm_create_spelling" name="confirm_create_spelling">
<input type="hidden" id="confirm_create_rank" name="confirm_create_rank">

<div class="emphasized">
<b>Whose opinion are you entering?</b>
</div>

<div align="left" class="small" style="margin-left: 2em;">

<input type="radio" id="ref_has_opinion" name="ref_has_opinion" value="PRIMARY">
The primary reference argues for this opinion:
<div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 3em; text-indent: -1em;"><span id="formatted_primary_reference"></span></div>
<div show="current_reference" style="padding-left: 2em; padding-right: 2em;">

<input type="radio" id="ref_has_opinion" name="ref_has_opinion" value="CURRENT">
 ... <i>or</i> the current reference argues for this opinion:
<br><div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 3em; text-indent: -1em;"><span id="formatted_current_reference"></span></div>
</div>

<input type="radio" id="ref_has_opinion" name="ref_has_opinion" value="NO">
 ... <i>or</i> the opinion is repeated from an earlier authority, which is:

<table>

<tr><td align="right" class="tiny"><b>First author:</b></td>
<td><input id="author1init" name="author1init" class="tiny" size=4></td>
<td><input id="author1last" name="author1last" class="tiny" size=10></td>
<td align="left" class="tiny" style="padding-left: 0.5em";><b>Second author:</b></td>
<td align="left"><input id="author2init" name="author2init" class="tiny" size=4></td>
<td align="left"><input id="author2last" name="author2last" class="tiny" size=10></td>
</tr>

<tr><td valign="top" align="right" class="tiny" style="padding-left: 2em;"><b>Other authors:</b></td>
<td colspan="3"><textarea id="otherauthors" name="otherauthors" class="tiny" rows=1 cols="30"></textarea></td>
<td align="right" class="tiny"><b>Year:</b></td>
<td colspan="1" class="tiny"><input id="pubyr" name="pubyr" class="tiny" size=5></td>
</tr>

<tr>
<td colspan="4" class="tiny" align="left" style="padding-top: 0.5em;"><b>Pages:</b> <input id="pages" name="pages" class="tiny" size=12>
<b>Figures:</b> <input id="figures" name="figures" class="tiny" size=12></td>
</tr>
</table>

</div>

<br>

<div class="emphasized">
<b>How was it classified?</b>
</div>
<table  width="100%" border=0 style="padding: 0em 2em 0em 2em;">
  <tr>
  <td colspan="2" class="small">
  <b><a href="#" onClick="popup = window.open('%%write_url%%?action=displayPage&page=classification_quality', 'blah', 'left=100,top=100,height=500,width=500,toolbar=yes,scrollbars=yes,resizeable=yes');">Classification quality</a>:</b> <select id="classification_quality" autofill="opinion_classification_quality"></select>
  <span style="margin-left: 12em;">
    <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Status')">tip sheet</a> 
    &nbsp;<input type="submit" value="Submit">
  </span>
  </td>
  </tr>
  <span id="belongs_to_row"></span>
  <tr>
    <td valign="middle" align="left" colspan="3" class="small"><b>Diagnosis:</b> <select id="diagnosis_given"></select><br>
      <textarea id="diagnosis" name="diagnosis" rows="3" cols="70"></textarea>
    </td>
  </tr>

  <div show="is_fossil_record">
  <tr>
    <td colspan="3" align="left" valign="top">
      <table width="100%"><tr><td width="40%" class="small">
        <b>First interval:</b> <input type="text" name="max_interval_name">
      </td><td class="small">
        <b>Last interval:</b> <input type="text" name="min_interval_name">
      </td></tr></table>
    </td>
  </tr>
  </div>

  <tr>
    <td colspan="3" align="left" valign="top" class="small">
      <b>Comments:</b><br>
      <textarea id="comments" name="comments" rows="2" cols="70"></textarea>
    </td>
  </tr>
  
</table>

<br>

<div class="emphasized">
<b>How was it spelled?</b>
</div>

<table  width="100%" border=0 style="padding: 0em 2em 0em 2em;">
  <span id="spelling_row"></span>
  <tr><td colspan="2">
    <small>Select a value regardless of whether this paper was the first to use this combination, spelling, or rank.<small>
  </td></tr>
</table>
</div>

<div align="center">

<p>
<a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Status')">Tip sheet</a> -
<input type=submit value="Submit">
</p>

<table border="0" cellpadding="0" class="tiny" style="padding-bottom: 1em;">
<tr>
<td style="padding-right: 20px;"><span id="authorizer_name"></span></td>
<td style="padding-right: 20px;"><span id="enterer_name"></span></td>
<td><span id="modifier_name"><span></td>
</tr>
<tr>
<td style="padding-right: 20px;"><span id="created"></span></td>
<td><span id="modified"></span></td>
</tr>
</table> 

</div>

</form>
