<HTML>
<HEAD>
<link REL="stylesheet" TYPE="text/css" HREF="http://paleobackup.nceas.ucsb.edu:8110/StyleSheets/common.css">
</HEAD>

<STYLE type="text/css">
    H2 { text-align: center; }
</STYLE>

%%message%%
%%error_message%%

<H2>Add/edit opinion record for %%taxon_name%%</H2>

<FORM method="POST" action="%%exec_url%%">

<DIV class="mainSection">

<!-- some hidden values -->
%%hiddens%%

<input type="hidden" id="action" name="action" value="submitOpinionForm">
<input type="hidden" id="reference_no" name="reference_no" value="%%reference_no%%">

<!-- taxon_no, and taxon_rank apply to the child_no taxon, ie, the taxon about
which they are entering the authority record. -->
<input type="hidden" id="taxon_no" name="taxon_no" value="%%taxon_no%%">
<input type="hidden" id="taxon_rank" name="taxon_rank" value="%%taxon_rank%%">

<input type="hidden" id="parent_no" name="parent_no" value="%%parent_no%%">

<input type="hidden" id="opinion_no" name="opinion_no" value="%%opinion_no%%">
<input type="hidden" id="is_new_entry" name="is_new_entry" value="%%is_new_entry%%">
<input type="hidden" id="second_submission" name="second_submission" value="%%second_submission%%">

<!-- end of hiddens.  other fields may be converted to hidden if the user is not 
supposed to edit them -->

<h2>Whose opinion on %%taxon_name%% are you entering?</h2>

<div class="emphasized">
<input id="ref_has_opinion" name="ref_has_opinion" type="radio" value="YES" %%ref_has_opinion_checked%%>
The current reference argues for this opinion:
</div>
<BR>
<CENTER>
<SPAN id="ref_string">%%formatted_reference%%</span>
<p>
<b>Pages*:</b> <input id="pages" name="pages" size=12 value="%%pages%%">
<b>Figures*:</b> <input id="figures" name="figures" size=12 value="%%figures%%">
</p>
</CENTER>


<DIV class="emphasized">
<input id="ref_has_opinion" name="ref_has_opinion" type="radio" value="NO" %%ref_has_opinion_notchecked%%>

... <i>or</i> the opinion is repeated from an earlier authority, which is:</DIV>
<BR>

<CENTER>
<TABLE>

<TR>
<td></td><td class=tiny>initials</td><td class=tiny>last name</td>
<td></td><td class=tiny>initials</td><td class=tiny>last name</td>
</TR>

<TR><td align=right><b>First author:</b></td>
<td><input id="author1init" name="author1init" size=6 value="%%author1init%%"></td>
<td><input id="author1last" name="author1last" size=20 value="%%author1last%%"></td>
<td align=right><b>Second author:</b></td>
<td><input id="author2init" name="author2init" size=6 value="%%author2init%%"></td>
<td><input id="author2last" name="author2last" size=20 value="%%author2last%%"></td>
</TR>

<TR><td valign=top align=right><b>Other authors:</b></td>
<td colspan=5><textarea id="otherauthors" name="otherauthors" rows=3 cols=70>%%otherauthors%%</textarea></td>
</TR>

<TR><td align=right><b>Year:</b></td>
<td colspan=1><input id="pubyr" name="pubyr" size=6 value="%%pubyr%%"></td>
<td colspan=4><b>Pages*:</b> <input id="2nd_pages" name="2nd_pages" size=12 value="%%2nd_pages%%">
<b>Figures*:</b> <input id="2nd_figures" name="2nd_figures" size=12 value="%%2nd_figures%%"></td>
</TR>
</table>
</CENTER>

<CENTER>
<p><span class="tiny">* Enter numbers of pages and figures that describe and show the type specimen(s).</span></p>
</CENTER>

</DIV>





<DIV class="mainSection">
<H2>What did they say about the status of %%taxon_name%%?</H2>

<TABLE BORDER=0>


<!-- 
for a species or subspecies, this should say:
"Valid rank as originally combined; belongs to genus genus_name"  For
for anything else (subgenus or higher), it should say:
"Valid rank, classified as belonging to"	
-->

<TR><TD valign=top>
<input type="radio" name="taxon_status" value="belongs to" %%taxon_status_belongs_to%%></TD>

%%START_OPTIONAL_species_only%%
<!-- this should only be visible for species -->
<TD colspan=2><b>Valid %%taxon_rank%%</b> as originally combined; belongs to genus <i>%%parent_genus%%</i>.</TD>
%%END_OPTIONAL_species_only%%

%%START_OPTIONAL_subspecies_only%%
<!-- this should only be visible for subspecies -->
<TD colspan=2><b>Valid %%taxon_rank%%</b> as originally combined; belongs to species <i>%%parent_species%%</i>.</TD>
%%END_OPTIONAL_subspecies_only%%


%%START_OPTIONAL_not_species%%
<!-- this should only be visible if it's **NOT** a species or subspecies -->
<TD colspan=2><b>Valid %%taxon_rank%%</b>, classified as belonging to 
<input id="parent_taxon_name" name="parent_taxon_name" size="50" value="%%parent_taxon_name%%"><br>
</TD>
%%END_OPTIONAL_not_species%%

</TR>

%%START_OPTIONAL_species_only%%
<!-- this should only be visible for species -->
<TR><TD valign=top>
<input type="radio" name="taxon_status" value="recombined as" %%taxon_status_recombined_as%%></TD>
<TD colspan=2><b>Valid %%taxon_rank%%</b>, recombined into a different genus as  
<input id="parent_taxon_name" name="parent_taxon_name" size="50" value="%%parent_taxon_name%%"><br>
</TD></TR>
%%END_OPTIONAL_species_only%%

%%START_OPTIONAL_subspecies_only%%
<!-- this should only be visible for subspecies -->
<TR><TD valign=top>
<input type="radio" name="taxon_status" value="recombined as" %%taxon_status_recombined_as%%></TD>
<TD colspan=2><b>Valid %%taxon_rank%%</b>, recombined into a different species as  
<input id="parent_taxon_name" name="parent_taxon_name" size="50" value="%%parent_taxon_name%%"><br>
</TD></TR>
%%END_OPTIONAL_subspecies_only%%



<!-- the diagnosis box applies to either of the valid radio buttons -->
<TR>
<TD></TD>
<TD valign="middle" align=left>Diagnosis:<BR>
<textarea id="diagnosis" name="diagnosis" rows=3 cols=70>%%diagnosis%%</textarea>
</TD>

<BR><BR>
&nbsp &nbsp
%%parent_taxon_popup%%

</TR>

<TR><TD valign=top>
<input type="radio" name="taxon_status" value="invalid1" %%taxon_status_invalid1%%>
</TD>
<TD colspan=2><b>Invalid</b> and another name should be used.
</TD>
</TR>

<TR>
<TD></TD>
<TD colspan=2>Status:

%%synonym_select%%

<input name="parent_taxon_name2" size="50" value="%%parent_taxon_name2%%">
</TD>
</TR>

<TR><TD valign=top>
<input type="radio" name="taxon_status" value="invalid2" %%taxon_status_invalid2%%> </TD>
<TD colspan=2><b>Invalid</b> and no other name can be applied. Status:

%%nomen_select%%
</TD>
</TR>


<TR>
<TD></TD>

<TD align=center>
<span class="tiny"><BR>
Please check the 
<a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Status')">tip sheet</a> 
for an explanation of these terms. <BR>
</span></TD>
</TR>

<TR>
<TD colspan=2></TD>
</TR>

<TR>
<TD colspan=2 align=left valign=top>
<b>Comments:</b><BR>
<textarea id="comments" name="comments" rows=2 cols=70>%%comments%%</textarea>
</TD>
</TR>

</TABLE>


</DIV>

<CENTER>

<TABLE BORDER=0 cellpadding=10>
<TR>
<TD>%%authorizer_name%%</TD>
<TD>%%enterer_name%%</TD>
<TD>%%modifier_name%%</TD>
</TR>
</TABLE>

<input type=submit value="Submit">

<p>
<center><span class="tiny">
Please read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Status')">tip sheet</a> before you press submit.
</span></center>
</p>

</center>

</FORM>
