
<span id="message"></span>
<span id="error_message"></span>
<div show="error_message"><br /><br /></div>

<div align="center"><h3>Authority data for <span id="taxon_name"></span></h3></div>


<form method="POST" action="bridge.pl">

<div class="displayPanel" style="padding-top: 1em;">

<input type="hidden" id="action" name="action" value="submitAuthorityForm">
<input type="hidden" id="reference_no" name="reference_no">
<input type="hidden" id="taxon_no" name="taxon_no">
<input type="hidden" id="confirmed_taxon_name" name="confirmed_taxon_name">

<div align="left">
<div class="emphasized">
<input id="ref_is_authority" name="ref_is_authority" type="radio" value="PRIMARY">
<input type="text" id="taxon_name" name="taxon_name" size="20"> was first named in the data record's primary reference:
</div>
<div align="center" class="small" style="padding-left: 3em; padding-right: 3em;"><span id="formatted_primary_reference"></span>
</div>
</div>

<div show="current_reference">
  <br>
  <div class="emphasized">
  <input id="ref_is_authority" name="ref_is_authority" type="radio" value="CURRENT">
   ... <i>or</i> it was first named in the current reference:
  </div>
  <div align="center" class="small" style="padding-left: 3em; padding-right: 3em;"><span id="formatted_current_reference"></span>
  </div>
</div>  

<div>  
<center>
<p class="tiny">
<b>Pages*:</b> <input id="pages" name="pages" class="tiny" size=12>
<b>Figures*:</b> <input id="figures" name="figures" class="tiny" size=12>
</p>
</center>
</div>  

<div class="emphasized" align=left>
<input id="ref_is_authority" name="ref_is_authority" type="radio" value="NO">

... <i>or</i> it was named in an earlier publication:
</div>
<br>

<div>
<center>
<table>

<tr><td align="right" class="tiny"><b>First author:</b></td>
<td><input id="author1init" name="author1init" class="tiny" size=4></td>
<td><input id="author1last" name="author1last" class="tiny" size=10></td>
<td align="right" class="tiny"><b>Second author:</b></td>
<td><input id="author2init" name="author2init" class="tiny" size=4></td>
<td><input id="author2last" name="author2last" class="tiny" size=10></td>
</tr>

<tr><td valign="top" align="right" class="tiny"><b>Other authors:</b></td>
<td colspan=5>
<textarea id="otherauthors" name="otherauthors" rows="1" cols="60">
</textarea>
</td></tr>

<tr><td align="right" class="tiny"><b>Year:</b></td>
<td colspan=1 class="tiny"><input id="pubyr" name="pubyr" class="tiny" size=5></td>
<td colspan=4 class="tiny"><b>Pages*:</b> <input id="2nd_pages" name="2nd_pages" class="tiny" size=12>
<b>Figures*:</b> <input id="2nd_figures" name="2nd_figures" class="tiny" size=12></td>
</tr>
</table>
</center>

<center>
<p><span class="tiny">* Enter numbers of pages and figures that describe and show the type specimen(s).</span></p>
</center>

</div>

<div style="float: left; padding-left: 1em;">

<div style="clear: right; padding-top: 1em; white-space: nowrap;">
<b>Original rank:</b>
<span id="taxon_rank_select"></span>
</div>

<div show="show_type_specimen">
<div style="clear: right;">
<div style="padding-top: 1em;">
<b>Type specimen:</b>
<input id="type_specimen" name="type_specimen" size=20>
</div>
</div>
</div>

<div show="show_type_specimen">
<div style="clear: right;">
<div style="padding-top: 1em;">
<b>Body part of type:</b>
<select name="type_body_part"></select>
</div>
</div>
</div>

<div show="show_type_specimen">
<div style="clear: right;">
<b>Specific body part:</b>
<input id="part_details" name="part_details" size=23>
</div>
</div>

<div show="show_type_specimen">
<div show="hide_measurements">
  <div class="small" style="width: 300px">Measurement data can not be edited here, please see the <a target="_new" href="bridge.pl?action=displaySpecimenList&amp;types_only=1&amp;taxon_no=%%taxon_no%%">measurements form</a>.</div>
</div>
<div hide="hide_measurements">
<input type="hidden" name="specimen_no">
<div class="small" style="clear: right; white-space: nowrap;">
<b>Length:</b>
<input class="small" name="length" size="4"> mm
&nbsp;<b>Width:</b>
<input class="small" name="width" size="4"> mm
</div>
</div>
</div>

<div>
<div style="padding-top: 1em;">
<b>Preservation category:</b>
<select id="preservation"></select>
</div>
</div>

</div>

<div style="float: left; padding-top: 1em; padding-left: 2em;">

<div style="clear: right;">
<div style="white-space: nowrap;">
<span id="parent_taxon_select"></span>
</div>

<!-- Note: this should only appear if the rank is species -->
<div show="show_type_taxon">
  <div style="clear: left; padding-bottom: 1em; white-space: nowrap;">
    <span show="parent_taxon_select">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="checkbox" id="type_taxon" name="type_taxon" value="1">This is the type <span id="taxon_rank"></span>
  </div>
</div>
</div>

<div style="clear: right;">
<b>Is this an extant (living) taxon?</b> <span id="extant_select"></span>
</div>

<div style="clear: right; padding-top: 1em;">
<b>Common name:</b>
<input type="text" id="common_name" name="common_name" size="20">
</div>

</div>

<div style="clear: left; padding: 1em; height: 3em;">
<div style="float: left; position: relative; left: 0em; top: 0em;">
<b>Comments:</b>
</div>
<div style="float: left; position: relative; left: 0.5em; top: 0em;">
<textarea id="comments" name="comments" rows="2" cols="70">
</textarea>
</div>
</div>

</div>

<div style="clear: left;">

<center>

<span show="authorizer_name">
<div align="left" class="tiny" style="margin: 1em; width: 33em;">

<div style="clear: right; padding: 0.5em;">
<span id="authorizer_name"></span>
<span id="enterer_name"></span>
<span id="modifier_name"></span>
</div>

<div style="padding: 0.5em;">
<span id="created"></span>
<span id="modified"></span>
</div>

</div>
</span>

<div style="clear: both;">
<input type="submit" value="Submit">
</div>

</center>

</div>

<center>
<p class="tiny">
Please read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Authority')">tip sheet</a>.
If the name is misspelled, <a href="$exec_url?action=displayAuthorityTaxonSearchForm">try another search</a>.
</p>
</center>


</form>

