
<script language="JavaScript" type="text/javascript">
<!-- Begin

function checkForm()	{

	var frm = document.forms[1];
	var error = "";

	var hasLength = frm.ref_has_opinion.length - 1;
	var checkedHas = 0;
	var repeatedHas = 0;

	for ( i=0; i <= hasLength; i++ )	{
		if ( frm.ref_has_opinion[i].checked )	{
			checkedHas = i;
		}
		if ( frm.ref_has_opinion[i].value == "NO" )	{
			repeatedHas = i;
		}
	}
	if ( ( frm.author1init.value != "" || frm.author1last.value != "" || frm.author2init.value != "" || frm.author2last.value != "" || frm.pubyr.value != "" ) && checkedHas != repeatedHas )	{
		error += "* You forgot to check 'the opinion is repeated'\n";
	}
	if ( ( checkedHas == repeatedHas || frm.author1init.value != "" || frm.pubyr.value != "" ) && frm.author1last.value == "" )	{
		error += "* You forgot to enter the author name\n";
	}
	if ( frm.author1init.value != "" && ! /^[A-Z]\.$/.test(frm.author1init.value) && ! /^[A-Z]\.( |\-)[A-Z]\.$/.test(frm.author1init.value) && ! /^[A-Z]\. [A-Z]\. [A-Z]\.$/.test(frm.author1init.value)  )	{
		error += "* The first author's initials are misformatted\n";
	}
	// unicode values are for a-grave, a-acute, e-grave, e-acute, n-tilde, o-umlaut, u-umlaut
	if ( frm.author1last.value != "" && /[^A-Za-z\u00E0\u00E1\u00E8\u00E9\u00F1\u00F6\u00FC'\- ]/.test(frm.author1last.value) && ! /, Jr\./.test(frm.author1last.value) )	{
		error += "* There seems to be a typo in the first author's last name\n";
	} else if ( frm.author1last.value != "" && ! /^(|d'|d[aeo](|[nrs]) |Di|O'|M(c|ac|')|v[ao]n )[A-Z](|[a-z]+-[A-Z])[a-z\u00E0\u00E1\u00E8\u00E9\u00F1\u00F6\u00FC]+(|, Jr\.)$/.test(frm.author1last.value) && ! /^[A-Z][a-z]+ (|[dv][a-z]+ )[A-Z][a-z]+(|, Jr\.)$/.test(frm.author1last.value) )	{
		error += "* The first author's last name is misformatted\n";
	}
	if ( frm.author2init.value != "" && ! /^[A-Z]\.$/.test(frm.author2init.value) && ! /^[A-Z]\.( |\-)[A-Z]\.$/.test(frm.author2init.value) && ! /^[A-Z]\. [A-Z]\. [A-Z]\.$/.test(frm.author2init.value)  )	{
		error += "* The second author's initials are misformatted\n";
	}
	if ( frm.author2last.value != "" && /[^A-Za-z\u00E0\u00E1\u00E8\u00E9\u00F1\u00F6\u00FC'\- ]/.test(frm.author2last.value) && ! /, Jr\./.test(frm.author2last.value) )	{
		error += "* There seems to be a typo in the second author's last name\n";
	} else if ( frm.author2last.value != "" && ! /^(|d'|d[aeo](|[nrs]) |Di|O'|M(c|ac|')|v[ao]n )[A-Z](|[a-z]+-[A-Z])[a-z\u00E0\u00E1\u00E8\u00E9\u00F1\u00F6\u00FC]+(|, Jr\.)$/.test(frm.author2last.value) && ! /^[A-Z][a-z]+ (|[dv][a-z]+ )[A-Z][a-z]+(|, Jr\.)$/.test(frm.author2last.value) )	{
		error += "* The second author's last name is misformatted\n";
	}
	if ( /[^0-9]/.test(frm.pubyr.value) )	{
		error += "* The publication year is misformatted\n";
	} else if ( frm.pubyr.value != "" && ( frm.pubyr.value < 1758 || frm.pubyr.value > 2020 ) )	{
		error += "* The publication year is wrong\n";
	}
	if ( ( checkedHas == repeatedHas || frm.author1init.value != "" || frm.author1last.value != "" ) && frm.pubyr.value == "" )	{
		error += "* You forgot to enter the publication year\n";
	}

	if ( frm.status.value == "" )	{
		error += "* You forgot to select the 'status' of the taxon\n";
	}

	if ( ! frm.belongs_to_parent.value )	{
		if ( typeof( frm.parent_spelling_no ) == "undefined" )	{
			error += "* You forgot to enter the parent name\n";
		} else if ( frm.parent_spelling_no[frm.parent_spelling_no.length-1].checked )	{
			error += "* You forgot to enter the parent name\n";
		}
	} else if ( frm.belongs_to_parent.value != "" && typeof( frm.parent_spelling_no ) != "undefined" && ! frm.parent_spelling_no[frm.parent_spelling_no.length-1].checked )	{
		error += "* You must check 'other taxon' if you type in a parent name\n";
	}
	if ( frm.belongs_to_parent.value != "" && ! /^[A-Z][a-z]+(| \([A-Z][a-z]+\))(| [a-z][a-z]+)$/.test(frm.belongs_to_parent.value) && ! /^[A-Z][a-z]+ [a-z]+ [a-z]+$/.test(frm.belongs_to_parent.value) )	{
		error += "* The parent name is misformatted\n";
	}
	if ( frm.basis.selectedIndex > 0 && frm.status.value == "belongs to" && frm.diagnosis_given.selectedIndex == 0 )	{
		error += "* If the 'basis of opinion' is known you must select a 'diagnosis' value\n";
	}

	if ( typeof( frm.child_spelling_no ) == "undefined" || frm.child_spelling_no[frm.child_spelling_no.length-2].checked )	{
		if ( ! frm.child_spelling_name.value )	{
			error += "* You forgot to enter the 'Full name and rank'\n";
		} else if ( ! /^[A-Z][a-z]+ (|\([A-Z][a-z]+\) )[a-z]+ [a-z]+$/.test(frm.child_spelling_name.value) && frm.child_spelling_rank.value == "subspecies" )	{
			error += "* The 'Full name' " + frm.child_spelling_name.value + " doesn't look like a subspecies\n";
		} else if ( ! /^[A-Z][a-z]+ (|\([A-Z][a-z]+\) )[a-z]+$/.test(frm.child_spelling_name.value) && frm.child_spelling_rank.value == "species" )	{
			error += "* The 'Full name' " + frm.child_spelling_name.value + " doesn't look like a species\n";
		} else if ( ! /^[A-Z][a-z]+ \([A-Z][a-z]+\)$/.test(frm.child_spelling_name.value) && frm.child_spelling_rank.value == "subgenus" )	{
			error += "* The 'Full name' " + frm.child_spelling_name.value + " doesn't look like a subgenus\n";
		} else if ( ! /^[A-Z][a-z]+$/.test(frm.child_spelling_name.value) && ! /(species|subgenus)/.test(frm.child_spelling_rank.value) )	{
			error += "* The 'Full name' " + frm.child_spelling_name.value + " is misformatted\n";
		}
	}

	if ( error != "" )	{
		alert(error);
		return false;
	}
	return true;

}

// End -->
</script>



<span id="message"></span>

<div align="center"><p class="pageTitle">Opinion record for <span id="taxon_display_name"></span></p></div>

<div show="error_message">%%error_message%%</div>

<form method="POST" action="%%write_url%%" onSubmit="return checkForm();">

<div class="displayPanel" style="padding-top: 1em;">

<input type="hidden" id="action" name="action" value="submitOpinionForm">
<input type="hidden" id="reference_no" name="reference_no">

<input type="hidden" id="child_no" name="child_no">
<input type="hidden" id="opinion_no" name="opinion_no">
<input type="hidden" id="orig_status" name="orig_status">
<input type="hidden" id="confirm_no_ref" name="confirm_no_ref">
<input type="hidden" id="confirm_migrate_opinions" name="confirm_migrate_opinions">
<input type="hidden" id="confirm_create_misspelling" name="confirm_create_misspelling">
<input type="hidden" id="confirm_create_spelling" name="confirm_create_spelling">
<input type="hidden" id="confirm_create_rank" name="confirm_create_rank">

<div class="emphasized">
Whose opinion are you entering?
</div>

<div align="left" class="small" style="margin-left: 2em;">

<input type="radio" id="ref_has_opinion" name="ref_has_opinion" value="PRIMARY" onClick="document.forms[1].author1init.value = ''; document.forms[1].author1last.value = ''; document.forms[1].author2init.value = ''; document.forms[1].author2last.value = ''; document.forms[1].otherauthors.value = ''; document.forms[1].pubyr.value = '';">
The primary reference argues for this opinion:
<div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 3em; text-indent: -1em;"><span id="formatted_primary_reference"></span></div>
<div show="current_reference" style="padding-left: 2em; padding-right: 2em;">

<input type="radio" id="ref_has_opinion" name="ref_has_opinion" value="CURRENT">
 ... <i>or</i> the current reference argues for this opinion:
<br><div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 3em; text-indent: -1em;"><span id="formatted_current_reference"></span></div>
</div>

<input type="radio" id="ref_has_opinion" name="ref_has_opinion" value="NO" onClick="document.forms[1].basis.selectedIndex = 0; document.forms[1].diagnosis_given.selectedIndex = 0;">
 ... <i>or</i> the opinion is repeated from an earlier authority, which is:

<table>

<tr><td align="right" class="verysmall"><span class="prompt">First author:</span></td>
<td><input id="author1init" name="author1init" class="verysmall" size=4></td>
<td><input id="author1last" name="author1last" class="verysmall" size=10></td>
<td align="left" class="verysmall" style="padding-left: 0.5em";><span class="prompt">Second author:</span></td>
<td align="left"><input id="author2init" name="author2init" class="verysmall" size=4></td>
<td align="left"><input id="author2last" name="author2last" class="verysmall" size=10></td>
</tr>

<tr><td valign="top" align="right" class="verysmall" style="padding-left: 2em;"><span class="prompt">Other authors:</span></td>
<td colspan="3"><textarea id="otherauthors" name="otherauthors" class="verysmall" rows=1 cols="30"></textarea></td>
<td align="right" class="verysmall"><span class="prompt">Year:</span></td>
<td colspan="1" class="verysmall"><input id="pubyr" name="pubyr" class="verysmall" size=5></td>
</tr>

<tr>
<td colspan="4" class="verysmall" align="left" style="padding-top: 0.5em;"><span class="prompt">Pages:</span> <input id="pages" name="pages" class="verysmall" size=12>
<span class="prompt">Figures:</span> <input id="figures" name="figures" class="verysmall" size=12></td>
</tr>
</table>

<div show="earlier_refs"><div style="margin-top: 0.5em; margin-left: 2em;">... <i>or</i> it is repeated from: 
<div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 2em;"><span id="earlier_refs"></span></div>
</div></div>

</div>

<br>

<div class="emphasized">
How was it classified?
</div>
<table  width="100%" border=0 style="padding: 0em 2em 0em 2em;">
  <tr>
  <td colspan="2" class="small">
  <a href="#" onClick="popup = window.open('%%write_url%%?action=displayPage&page=classification_quality', 'blah', 'left=100,top=100,height=500,width=500,toolbar=yes,scrollbars=yes,resizeable=yes');">Basis of opinion</a>: <select id="basis" autofill="opinion_basis"></select>
  <span style="margin-left: 12em;">
    <a href="javascript:tipsPopup('/public/tips/taxonomy_FAQ.html#Basis')">FAQ</a> 
    &nbsp;<input type="submit" value="Submit">
  </span>
  </td>
  </tr>
  <span id="belongs_to_row"></span>
  <tr>
    <td valign="middle" align="left" colspan="3" class="small"><span class="prompt">Diagnosis:</span> <select id="diagnosis_given"></select><br>
      <textarea id="diagnosis" name="diagnosis" rows="3" cols="70"></textarea>
    </td>
  </tr>

  <div show="is_fossil_record">
  <tr>
    <td colspan="3" align="left" valign="top">
      <table width="100%"><tr><td width="40%" class="small">
        <span class="prompt">First interval:</span> <input type="text" name="max_interval_name">
      </td><td class="small">
        <span class="prompt">Last interval:</span> <input type="text" name="min_interval_name">
      </td></tr></table>
    </td>
  </tr>
  </div>

  <tr>
    <td colspan="3" align="left" valign="top" class="small">
      <span class="prompt">Comments:</span><br>
      <textarea id="comments" name="comments" rows="2" cols="70"></textarea>
    </td>
  </tr>
  
</table>

<br>

<div class="emphasized">
How was it spelled?
</div>

<table  width="100%" border=0 style="padding: 0em 2em 0em 2em;">
  <span id="spelling_row"></span>
  <tr><td colspan="2">
    <small>Select a value regardless of whether this paper was the first to use this combination, spelling, or rank.<small>
  </td></tr>
</table>
</div>

<div align="center">

<p>
<a href="javascript:tipsPopup('/public/tips/taxonomy_FAQ.html#OpinionForm')">FAQ</a> -
<input type=submit value="Submit">
</p>

<table border="0" cellpadding="0" class="tiny" style="padding-bottom: 1em;">
<tr>
<td style="padding-right: 20px;"><span id="authorizer_name"></span></td>
<td style="padding-right: 20px;"><span id="enterer_name"></span></td>
<td><span id="modifier_name"><span></td>
</tr>
<tr>
<td style="padding-right: 20px;"><span id="created"></span></td>
<td><span id="modified"></span></td>
</tr>
</table> 

</div>

</form>
