
<span id="message"></span>

<div align="center"><p class="pageTitle">Authority data for <span id="taxon_name"></span></p></div>

<span id="error_message"></span>
<div show="error_message"></div>

<form method="POST" action="%%write_url%%">

<div class="displayPanel small" style="padding-top: 1em;">

<input type="hidden" id="action" name="action" value="submitAuthorityForm">
<input type="hidden" id="reference_no" name="reference_no">
<input type="hidden" id="taxon_no" name="taxon_no">
<input type="hidden" id="confirmed_taxon_name" name="confirmed_taxon_name">

<div align="left">
  <input id="ref_is_authority" name="ref_is_authority" type="radio" value="PRIMARY">
  <input type="text" id="taxon_name" name="taxon_name" size="20"> was first named in the data record's primary reference:
  <div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 3em; text-indent: -1em;"><span id="formatted_primary_reference"></span></div>
</div>

<div show="current_reference">
  <input id="ref_is_authority" name="ref_is_authority" type="radio" value="CURRENT">
   ... <i>or</i> it was first named in the current reference:
<div align="left" class="small" style="margin-bottom: 0.5em; margin-left: 3em; text-indent: -1em;"><span id="formatted_current_reference"></span></div>
</div>  

  <input id="ref_is_authority" name="ref_is_authority" type="radio" value="NO">
  ... <i>or</i> it was named in an earlier publication:

<table><tr><td align="right" class="verysmall"><span class="prompt">First author:</span></td>
<td><input id="author1init" name="author1init" class="verysmall" size=4></td>
<td><input id="author1last" name="author1last" class="verysmall" size=10></td>
<td align="left" class="verysmall" style="padding-left: 0.5em";><span class="prompt">Second author:</span></td>
<td align="left"><input id="author2init" name="author2init" class="verysmall" size=4></td>
<td align="left"><input id="author2last" name="author2last" class="verysmall" size=10></td>
</tr>
<tr><td valign="top" align="right" class="verysmall" style="padding-left: 2em;"><span class="prompt">Other authors:</span></td>
<td colspan="3"><textarea id="otherauthors" name="otherauthors" class="verysmall" rows=1 cols="30"></textarea></td>
<td align="right" class="verysmall"><span class="prompt">Year:</span></td>
<td colspan="1" class="verysmall"><input id="pubyr" name="pubyr" class="verysmall" size=5></td>
</tr>

<tr>
<td colspan="4" class="verysmall" align="left" style="padding-top: 0.5em;"><span class="prompt">Pages:</span> <input id="pages" name="pages" class="verysmall" size=12>
<span class="prompt">Figures:</span> <input id="figures" name="figures" class="verysmall" size=12></td></tr>
</table>


<div style="float: left; padding-left: 1em;">

<div style="clear: right; padding-top: 1em; white-space: nowrap;">
<span class="prompt">Original rank:</span>
<span id="taxon_rank_select"></span>
</div>

<div show="original_no_select">
<div style="clear: right; padding-top: 1em; white-space: nowrap;">
<span class="prompt">Original name:</span>
<span id="original_no_select"></span>
</div>
</div>

<div hide="show_type_specimen">
<div style="clear: right; padding-top: 1em;">
<span class="prompt">Preservation category:</span>
<select id="preservation"></select>
</div>
</div>

<div show="show_type_specimen">
<div style="clear: right;">
<div style="padding-top: 1em;">
<span class="prompt">Type specimen:</span>
<input id="type_specimen" name="type_specimen" size="20">
</div>
</div>
</div>

<div show="show_type_specimen">
<div style="clear: right;">
<div style="padding-top: 1em;">
<span class="prompt">Body part of type:</span>
<select name="type_body_part"></select>
</div>
</div>
</div>

<div show="show_type_specimen">
<div style="clear: right;">
<span class="prompt">Specific body part:</span>
<input id="part_details" name="part_details" size="23">
</div>
</div>

<div show="show_type_specimen">
<div show="hide_measurements">
  <div class="small" style="width: 300px">Measurement data can not be edited here, please see the <a target="_new" href="%%write_url%%?action=displaySpecimenList&amp;types_only=1&amp;taxon_no=%%taxon_no%%">measurements form</a>.</div>
</div>
<div hide="hide_measurements">
<input type="hidden" name="specimen_no">
<div class="small" style="clear: right; white-space: nowrap;">
<span class="prompt">Length:</span>
<input class="small" name="length" size="4"> mm
&nbsp;<span class="prompt">Width:</span>
<input class="small" name="width" size="4"> mm
</div>
</div>
</div>


<div show="show_type_specimen">
<div style="padding-top: 1em;">
<span class="prompt">Type locality (PaleoDB number):</span>
<input id="type_locality" name="type_locality" size="8">
</div>
</div>

</div>

<div style="float: left; padding-top: 1em; padding-left: 2em;">

<div style="clear: right;">
<div style="white-space: nowrap;">
<span id="parent_taxon_select"></span>
</div>

<!-- Note: this should only appear if the rank is species -->
<div show="show_type_taxon">
  <div style="clear: left; padding-bottom: 1em; white-space: nowrap;">
    <span show="parent_taxon_select">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="checkbox" id="type_taxon" name="type_taxon" value="1"><span class="prompt">This is the type <span id="taxon_rank"></span></span>
  </div>
</div>

</div>

<div show="show_type_specimen">
<div style="clear: right; padding-bottom: 1em;">
<span class="prompt">Preservation category:</span>
<select id="preservation2"></select>
</div>
</div>

<div style="clear: right;">
<span class="prompt">Is this a form taxon?</span>
<select id="form_taxon"></select>
</div>

<div style="clear: right;">
<span class="prompt">Is this an extant (living) taxon?</span>
<select id="extant"></select>
</div>

<div style="clear: right; padding-top: 1em;">
<span class="prompt">Common name:</span>
<input type="text" id="common_name" name="common_name" size="20">
</div>

</div>


<div style="clear: left; padding: 1em; height: 3em;">
<div style="float: left; position: relative; left: 0em; top: 0em;">
<span class="prompt">Comments:</span>
</div>
<div style="float: left; position: relative; left: 0.5em; top: 0em;">
<textarea id="comments" name="comments" rows="2" cols="70">
</textarea>
</div>
</div>

</div>

<div style="clear: left;">

<center>

<span show="authorizer_name">
<div align="left" class="tiny" style="margin: 1em; width: 33em;">

<div style="clear: right; padding: 0.5em;">
<span id="authorizer_name"></span>
<span id="enterer_name"></span>
<span id="modifier_name"></span>
</div>

<div style="padding: 0.5em;">
<span id="created"></span>
<span id="modified"></span>
</div>

</div>
</span>

<div style="clear: both;">
<input type="submit" value="Submit">
</div>

</center>

</div>

<center>
<p class="tiny">
Please read the <a href="javascript:tipsPopup('/public/tips/taxonomy_FAQ.html#AuthorityForm')">FAQ</a>.
If the name is misspelled, <a href="%%write_url%%?action=displayAuthorityTaxonSearchForm">try another search</a>.
</p>
</center>


</form>

