<tr>
  <td align="right" valign="top"><b>Bug Id:</b></td>
  <td valign="top"><span id="bug_id"></span></td>
</tr>
<tr>
  <td align="right" valign="top"><nobr><b>Reported by:</b></td>
  <td valign="top"><span id="enterer"></span> <span show="date_submitted">on</span> <span id="date_submitted"></span></td>
</tr>
<tr>
<tr>
  <td align="right" valign="top"><b>Assigned to:</b></td>
  <td valign="top"><span id="assigned_to"></span> <span show="date_assigned">on</span> <span id="date_assigned"></span></td>
</tr>
<tr>
  <td align="right" valign="top"><b>Severity:</b></td>
  <td valign="top"><span id="severity"></span></td>
</tr>
<tr>
  <td align="right" valign="top"><b>Status:</b></td>
  <td valign="top"><span id="status"></span></td>
</tr>
<tr>
  <td align="right" valign="top"><b>Location:</b></td>
  <td valign="top"><span id="use_case"></span>: <span id="use_case_stage"></span></td>
</tr>
<tr>
  <td align="right" valign="top"><b>Summary:</b></td>
  <td valign="top"><span id="bug_summary"></span></td>
</tr>
<tr>
  <td align="right" valign="top"><b>Description:</b></td>
  <td valign="top"><span id="bug_description"></span></td>
</tr>
<div show="assignee_comments">
<tr>
  <td align="right" valign="top"><b>Comments:</b></td>
  <td valign="top"><span id="assignee_comments"></span></td>
</tr>
</div>
<div show="resolution">
<tr>
  <td align="right" valign="top"><b>Resolution:</b></td>
  <td valign="top"><span id="resolution"></span></td>
</tr>
</div>
<tr>
  <td colspan="2"><hr></td>
</tr>