<tr>
  <td><span id="bug_id">unknown</span></td>
  <td><span id="submitter">unknown</span></td>
  <td><textarea id="report_text" rows="4" cols="32"></textarea></td>
  <td><select id="current_status"></select></td>
  <td><input id="status_comment"></td>
  <td><select id="assigned_to"></select></td>
  <td><span id="submit_date">unknown</span></td>
  <td><input id="internal" type="checkbox"></td>
  <td>
    <input id="external" type="radio" value="1">
    <input id="external" type="radio" value="0">
    <input id="external" type="radio" value="2">
  </td>
</tr>
