<script src="/JavaScripts/tabs.js" language="JavaScript" type="text/javascript"></script>                                                                   

<div align=center>
  <table class="panelNavbar" cellpadding="0" cellspacing="0" border="0"><tr>
    <td id="tab1" class="tabOff" style="white-space: nowrap;" onClick="switchToPanel(1,5);">
      Basic options</td>
    <td id="tab2" class="tabOff" style="white-space: nowrap;" onClick="switchToPanel(2,5);">
      Subsampling options</td>
    <td id="tab3" class="tabOff" style="white-space: nowrap;" onClick="switchToPanel(3,5);">
      Raw data columns</td>
    <td id="tab4" class="tabOff" style="white-space: nowrap;" onClick="switchToPanel(4,5);">
      Subsampling columns</td>
    <td id="tab5" class="tabOff" style="white-space: nowrap;" onClick="switchToPanel(5,5);">
      Graphing options</td>
  </tr></table>
</div>

<div align="center">
<p class="pageTitle" style="margin-bottom: -1.5em;">Diversity curve request form</p>
</div>

<form method="POST" action="%%read_url%%">
<input type=hidden name="action" value="displayCurveResults">

<div id="panel1" class="panel">

<table cellpadding=4>

<tr>
  <td valign="top">
    File name:<br>
    <i><span class="small"><span class="required">Required</span> if you entered a name when you downloaded the data.</span>
  <td valign="top">
    <input type="text" name="yourname" value=""  size="20" />
  </td>  
</tr>

<tr>
  <td valign="top">
    Time scale:<br>
  </td>
  <td valign="top">
    <select name="time_scale">
      <option selected>10 m.y. bins</option>
      <option>Fossil Record 2 bins</option>
      <option>stages</option>
      <option>epochs</option>
      <option>Cenozoic subepochs</option>
      <option>periods</option>
      <option>Neptune PACMAN</option>
      <option>Neptune</option>
      <option>Neptune-PBDB PACMAN</option>
      <option>Neptune-PBDB</option>
    </select>
  </td>
</tr>

<tr>
  <td valign="top">
    Bin size in millions of years:<br>
    <i><span class="verysmall"><span class="required">Required</span> if you selected one of the Neptune options above; otherwise ignored.</span></i>
  </td>
  <td valign="top">
    <input type="text" name="neptune_bin_size" value="">
  </td>
</tr>

<tr>
  <td valign="top">
    Taxonomic level:<br>
  </td>
  <td valign="top">
    <select name="taxonomic_level">
      <option>order</option>
      <option>family</option>
      <option selected>genus</option>
      <option>species</option>
    </select>
  </td>
</tr>

<tr>
  </td>
  <td valign="top">
    If the family or order name is missing, use the immediate parent taxon's name instead?
  <td class="small" valign="top">
    <input type="checkbox" name="replace_with_parent" value="YES"> yes
  </td>
</tr>

<tr>
  <td valign="top">
    Count references instead of taxa?
  </td>
  <td valign="top">
    <select name="count_refs">
      <option selected>no</option>
      <option>yes</option>
    </select>
  </td>
</tr>

<tr>
  <td valign="top">
    Range extant taxa through to the Recent?
  </td>
  <td valign="top">
    <input class="small" type=checkbox name="recent_genera" value="YES"> yes
  </td>
</tr>
</table>

<br><div align="center"><input type=submit value="Submit"></div>

<p class="small">
<span class="required">Warning</span>: you must first <a href="%%read_url%%?action=displayDownloadForm">download</a> an occurrence data file or you can't do an analysis.
</p>

</div>


<div id="panel2" class="panel">

<table cellpadding=4>
<tr>
  <td valign="top">
    Subsampling method:<br>
    <i><span class="verysmall"><span class="required">Required</span> for subsampling. See Alroy (2010) for a discussion of the alternatives.</span></i>
  </td>
  <td valign="top">
    <select name="samplingmethod">
      <option selected></option>
      <option>shareholder quorum subsampling</option>
      <option>classical rarefaction</option>
      <option>by collection (unweighted)</option>
      <option>by collection (occurrences-weighted)</option>
      <option>by specimen</option>
    </select>
  </td>
</tr>

<tr>
  <td valign="top">
    Weighting exponent:<br>
    <i><span class="verysmall"><span class="required">Required</span> for occurrences-weighted subsampling, and otherwise ignored.<br>
    2.0 = occurrences-squared weighting; 0.0 = unweighted subsampling;<br>
    1.0 = simple occurrences-weighted subsampling.</span></i>
  </td>
  <td valign="top">
    <select name="exponent">
      <option>0.0</option>
      <option>0.1</option>
      <option>0.2</option>
      <option>0.3</option>
      <option>0.4</option>
      <option>0.5</option>
      <option>0.6</option>
      <option>0.7</option>
      <option>0.8</option>
      <option>0.9</option>
      <option selected>1.0</option>
      <option>1.1</option>
      <option>1.2</option>
      <option>1.3</option>
      <option>1.4</option>
      <option>1.5</option>
      <option>1.6</option>
      <option>1.7</option>
      <option>1.8</option>
      <option>1.9</option>
      <option>2.0</option>
      <option>2.1</option>
      <option>2.2</option>
      <option>2.3</option>
      <option>2.4</option>
      <option>2.5</option>
      <option>2.6</option>
      <option>2.7</option>
      <option>2.8</option>
      <option>2.9</option>
      <option>3.0</option>
    </select>
  </td>
</tr>

<tr>
  <td valign="top">
    Sampling quorum (for SQS) or quota of data records (for other methods):<br>
    <i><span class="verysmall"><span class="required">Required</span> for subsampling. A quorum is a fraction; a quota is a count.</span></i>
  </td>
  <td valign="top">
    <input name="samplesize">
  </td>
</tr>

<tr>
  <td valign="top" colspan="2" nowrap>
    Good's <i>u</i> options:<br>
    <div class="verysmall">
    Count <select name="one_occs_or_refs"><option>one-occurrence</option><option>one-reference</option></select> taxa&nbsp;&nbsp;&nbsp;&nbsp;
    Ignore most common taxon? <select name="exclude_dominant"><option>no</option><option>yes</option></select>&nbsp;&nbsp;&nbsp;&nbsp;
    Ignore largest collection? <select name="exclude_largest_coll"><option>no</option><option>yes</option></select>
    </div>
  </td>
</tr>

<tr>
  <td valign="top">
    Number of subsampling trials:<br>
    <i><span class="verysmall"><span class="required">Required</span> for subsampling.</span></i>
  </td>
  <td valign="top">
    <select name="samplingtrials">
      <option selected></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>30</option>
      <option>50</option>
      <option>100</option>
    </select>
  </td>
</tr>

<tr>
  <td valign="top">
    Draw fewer collections from references yielding many of them?
  </td>
  <td class="small" valign="top">
    <input type="checkbox" name="disperse" value="YES"> yes
  </td>
</tr>

<tr>
  <td valign="top">
    Sampled item counts to report in subsampling curves:<br>
    <i><span class="verysmall">Not required and can't be computed by SQS.</span></i>
  </td>
  <td valign="top">
    <select name="stepsize">
      <option selected></option>
      <option>1, 10, 100...</option>
      <option>1, 3, 10, 30...</option>
      <option>1, 2, 5, 10...</option>
      <option>1, 2, 4, 8...</option>
      <option>1, 1.4, 2, 2.8...</option>
      <option>1, 1.2, 1.4, 1.7, 2...</option>
      <option>10000, 20000, 30000...</option>
      <option>1000, 2000, 3000...</option>
      <option>100, 200, 300...</option>
      <option>50, 100, 150...</option>
      <option>20, 40, 60...</option>
      <option>10, 20, 30...</option>
      <option>5, 10, 15...</option>
      <option>2, 4, 6...</option>
      <option>1, 2, 3...</option>
    </select>
  </td>
</tr>

<tr>
  <td valign="top">
    Print subsampling stats for intervals that do not meet the quorum or quota?<br>
    <i><span class="verysmall">Not required.</span></i>
  </td>
  <td valign="top">
    <select name="printall">
      <option selected>no</option>
      <option>yes</option>
    </select>
  </td>
</tr>

</table>

<br><div align="center"><input type=submit value="Submit"></div>
</div>



<div id="panel3" class="panel">

<table cellpadding=4>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw" name="print_base_raw" value="YES" checked> Base (Ma)
<input type="checkbox" class="raw" name="print_midpoint_raw" value="YES" checked> Midpoint (Ma)
<input type="checkbox" class="raw r_count" name="print_sampled" value="YES" checked> Sampled taxa
<input type="checkbox" class="raw r_count" name="print_range-through" value="YES" checked> Range-through taxa
<input type="checkbox" class="raw r_count" name="print_boundary-crosser" value="YES" checked> Boundary-crosser taxa
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw r_count" name="print_first_appearances_raw" value="YES"> First appearances
<input type="checkbox" class="raw r_count" name="print_last_appearances_raw" value="YES"> Last appearances
<input type="checkbox" class="raw r_count" name="print_singletons_raw" value="YES"> Singletons

<input type="checkbox" class="raw r_count" name="print_two_timers" value="YES"> Two timers
<input type="checkbox" class="raw r_count" name="print_three_timers" value="YES"> Three timers
<input type="checkbox" class="raw r_count" name="print_part_timers" value="YES"> Part timers
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw" name="print_origination_rate_raw" value="YES" checked> 3T origination rate (Alroy 2008)
<input type="checkbox" class="raw" name="print_Foote_origination_rate_raw" value="YES"> BC origination rate (Foote 1999)
<input type="checkbox" class="raw" name="print_extinction_rate_raw" value="YES" checked> 3T extinction rate
<input type="checkbox" class="raw" name="print_Foote_extinction_rate_raw" value="YES"> BC extinction rate
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw r_count" name="print_one_occs" value="YES"> One-occurrence taxa
<input type="checkbox" class="raw r_count" name="print_one_refs" value="YES"> One-reference taxa
<input type="checkbox" class="raw" name="print_u" value="YES" checked> Good's <i>u</i>
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw" name="print_gap_analysis_stat_raw" value="YES"> Gap analysis sampling stat (Paul 1982)
<input type="checkbox" class="raw r_estimate" name="print_gap_analysis_estimate_raw" value="YES"> Gap analysis diversity estimate
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw" name="print_three_timer_stat_raw" value="YES"> Three timer sampling stat (Alroy 2008)
<input type="checkbox" class="raw r_estimate" name="print_three_timer_estimate_raw" value="YES"> Three timer diversity estimate
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw r_estimate" name="print_dominance" value="YES"> Dominance
<input type="checkbox" class="raw r_estimate" name="print_dominant" value="YES"> Dominant taxon
<input type="checkbox" class="raw r_estimate" name="print_pie" value="YES"> Evenness of occurrences (PIE)
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw r_estimate" name="print_chao-2_raw" value="YES"> Chao-2 estimate
<input type="checkbox" class="raw r_estimate" name="print_ice_raw" value="YES"> Incidence-based coverage estimate
<input type="checkbox" class="raw r_estimate" name="print_jolly-seber_raw" value="YES"> Jolly-Seber estimate
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw r_count" name="print_lists" value="YES" checked> Collections
<input type="checkbox" class="raw r_count" name="print_occurrences" value="YES" checked> Occurrences
<input type="checkbox" class="raw r_count" name="print_occurrences-exponentiated" value="YES"> Occurrences-squared or exponentiated
<input type="checkbox" class="raw" name="print_specimens" value="YES"> Specimens or individuals
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="raw" name="print_mean_richness" value="YES"> Mean richness
<input type="checkbox" class="raw" name="print_median_richness" value="YES"> Median richness
</td></tr>

<tr><td class="small" valign="top">
<div style="width: 32em; padding-top: 0.5em; border-top: 1px solid gray; font-size: 1.1em;">
<input type="checkbox" onClick="checkAll(this,'raw');"> Check all
&nbsp;&nbsp;<input type="checkbox" onClick="checkAll(this,'r_count');"> Check counts
&nbsp;&nbsp;<input type="checkbox" onClick="checkAll(this,'r_estimate');"> Check diversity estimates
</div>
</td></tr>

</table>
<br><div align="center"><input type=submit value="Submit"></div>

</div>



<div id="panel4" class="panel">

<table cellpadding=4>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling" name="print_base_ss" value="YES" checked> Base (Ma)
<input type="checkbox" class="subsampling" name="print_midpoint_ss" value="YES" checked> Midpoint (Ma)
<input type="checkbox" class="subsampling s_count" name="print_items" value="YES" checked> Items sampled
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling s_count" name="print_median" value="YES"> Median sampled diversity
<input type="checkbox" class="subsampling s_count" name="print_ci" value="YES"> 1-sigma CI
<input type="checkbox" class="subsampling s_count" name="print_mean" value="YES" checked> Mean sampled diversity
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling s_count" name="print_range-through_ss" value="YES"> Range-through diversity
<input type="checkbox" class="subsampling s_count" name="print_boundary-crosser_ss" value="YES"> Boundary-crosser diversity
</td></tr>

<tr><td class="small" valign="top" nowrap>
<i>Estimates based on 2T and 3T counts:</i><br>
<input type="checkbox" class="subsampling s_estimate" name="print_corrected_bc" value="YES"> Corrected BC diversity
<input type="checkbox" class="subsampling s_estimate" name="print_estimated_midpoint" value="YES"> Estimated midpoint diversity
<input type="checkbox" class="subsampling s_estimate" name="print_estimated_mesa" value="YES"> Estimated mesa diversity
<input type="checkbox" class="subsampling s_estimate" name="print_corrected_sib" value="YES"> Corrected SIB diversity
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling s_count" name="print_first_appearances_ss" value="YES"> First appearances
<input type="checkbox" class="subsampling s_count" name="print_last_appearances_ss" value="YES"> Last appearances
<input type="checkbox" class="subsampling s_count" name="print_singletons_ss" value="YES"> Singletons

<input type="checkbox" class="subsampling s_count" name="print_two_timers_ss" value="YES"> Two timers
<input type="checkbox" class="subsampling s_count" name="print_three_timers_ss" value="YES"> Three timers
<input type="checkbox" class="subsampling s_count" name="print_part_timers_ss" value="YES"> Part timers
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling" name="print_origination_rate_ss" value="YES" checked> 3T origination rate
<input type="checkbox" class="subsampling" name="print_Foote_origination_rate_ss" value="YES"> BC origination rate
<input type="checkbox" class="subsampling" name="print_origination_percentage" value="YES"> RT origination percentage
<input type="checkbox" class="subsampling" name="print_Foote_origination_percentage" value="YES"> BC origination percentage
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling" name="print_extinction_rate_ss" value="YES" checked> 3T extinction rate
<input type="checkbox" class="subsampling" name="print_Foote_extinction_rate_ss" value="YES"> BC extinction rate
<input type="checkbox" class="subsampling" name="print_extinction_percentage" value="YES"> RT extinction percentage
<input type="checkbox" class="subsampling" name="print_Foote_extinction_percentage" value="YES"> BC extinction percentage
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling" name="print_gap_analysis_stat_ss" value="YES"> Gap analysis sampling stat
<input type="checkbox" class="subsampling s_estimate" name="print_gap_analysis_estimate_ss" value="YES"> Gap analysis diversity estimate
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling" name="print_three_timer_stat_ss" value="YES"> Three timer sampling stat
<input type="checkbox" class="subsampling s_estimate" name="print_three_timer_estimate_ss" value="YES"> Three timer diversity estimate
</td></tr>

<tr><td class="small" valign="top" nowrap>
<input type="checkbox" class="subsampling s_estimate" name="print_chao-2_ss" value="YES"> Chao-2 estimate
<input type="checkbox" class="subsampling s_estimate" name="print_ice_ss" value="YES"> Incidence-based coverage estimate
<input type="checkbox" class="subsampling s_estimate" name="print_jolly-seber_ss" value="YES"> Jolly-Seber estimate
<input type="checkbox" class="subsampling s_estimate" name="print_michaelis-menten" value="YES"> Michaelis-Menten estimate
</td></tr>

<tr><td class="small" valign="top">
<div style="width: 32em; padding-top: 0.5em; border-top: 1px solid gray; font-size: 1.1em;">
<input type="checkbox" onClick="checkAll(this,'subsampling');"> Check all
&nbsp;&nbsp;<input type="checkbox" onClick="checkAll(this,'s_count');"> Check counts
&nbsp;&nbsp;<input type="checkbox" onClick="checkAll(this,'s_estimate');"> Check diversity estimates
</div>
</td></tr>   

</table>

<p class="verysmall" style="width: 46em; margin-left: 2em; text-indent: -1em;">
To compute Michaelis-Menten diversity estimates, set the diversity measure to "sampled-in-bin" and the subsampling method to "by collection (unweighted)."
</p>

<br><div align="center"><input type=submit value="Submit"></div>

</div>

<div id="panel5" class="panel">

<p style="margin-left: 16em;">
Choose line colors and scalings for the variables you want to graph.
</p>

<div style="margin-left: 19em;">

<table cellpadding=4>

<tr>
<td><input type="hidden" id="variable" value="sampled diversity">Sampled taxa</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="range-through diversity">Range-through taxa</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="boundary-crosser diversity">Boundary-crosser taxa</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="first appearances">First appearances</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="last appearances">Last appearances</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="singletons">Singletons</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="dominance">Dominance</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="collections">Collections</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td><input type="hidden" id="variable" value="occurrences">Occurrences</td>
<td><select id="linecolor" class="small" autofill="simplecolors"></select></td>
<td><select id="linescale" class="small" autofill="linescalings"></select></td>
</tr>

<tr>
<td>Plot</td>
<td colspan="2"><select name="points_and_lines"><option>lines and points</option><option>lines only</option></select></td>
</tr>

<tr>
<td colspan=6><input type="checkbox" name="correlate" value="YES"> Compute correlations between each pair of lines</td>
</tr>

</table>

<br><div align="center"><input type=submit value="Submit"></div>

</div>

</div>

</form>

<script language="JavaScript" type="text/javascript">
    switchToPanel(1,5);
</script>

<script language="JavaScript" type="text/javascript">
<!--

function select()	{
	document.forms[1].linecolor[0].options[1].selected = true;
	document.forms[1].linescale[6].options[8].selected = true;
	return true;
}

window.onload = select();

//-->
</script>


