
<CENTER>
<H1>Paleobiology Database Diversity Curve Request Form</H1></CENTER>

<p>
This form allows you to request a diversity curve with assorted statistics.
Submit the form without indicating any options for subsampling, unless you do want to perform subsampling analyses.</p>

<p>
<font color="FF0000"><b>Warning</b></font>: you must first <a href="$exec_url?action=displayDownloadForm">download</a> an occurrence data file or you can't do an analysis.
</p>

<!--
the following options have been deleted and might be replaced by augmenting the download script:

exclude lists with no county or precise lat/long
lump collections by formation
analysis restricted to paleoenvironmental zones 1 - 6
analysis restricted to one exact lithology (as opposed to carbonate or siliciclastic)
analysis restricted to a collection type (biostratigraphic, taxonomic, etc.)
exclude lists with at least or no more than some number of occurrences
mix and match of taxonomic groups
geographic dispersion algorithm

-->

<form method="POST" action="$exec_url">
 
<input type=hidden name="action" value="displayCurveResults">

<hr>

<TABLE cellpadding=4>

<tr><td valign=top>
<font size=-1>Diversity measure to report:</font></td>

<td valign=top>
<font size=-1>
<select name=diversity>
<option selected>boundary-crossers</option>
<option>range-through</option>
<option>range-through minus singletons</option>
<option>sampled-in-bin</option>
<option>sampled minus singletons</option>
</select>
</font>
</td></tr>

<tr><td valign=top>
<font size=-1>
Subsampling method:<br>
<i><font color="FF0000" size=-2>Required</font> <font size=-2>if you want to do a subsampling analysis.</font></i>
</td>

<td valign=top>
<font size=-1>
<select name=samplingmethod>
<option selected></option>
<option>classical rarefaction</option>
<option>by-list subsampling (lists tallied)</option>
<option>by-list subsampling (occurrences tallied)</option>
<option>by-list subsampling (occurrences-squared tallied)</option>
<option>by-specimen subsampling</option>
</select>
</font>
</td>

<tr><td valign=top>
<font size=-1>
Exact number of items (lists, occurrences, or occurrences-squared) to draw in each temporal bin:<br>
<i><font color="FF0000" size=-2>Required</font> <font size=-2>if you want to do
a subsampling analysis.</font></i>
</font>
</td>

<td valign=top>
<input name=samplesize>
<!--
<font size=-1>
<select name=samplesize>
<option selected>
<option>10
<option>20
<option>50
<option>100
<option>150
<option>200
<option>500
<option>1000
<option>1500
<option>2000
<option>5000
</select>
-->
</td>

<tr><td valign=top>
<font size=-1>
Intermediate numbers of items to report in subsampling curves:<br>
</font>
<i><font size=-2>Not required.</font></i>
</td>

<td valign=top>
<font size=-1>
<select name=stepsize>
<option selected></option>
<option>1, 10, 100...</option>
<option>1, 3, 10, 30...</option>
<option>1, 2, 5, 10...</option>
<option>1, 2, 4, 8...</option>
<option>1, 1.4, 2, 2.8...</option>
<option>1000, 2000, 3000...</option>
<option>100, 200, 300...</option>
<option>50, 100, 150...</option>
<option>20, 40, 60...</option>
</select>
</font>
</td>

<tr><td valign=top>
<font size=-1>Number of subsampling trials:<br></font>
<i><font color="FF0000" size=-2>Required</font> <font size=-2>if you want to do a subsampling analysis.</font></i>
</td>

<td valign=top>
<font size=-1>
<select name=samplingtrials>
<option selected></option>
<option>1</option>
<option>5</option>
<option>10</option>
<option>20</option>
<option>50</option>
<option>100</option>
</select>
</font>
</td>
</tr>

<tr><td valign=top>
<font size=-1>Print subsampling stats for intervals with less items than the exact quota?
</font></td>

<td valign=top>
<font size=-1>
<select name=printall>
<option selected>no</option>
<option>yes</option>
</select>
</font>
</td>
</tr>

</table>

<p><font size=-2>To compute Michaelis-Menten diversity estimates, set the diversity measure to "sampled-in-bin" and the subsampling method to "lists tallied."</font></p>

<hr>
<table cellpadding=4 width=100%>
<tr><td valign=top align=center><input type=submit value="Submit"></td></tr>
</table>


</form>

</BODY>
</HTML>
