
<center>
<p class="pageTitle">
Disentangled names
</p>
</center>

<div class="displayPanel" style="margin-left: auto; margin-right: auto; padding: 1em; width: 40em;">
<div class="displayPanelContents">

<p class="medium">
You have now disentangled the names into two taxonomic entities:
</p>
<ul>
<li>%%names1%%</li>
<li>%%names2%%</li>
</ul>

<p class="medium">
You may want to edit the opinions for the <a href="%%write_url%%?action=displayOpinionChoiceForm&amp;taxon_no=%%taxon_no1%%">first set</a> or the <a href="%%write_url%%?action=displayOpinionChoiceForm&amp;taxon_no=%%taxon_no2%%">second set</a>.
</p>

</div>
</div>

