%%NOESCAPE_enterer_authorizer_lists%%                                                                                                                       
<script src="/JavaScripts/tabs.js" language="JavaScript" type="text/javascript"></script>                                                                   
<script language="JavaScript" type="text/javascript">
<!-- Begin

function globalClick ( ) {

	var frm = document.forms[0];

	if ( frm.global.checked ) {
		// Uncheck all continents
		frm.Africa.checked = false;
		frm.Antarctica.checked = false;
		frm.Asia.checked = false;
		frm.Australia.checked = false;
		frm.Europe.checked = false;
		frm.elements['North America'].checked = false;
		frm.elements['South America'].checked = false;

		frm.elements['paleo Australia'].checked = false;
		frm.Avalonia.checked = false;
		frm.Baltoscandia.checked = false;
		frm.Kazakhstania.checked = false;
		frm.Laurentia.checked = false;
		frm.Mediterranean.checked = false;
		frm.elements['North China'].checked = false;
		frm.Precordillera.checked = false;
		frm.Siberia.checked = false;
		frm.elements['paleo South America'].checked = false;
		frm.elements['South China'].checked = false;
	}
}

function continentClick ( ) {

	var frm = document.forms[0];

	if (	frm.Africa.checked || 
			frm.Antarctica.checked || 
			frm.Asia.checked || 
			frm.Australia.checked || 
			frm.Europe.checked || 
			frm.elements['North America'].checked || 
			frm.elements['South America'].checked ||

			frm.elements['paleo Australia'].checked || 
			frm.Avalonia.checked || 
			frm.Baltoscandia.checked || 
			frm.Kazakhstania.checked || 
			frm.Laurentia.checked || 
			frm.Mediterranean.checked || 
			frm.elements['North China'].checked || 
			frm.Precordillera.checked || 
			frm.Siberia.checked || 
			frm.elements['paleo South America'].checked ||
			frm.elements['South China'].checked  ) {
		frm.global.checked = false;
	} else {
		// At least one must be checked, or hit the global
		frm.global.checked = true;
	}
}

function countryChange() {
	var frm = document.forms[0];

	if (frm.country.value != "") {
		frm.global.checked = true;
		globalClick();
	}
}

//pass this function a checkbox.
function checkAll(checkbox,the_class){
	var state = checkbox.checked;
	var frm = document.forms[0];
	for(var i=0; i < frm.elements.length; i++){
		if(frm.elements[i].className == the_class) {
			frm.elements[i].checked = state;
		}
	}
}

//  End -->
</script>


<div class="title">Download request form</div>

<p>This form allows you to download a file that includes selected taxonomic names, occurrences, collections, or specimens. Page through the six tabs below and select options wanted before hitting "Create data set".  To compute a diversity curve, you need to check off either "epoch" or "10 m.y. bin" in the "Collection fields" part of the form.</p>

<form method=post action="bridge.pl">
<input id="action" type=hidden name="action" value="displayDownloadResults">


<div align=center>
  <table cellpadding=0 cellspacing=0 border=0 width=600><tr>
    <td id="tab1" class="tabOff" style="white-space: nowrap;"
      onClick="showPanel(1);" 
      onMouseOver="hover(this);" 
      onMouseOut="setState(1)">Basic options</td>
    <td id="tab2" class="tabOff" style="white-space: nowrap;"
      onClick="showPanel(2);" 
      onMouseOver="hover(this);" 
      onMouseOut="setState(2)">Included collections</td>
    <td id="tab3" class="tabOff" style="white-space: nowrap;"
      onClick = "showPanel(3);" 
      onMouseOver="hover(this);" 
      onMouseOut="setState(3)">Included occurrences</td>
    <td id="tab4" class="tabOff" style="white-space: nowrap;"
      onClick = "showPanel(4);" 
      onMouseOver="hover(this);" 
      onMouseOut="setState(4)">Collection fields</td>
    <td id="tab5" class="tabOff" style="white-space: nowrap;"
      onClick = "showPanel(5);" 
      onMouseOver="hover(this);" 
      onMouseOut="setState(5)">Occurrence fields</td>
    <td id="tab6" class="tabOff" style="white-space: nowrap;"
      onClick = "showPanel(6);" 
      onMouseOver="hover(this);" 
      onMouseOut="setState(6)">Specimen fields</td>
  </tr></table>
</div>
             

<div id="panel1" class="panel"> 

<center><h3>Basic options</h3></center>

<table width="100%" cellpadding="3" cellspacing="0">
<tr class="lightGrey">
  <td valign=top class="smallText">
    Output data:
  </td>
  <td>
    <select name="output_data">
      <option value="genus occurrences">genus occurrences</option>
      <option value="species occurrences">species occurrences</option>
      <option value="genera">genera</option>
      <option value="species">species</option>
      <option value="collections">collections</option>
      <option value="specimens">specimens</option>
    </select>
  </td>
</tr>  

<tr>
<td valign=top class="smallText">Output format:</td>
<td valign=top class="smallText"><select name=output_format>
<option selected>comma-delimited text</option>
<option>tab-delimited text</option>
<option>CONJUNCT</option>
</select>
</td></tr>


<tr class="lightGrey">
<td valign=top class="smallText">Data authorizer:</td>
<td valign="bottom">
<input name="authorizer_reversed" size=22 onKeyUp="doComplete(event, this, authorizerNames());">
<a href="#" onClick="document.forms[0].authorizer_reversed.value='%%authorizer_reversed%%'">Me</a></td>
</tr>

<tr>
<td valign=top class="smallText">Research group or project:</td>
<td valign=top class="smallText">
<select id="research_group">
</select>
</td></tr>


<tr class="lightGrey">
<td valign=top class="smallText" nowrap>Use data records created 
<select name="created_before_after">
<option selected>before</option>
<option>after</option>
</select>:
</td>
<td>
<select name="date">
<option selected></option>
<script language="JavaScript" type="text/javascript">fillDays();</script>
</select>
<select name="month">
<option selected></option>
<script language="JavaScript" type="text/javascript">fillMonths();</script>
</select>
<select name="year">
<option selected></option>
<script language="JavaScript" type="text/javascript">fillYears();</script>
</select>
</td>
</tr>

<tr>
<td valign=top class="smallText" nowrap>Use occurrences published 
<select name="published_before_after">
<option>before</option>
<option selected>after</option>
</select>:
</td>
<td class="smallText">
<input name="pubyr" size=6>
</td>
</tr>

<tr class="lightGrey">
<td valign=top class="smallText">If you only want lists from one time span, enter the oldest and youngest intervals <small><i>(by name or by age in Ma)</i></small>:</td>
<td valign=top class="smallText">
<input name=max_interval_name size=20> - <input name=min_interval_name size=20>
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">... or if you want to bin the data temporally, select a time scale:</td>
<td valign=top class="smallText">
%%time scale%%
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">If you selected a scale, you can select a field to be tallied:</td>
<td valign=top class="smallText">
<select name=binned_field>
<option>
<option>ecology
<option value="plant_organ">plant organ
<option value="plant_organ2">plant organ2
<option>country
<option value="geogscale">geog scale
<option value="stratscale">strat scale
<option value="lithology1">lithology 1
<option value="lithology2">lithology 2
<option>environment
<option value="tectonic_setting">tectonic setting
<option value="assembl_comps">assemblage components
<option value="temporal_resolution">temporal resolution
<option value="spatial_resolution">spatial resolution
<option value="collection_type">collection purpose
</select>
</td></tr>

<tr>
<td valign=top class="smallText">Name of taxon or taxa <small><i>(genus or higher rank)</i></small>:</td>
<td valign=top class="smallText">
<textarea name=taxon_name rows=2 cols=40></textarea></td></tr>
</table>
<p align=center>
<input type=submit value="Create data set">
</p>
</div>



<div id="panel2" class="panel"> 

<center><h3>Included collections options</h3></center>

<table width="100%" cellpadding="3" cellspacing="0">

<tr class="lightGrey">
<td valign=top class="smallText">Lithification of primary lithology:</td>
<td valign=top class="smallText">
<input type=checkbox name="lithification_lithified" value="YES" checked>lithified
<input type=checkbox name="lithification_poorly_lithified" value="YES" checked>poorly lithified
<input type=checkbox name="lithification_unlithified" value="YES" checked>unlithified
<input type=checkbox name="lithification_unknown" value="YES" checked>unknown
</td></tr>

<tr>
<td valign=top class="smallText">Select lithologies:</td>
<td valign=top class="smallText">
<input type=checkbox name="lithology_carbonate" value="YES" checked>carbonate
<input type=checkbox name="lithology_mixed" value="YES" checked>mixed
<input type=checkbox name="lithology_siliciclastic" value="YES" checked>siliciclastic
<input type=checkbox name="lithology_unknown" value="YES" checked>unknown
</td></tr>

<tr>
<td valign=top class="smallText"> ... or 
<select name="include_exclude_lithology1">
<option>include</option>
<option>exclude</option>
</select> a single lithology:</td>
<td valign=top class="smallText">
<select id="lithology1"></select>
</td></tr>


<tr class="lightGrey">
<td valign=middle class="smallText">Select environments:</td>
<td valign=top class="smallText">
<input type=checkbox name="environment_carbonate" value="YES" checked>carbonate
<input type=checkbox name="environment_siliciclastic" value="YES" checked>siliciclastic
<input type=checkbox name="environment_terrestrial" value="YES" checked>terrestrial
<input type=checkbox name="environment_unknown" value="YES" checked>unknown
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText"> ... or 
<select name="include_exclude_environment">
<option>include</option>
<option>exclude</option>
</select>a single environment:</td>
<td valign=top class="smallText">
<select id="environment"></select>
</td></tr>

<tr>
<td valign=top class="smallText">Select continents or paleocontinents:</td>

<td valign=top class="smallText">
<table><tr><td class="tinyText">
<p><input type=checkbox name="global" value="YES" checked onClick="globalClick();"><i>global</i></p>

<p>
<span style="white-space: nowrap"><input type=checkbox name="Africa" value="YES" onClick="continentClick();">Africa</span>
<span style="white-space: nowrap"><input type=checkbox name="Antarctica" value="YES" onClick="continentClick();">Antarctica</span>
<span style="white-space: nowrap"><input type=checkbox name="Asia" value="YES" onClick="continentClick();">Asia</span>
<span style="white-space: nowrap"><input type=checkbox name="Australia" value="YES" onClick="continentClick();">Australia</span>
<span style="white-space: nowrap"><input type=checkbox name="Europe" value="YES" onClick="continentClick();">Europe</span>
<span style="white-space: nowrap"><input type=checkbox name="North America" value="YES" onClick="continentClick();">North America</span>
<span style="white-space: nowrap"><input type=checkbox name="South America" value="YES" onClick="continentClick();">South America</span>
</p>

<p>
<span style="white-space: nowrap"><input type=checkbox name="paleo Australia" value="YES" onClick="continentClick();">Australia (paleocontinent)</span>
<span style="white-space: nowrap"><input type=checkbox name="Avalonia" value="YES" onClick="continentClick();">Avalonia</span>
<span style="white-space: nowrap"><input type=checkbox name="Baltoscandia" value="YES" onClick="continentClick();">Baltoscandia</span>
<span style="white-space: nowrap"><input type=checkbox name="Kazakhstania" value="YES" onClick="continentClick();">Kazakhstania</span>
<span style="white-space: nowrap"><input type=checkbox name="Laurentia" value="YES" onClick="continentClick();">Laurentia</span>
<span style="white-space: nowrap"><input type=checkbox name="Mediterranean" value="YES" onClick="continentClick();">Mediterranean</span>
<span style="white-space: nowrap"><input type=checkbox name="North China" value="YES" onClick="continentClick();">North China</span>
<span style="white-space: nowrap"><input type=checkbox name="Precordillera" value="YES" onClick="continentClick();">Precordillera</span>
<span style="white-space: nowrap"><input type=checkbox name="Siberia" value="YES" onClick="continentClick();">Siberia</span>
<span style="white-space: nowrap"><input type=checkbox name="paleo South America" value="YES" onClick="continentClick();">South America (paleocontinent)</span>
<span style="white-space: nowrap"><input type=checkbox name="South China" value="YES" onClick="continentClick();">South China</span>
</p>
</td></tr></table>
</td></tr>

<tr>
<td valign=top class="smallText">... or 
<select name="include_exclude_country">
<option>include</option>
<option>exclude</option>
</select>a single country:</td>
<td valign=top class="smallText">
<select id="country" onChange="countryChange()"></select>
</td>

<tr class="lightGrey">
<td valign=top class="smallText">Latitudinal range:</td>
<td valign=top class="smallText">
<input name="latmin" size="4" value="-90">&deg; to
<input name="latmax" size="4" value="90">&deg;
</td>

<tr class="lightGrey">
<td valign=top class="smallText">Longitudinal range:</td>
<td valign=top class="smallText">
<input name="lngmin" size="4" value="-180">&deg; to
<input name="lngmax" size="4" value="180">&deg;
</td>

<tr>
<td valign=top class="smallText">Paleolatitudinal range:</td>
<td valign=top class="smallText">
<input name="paleolatmin" size="4" value="-90">&deg; to
<input name="paleolatmax" size="4" value="90">&deg;
</td>

<tr>
<td valign=top class="smallText">Paleolongitudinal range:</td>
<td valign=top class="smallText">
<input name="paleolngmin" size="4" value="-180">&deg; to
<input name="paleolngmax" size="4" value="180">&deg;
</td>

<tr class="lightGrey">
<td valign=top class="smallText">Geographic scale of collections:</td>
<td valign=top class="smallText">
<span style="white-space: nowrap"><input type=checkbox name="geogscale_hand_sample" value="YES" checked>hand sample</span>
<span style="white-space: nowrap"><input type=checkbox name="geogscale_small_collection" value="YES" checked>small collection</span>
<span style="white-space: nowrap"><input type=checkbox name="geogscale_outcrop" value="YES" checked>outcrop</span>
<span style="white-space: nowrap"><input type=checkbox name="geogscale_local_area" value="YES" checked>local area</span>
<span style="white-space: nowrap"><input type=checkbox name="geogscale_basin" value="YES" checked>basin</span>
<span style="white-space: nowrap"><input type=checkbox name="geogscale_unknown" value="YES" checked>unknown</span>
</td></tr>

<tr>
<td valign=top class="smallText">Stratigraphic scale of collections:</td>
<td valign=top class="smallText">
<span style="white-space: nowrap"><input type=checkbox name="stratscale_bed" value="YES" checked>bed</span>
<span style="white-space: nowrap"><input type=checkbox name="stratscale_group_of_beds" value="YES" checked>group of beds</span>
<span style="white-space: nowrap"><input type=checkbox name="stratscale_member" value="YES" checked>member</span>
<span style="white-space: nowrap"><input type=checkbox name="stratscale_formation" value="YES" checked>formation</span>
<span style="white-space: nowrap"><input type=checkbox name="stratscale_group" value="YES" checked>group</span>
<span style="white-space: nowrap"><input type=checkbox name="stratscale_unknown" value="YES" CHECKED>unknown</span>
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">Reason for describing collection:</td>
<td valign=top class="smallText">
<span style="white-space: nowrap"><input type=checkbox name='collection_type_archaeological' value="YES" checked> archaeological</span>
<span style="white-space: nowrap"><input type=checkbox name='collection_type_biostratigraphic' value="YES" checked> biostratigraphic</span>
<span style="white-space: nowrap"><input type=checkbox name='collection_type_paleoecologic' value="YES" checked> paleoecologic</span>
<span style="white-space: nowrap"><input type=checkbox name='collection_type_taphonomic' value="YES" checked > taphonomic</span>
<span style="white-space: nowrap"><input type=checkbox name='collection_type_taxonomic' value="YES" checked> taxonomic</span>
<span style="white-space: nowrap"><input type=checkbox name='collection_type_general_faunal/floral' value="YES" checked> general faunal/floral</span>
<span style="white-space: nowrap"><input type=checkbox name='collection_type_unknown' value="YES" checked> unknown</span>
</td></tr>

<tr>
<td valign=top class="smallText">Lump collections by:</td>

<td valign=top class="smallText">
<span style="white-space: nowrap"><input type=checkbox name='lump_by_coord' value="YES"> exact coordinate</span>
<span style="white-space: nowrap"><input type=checkbox name='lump_by_mbr' value="YES"> formation and member</span>
<span style="white-space: nowrap"><input type=checkbox name='lump_by_ref' value="YES"> reference</span>
<span style="white-space: nowrap"><input type=checkbox name='lump_by_interval' value="YES"> time interval</span>
</td></tr>

</table>
<p align=center>
<input type=submit value="Create data set">
</p>
</div>



<div id="panel3" class="panel"> 

<center><h3>Included occurrences options</h3></center>

<table width="100%" cellpadding="3" cellspacing="0">
<tr class="lightGrey">
<td valign=top class="smallText">Lump occurrences of the same genus from the same collection?</td>
<td valign=top class="smallText">
<select name=lumpgenera>
<option selected value="NO">no, keep them separate</option>
<option value="YES">yes, lump them</option>
</select>
</td></tr>

<tr>
<td valign=top class="smallText">Replace names with senior synonyms?</td>
<td valign=top class="smallText">
<select name=replace_with_ss>
<option selected value="YES">yes, use the senior synonym
<option value="NO">no, use the original name
</select>
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">Replace genus names with subgenus names, so subgenera are treated as separate genera?</td>
<td valign=top class="smallText">
<select name=split_subgenera>
<option selected value="NO">no, use the genus name
<option value="YES">yes, use the subgenus name
</select>
</td></tr>

<tr>
<td valign=top class="smallText">Include generically indeterminate occurrences?</td>
<td valign=top class="smallText">
<select name=indet>
<option selected value="NO">no, exclude them</option>
<option value="YES">yes, include them</option>
</select>
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">Include specifically indeterminate occurrences?</td>
<td valign=top class="smallText">
<select name=sp>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</td></tr>

<tr>
<td valign=top class="smallText">Include genus names with the following qualifiers:</td>
<td valign=top class="smallText">
<input type=checkbox name='genus_reso_aff.' value="YES" checked>aff.
<input type=checkbox name='genus_reso_cf.' value="YES" checked>cf.
<input type=checkbox name='genus_reso_ex_gr.' value="YES" checked>ex gr.
<input type=checkbox name='genus_reso_sensu_lato' value="YES" checked>sensu lato
<input type=checkbox name='genus_reso_?' value="YES" checked>?
<input type=checkbox name='genus_reso_"' value="YES" checked>"
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">Include occurrences with informal names?</td>
<td valign=top class="smallText">
<select name=informal>
<option selected value="NO">no, exclude them</option>
<option value="YES">yes, include them</option>
</select>
</td></tr>

<tr>
<td valign=top class="smallText">Include occurrences falling outside their age ranges in Sepkoski's Compendium?</td>
<td valign=top class="smallText">
<select name=compendium_ranges>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</td></tr>

<tr class="lightGrey">
<td valign=top class="smallText">Include occurrences without abundance data?</td>
<td valign=top class="smallText">
<select name=without_abundance>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</td></tr>

<tr>
<td valign=top class="smallText">Minimum # of specimens needed to compute mean abundance</td>
<td valign=top class="smallText"><input name=min_mean_abundance type="text" size="12"></td></tr>

</table>
<p align=center>
<input type=submit value="Create data set">
</p>
</div>


<div id="panel4" class="panel"> 

<center><h3>Collection fields</h3></center>

<p>Check the fields from the main collection data table that you want output.</p>

<div class="options_box">
<span class="options_box_header">Basic fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_basic');"><B>Check all</B></td>
  </tr>
  
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_authorizer value="YES">authorizer</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_enterer value="YES">enterer</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_modifier value="YES">modifier</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_collection_subset value="YES">collection subset</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_reference_no value="YES">reference number</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_collection_name value="YES">collection name</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_collection_aka value="YES">collection aka</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_created value="YES">created</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_basic" name=collections_modified value="YES">modified</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
</table>
</div>

<div class="options_box">
<span class="options_box_header">Geography fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_geography');"><B>Check all</B></td>
  </tr>
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_country value="YES">country</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_state value="YES">state</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_county value="YES">county</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_lng value="YES">longitude in 
  <select name="collections_lng_format">
    <option value="decimal">decimal</option>
    <option value="DMS">DMS+dir</option>
  </select>  
  </td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_lat value="YES">latitude in
  <select name="collections_lat_format">
    <option value="decimal">decimal</option>
    <option value="DMS">DMS+dir</option>
  </select>  
  </td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_paleolng value="YES">paleolongitude in 
  <select name="collections_paleolng_format">
    <option value="decimal">decimal</option>
    <option value="DMS">DMS+dir</option>
  </select>  
  </td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_paleolat value="YES">paleolatitude in
  <select name="collections_paleolat_format">
    <option value="decimal">decimal</option>
    <option value="DMS">DMS+dir</option>
  </select>  
  </td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_latlng_basis value="YES">lat/long basis</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_geogscale value="YES">geographic scale</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_geography" name=collections_geogcomments value="YES">geographic comments</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
</table>
</div>

<div class="options_box">
<span class="options_box_header">Time fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_time');"><B>Check all</B></td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_period value="YES">period</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_epoch value="YES">epoch</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_stage value="YES">stage</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_10mybin value="YES" CHECKED>10 m.y. bin</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_max_interval_no value="YES">maximum interval</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_min_interval_no value="YES">minimum interval</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
  
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_ma_max value="YES">Ma maximum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_ma_min value="YES">Ma minimum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_time" name=collections_ma_mid value="YES">Ma midpoint</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
</table></div>
  
<div class="options_box">
<span class="options_box_header">Legacy time fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap colspan=4><i>The following 8 fields are obsolete, but you can still download the old data</i></td>
  </tr>

  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_legacy');"><B>Check all</B></td>
  </tr>
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_epoch_max value="YES">epoch maximum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_epoch_min value="YES">epoch minimum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_period_max value="YES">period maximum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_period_min value="YES">period minimum</td>
  </tr>
  
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_intage_max value="YES">international age/stage maximum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_intage_min value="YES">international age/stage minimum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_locage_max value="YES">local age/stage maximum</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_legacy" name=collections_locage_min value="YES">local age/stage minimum</td>
  </tr>
</table>
</div>

<div class="options_box">
<span class="options_box_header">Stratigraphy fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_stratigraphy');"><B>Check all</B></td>
  </tr>
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_zone value="YES">zone</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_geological_group value="YES">geological group</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_formation value="YES">formation</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_member value="YES">member</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_localsection value="YES">local section</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_localbed value="YES">local bed</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_localorder value="YES">local order</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_regionalsection value="YES">regional section</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_regionalbed value="YES">regional bed</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_regionalorder value="YES">regional order</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_stratscale value="YES">stratigraphic scale</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_stratcomments value="YES">stratigraphic comments</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_stratigraphy" name=collections_lithdescript value="YES">lithological description</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
</table>
</div>


<div class="options_box">
<span class="options_box_header">Lithology fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_lithology');"><B>Check all</B></td>
  </tr>
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_lithadj value="YES">lithology adjective 1</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_lithification value="YES">lithification 1</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_lithology1 value="YES">lithology 1</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_fossilsfrom1 value="YES">fossils from 1</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_lithadj2 value="YES">lithology adjective 2</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_lithification2 value="YES">lithification 2</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_lithology2 value="YES">lithology 2</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_fossilsfrom2 value="YES">fossils from 2</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_environment value="YES">environment</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_tectonic_setting value="YES">tectonic setting</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_lithology" name=collections_geology_comments value="YES">geology comments</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
</table>
</div>
  
<div class="options_box">
<span class="options_box_header">Taphonomy fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_taphonomy');"><B>Check all</B></td>
  </tr>
  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_pres_mode value="YES">preservation</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_lagerstatten value="YES">Lagerst&auml;tten type</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_concentration value="YES">concentration</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_assembl_comps value="YES">assemblage components</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_orientation value="YES">spatial orientation</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_preservation_quality value="YES">preservation quality</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_art_whole_bodies value="YES">articulated whole bodies</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_disart_assoc_maj_elems value="YES">associated major elements</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_disassoc_maj_elems value="YES">disassociated major elements</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_disassoc_minor_elems value="YES">disassociated minor elements</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_sorting value="YES">size sorting</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_fragmentation value="YES">fragmentation</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_bioerosion value="YES">bioerosion</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_encrustation value="YES">encrustation</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_feed_pred_traces value="YES">feeding/predation traces</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_temporal_resolution value="YES">temporal resolution</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_spatial_resolution value="YES">spatial resolution</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_taphonomy_comments value="YES">taphonomy comments</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_taphonomy" name=collections_abund_in_sediment value="YES">abundance in sediment</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
</table>
</div>

<div class="options_box">
<span class="options_box_header">Collection methods fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'c_methods');"><B>Check all</B></td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_collection_type value="YES">collection purpose</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_collection_coverage value="YES">collection coverage</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_coll_meth value="YES">collection methods</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_collection_size value="YES">collection size</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_collection_size_unit value="YES">collection size unit</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_rock_censused value="YES">rock censused</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_rock_censused_unit value="YES">rock censused unit</td>
  </tr>

  <tr>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_museum value="YES">museums</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_collection_comments value="YES">collection comments</td>
  <td class="tinyText" nowrap><input type=checkbox class="c_methods" name=collections_taxonomy_comments value="YES">taxonomy comments</td>
  <td class="tinyText" nowrap>&nbsp;</td>
  </tr>
  </table>
</div>
<p align=center>
<input type=submit value="Create data set">
</p>
</div>

<div id="panel5" class="panel"> 

<center><h3>Occurrence fields</h3></center>

<p>Check the occurrence and ecology/taphonomy fields that you want output.
Note that the collection ID and genus name fields are always output.</p>

<div class="options_box">
<span class="options_box_header">Basic fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'o_basic');"><B>Check all</B></td>
  </tr>
  <tr>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_authorizer value="YES">authorizer</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_enterer value="YES">enterer</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_modifier value="YES">modifier</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_occurrence_no value="YES">occurrence no</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_reference_no value="YES">reference no</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_created value="YES">created</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_modified value="YES">modified</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_comments value="YES">comments</td>
  </tr>
  
  <tr>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_class_name value="YES">class name</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_order_name value="YES">order name</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_family_name value="YES">family name</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_subgenus_name value="YES">subgenus name</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_species_name value="YES">species name</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_abund_value value="YES">abundance value</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_abund_unit value="YES">abundance unit</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_plant_organ value="YES">plant organ</td>
    <td class="tinyText"><input type=checkbox class="o_basic" name=occurrences_plant_organ2 value="YES">plant organ 2</td>
  </tr>
</table>
</div>

<div class="options_box">
<span class="options_box_header">Ecology fields</span><br>
<table width=100%>
  <tr>
    <td nowrap>
      <select id="ecology1"></select>
      <select id="ecology2"></select>
      <select id="ecology3"></select>
    </td>
  </tr>
  <tr>
    <td nowrap>
      <select id="ecology4"></select>
      <select id="ecology5"></select>
      <select id="ecology6"></select>
    </td>
  </tr>
</table>
</div>

<p align=center>
<input type=submit value="Create data set">
</p>
</div>





<div id="panel6" class="panel"> 

<center><h3>Specimen fields</h3></center>

Basic fields will only be downloaded when output type is "specimens".  Measurement fields will can be downloaded with
any output type, but will be aggregate values for the occurrence, collection, or taxon if occurrences, collections, of taxonomic names are downloaded, respectively.

<div class="options_box">
<span class="options_box_header">Basic fields</span><br>
<table width=100%>
  <tr>
    <td class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'s_basic');"><B>Check all</B></td>
  </tr>
  <tr>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_authorizer value="YES">authorizer</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_enterer value="YES">enterer</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_modifier value="YES">modifier</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_specimen_no value="YES">specimen no</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_reference_no value="YES">reference no</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_specimen_id value="YES">specimen id</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_specimen_side value="YES">side</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_specimen_part value="YES">part*</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_specimen_coverage value="YES">specimen coverage</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_measurement_source value="YES">measurement source</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_magnification value="YES">magnification</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_comments value="YES">comments</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_created value="YES">created</td>
    <td class="tinyText"><input type=checkbox class="s_basic" name=specimens_modified value="YES">modified</td>
</table>
<br><small>* Note that some records may be listed multiple times in the output file, once for each part, when downloading specimens, genera, or species</small>
</div>
<div class="options_box">
<span class="options_box_header">Measurement fields</span><br>
<table width=100%>
  <tr>
    <td width="30%" class="tinyText" nowrap><input type=checkbox title="Check all" onClick="checkAll(this,'s_measurements');"><B>Check all</B></td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_specimens_measured value="YES">specimens measured</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_length value="YES">length</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_width value="YES">width</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_height value="YES">height</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_diagonal value="YES">diagonal</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_inflation value="YES">inflation</td>
  </tr>

  <tr>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_average value="YES">average (geometric mean)</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_min value="YES">min</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_max value="YES">max</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_median value="YES">median</td>
    <td class="tinyText"><input type=checkbox class="s_measurements" name=specimens_error value="YES">error</td>
  </tr>
</table>
</div>

<p align=center>
<input type=submit value="Create data set">
</p>
</div>
</form>


<script language="JavaScript" type="text/javascript">
    showPanel(1);
</script> 

