<script language="JavaScript">
<!-- Begin

// Smart handling of the period
function intervalsClick ( ) {
	var frm = document.forms[0];
	var onePeriodChecked = false;

	var intervalCount = frm.intervals.length;
	for ( var i=0; i<intervalCount; i++ ) {
		if ( frm.intervals[i].checked ) {
			onePeriodChecked = true;
			break;
		}
	}
	if ( onePeriodChecked ) {
		frm.interval[3].checked = true;
	}
}

function intervalClick ( ) {

	var frm = document.forms[0];

	if ( ! frm.interval[3].checked ) {

		// Uncheck all intervals checkboxes
		var intervalCount = frm.intervals.length;
		for ( var i=0; i<intervalCount; i++ ) {
			frm.intervals[i].checked = false;
		}
	}
}

function globalClick ( ) {

	var frm = document.forms[0];

	if ( frm.global.checked ) {
		// Uncheck all continents
		frm.Africa.checked = false;
		frm.Antarctica.checked = false;
		frm.Asia.checked = false;
		frm.Australia.checked = false;
		frm.Europe.checked = false;
		frm.elements['North America'].checked = false;
		frm.elements['South America'].checked = false;
	}
}

function continentClick ( ) {

	var frm = document.forms[0];

	if (	frm.Africa.checked || 
			frm.Antarctica.checked || 
			frm.Asia.checked || 
			frm.Australia.checked || 
			frm.Europe.checked || 
			frm.elements['North America'].checked || 
			frm.elements['South America'].checked  ) {
		frm.global.checked = false;
	} else {
		// At least one must be checked, or hit the global
		frm.global.checked = true;
	}
}

function countryChange() {
	var frm = document.forms[0];
	
	if (frm.country.value != "") {
		frm.global.checked = true;
		globalClick();
	}
}

function occurrencesNoneClick ( ) {

	var frm = document.forms[0];

	if ( frm.collections_only.checked ) {
		frm.occurrences_authorizer.checked = false;
		frm.occurrences_enterer.checked = false;
		frm.occurrences_modifier.checked = false;
		frm.occurrences_occurrence_no.checked = false;
		frm.occurrences_species_name.checked = false;
		frm.occurrences_subgenus_name.checked = false;
		frm.occurrences_family_name.checked = false;
		frm.occurrences_order_name.checked = false;
		frm.occurrences_class_name.checked = false;
		frm.occurrences_abund_value.checked = false;
		frm.occurrences_abund_unit.checked = false;
		frm.occurrences_reference_no.checked = false;
		frm.occurrences_comments.checked = false;
		frm.occurrences_plant_organ.checked = false;
		frm.occurrences_plant_organ2.checked = false;
		frm.occurrences_created.checked = false;
		frm.occurrences_modified.checked = false;
	}
}

function occurrencesClick ( ) {

	var frm = document.forms[0];

	if (	frm.occurrences_authorizer.checked ||
			frm.occurrences_enterer.checked ||
			frm.occurrences_modifier.checked ||
			frm.occurrences_occurrence_no.checked ||
			frm.occurrences_species_name.checked ||
			frm.occurrences_subgenus_name.checked ||
			frm.occurrences_family_name.checked ||
			frm.occurrences_order_name.checked ||
			frm.occurrences_class_name.checked ||
			frm.occurrences_abund_value.checked ||
			frm.occurrences_abund_unit.checked ||
			frm.occurrences_reference_no.checked ||
			frm.occurrences_comments.checked ||
			frm.occurrences_plant_organ.checked ||
			frm.occurrences_plant_organ2.checked ||
			frm.occurrences_created.checked ||
			frm.occurrences_modified.checked ) {
		frm.collections_only.checked = false;
	} else {
		frm.collections_only.checked = true;
	}
}

//pass this function a checkbox.
function collsCheckAll(checkbox){
	var state = checkbox.checked;
	var frm = document.forms[0];
	//edited by Ryan 12/30/2003
	for(var i=0; i<frm.elements.length; i++){
		if(frm.elements[i].name.match("collections") &&
			frm.elements[i].name != "collections_only"){
			frm.elements[i].checked = state;
		}
	}
}


// Zips pulldown to the current user
function auth ( ) {
    // Loop over all forms on the page
    for ( var i=0; i < document.forms.length; i++ ) {
        // If we have an authorizer pulldown
        if ( document.forms[i].authorizer ) {

            var options = document.forms[i].authorizer.options;

            // Loop over each option to find our person
            for ( var loop=0; loop < options.length; loop++) {
                if ( options[loop].value == "%%authorizer%%" ) {
                    options.selectedIndex = loop;
                    break;
                }
            }
            break;
        }
    }
}


//  End -->
</script>

<center>
<h2>Download request form</h2>
</center>

<h4>This form allows you to download a file that includes selected taxonomic occurrences.</h4>

<form method=post action="bridge.pl">
<input id="action" type=hidden name="action" value="displayDownloadResults">

<hr>

<table width="100%">

<tr><td valign=top><font size=-1>
Research group or project:</font></td>

<td valign=top><font size=-1>
<select id="research_group">
</select>
</font></td>

<tr><td valign="top"><font size=-1>Data authorizer:</font></td>
<td valign="bottom"><select name="authorizer"></select>
<a href="javascript: auth();">Me</a></td>
</tr>

<tr><td nowrap>
<font size=-1>
Use data records created 
<select name="created_before_after">
<option selected>before</option>
<option>after</option>
</select>:
</td>

<td>
<select name="date">
<option selected>
<option>31</option><option>30</option><option>29</option>
<option>28</option><option>27</option><option>26</option>
<option>25</option><option>24</option><option>23</option>
<option>22</option><option>21</option><option>20</option>
<option>19</option><option>18</option><option>17</option>
<option>16</option><option>15</option><option>14</option>
<option>13</option><option>12</option><option>11</option>
<option>10</option><option>9</option><option>8</option>
<option>7</option><option>6</option><option>5</option>
<option>4</option><option>3</option><option>2</option>
<option>1</option>
</select>

<select name="month">
<option selected></option>
<option>December</option>
<option>November</option>
<option>October</option>
<option>September</option>
<option>August</option>
<option>July</option>
<option>June</option>
<option>May</option>
<option>April</option>
<option>March</option>
<option>February</option>
<option>January</option>
</select>

<select name="year">
<option selected></option>
<option>2004</option>
<option>2003</option>
<option>2002</option>
<option>2001</option>
<option>2000</option>
<option>1999</option>
<option>1998</option>
</select>
</td>
</tr>

<tr><td valign=top><font size=-1>
Taxonomic name <small><i>(genus or higher rank)</i></small>:</font></td>
<td valign=top><font size=-1>
<input  name=genus_name size=25></td></tr>

<!-- LEGACY
<tr><td valign=top><font size=-1>
Included time interval(s):
<td valign=top><font size=-1>
	<table width="100%" bgcolor="EEEEEE"><tr><td>
	<input type=radio name=interval value="Phanerozoic" checked onClick="intervalClick();"><i>all periods</i>
	<input type=radio name=interval value="Interval1" onClick="intervalClick();"><i>all of the Paleozoic</i>
	<input type=radio name=interval value="Interval2" onClick="intervalClick();"><i>all of the Meso-Cenozoic</i><p>
	<input type=radio name=interval value="other">or...<p>

	<table>
	<tr>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Neoproterozoic" onClick="intervalsClick();">Neoproterozoic</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Cambrian" onClick="intervalsClick();">Cambrian</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Ordovician" onClick="intervalsClick();">Ordovician</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Silurian" onClick="intervalsClick();">Silurian</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Devonian" onClick="intervalsClick();">Devonian</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Carboniferous" onClick="intervalsClick();">Carboniferous</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Permian" onClick="intervalsClick();">Permian</td>
	</tr>
	<tr>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Triassic" onClick="intervalsClick();">Triassic</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Jurassic" onClick="intervalsClick();">Jurassic</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Cretaceous" onClick="intervalsClick();">Cretaceous</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Tertiary" onClick="intervalsClick();">Tertiary</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Quaternary" onClick="intervalsClick();">Quaternary</td>
		<td class="cell" nowrap><input type=checkbox name=intervals value="Modern" onClick="intervalsClick();">Modern</td>
	</tr>
	</table>
	</td></tr></table></td></tr>
-->


<tr><td valign=top><font size=-1>
If you only want lists from one time span, enter the oldest and youngest intervals:</font></td>

<td valign=top><font size=-1>
<input name=max_interval_name size=25> - <input name=min_interval_name size=25>
</font></td></font></td></tr>

<!-- LEGACY
<tr><td valign=top><font size=-1>
If you only want lists from one epoch, enter its name:
<td valign=top><font size=-1>
<input name=epoch size=25>

<tr><td valign=top><font size=-1>
Likewise for a single age/stage:
<td valign=top><font size=-1>
<input name=stage size=25>
-->

<tr><td valign=top><font size=-1>
Environment:</font></td>

<td valign=top><font size=-1>
<select id="environment"></select>
</font></td></tr>

<tr><td valign=top><font size=-1>
Select a single continent:
</font></td>

<td valign=top><font size=-1>
<table bgcolor="EEEEEE"><tr><td class="cell">
<input type=checkbox name="global" value="YES" checked onClick="globalClick();"><i>global</i><br>
<input type=checkbox name="Africa" value="YES" onClick="continentClick();">Africa
<input type=checkbox name="Antarctica" value="YES" onClick="continentClick();">Antarctica
<input type=checkbox name="Asia" value="YES" onClick="continentClick();">Asia
<input type=checkbox name="Australia" value="YES" onClick="continentClick();">Australia
<input type=checkbox name="Europe" value="YES" onClick="continentClick();">Europe
<input type=checkbox name="North America" value="YES" onClick="continentClick();">North America
<input type=checkbox name="South America" value="YES" onClick="continentClick();">South America<br>
</td></tr></table>
</font></td>

<tr><td valign=top><font size=-1>
... or a single country:</font></td>

<td valign=top><font size=-1>
<select id="country" onChange="countryChange()"></select>
</font></td>

<tr><td valign=top><font size=-1>
Lump lists from the same county and formation? - WARNING: algorithm not yet functional
<!--if not functional, then why is it here??-->
</font></td>

<td valign=top><font size=-1><select name=lumplists>
<option selected>no, keep them separate</option>
<option>yes, lump them</option>
</select></font></td></tr>

<tr><td valign=top><font size=-1>
Lump occurrences of the same genus from the same collection?
</font></td>

<td valign=top><font size=-1><select name=lumpgenera>
<option selected value="NO">no, keep them separate</option>
<option value="YES">yes, lump them</option>
</select>
</font></td></tr>

<tr><td valign=top><font size=-1>
Include lists with poor geographic data (no county or lat/long)?</font></td>
<td valign=top><font size=-1><select name=strictgeography>
<option selected value="YES">yes, include them</option>
<option value="NO">no, exclude them</option>
</select>
</font></td></tr>

<tr><td valign=top><font size=-1>
Include lists with poor temporal data (no epoch or stage)?</font></td>
<td valign=top><font size=-1><select name=strictchronology>
<option selected value="YES">yes, include them</option>
<option value="NO">no, exclude them</option>
</select>
</font></td></tr>

<tr><td valign=top><font size=-1>
Include generically indeterminate occurrences?</font></td>
<td valign=top><font size=-1><select name=indet>
<option selected value="YES">yes, include them</option>
<option value="NO">no, exclude them</option>
</select>
</font></td></tr>

<tr><td valign=top><font size=-1>
Type of output:</font></td>
<td valign=top><font size=-1><select name=collections_put>
<option selected>comma-delimited text</option>
<option>tab-delimited text</option>
<option>CONJUNCT</option>
</select>
</font></td></tr>


<tr><td valign=top><font size=-1>
Occurrence fields you want:</font><br>
<font size=-2>(the collection ID and genus name fields are always output)</font>
</td>

<td valign=top><font size=-1>
<table bgcolor="EEEEEE">
<tr><td><font size=-1><input type=checkbox name=occurrences_authorizer value="YES" onClick="occurrencesClick();">authorizer</font></td>
<td><font size=-1><input type=checkbox name=occurrences_enterer value="YES" onClick="occurrencesClick();">enterer</font></td>
<td><font size=-1><input type=checkbox name=occurrences_modifier value="YES" onClick="occurrencesClick();">modifier</font></td>
<td><font size=-1><input type=checkbox name=occurrences_occurrence_no value="YES" onClick="occurrencesClick();">occurrence no</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_reference_no value="YES" onClick="occurrencesClick();">reference no</font></td>
<!--input type=checkbox name=occurrences_collection_no value="YES">collection no-->
<!--input type=checkbox name=occurrences_genus_reso value="YES">genus reso-->
<!--input type=checkbox name=occurrences_genus_name value="YES">genus name-->
<!--input type=checkbox name=occurrences_species_reso value="YES">species reso-->
<td><font size=-1><input type=checkbox name=occurrences_class_name value="YES" onCLick="occurrencesClick();">class name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_order_name value="YES" onCLick="occurrencesClick();">order name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_family_name value="YES" onCLick="occurrencesClick();">family name</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_subgenus_name value="YES" onClick="occurrencesClick();">subgenus name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_species_name value="YES" onClick="occurrencesClick();">species name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_abund_value value="YES" onClick="occurrencesClick();">abund value</font></td>
<td><font size=-1><input type=checkbox name=occurrences_abund_unit value="YES" onClick="occurrencesClick();">abund unit</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_comments value="YES" onClick="occurrencesClick();">comments</font></td>
<td><font size=-1><input type=checkbox name=occurrences_plant_organ value="YES" onClick="occurrencesClick();">plant organ</font></td>
<td><font size=-1><input type=checkbox name=occurrences_plant_organ2 value="YES" onClick="occurrencesClick();">plant organ 2</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_created value="YES" onClick="occurrencesClick();">created</font></td>
<td><font size=-1><input type=checkbox name=occurrences_modified value="YES" onClick="occurrencesClick();">modified</font></td>
</tr>

<tr><td colspan=2><font size=-1><input type=checkbox name=collections_only value="YES" onClick="occurrencesNoneClick();"><nobr><b>NONE</b> (get collection data only)</nobr></font></td>
<td colspan=2><font size=-1><input type=checkbox name=distinct_taxa_only value="YES" onClick="occurrencesNoneClick();"><nobr>get distinct genera only</nobr></font></td>
</tr>

</table>
</td></tr>



<tr><td valign=top><font size=-1>
Ecology/taphonomy fields you want:<br></font>
<font size=-2>(values are for directly scored taxa only)</font>
</td>

<td valign=top>
<nobr>
<select id="ecology1"></select>
<select id="ecology2"></select>
<select id="ecology3"></select>
</nobr>
</td></tr>

<tr><td valign=top><font size=-1>
Main collection data fields you want:
</font></td>

<td valign=top>

	<table border=0 width="100%" bgcolor="EEEEEE">
	<tr>
	<!--<td class="cell" nowrap><center><input type=button onclick="collsCheckAll(true)" value="Check all"></td>-->
	<td class="cell" nowrap><input type=checkbox name=toggleAll title="Check all" onclick="collsCheckAll(this);"><B>Check all</B></td>
	<td class="cell" nowrap><input type=checkbox name=collections_authorizer value="YES">authorizer</td>
	<td class="cell" nowrap><input type=checkbox name=collections_enterer value="YES">enterer</td>
	<td class="cell" nowrap><input type=checkbox name=collections_modifier value="YES">modifier</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<!--td><input type=checkbox name=collections_collection_no value="YES">collection_no-->
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_subset value="YES"><nobr>collection subset</nobr></td>
	<td class="cell" nowrap><input type=checkbox name=collections_reference_no value="YES">reference number</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_name value="YES">collection name</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_aka value="YES">collection aka</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_country value="YES">country</td>
	<td class="cell" nowrap><input type=checkbox name=collections_state value="YES">state</td>
	<td class="cell" nowrap><input type=checkbox name=collections_county value="YES">county</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_latdeg value="YES">lat degrees</td>
	<td class="cell" nowrap><input type=checkbox name=collections_latmin value="YES">lat minutes
	<input type=checkbox name=collections_latsec value="YES">lat seconds</td>
	<td class="cell" nowrap><input type=checkbox name=collections_latdec value="YES">lat decimal</td>
	<td class="cell" nowrap><input type=checkbox name=collections_latdir value="YES">lat direction</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_lngdeg value="YES">long degrees</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lngmin value="YES">long minutes
	<input type=checkbox name=collections_lngsec value="YES">long seconds</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lngdec value="YES">long decimal</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lngdir value="YES">long direction</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_latlng_basis value="YES">lat/long basis</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geogscale value="YES">geog scale</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geogcomments value="YES">geog comments</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_emlperiod_max value="YES">eml period max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_period_max value="YES">period max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_emlperiod_min value="YES">eml period min</td>
	<td class="cell" nowrap><input type=checkbox name=collections_period_min value="YES">period min</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_emlepoch_max value="YES">eml epoch max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_epoch_max value="YES">epoch max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_emlepoch_min value="YES">eml epoch min</td>
	<td class="cell" nowrap><input type=checkbox name=collections_epoch_min value="YES">epoch min</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_emlintage_max value="YES">eml int age max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_intage_max value="YES">int age max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_emlintage_min value="YES">eml int age min</td>
	<td class="cell" nowrap><input type=checkbox name=collections_intage_min value="YES">int age min</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_emllocage_max value="YES">eml local age max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_locage_max value="YES">local age max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_emllocage_min value="YES">eml local age min</td>
	<td class="cell" nowrap><input type=checkbox name=collections_locage_min value="YES">local age min</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_max_interval_no value="YES">max interval</td>
	<td class="cell" nowrap><input type=checkbox name=collections_min_interval_no value="YES">min interval</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_zone value="YES">zone</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geological_group value="YES">geological group</td>
	<td class="cell" nowrap><input type=checkbox name=collections_formation value="YES">formation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_member value="YES">member</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_localsection value="YES">local section</td>
	<td class="cell" nowrap><input type=checkbox name=collections_localbed value="YES">local bed</td>
	<td class="cell" nowrap><input type=checkbox name=collections_localorder value="YES">local order</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_regionalsection value="YES">regional section</td>
	<td class="cell" nowrap><input type=checkbox name=collections_regionalbed value="YES">regional bed</td>
	<td class="cell" nowrap><input type=checkbox name=collections_regionalorder value="YES">regional order</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_stratscale value="YES">strat scale</td>
	<td class="cell" nowrap><input type=checkbox name=collections_stratcomments value="YES">strat comments</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithdescript value="YES">lith description</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_lithadj value="YES">lith adj 1</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithification value="YES">lithification 1</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithology1 value="YES">lithology 1</td>
	<td class="cell" nowrap><input type=checkbox name=collections_fossilsfrom1 value="YES">fossils from 1</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_lithadj2 value="YES">lith adj 2</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithification2 value="YES">lithification 2</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithology2 value="YES">lithology 2</td>
	<td class="cell" nowrap><input type=checkbox name=collections_fossilsfrom2 value="YES">fossils from 2</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_environment value="YES">environment</td>
	<td class="cell" nowrap><input type=checkbox name=collections_tectonic_setting value="YES">tectonic setting</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geology_comments value="YES">geology comments</td>
	<td class="cell" nowrap>&nbsp;</td></tr>
	<td class="cell" nowrap>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_pres_mode value="YES">preservation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lagerstatten value="YES">Lagerst&auml;tten type</td>
	<td class="cell" nowrap><input type=checkbox name=collections_concentration value="YES">concentration</td>
	<td class="cell" nowrap><input type=checkbox name=collections_assembl_comps value="YES">assemblage components</td></tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_orientation value="YES">spatial orientation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_preservation_quality value="YES">preservation quality</td>
	<td class="cell" nowrap><input type=checkbox name=collections_art_whole_bodies value="YES">articulated whole bodies</td>
	<td class="cell" nowrap><input type=checkbox name=collections_disart_assoc_maj_elems value="YES">associated major elements</td></tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_disassoc_maj_elems value="YES">disassociated major elements</td>
	<td class="cell" nowrap><input type=checkbox name=collections_disassoc_minor_elems value="YES">disassociated minor elements</td>
	<td class="cell" nowrap><input type=checkbox name=collections_sorting value="YES">size sorting</td>
	<td class="cell" nowrap><input type=checkbox name=collections_fragmentation value="YES">fragmentation</td></tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_bioerosion value="YES">bioerosion</td>
	<td class="cell" nowrap><input type=checkbox name=collections_encrustation value="YES">encrustation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_feed_pred_traces value="YES">feeding/predation traces</td>
	<td class="cell" nowrap><input type=checkbox name=collections_temporal_resolution value="YES">temporal resolution</td></tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_spatial_resolution value="YES">spatial resolution</td>
	<td class="cell" nowrap><input type=checkbox name=collections_taphonomy_comments value="YES">taphonomy comments</td></tr>

	<tr>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_type value="YES">collection purpose</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_coverage value="YES">collection coverage</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_attributes value="YES">collection attributes</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_size value="YES">collection size</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_comments value="YES">collection comments</td>
	<td class="cell" nowrap><input type=checkbox name=collections_taxonomy_comments value="YES">taxonomy comments</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_created value="YES">created</td>
	<td class="cell" nowrap><input type=checkbox name=collections_modified value="YES">modified</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	</table>

	</td>
</tr>

</table>

<p align=center>
	<input type=submit value="Create data set">
</p>


</form>
