<script language="JavaScript" type="text/javascript">
<!-- Begin

// Smart handling of the period
function intervalsClick ( ) {
	var frm = document.forms[0];
	var onePeriodChecked = false;

	var intervalCount = frm.intervals.length;
	for ( var i=0; i<intervalCount; i++ ) {
		if ( frm.intervals[i].checked ) {
			onePeriodChecked = true;
			break;
		}
	}
	if ( onePeriodChecked ) {
		frm.interval[3].checked = true;
	}
}

function intervalClick ( ) {

	var frm = document.forms[0];

	if ( ! frm.interval[3].checked ) {

		// Uncheck all intervals checkboxes
		var intervalCount = frm.intervals.length;
		for ( var i=0; i<intervalCount; i++ ) {
			frm.intervals[i].checked = false;
		}
	}
}

function globalClick ( ) {

	var frm = document.forms[0];

	if ( frm.global.checked ) {
		// Uncheck all continents
		frm.Africa.checked = false;
		frm.Antarctica.checked = false;
		frm.Asia.checked = false;
		frm.Australia.checked = false;
		frm.Europe.checked = false;
		frm.elements['North America'].checked = false;
		frm.elements['South America'].checked = false;
	}
}

function continentClick ( ) {

	var frm = document.forms[0];

	if (	frm.Africa.checked || 
			frm.Antarctica.checked || 
			frm.Asia.checked || 
			frm.Australia.checked || 
			frm.Europe.checked || 
			frm.elements['North America'].checked || 
			frm.elements['South America'].checked  ) {
		frm.global.checked = false;
	} else {
		// At least one must be checked, or hit the global
		frm.global.checked = true;
	}
}

function countryChange() {
	var frm = document.forms[0];

	if (frm.country.value != "") {
		frm.global.checked = true;
		globalClick();
	}
}

function occurrencesNoneClick ( ) {

	var frm = document.forms[0];

	if ( frm.collections_only.checked ) {
		frm.occurrences_authorizer.checked = false;
		frm.occurrences_enterer.checked = false;
		frm.occurrences_modifier.checked = false;
		frm.occurrences_occurrence_no.checked = false;
		frm.occurrences_species_name.checked = false;
		frm.occurrences_subgenus_name.checked = false;
		frm.occurrences_family_name.checked = false;
		frm.occurrences_order_name.checked = false;
		frm.occurrences_class_name.checked = false;
		frm.occurrences_abund_value.checked = false;
		frm.occurrences_abund_unit.checked = false;
		frm.occurrences_reference_no.checked = false;
		frm.occurrences_comments.checked = false;
		frm.occurrences_plant_organ.checked = false;
		frm.occurrences_plant_organ2.checked = false;
		frm.occurrences_created.checked = false;
		frm.occurrences_modified.checked = false;
	}
}

function occurrencesClick ( ) {

	var frm = document.forms[0];

	if (	frm.occurrences_authorizer.checked ||
			frm.occurrences_enterer.checked ||
			frm.occurrences_modifier.checked ||
			frm.occurrences_occurrence_no.checked ||
			frm.occurrences_species_name.checked ||
			frm.occurrences_subgenus_name.checked ||
			frm.occurrences_family_name.checked ||
			frm.occurrences_order_name.checked ||
			frm.occurrences_class_name.checked ||
			frm.occurrences_abund_value.checked ||
			frm.occurrences_abund_unit.checked ||
			frm.occurrences_reference_no.checked ||
			frm.occurrences_comments.checked ||
			frm.occurrences_plant_organ.checked ||
			frm.occurrences_plant_organ2.checked ||
			frm.occurrences_created.checked ||
			frm.occurrences_modified.checked ) {
		frm.collections_only.checked = false;
	} else {
		frm.collections_only.checked = true;
	}
}

//pass this function a checkbox.
function collsCheckAll(checkbox){
	var state = checkbox.checked;
	var frm = document.forms[0];
	//edited by Ryan 12/30/2003
	for(var i=0; i<frm.elements.length; i++){
		if(frm.elements[i].name.match("collections") &&
			frm.elements[i].name != "collections_only"){
			frm.elements[i].checked = state;
		}
	}
}


// Zips pulldown to the current user
function auth ( ) {
    // Loop over all forms on the page
    for ( var i=0; i < document.forms.length; i++ ) {
        // If we have an authorizer pulldown
        if ( document.forms[i].authorizer ) {

            var options = document.forms[i].authorizer.options;

            // Loop over each option to find our person
            for ( var loop=0; loop < options.length; loop++) {
                if ( options[loop].value == "%%authorizer%%" ) {
                    options.selectedIndex = loop;
                    break;
                }
            }
            break;
        }
    }
}

//  End -->
</script>


<DIV class="title">Download request form</div>

<p>This form allows you to download a file that includes selected taxonomic occurrences. To compute a diversity curve, you need to check off either "epoch" or "10 m.y. bin" in the "Collection fields" part of the form.</p>

<form method=post action="bridge.pl">
<input id="action" type=hidden name="action" value="displayDownloadResults">

<hr>

<center><h3>Options</h3></center>

<table width="100%" cellpadding="3" cellspacing="0">

<tr class="lightGrey">
  <td valign=top><font size="-1">
    Output data:
  </font></td>
  <td>
    <select name="output_data">
      <option value="occurrences">occurrences</option>
      <option value="genera">genera</option>
      <option value="collections">collections</option>
    </select>
  </td>
</tr>  

<tr>
<td valign=top><font size=-1>Output format:</font></td>
<td valign=top><font size=-1><select name=output_format>
<option selected>comma-delimited text</option>
<option>tab-delimited text</option>
<option>CONJUNCT</option>
</select>
</font></td></tr>


<tr class="lightGrey">
<td valign="top"><font size=-1>Data authorizer:</font></td>
<td valign="bottom">
<select name="authorizer"></select>
<a href="javascript: auth();">Me</a></td>
</tr>

<tr>
<td valign=top><font size=-1>Research group or project:</font></td>
<td valign=top><font size=-1>
<select id="research_group">
</select>
</font></td>


<tr class="lightGrey">
<td valign=top nowrap><font size=-1>Use data records created 
<select name="created_before_after">
<option selected>before</option>
<option>after</option>
</select>:
</td>
<td>
<select name="date">
<option selected></option>
<SCRIPT>fillDays();</SCRIPT>
</select>
<select name="month">
<option selected></option>
<SCRIPT>fillMonths();</SCRIPT>
</select>
<select name="year">
<option selected></option>
<SCRIPT>fillYears();</SCRIPT>
</select>
</td>
</tr>

<tr>
<td nowrap><font size=-1>Use occurrences published 
<select name="published_before_after">
<option>before</option>
<option selected>after</option>
</select>:
</font></td>
<td><font size=-1>
<input name="pubyr" size=6>
</font></td>
</tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Name of taxon or taxa <small><i>(genus or higher rank)</i></small>:</font></td>
<td valign=top><font size=-1>
<textarea name=taxon_name rows=2 cols=50></textarea></td></tr>

<tr>
<td valign=top><font size=-1>If you only want lists from one time span, enter the oldest and youngest intervals <small><i>(by name or by age in Ma)</i></small>:</font></td>
<td valign=top><font size=-1>
<input name=max_interval_name size=25> - <input name=min_interval_name size=25>
</font></td></font></td></tr>

<tr>
<td valign=top><font size=-1>... or if you want to bin the data temporally, select a time scale:</font></td>
<td valign=top><font size=-1>
%%time scale%%
</font></td></tr>

<tr>
<td valign=top><font size=-1>If you selected a scale, you can select a field to be tallied:</font></td>
<td valign=top><font size=-1>
<select name=binned_field>
<option>
<option>ecology
<option value="plant_organ">plant organ
<option value="plant_organ2">plant organ2
<option>country
<option value="geogscale">geog scale
<option value="stratscale">strat scale
<option value="lithology1">lithology 1
<option value="lithology2">lithology 2
<option>environment
<option value="tectonic_setting">tectonic setting
<option value="assembl_comps">assemblage components
<option value="temporal_resolution">temporal resolution
<option value="spatial_resolution">spatial resolution
<option value="collection_type">collection purpose
</select>
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Select lithologies:</font></td>
<td valign=top><font size=-1>
<input type=checkbox name="lithology_carbonate" value="YES" checked>carbonate
<input type=checkbox name="lithology_mixed" value="YES" checked>mixed
<input type=checkbox name="lithology_siliciclastic" value="YES" checked>siliciclastic
<input type=checkbox name="lithology_unknown" value="YES" checked>unknown
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1> ... or 
<select name="include_exclude_lithology1">
<option>include</option>
<option>exclude</option>
</select> a single lithology:</font></td>
<td valign=top><font size=-1>
<select id="lithology1"></select>
</font></td></tr>


<tr>
<td valign=middle><font size=-1>Select environments:</font></td>
<td valign=top><font size=-1>
<input type=checkbox name="environment_carbonate" value="YES" checked>carbonate
<input type=checkbox name="environment_siliciclastic" value="YES" checked>siliciclastic
<input type=checkbox name="environment_terrestrial" value="YES" checked>terrestrial
<input type=checkbox name="environment_unknown" value="YES" checked>unknown
</font></td></tr>

<tr>
<td valign=top><font size=-1> ... or 
<select name="include_exclude_environment">
<option>include</option>
<option>exclude</option>
</select>a single environment:</font></td>
<td valign=top><font size=-1>
<select id="environment"></select>
</font></td></tr>

<tr class="lightGrey">
<td valign=middle><font size=-1>Select continents:</font></td>
<td valign=top><font size=-1>
<table><tr><td class="cell">
<input type=checkbox name="global" value="YES" checked onClick="globalClick();"><i>global</i><br>
<input type=checkbox name="Africa" value="YES" onClick="continentClick();">Africa
<input type=checkbox name="Antarctica" value="YES" onClick="continentClick();">Antarctica
<input type=checkbox name="Asia" value="YES" onClick="continentClick();">Asia
<input type=checkbox name="Australia" value="YES" onClick="continentClick();">Australia
<input type=checkbox name="Europe" value="YES" onClick="continentClick();">Europe
<input type=checkbox name="North America" value="YES" onClick="continentClick();">North America
<input type=checkbox name="South America" value="YES" onClick="continentClick();">South America<br>
</td></tr></table>
</font></td>

<tr class="lightGrey">
<td valign=top><font size=-1>... or 
<select name="include_exclude_country">
<option>include</option>
<option>exclude</option>
</select>a single country:</font></td>
<td valign=top><font size=-1>
<select id="country" onChange="countryChange()"></select>
</font></td>

<tr>
<td valign=top><font size=-1>Latitudinal range:</font</td>
<td valign=top><font size=-1>
<input name="latmin" size="4" value="-90">&deg; to
<input name="latmax" size="4" value="90">&deg;
</font></td>

<tr>
<td valign=top><font size=-1>Longitudinal range:</font</td>
<td valign=top><font size=-1>
<input name="lngmin" size="4" value="-180">&deg; to
<input name="lngmax" size="4" value="180">&deg;
</font></td>

<tr class="lightGrey">
<td valign=top><font size=-1>Paleolatitudinal range:</font</td>
<td valign=top><font size=-1>
<input name="paleolatmin" size="4" value="-90">&deg; to
<input name="paleolatmax" size="4" value="90">&deg;
</font></td>

<tr class="lightGrey">
<td valign=top><font size=-1>Paleolongitudinal range:</font</td>
<td valign=top><font size=-1>
<input name="paleolngmin" size="4" value="-180">&deg; to
<input name="paleolngmax" size="4" value="180">&deg;
</font></td>

<tr>
<td valign=top><font size=-1>Geographic scale of collections:</font></td>
<td valign=top><font size=-1>
<input type=checkbox name="geogscale_hand_sample" value="YES" checked>hand sample
<input type=checkbox name="geogscale_small_collection" value="YES" checked>small collection
<input type=checkbox name="geogscale_outcrop" value="YES" checked>outcrop
<input type=checkbox name="geogscale_local_area" value="YES" checked>local area
<input type=checkbox name="geogscale_basin" value="YES" checked>basin
<input type=checkbox name="geogscale_unknown" value="YES" checked>unknown
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Stratigraphic scale of collections:</font></td>
<td valign=top><font size=-1>
<input type=checkbox name="stratscale_bed" value="YES" checked>bed
<input type=checkbox name="stratscale_group_of_beds" value="YES" checked>group of beds
<input type=checkbox name="stratscale_member" value="YES" checked>member
<input type=checkbox name="stratscale_formation" value="YES" checked>formation
<input type=checkbox name="stratscale_group" value="YES" checked>group
<input type=checkbox name="stratscale_unknown" value="YES" CHECKED>unknown
</font></td></tr>

<tr>
<td valign=top><font size=-1>Reason for describing collection:</font></td>
<td valign=top><font size=-1>
<input type=checkbox name='collection_type_archaeological' value="YES" checked> archaeological
<input type=checkbox name='collection_type_biostratigraphic' value="YES" checked> biostratigraphic
<input type=checkbox name='collection_type_paleoecologic' value="YES" checked> paleoecologic
<input type=checkbox name='collection_type_taphonomic' value="YES" checked > taphonomic
<input type=checkbox name='collection_type_taxonomic' value="YES" checked> taxonomic
<input type=checkbox name='collection_type_general_faunal/floral' value="YES" checked> general faunal/floral
<input type=checkbox name='collection_type_unknown' value="YES" checked> unknown
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Lump collections if they are from the exact same coordinate, formation, and member?</font></td>
<td valign=top><font size=-1>
<select name=lump_by_mbr>
<option selected value="NO">no, keep them separate
<option value="YES">yes, lump them
</select>
</font></td></tr>

<tr>
<td valign=top><font size=-1>Lump occurrences of the same genus from the same collection?</font></td>
<td valign=top><font size=-1>
<select name=lumpgenera>
<option selected value="NO">no, keep them separate</option>
<option value="YES">yes, lump them</option>
</select>
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Replace genus names with subgenus names, so subgenera are treated as separate genera?</font></td>
<td valign=top><font size=-1>
<select name=split_subgenera>
<option selected value="NO">no, use the genus name
<option value="YES">yes, use the subgenus name
</select>
</font></td></tr>

<tr>
<td valign=top><font size=-1>Include generically indeterminate occurrences?</font></td>
<td valign=top><font size=-1>
<select name=indet>
<option selected value="NO">no, exclude them</option>
<option value="YES">yes, include them</option>
</select>
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Include specifically indeterminate occurrences?</font></td>
<td valign=top><font size=-1>
<select name=sp>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</font></td></tr>


<tr>
<td valign=top><font size=-1>Include genus names that are qualified with "aff." or quotes?</font></td>
<td valign=top><font size=-1>
<select name=poor_genus_reso>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Include occurrences with informal names?</font></td>
<td valign=top><font size=-1>
<select name=informal>
<option selected value="NO">no, exclude them</option>
<option value="YES">yes, include them</option>
</select>
</font></td></tr>

<tr>
<td valign=top><font size=-1>Include occurrences falling outside their age ranges in Sepkoski's Compendium?</font></td>
<td valign=top><font size=-1>
<select name=compendium_ranges>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</font></td></tr>

<tr class="lightGrey">
<td valign=top><font size=-1>Include occurrences without abundance data?</font></td>
<td valign=top><font size=-1>
<select name=without_abundance>
<option value="NO">no, exclude them</option>
<option selected value="YES">yes, include them</option>
</select>
</font></td></tr>

</table>

<hr>
<center><h3>Occurrence fields</h3></center>

<p>Check the occurrence and ecology/taphonomy fields that you want output.
Note that the collection ID and genus name fields are always output.</p>

<table width="100%">

<td valign=top><font size=-1>
<table class="lightGrey">
<tr><td><font size=-1><input type=checkbox name=occurrences_authorizer value="YES" onClick="occurrencesClick();">authorizer</font></td>
<td><font size=-1><input type=checkbox name=occurrences_enterer value="YES" onClick="occurrencesClick();">enterer</font></td>
<td><font size=-1><input type=checkbox name=occurrences_modifier value="YES" onClick="occurrencesClick();">modifier</font></td>
<td><font size=-1><input type=checkbox name=occurrences_occurrence_no value="YES" onClick="occurrencesClick();">occurrence no</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_reference_no value="YES" onClick="occurrencesClick();">reference no</font></td>
<td><font size=-1><input type=checkbox name=occurrences_class_name value="YES" onCLick="occurrencesClick();">class name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_order_name value="YES" onCLick="occurrencesClick();">order name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_family_name value="YES" onCLick="occurrencesClick();">family name</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_subgenus_name value="YES" onClick="occurrencesClick();">subgenus name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_species_name value="YES" onClick="occurrencesClick();">species name</font></td>
<td><font size=-1><input type=checkbox name=occurrences_abund_value value="YES" onClick="occurrencesClick();">abund value</font></td>
<td><font size=-1><input type=checkbox name=occurrences_abund_unit value="YES" onClick="occurrencesClick();">abund unit</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_comments value="YES" onClick="occurrencesClick();">comments</font></td>
<td><font size=-1><input type=checkbox name=occurrences_plant_organ value="YES" onClick="occurrencesClick();">plant organ</font></td>
<td><font size=-1><input type=checkbox name=occurrences_plant_organ2 value="YES" onClick="occurrencesClick();">plant organ 2</font></td>
</tr>

<tr><td><font size=-1><input type=checkbox name=occurrences_created value="YES" onClick="occurrencesClick();">created</font></td>
<td><font size=-1><input type=checkbox name=occurrences_modified value="YES" onClick="occurrencesClick();">modified</font></td>
</tr>

</table>
</td></tr>

<tr>
<td valign=top>
<nobr>
<select id="ecology1"></select>
<select id="ecology2"></select>
<select id="ecology3"></select>
</nobr>
<nobr>
<select id="ecology4"></select>
<select id="ecology5"></select>
<select id="ecology6"></select>
</nobr>
</td></tr>

</table>

<hr>

<center><h3>Collection fields</h3></center>

<p>Check the fields from the main collection data table that you want output.</p>

<table width="100%">

<td valign=top>

	<table border=0 width="100%" class="lightGrey">
	<tr>
	<td class="cell" nowrap><input type=checkbox name=toggleAll title="Check all" onclick="collsCheckAll(this);"><B>Check all</B></td>
	<td class="cell" nowrap><input type=checkbox name=collections_authorizer value="YES">authorizer</td>
	<td class="cell" nowrap><input type=checkbox name=collections_enterer value="YES">enterer</td>
	<td class="cell" nowrap><input type=checkbox name=collections_modifier value="YES">modifier</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_subset value="YES"><nobr>collection subset</nobr></td>
	<td class="cell" nowrap><input type=checkbox name=collections_reference_no value="YES">reference number</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_name value="YES">collection name</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_aka value="YES">collection aka</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_country value="YES">country</td>
	<td class="cell" nowrap><input type=checkbox name=collections_state value="YES">state</td>
	<td class="cell" nowrap><input type=checkbox name=collections_county value="YES">county</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_lng value="YES">longitude in 
    <select name="collections_lng_format">
      <option value="DMS">deg/min/sec+dir</option>
      <option value="decimal">decimal</option>
    </select>  
    </td>
	<td class="cell" nowrap><input type=checkbox name=collections_lat value="YES">latitude in
    <select name="collections_lat_format">
      <option value="DMS">deg/min/sec+dir</option>
      <option value="decimal">decimal</option>
    </select>  
    </td>
	<td class="cell" nowrap><input type=checkbox name=collections_paleolng value="YES">paleolongitude in 
    <select name="collections_paleolng_format">
      <option value="DMS">deg/min/sec+dir</option>
      <option value="decimal">decimal</option>
    </select>  
    </td>
	<td class="cell" nowrap><input type=checkbox name=collections_paleolat value="YES">paleolatitude in
    <select name="collections_paleolat_format">
      <option value="DMS">deg/min/sec+dir</option>
      <option value="decimal">decimal</option>
    </select>  
    </td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_latlng_basis value="YES">lat/long basis</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geogscale value="YES">geog scale</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geogcomments value="YES">geog comments</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap colspan=4>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_period value="YES">period</td>
	<td class="cell" nowrap><input type=checkbox name=collections_epoch value="YES">epoch</td>
	<td class="cell" nowrap><input type=checkbox name=collections_10mybin value="YES" CHECKED>10 m.y. bin</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_max_interval_no value="YES">max interval</td>
	<td class="cell" nowrap><input type=checkbox name=collections_min_interval_no value="YES">min interval</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>
    
	<tr>
	<td class="cell" nowrap colspan=4>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap colspan=4><i>The following 8 fields are obsolete, but you can still download the old data</i></td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_epoch_max value="YES">epoch max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_epoch_min value="YES">epoch min</td>
	<td class="cell" nowrap><input type=checkbox name=collections_period_max value="YES">period max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_period_min value="YES">period min</td>
	</tr>
    
	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_intage_max value="YES">international age/stage max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_intage_min value="YES">international age/stage min</td>
	<td class="cell" nowrap><input type=checkbox name=collections_locage_max value="YES">local age/stage max</td>
	<td class="cell" nowrap><input type=checkbox name=collections_locage_min value="YES">local age/stage min</td>
	</tr>

	<tr>
	<td class="cell" nowrap colspan=4>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_zone value="YES">zone</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geological_group value="YES">geological group</td>
	<td class="cell" nowrap><input type=checkbox name=collections_formation value="YES">formation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_member value="YES">member</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_localsection value="YES">local section</td>
	<td class="cell" nowrap><input type=checkbox name=collections_localbed value="YES">local bed</td>
	<td class="cell" nowrap><input type=checkbox name=collections_localorder value="YES">local order</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_regionalsection value="YES">regional section</td>
	<td class="cell" nowrap><input type=checkbox name=collections_regionalbed value="YES">regional bed</td>
	<td class="cell" nowrap><input type=checkbox name=collections_regionalorder value="YES">regional order</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_stratscale value="YES">strat scale</td>
	<td class="cell" nowrap><input type=checkbox name=collections_stratcomments value="YES">strat comments</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithdescript value="YES">lith description</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap colspan=5>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_lithadj value="YES">lith adj 1</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithification value="YES">lithification 1</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithology1 value="YES">lithology 1</td>
	<td class="cell" nowrap><input type=checkbox name=collections_fossilsfrom1 value="YES">fossils from 1</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_lithadj2 value="YES">lith adj 2</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithification2 value="YES">lithification 2</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lithology2 value="YES">lithology 2</td>
	<td class="cell" nowrap><input type=checkbox name=collections_fossilsfrom2 value="YES">fossils from 2</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_environment value="YES">environment</td>
	<td class="cell" nowrap><input type=checkbox name=collections_tectonic_setting value="YES">tectonic setting</td>
	<td class="cell" nowrap><input type=checkbox name=collections_geology_comments value="YES">geology comments</td>
	<td class="cell" nowrap>&nbsp;</td>
    </tr>

	<tr>
	<td class="cell" nowrap colspan=4>&nbsp;</td></tr>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_pres_mode value="YES">preservation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_lagerstatten value="YES">Lagerst&auml;tten type</td>
	<td class="cell" nowrap><input type=checkbox name=collections_concentration value="YES">concentration</td>
	<td class="cell" nowrap><input type=checkbox name=collections_assembl_comps value="YES">assemblage components</td>
    </tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_orientation value="YES">spatial orientation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_preservation_quality value="YES">preservation quality</td>
	<td class="cell" nowrap><input type=checkbox name=collections_art_whole_bodies value="YES">articulated whole bodies</td>
	<td class="cell" nowrap><input type=checkbox name=collections_disart_assoc_maj_elems value="YES">associated major elements</td>
    </tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_disassoc_maj_elems value="YES">disassociated major elements</td>
	<td class="cell" nowrap><input type=checkbox name=collections_disassoc_minor_elems value="YES">disassociated minor elements</td>
	<td class="cell" nowrap><input type=checkbox name=collections_sorting value="YES">size sorting</td>
	<td class="cell" nowrap><input type=checkbox name=collections_fragmentation value="YES">fragmentation</td>
    </tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_bioerosion value="YES">bioerosion</td>
	<td class="cell" nowrap><input type=checkbox name=collections_encrustation value="YES">encrustation</td>
	<td class="cell" nowrap><input type=checkbox name=collections_feed_pred_traces value="YES">feeding/predation traces</td>
	<td class="cell" nowrap><input type=checkbox name=collections_temporal_resolution value="YES">temporal resolution</td>
    </tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_spatial_resolution value="YES">spatial resolution</td>
	<td class="cell" nowrap><input type=checkbox name=collections_taphonomy_comments value="YES">taphonomy comments</td>
	<td class="cell" nowrap><input type=checkbox name=collections_abund_in_sediment value="YES">abundance in sediment</td>
    <td class="cell" nowrap>&nbsp;</td>
    <td class="cell" nowrap>&nbsp;</td>
    </tr>

	<tr>
	<td class="cell" nowrap colspan=4>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_type value="YES">collection purpose</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_coverage value="YES">collection coverage</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_attributes value="YES">collection attributes</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_size value="YES">collection size</td>
	<td class="cell" nowrap><input type=checkbox name=collections_collection_comments value="YES">collection comments</td>
	<td class="cell" nowrap><input type=checkbox name=collections_taxonomy_comments value="YES">taxonomy comments</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	<tr>
	<td class="cell" nowrap><input type=checkbox name=collections_created value="YES">created</td>
	<td class="cell" nowrap><input type=checkbox name=collections_modified value="YES">modified</td>
	<td class="cell" nowrap>&nbsp;</td>
	<td class="cell" nowrap>&nbsp;</td>
	</tr>

	</table>

	</td>
</tr>

</table>

<hr>

<p align=center>
<input type=submit value="Create data set">
</p>


</form>
