<ul>
<li><a href="%%write_url%%?a=displaySearchRefs&amp;type=add"">Add/edit a reference</a></li>
<li><a href="%%write_url%%?a=displaySearchColls&amp;type=view">Look at an inventory</a></li>
<li><a href="%%write_url%%?a=displaySearchCollsForAdd">Add an inventory</a></li>
<li><a href="%%write_url%%?a=displaySearchColls&amp;type=edit">Edit an inventory</a></li>
<li><a href="%%write_url%%?a=displayOccurrenceAddEdit">Add/edit inventory species list</a></li>
<li><a href="%%write_url%%?a=logout">Log out</a></li>
</ul>

