<script language="JavaScript" type="text/javascript">
<!-- Begin
function checkForm()	{
	var frm = document.forms[1];
	var errors = "";
	var v1 = 0;
	var v2 = 0;
	rows = frm.spelling_no.length;

	for ( var i=0; i < rows; i++ )  {
		if ( frm['spelling'+i][0].checked == false && frm['spelling'+i][1].checked == false )	{
			errors = "* You must check a version for every name on the form\n";
		}
		if ( frm['spelling'+i][0].checked == true )	{
			v1++;
		} else if ( frm['spelling'+i][1].checked == true )	{
			v2++;
		}
	}
	if ( v1 == 0 )	{
		errors += "* You must assign something to version 1\n";
	}
	if ( v2 == 0 )	{
		errors += "* You must assign something to version 2\n";
	}

	if ( errors != "" )	{
		alert(errors);
		return false;
	}

	return true;
}

// End -->
</script>


<center>
<p class="pageTitle">Name disentanglement form</p>

<p class="medium">
<i>WARNING: don't use this form unless you understand exactly what you're doing.</i>
</p>

<div class="displayPanel" style="width: 40em; padding: 1em; padding-left: 2em; padding-right: 2em;">
<div class="displayPanelContents">

<div class="small" style="text-align: left;">
<p>
The database currently thinks that all of the following names represent the same %%rank%% and that it was named by %%author%%.
If there are actually two taxonomic entities (basionyms), you can disentangle them by grouping them into two versions with the radio buttons and submitting the form.
</p>

<p>
Once this happens the system will try to sort out the relevant opinions and reclassify the names.
<i>However</i>, the authority data for each name will still be identical.
You therefore must hand-edit at least one of the two authority pages.
Also check through the opinions to make sure they are correct.
</p>

<p>
If you make a mistake and need to start over, modify an opinion on one version to say it uses a spelling of the other version.
Submit the form, ignore the screaming error message about merging names, and resubmit.
Then change back the opinion to its original state and return to this form to try again.
</p>

</div>

<form method="post" action="%%write_url%%" onSubmit="return checkForm();">
<input type="hidden" name="action" value="disentangleNames">
<table cellpadding=5>
<tr><td></td><td>Version 1</td><td>Version 2</td></tr>
%%spellings%%
</table>

<input type="submit" value="Disentangle" style="margin-left: auto; margin-right: auto; margin-top: 2em;">
</form>

</div>
</div>

</center>

