
<div class="title">List of Data Enterers</div>

<hr>

The following students and research assistants have entered data into the Database.
Institution names are placed in parentheses to indicate students who have since moved on.
<i>IMPORTANT: if your e-mail address is not on this list and should be, please notify <a href="mailto:alroy@nceas.ucsb.edu">John Alroy.</a></i><p>

<table>
<tr>
<td><u>Name</u> <td><u>Institution</u> <td><u>e-mail</u>
<tr><td>Peter Adam <td>University of California, Los Angeles <td>padam@ucla.edu
<tr><td>Monica Arakaki <td>University of Florida <td>marakaki@lycos.com
<tr><td>Jonathan Allen <td>Colby College <td>jpallen@colby.edu
<tr><td>Marcus Apel <td>Museum f&uuml;r Naturkunde, Berlin <td>marcus.apel@museum.hu-berlin.de
<tr><td>Jessica Bean <td>University of California, Santa Barbara <td>jessica-b@umail.ucsb.edu
<tr><td>Caroline Bernard <td>University of North Carolina <td>ZCarolineZ@aol.com
<tr><td>Rene Bobe <td>Smithsonian Institution <td>bobe.rene@nmnh.si.edu
<tr><td>Britta Bookhagen <td>Museum f&uuml;r Naturkunde, Berlin <td>Britta.Bookhagen@museum.hu-berlin.de
<tr><td>Phil Borkow <td>Pennsylvania State University <td>borowosu@yahoo.com
<tr><td>Nicole Boyle <td>Denver Museum of Nature and Science <td>nboyle@dmns.org
<tr><td>Benjamin Brenneis <td>Museum f&uuml;r Naturkunde, Berlin <td>benbrenneis@yahoo.de 
<tr><td>Julie Broughton <td>University of California, Santa Barbara <td>jbroughton@umail.ucsb.edu
<tr><td>John Burns<td>Smithsonian Institution <td>burnsajohn@hotmail.com
<tr><td>Donna Carlson <td>University of Cincinnati <td>carlsodd@email.uc.edu
<tr><td>Jason Cassara <td>Smithsonian Institution <td>paleo618@yahoo.com
<tr><td>Emily Childs <td>University of Pennsylvania <td>emchilds@sas.upenn.edu
<tr><td>Matthew Clapham <td>University of Southern California <td>clapham@usc.edu
<tr><td>Suzanne Cote <td>Harvard University <td>scote@sas.harvard.edu
<tr><td>Sarah DeLong <td>University of Michigan <td>sdelong@umich.edu
<tr><td>Victoria Egerton <td>Smithsonian Institution <td>Egerton.Victoria@NMNH.SI.EDU
<tr><td>Dina Ehrenburg	<td>NYCOM	<td>Cmcrocodile@aol.com
<tr><td>Hans Eichiner <td>(Universit&auml;t W&uuml;rzbug) <td><i>address unknown</i>
<tr><td>Lauren English <td>University of California, Riverside <td>jplllenglish@aol.com
<tr><td>Chad Ferguson <td>University of Cincinnati <td>sabertoothfrog@hotmail.com
<tr><td>John Finarelli <td>University of Chicago <td>johnf@uchicago.edu
<tr><td>Julia Fosdick <td>University of California, Santa Barbara <td>Fosdick@geol.ucsb.edu
<tr><td>Matthias Gahr <td>Universit&auml;t W&uuml;rzbug <td>matthias.gahr@web.de
<tr><td>Leah Gannon <td>University of New Hampshire <td>spunkins2000@hotmail.com
<tr><td>Melissa Gibson <td>Indiana University <td>meagibso@indiana.edu
<tr><td>Carrie Glavich <td>University of California, Santa Barbara <td>glavich@geol.ucsb.edu
<tr><td>Manuela Gonzalez <td>Binghamton University <td>manuela_gonzalez@yahoo.es
<tr><td>Meg Hall <td>State University of New York, Stony Brook <td>margaretihall@yahoo.com
<tr><td>Tori Hanson <td>University of Georgia <td>torihan@arches.uga.edu
<tr><td>Noel Heim <td>University of Georgia <td>naheim@uga.edu
<tr><td>Danica Hempfling <td>Universit&auml;t W&uuml;rzbug <td>danica@geologie.uni-wuerzburg.de
<tr><td>Austin Hendy <td>University of Cincinnati <td>hendya@email.uc.edu
<tr><td>Simone Hicks <td>Universit&auml;t W&uuml;rzbug <td>simone.hicks@mail.uni-wuerzburg.de
<tr><td>Dylan Horvath <td>Binghamton University <td>bj90249@binghamton.edu
<tr><td>Carol Hotton <td>Smithsonian Institution <td>hotton@ncbi.n.m.nih.gov
<tr><td>James Jacobson <td>University of California, Santa Barbara <td>jacobson@geol.ucsb.edu
<tr><td>Catherine Jamet <td>University of Southern California <td>jamet@usc.edu
<tr><td>Neerja Jha <td>Birbal Sahni Institute of Palaeobotany <td>neerjajha@yahoo.co.uk
<tr><td>Jenny Kao <td>Binghamton University <td>jtaokao@yahoo.com
<tr><td>Amy Kidd <td>University of Pennsylvania <td>aakidd@sas.upenn.edu
<tr><td>April Kinchloe <td>University of Colorado, Boulder <td>April.Kinchloe@colorado.edu
<tr><td>Irina Koretsky <td>Howard University <td>IKoret123@aol.com
<tr><td>Michele Kotyk <td>University of North Carolina <td>kotyk@email.unc.edu
<tr><td>Kimberly Koverman <td>University of Chicago <td>koverman@uchicago.edu
<tr><td>E. Kowalski <td>University of Michigan <td>ekowalsk@umich.edu
<tr><td>Rich Krause <td>University of Cincinnati <td>krauserd@email.uc.edu
<tr><td>Zack Krug <td>Penn State University <td>akrug@geosc.psu.edu
<tr><td>Susanna K&uuml;mmell <td>Universit&auml;t Witten/Herdecke <td>kuemmell@uni-wh.de
<tr><td>Karen Layou (n&eacute;e Bezusko) <td>University of Georgia <td>klayou@uga.edu
<tr><td>Erin Leckey <td>University of California, Santa Barbara <td>erin_leckey@umail.ucsb.edu
<tr><td>Paul Lester <td>(Indiana University) <td><i>address unknown</i>
<tr><td>Daniela Liebsch <td>Museum f&uuml;r Naturkunde, Berlin <td>Daniela.Liebsch@gmx.de
<tr><td>Heather Lindon <td>College of William and Mary <td>hllind@mail.wm.edu
<tr><td>Elmar Link <td>Universit&auml;t W&uuml;rzbug <td><i>address unknown</i>
<tr><td>Lee-Hsiang Liow <td>University of Chicago <td>lhliow@midway.uchicago.edu
<tr><td>Heather Loring <td>University of Florida <td>hloring@botany.ufl.edu
<tr><td>Sofy Low <td>Harvard University <td>sofyalow@fas.harvard.edu
<tr><td>Alistair McGowan <td>Smithsonian Institution <td>bigal@geosci.uchicago.edu
<tr><td>Miroljub Medved <td>University of Illinois at Chicago <td>mmedve2@uic.edu
<tr><td>Cheryl Metz <td>Texas A & M <td>GeoMama@sbcglobal.net
<tr><td>Elizabeth Moore <td>Smithsonian Institution <td>amocanes@aol.com
<tr><td>Tiffany Naeher <td>University of Oklahoma <td>tiffnae@ou.edu
<tr><td>Elise Nardin <td>CNRS, Universit&eacute; de Bourgogne <td>elise.nardin@u-bourgogne.fr
<tr><td>Katrina Nell <td>Indiana University <td>knell@indiana.edu
<tr><td>Phil Novack-Gottshall <td>Duke University <td>pn2@moorcock.acpub.duke.edu
<tr><td>Sabine N&uuml;rnberg <td>Museum f&uuml;r Naturkunde, Berlin <td>zubena@yahoo.com
<tr><td>Hannah O'Regan <td>Liverpool John Moores University <td>h.j.o'regan@livjm.ac.uk
<tr><td>Summer Ostrowski <td>Smithsonian Institution <td>deeno2000@yahoo.com
<tr><td>Sara Pendleton <td>University of California, Santa Barbara <td>sara1@umail.ucsb.edu
<tr><td>Shanan Peters <td>University of Chicago <td>sepeters@midway.uchicago.edu
<tr><td>Wilma Puijk <td>Utrecht University <td>w.w.puijk@students.uu.nl
<tr><td>Denne Reed<td>Smithsonian Institution <td>reed.denne@nmnh.si.edu
<tr><td>Michele Reynolds <td>Denver Museum of Nature and Science <td>mlreynolds@dmns.org
<tr><td valign="top">Joe Rezza<td>State University of New York, Stony Brook <td>josephrezza@aol.com
<tr><td>Jocelyn Sessa <td>Penn State University <td>jsessa@psu.edu
<tr><td>Michael Sherwood <td>University of California, Santa Barbara <td>sherwood@geol.ucsb.edu
<tr><td>Carl Simpson <td>University of Chicago <td>simpson@uchicago.edu
<tr><td>Gerlinde Smith <td>University of California, Santa Barbara <td>l_smith_uk@yahoo.com
<tr><td>Nicole Smith <td>Binghamton University <td>n.smith@lycos.com
<tr><td>Mike Sommers <td>(University of California, Santa Barbara) <td>sommers@magic.ucsb.edu
<tr><td>Eva Sosa <td>Colby College <td>ejsosa@colby.edu
<tr><td>Andrew Spencer-Lee <td>Smithsonian Institution <td>aspencerlee@earthlink.net
<tr><td>Rashmi Srivastava <td>Birbal Sahni Institute of Palaeobotany <td>rashmi_bsip@yahoo.com
<tr><td>Kyle Straub <td>(Pennsylvania State University) <td><i>address unknown</i>
<tr><td>Dave Sunderlin <td>University of Chicago <td>dfsunder@midway.uchicago.edu
<tr><td>Adam Tomasovych  <td>Universit&auml;t W&uuml;rzbug <td>adam.tomasovych@mail.uni-wuerzburg.de
<tr><td>Krisha Tracy <td>Texas A & M <td>ktracy@geo.tamu.edu
<tr><td>Allison Tuell <td>University of North Carolina <td>tuell@email.unc.edu
<tr><td>Anders Tychsen <td>Geologisk Museum, Koebenhavn <td>dragon_consulting@get2net.dk
<tr><td>Liz Valiulis <td>Smithsonian Institution <td>valiulis@nmnh.si.edu
<tr><td>Ryan Vaughn <td>University of Oklahoma <td>rvaughn@ou.edu
<tr><td>Frederike Verbruggen <td>Utrecht University <td>F.Verbruggen@students.uu.nl
<tr><td>Suvi Viranta <td>Howard University <td>sviranta@howard.edu
<tr><td>Christy Visaggi <td>Syracuse University <td>ccvisagg@syr.edu
<tr><td>Jenny Watters <td>Indiana University <td>jmwatter@indiana.edu
<tr><td>Andrew Webber <td>University of Cincinnati <td>webberaw@email.uc.edu
<tr><td>Jill Wertheim <td>University of California, Santa Barbara <td>wertheim@umail.ucsb.edu
<tr><td>Robin Whatley <td>University of California, Santa Barbara <td>robinwhatley@umail.ucsb.edu
<tr><td>Brooke Wilborn <td>University of Oklahoma <td>paleochick@ou.edu
<tr><td>Kate Wilson <td>Amherst College <td>kdwilson@amherst.edu
<tr><td>Erin Wysocki <td>(Hope College) <td>erilou@yahoo.com

</table>
<hr>

</BODY>
</HTML>

