<--Start enter_taxonomy_top.html-->

<form method="POST" action="$exec_url" onSubmit="return checkForm();">

<input type="hidden" id="action" name="action" value="processTaxonomyEntryForm">
<input type="hidden" id="taxon_no" name="taxon_no">
<input type="hidden" id="taxon_name" name="taxon_name" value="%%taxon_name%%">
<input type="hidden" id="type_taxon_no" name="type_taxon_no">

<center>
<h4>Who named <input type="text" id="taxon_name_corrected" name="taxon_name_corrected" size=%%taxon_size%% value="%%taxon_name%%">&nbsp;?</h4>

<span class="tiny">
See the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Authority')">tip sheet</a>.
If the name is misspelled, <a href="$exec_url?action=displayTaxonomySearchForm">try another search</a>.
</span>
</center>

<--End enter_taxonomy_top.html-->

