
<center>
<p><input id="ref_is_authority" type=checkbox value="YES"> It was first named in the data record's primary reference, which is:</p>

<p>
<span id="ref_string"></span>
</p>

<p>... <i>or</i> it was named in an earlier publication, which is:</p>

</td><td>
<table>
<tr>
<td><td class=tiny>initials <td class=tiny>last name
<td><td class=tiny>initials <td class=tiny>last name
<tr><td align=right><b>First author:</b> <td><input id="author1init" size=6> <td><input id="author1last" size=20><br>
<td align=right><b>Second author:</b> <td><input id="author2init" size=6> <td><input id="author2last" size=20><br>
</tr>
<tr><td valign=top align=right><b>Other authors:</b> <td colspan=5><textarea id="otherauthors" rows=3 cols=80></textarea><br>
</tr>
<tr><td align=right><b>Year:</b> <td colspan=2><input id="pubyr" size=6><br>
</tr>
</table>

</center>

<center><h4>How was $taxon_name named?</h4></center>

<center>
<table>
<tr>
<td align=right><b>Original rank:</b> </td> <td><select id="taxon_rank"></select> </td>
</tr><tr>
<td align=right><b>Name of type taxon:</b> </td> <td><input id="type_taxon_name" size=50>
</td></tr>
<tr><td align=right><b>Comments:</b> <td colspan=5><textarea id="comments" rows=2 cols=80></textarea><br>
</table>
</center>


