
<tr><td colspan=7>
<hr>
</td></tr>
<tr><td>
<select id="eml_interval" name="eml_interval"></select>
</td><td>
<input id="interval" name="interval" class="tiny" size=12>
</td><td>
<select id="eml_max_interval" name="eml_max_interval"></select>
</td><td>
<input id="max_interval" name="max_interval" class="tiny" size=12>
</td><td>
<select id="eml_min_interval" name="eml_min_interval"></select>
</td><td>
<input id="min_interval" name="min_interval" class="tiny" size=12>
</td><td>
<input id="base_age" name="base_age" class="tiny" size=6>
</td></tr>
<tr><td colspan=2><td colspan=5 class="small">
Comments: <input id="corr_comments" name="corr_comments" class="tiny" size=55>
</td></tr>

