<div align="center"><h2>Query the 5% project reference table</h2></div>

<form method=post action=fivepct.pl>

<input type=hidden name=action value="search">

<center>
<table>
<tr><td align=left>
<p>
Search the <select name="field"><option>title<option>author<option>publication<option>subjects<option>ID number</select> field for <select name="andor"><option>all of the words<option>any of the words<option>the exact phrase</select> <input size=20 name="searchstring">
</p>
</td>
<tr><td align=left>
<p>
Retrieve <select name="status"><option selected>all<option>unknown<option>junk<option>desirable<option>help<option>claimed<option>copied<option>discarded<option>entered</select> references
in <select name="accession"><option selected>any year<option>2000<option>2001<option>2002<option>2003<option>2004<option>2005<option>2006</select>
</p>
</td>
<tr><td align=right>
<input type=submit value="Search"> 
</td>
</table>
</center>

</form>

