<span id="message"></span>
<div show="error_message">%%error_message%%<br><br></div>

<div align="center"><h3>Opinion record for <span id="taxon_display_name"></span></h3></div>
<div align="center" class="small"><b>Reference</b>: <span id="formatted_primary_reference"></span></div>
<br>

<form method="POST" action="%%write_url%%" onSubmit="checkForm()">

<DIV class="displayPanel" style="padding-top: 1em;">

<input type="hidden" name="action" value="submitOpinionForm">
<input type="hidden" name="reference_no">

<input type="hidden" name="child_no">
<input type="hidden" name="opinion_no">
<input type="hidden" name="orig_taxon_status">
<input type="hidden" name="confirm_migrate_opinions">
<input type="hidden" name="confirm_create_misspelling">
<input type="hidden" name="confirm_create_spelling">
<input type="hidden" name="confirm_create_rank">
<input type="hidden" name="ref_has_opinion" value="PRIMARY">


<div class="emphasized">
<b>How was it classified?</b>
</div>
<table  width="100%" border=0 style="padding: 0em 2em 0em 2em;">
  <tr>
  <td colspan="2">
  <b><a href="#" onClick="popup = window.open('%%write_url%%?action=displayPage&page=classification_quality', 'blah', 'left=100,top=100,height=500,width=500,toolbar=yes,scrollbars=yes,resizeable=yes');">Basis of opinion</a>:</b> <select name="basis" autofill="opinion_basis"></select>
  </td>
  </tr>
  <span id="belongs_to_row"></span>
  <tr>
    <td valign="middle" align=left colspan=3 class="verysmall"><b>Diagnosis:</b> <select name="diagnosis_given"></select><br>
      <textarea name="diagnosis" rows=3 cols=70></textarea>
    </td>
  </tr>
  <span id="zzz_misspelled_as_row"></span>
  <span id="synonym_row"></span>
<!--  <tr>
    <td></td>
    <td>
      <small>When noting a misspelling, enter the correct name here and the correct name in the "How was it spelled?" section</small>
    </td>
  </tr>-->
  <span id="nomen_row"></span>

  <tr>
    <td>&nbsp;</td>
  </tr>
  
      <tr>
        <td colspan=3 align=left valign=top>
          <table width="100%"><tr><td width="40%">
            <b>First interval:</b> <input type="text" name="max_interval_name">
          </td><td>
            <b>Last interval:</b> <input type="text" name="min_interval_name">
          </td></tr></table>
        </td>
      </tr>

    <tr>
      <td colspan=3 align=left valign=top>
        <table>
          <tr>
            <td><b>First occurrence:</b></td>
            <td><input type="text" name="first_occurrence" size=70></td>
          </tr>
          <tr>
            <td><b>Last occurrence:</b></td>
            <td><input type="text" name="last_occurrence" size=70></td>
          </tr>
        </table>
      </td>
    </tr>

  <tr>
    <td colspan=3 align=left valign=top>
      <b>Comments:</b><BR>
      <textarea name="comments" rows=2 cols=70></textarea>
    </td>
  </tr>
  
  <tr>
    <td></td>
    <td align=center colspan=2>
      <span class="tiny"><BR>Please check the 
      <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Status')">tip sheet</a> 
      for an explanation of these terms. <BR>
      </span>
    </td>
  </tr>
</table>
<br>
<div class="emphasized">
<b>How was it spelled?</b>
</div>

<table  width="100%" border=0 style="padding: 0em 2em 0em 2em;">
  <span id="spelling_row"></span>
  <tr><td colspan=2>
    <small>Select a value regardless of whether this paper was the first to use this combination, spelling, or rank.<small>
  </td></tr>
</table>
</div>

<div align="center">

<table BORDER=0 cellpadding=0 class="tiny" style="padding-bottom: 1em;">
<tr>
<td style="padding-right: 20px;"><span id="authorizer_name"></span></td>
<td style="padding-right: 20px;"><span id="enterer_name"></span></td>
<td><span id="modifier_name"><span></td>
</tr>
<tr>
<td style="padding-right: 20px;"><span id="created"></span></td>
<td><span id="modified"></span></td>
</tr>
</table> 

<input type=submit value="Submit">

<p>
  <span class="tiny">
    Please read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html#Status')">tip sheet</a> before you press submit.
  </span>
</p>

</div>

</form>
