
<div class="title">The Paleobiology Database: Data Contributors' Area</div>

<center>
<i><h3>
To view, edit, or enter data, please go to our 
<a href="$exec_url?action=displayMenuPage&clear=clearQueue">data entry main menu</a>.
</h3>
</i>
</center>

<!--
<CENTER>
<p class="warning">Data Entry Temporarily Suspended</p>
<p>
Due to a database problem, data entry will be suspended for the afternoon of Friday, 9 February
</p>
</CENTER>
-->

<table cellpadding=5>

<tr><td valign=top width="50%">
<h3><IMG SRC="/public/minibrach.gif">
<a href="$exec_url?user=Guest&action=displayPage&page=paleodbFAQ">About the Database</a></h3>
	<blockquote>
	<i>New members of the working group should consult our
	<a href="$exec_url?action=displayPage&user=Guest&page=paleodbFAQ">frequently asked questions</a> page.
	Most informational pages are on the
	<a href="$exec_url?user=Guest&action=displayHomePage">public web site</a>.</i><p>
	<ul>
	<li><a href="$exec_url?action=displayPage&page=enterers">Data enterers</a>
	<li>Copies of the rectangular PBDB logo with <a href="/public/Logos/PBDBlogo2004aplus.black.pdf">black</a> or <a href="/public/Logos/PBDBlogo2004aplus.white.pdf">white</a> backgrounds in PDF format
	<li>Copies of the rectangular PBDB logo with <a href="/public/Logos/PBDBlogo2004aplus.black.jpg">black</a> or <a href="/public/Logos/PBDBlogo2004aplus.white.jpg">white</a> backgrounds in JPEG format
	<li>Copies of the oval PBDB logo with <a href="/public/Logos/PBDBlogo2004bplus.black.pdf">black</a> or <a href="/public/Logos/PBDBlogo2004bplus.white.pdf">white</a> backgrounds in PDF format
	<li>Copies of the oval PBDB logo with <a href="/public/Logos/PBDBlogo2004bplus.black.jpg">black</a> or <a href="/public/Logos/PBDBlogo2004bplus.white.jpg">white</a> backgrounds in JPEG format
	<li>Copies of the original PBDB logo with <a href="/public/Logos/PBDBlogo.black.pdf">black</a> or <a href="/public/Logos/PBDBlogo.white.pdf">white</a> backgrounds in PDF format
	<li><a href="javascript: tipsPopup( '$exec_url?action=startScale')">Time scales</a> and
<a href="$exec_url?action=displayTenMyBins">calibrated bin definitions</a>
	<li>Lists of
<a href="$exec_url?action=displayPage&page=marine_classes">classes</a>,
<a href="$exec_url?action=displayPage&page=marine_orders">orders</a>
	</ul>
	</blockquote>
</td>

<td valign=top>
<h3><IMG SRC="/public/minibrach.gif">
In development</h3>
	<blockquote>
	<ul>
	<li><a href="$exec_url?action=displayPage&page=PBDB-abundform">Abundance data analysis script</a>
	<li><a href="$exec_url?action=displayPage&page=newpeople">New authorizers and enterers</a>
	<li><a href="$exec_url?action=displayPage&page=newfeatures">New pages, scripts, and other features</a>
	<li><a href="$exec_url?action=displayPage&page=buglist">List of known bugs and requested changes</a>
	<li><a href="/paleodb/draftforms/">Drafts of new data entry forms</a>
	<li><a href="/public/structure1.html">Main data entry form field formats</a> (old)
	<li><a href="/public/structure2.html">Taxonomic list field formats</a> (old)
	</ul>
Please send bug reports and other queries to <a href="mailto:alroy@nceas.ucsb.edu">John Alroy</a>.
	</blockquote>
</td>
</tr>

<tr><td valign=top>
<h3><IMG SRC="/public/minibrach.gif">
<a href="mailto:paleodb@nceas.ucsb.edu">E-mail discussion lists</a></h3>
<blockquote>
<a href="mailto:paleodb@nceas.ucsb.edu">E-mail the paleodb@nceas list</a> to discuss issues of general interest.
Otherwise write to:

<ul>
<li><a href="mailto:micropaleo@nceas.ucsb.edu">micropaleo@nceas.ucsb.edu</a> (micropaleontologygroup)
<li><a href="mailto:enterers@nceas.ucsb.edu">enterers@nceas.ucsb.edu</a> (data enterers)
<li><a href="mailto:paleobotany@nceas.ucsb.edu">paleobotany@nceas.ucsb.edu</a> (paleobotany group)
<li><a href="mailto:pbdbab@nceas.ucsb.edu">pbdbab@nceas.ucsb.edu</a> (Advisory Board)
<li><a href="mailto:pmpd@nceas.ucsb.edu">pmpd@nceas.ucsb.edu</a> (Phanerozoic marine diversity group)
<li><a href="mailto:taphonomy@nceas.ucsb.edu">taphonomy@nceas.ucsb.edu</a> (taphonomy group)
<li><a href="mailto:taxonomy@nceas.ucsb.edu">taxonomy@nceas.ucsb.edu</a> (taxonomy group)
<li><a href="mailto:vertpaleo@nceas.ucsb.edu">vertpaleo@nceas.ucsb.edu</a> (vertebrate paleontology group)
</ul>
</blockquote>
</td>

<td valign=top>
<h3><IMG SRC="/public/minibrach.gif">
Research in progress</h3>
<blockquote>
The group has published a collaborative <a href="/paleodb/docs/index.html">manuscript on Phanerozoic diversity</a>.
<!-- See our lists of <a href="dataplans.html">current and future data entry projects</a>. -->
The vert paleo group is working on a large <a href="fivepct.pl?action=display">5% set of references</a>.
<a href="$exec_url?action=displayPage&page=vpgroup/fivepercent">Progress on the 5% project</a> is summarized on a separate page.
The marine invertebrate group is working on a similar <a href="marinepct.pl?action=display">1% set of references</a>.
We have a general-purpose <a href="$exec_url?action=displayPage&page=percentprotocol">data entry protocol page</a> for the 5% and 1% projects.
</blockquote>
</td>
</tr>

</table>
<hr>

<center>
<i><p>
Web page maintained by <a href="mailto:alroy@nceas.ucsb.edu">John Alroy</a>.
Last updated 22 February 2004.</p></i>
</center>

