
<font face="arial,helvetica">
<center>
<h2>The Paleobiology Database: Data Contributors' Area</h2>
</center>

<p>
<b>This hour's Database totals: 
	<span id="reference_total"></span> published references, 
	<span id="collection_total"></span> fossil collections, and 
	<span id="occurrence_total"></span> taxonomic occurrences entered by 
	<span id="enterer_total"></span> different researchers</b><br>
<p>

<P>
<!--CENTER>
<TABLE border=2 cellspacing=0 cellpadding=0>
<tr>
  <td align=center width=450>
<FONT color=red size=+3>Data Entry Temporarily Suspended</FONT>
<p>
<FONT color=black>Due to a database problem, data entry will be suspended for the afternoon of Friday, 9 February</FONT>
  </td>
</tr>
</TABLE>
</CENTER>
<pi-->

<table cellpadding=5>
<tr><td valign=top width="50%">
<h3><IMG SRC="/public/minibrach.gif">
<a href="$exec_url?clear=clearQueue">Search, enter, and edit data</a></h3>
<blockquote>
To view, edit, or enter existing references, collections, or occurrences, please go to our 
<a href="$exec_url?clear=clearQueue">data entry main menu</a>.
But please first consult the
<ul>
<li><a href="javascript: tipsPopup('/public/tips/tips.html')">General data entry tip sheet</a>
<li><a href="javascript: tipsPopup('/public/tips/lithtips.html')">Lithology tip sheet</a>
<li><a href="javascript: tipsPopup('/public/tips/environtips.html')">Paleoenvironment/tectonic setting tip sheet</a>
<li><a href="javascript: tipsPopup('/public/tips/taxontips.html')">Taxonomy tip sheet</a>
<li><a href="$exec_url?action=displayPage&page=buglist">List of known bugs and requested changes</a>
</ul>
</blockquote>
Please send bug reports and other queries to <a href="mailto:alroy@nceas.ucsb.edu">John Alroy</a> and <a href="mailto:muhl@nceas.ucsb.edu">Paul Muhl</a>.
</td>

<td valign=top width="50%">
<h3><IMG SRC="/public/minibrach.gif">
Analyze existing data sets</h3>
<blockquote>
<ul>
<li><a href="$exec_url?action=displayMapForm">Generate maps of collections</a>
<li><a href="$exec_url?action=displayDownloadForm">Download data sets</a>
<li><a href="$exec_url?action=displayReportForm">Generate data summary tables</a>
<li><a href="$exec_url?action=displayPage&page=PBDB-abundform">Analyze abundance data</a>
<li>Generate a diversity curve using either the
<a href="$exec_url?action=displayPage&page=PBDB-curveform-MI">marine</a>,
<a href="$exec_url?action=displayPage&page=PBDB-curveform-PB">paleobotany</a>, or
<a href="$exec_url?action=displayPage&page=PBDB-curveform-VP">vert paleo</a> form
</ul>
Also see our <a href="javascript: tipsPopup( '/public/data/harland.html')">working time scale</a>,
<a href="/public/timescale.10my.html">calibrated bin definitions</a>,
and lists of
<a href="/public/marine_classes.html">classes</a>, <a href="/public/marine_orders.html">orders</a>,
<a href="$exec_url?action=displayPage&page=unknown.genera">problematic marine genus names</a>,
and <a href="$exec_url?action=displayPage&page=valid.genera">valid marine genus names</a>.
</blockquote>
</td>
</tr>

<tr><td valign=top width="50%">
<h3><IMG SRC="/public/minibrach.gif">
<a href="$exec_url?user=Guest&action=displayPage&page=paleodbFAQ">About the Database</a></h3>
	<blockquote>
	<i>New members of the working group should consult our
	<a href="$exec_url?action=user=Guest&displayPage&page=paleodbFAQ">frequently asked questions</a> page and
	<a href="$exec_url?user=Guest&action=displayHomePage">public web site</a>.</i><p>
	<ul>
	<li><A HREF="$exec_url?user=Guest&action=displayPage&page=participants">Participating researchers</a>
	<li><a href="$exec_url?user=Guest&action=displayPage&page=institutions">Participating institutions</a>
	<li><a href="$exec_url?action=displayPage&page=enterers">Data enterers</a>
	<li><a href="$exec_url?user=Guest&action=displayPage&page=datasets">Major data sets reposited in the database</a>
	<li><a href="$exec_url?user=Guest&action=displayPage&page=publications">Official publications</a>
	<li><A HREF="http://www.nceas.ucsb.edu/nceas-web/projects/98ALROY1/proposal.pdf">Text of the 1998 NCEAS proposal</A>
	</ul>
	</blockquote>
</td>

<td valign=top>
<h3><IMG SRC="/public/minibrach.gif">
In development</h3>
	<blockquote>
	<ul>
	<li><a href="$exec_url?action=displayPage&page=newfeatures">New members, pages, scripts, and other features</a>
	<li><a href="/paleodb/draftforms/">Drafts of new data entry forms</a>
	<li><a href="javascript: tipsPopup('/public/tips/taxontips.html')">Proposed structure of the two main taxonomy tables</a>
	<li><a href="/public/structure1.html">Main data entry form field formats</a> (old)
	<li><a href="/public/structure2.html">Taxonomic list field formats</a> (old)
	<li><a href="$exec_url?action=displayPaulsTest">Pauls Test</a>
	</ul>
	</blockquote>
</td>
</tr>

<tr><td valign=top>
<h3><IMG SRC="/public/minibrach.gif">
<a href="mailto:paleodb@nceas.ucsb.edu">E-mail discussion lists</a></h3>
<blockquote>
Please <a href="mailto:paleodb@nceas.ucsb.edu">send an e-mail message</a> directly to the paleodb@nceas e-mail list if you would like to discuss issues of general interest to the entire database. Otherwise, you may write to any of the following e-mail lists that we maintain for individual working groups:

<ul>
<li><a href="mailto:enterers@nceas.ucsb.edu">enterers@nceas.ucsb.edu</a> (data enterers)
<li><a href="mailto:paleobotany@nceas.ucsb.edu">paleobotany@nceas.ucsb.edu</a> (paleobotany group)
<li><a href="mailto:pbdbab@nceas.ucsb.edu">pbdbab@nceas.ucsb.edu</a> (Advisory Board)
<li><a href="mailto:pmpd@nceas.ucsb.edu">pmpd@nceas.ucsb.edu</a> (Phanerozoic marine diversity group)
<li><a href="mailto:taphonomy@nceas.ucsb.edu">taphonomy@nceas.ucsb.edu</a> (taphonomy group)
<li><a href="mailto:vertpaleo@nceas.ucsb.edu">vertpaleo@nceas.ucsb.edu</a> (vertebrate paleontology group)
</ul>
</blockquote>
</td>

<td valign=top>
<h3><IMG SRC="/public/minibrach.gif">
Research in progress</h3>
<blockquote>
The group has published a collaborative <a href="docs/index.html">manuscript on Phanerozoic diversity</a>.
<!-- See our lists of <a href="dataplans.html">current and future data entry projects</a>. -->
Here is an example of a <a href="$exec_url?action=displayPage&page=jacobs">diversity curve</a> generated by subsampling.
The vert paleo group is working on a <a href="$exec_url?action=displayPage&page=vpgroup/fivepercent.ftp">set of references</a> (WARNING: the link goes to a very large flat file).
<a href="$exec_url?action=displayPage&page=vpgroup/fivepercent">Progress on the 5% project</a> is summarized on a separate page.
</blockquote>
</td>
</tr>

</table>
<hr>

<I><FONT SIZE=2>
Working group originally proposed by <a href="mailto:alroy@nceas.ucsb.edu">John Alroy</a>
and <a href="mailto:cmarshall@oeb.harvard.edu">Charles Marshall</a>.<br>
Web page maintained by <a href="mailto:alroy@nceas.ucsb.edu">John Alroy</a>.
Last updated 13 June 2002.</FONT></I>
<p>

