<html>
  <head>
    <title>Paleobiology Database Bug Tracker and Status</title>
  </head>
  <body bgcolor="white">
    <table border=0 width=550>
      <tr>
        <td>
          <H1>Paleobiology Database Bug Tracker and Project Status Page</h1>
          This is the official repository for bugs, feature requests,
          and project status information for the Paleobiology database.
          <p>
          <ul>
            <li><a href="/cgi-bin/report_bug.cgi?action=displayBugReportForm">Report a bug</a>
            <li><a href="/cgi-bin/report_bug.cgi?action=displayBugs">View known bugs</a>
          <p>
          If you have reported a bug, and it does not appear on this page, please
          email me: <a href="mailto:ederer@nceas.ucsb.edu">ederer@nceas.ucsb.edu</a>
        </td>
      </tr>
    </table>
  </body>
</html>
