<script language="JavaScript" type="text/javascript">
<!-- Begin

function checkFields( )	{
	var badinfo = "";
	var frm = document.forms[1];
	var rows = frm.interval.length;
	var nonAlphanum = /[^A-Za-z0-9 "\+\(\)\-=,\.\/]/;
	var hasEarly = /^[Ee]arly/;
	var hasMiddle = /^[Mm]iddle/;
	var hasLate = /^[Ll]ate/;

	if ( rows )	{
		for ( var i=0; i < rows; i++ )	{
			if ( nonAlphanum.test(frm.interval[i].value) == true )	{
				badinfo += "Interval names can only include standard alphanumeric characters\n";
			}
			if ( nonAlphanum.test(frm.max_interval[i].value) == true )	{
				badinfo += "Maximum interval names can only include standard alphanumeric characters\n";
			}
			if ( nonAlphanum.test(frm.min_interval[i].value) == true )	{
				badinfo += "Minimum interval names can only include standard alphanumeric characters\n";
			}
			if  ( frm.interval[i].value != "" )	{
				if ( hasEarly.test(frm.interval[i].value) == true )	{
					badinfo += "Interval names can't begin with \"Early\" or \"early\"\n";
				}
				if ( hasMiddle.test(frm.interval[i].value) == true )	{
					badinfo += "Interval names can't begin with \"Middle\" or \"middle\"\n";
				}
				if ( hasLate.test(frm.interval[i].value) == true )	{
					badinfo += "Interval names can't begin with \"Late\" or \"late\"\n";
				}
			} else {
				continue;
			}
			if  ( frm.max_interval[i].value != "" )	{
				if ( hasEarly.test(frm.max_interval[i].value) == true )	{
					badinfo += "Interval names can't begin with \"Early\" or \"early\"\n";
				}
				if ( hasMiddle.test(frm.max_interval[i].value) == true )	{
					badinfo += "Interval names can't begin with \"Middle\" or \"middle\"\n";
				}
				if ( hasLate.test(frm.max_interval[i].value) == true )	{
					badinfo += "Interval names can't begin with \"Late\" or \"late\"\n";
				}
			}
		}
	}

	if ( badinfo != "" )	{
		badinfo = "WARNING!\n" + badinfo + "\nPlease fix the names and resubmit."
		alert(badinfo);
		return false;
	}

	return true;
}

//  End -->
</script>

