<script language="JavaScript" type="text/javascript">
    <!-- Begin

    var form_submitted = 0;

	// Checks for sp. and indet. overrides
	function overrideEntry ( str ) {
		switch ( str ) {
			case 'sp.':   
			case 'spp.':   
			case 'indet.':   
				return true;
				break
			default:
				return false;
        }
	}

	// Checks for pulldown overrides
	function overridePulldown ( sel ) {
        if (sel) {
            var index = sel.selectedIndex;

            // Must check if -1 or Konquerer dies!
            if ( index != -1 ) {
                switch ( sel.options[index].text ) {
                    case 'informal':
                    case 'informal aff.':
                    case 'informal cf.':
                        return true;
                        break
                    default:
                        return false;
                }
            }
        }
	}

	// Genus & Subgenus Name
	function checkName ( type, value, pulldown, i ) {
        var	startUppercase = /^[A-Z]/;
        var	firstUpperRestLower = /^[A-Z][a-z]+$/;

		if ( ! overridePulldown ( pulldown ) ) {
			// Must start w/ upper case
 			if ( startUppercase.test( value ) == false ) {
				return "The " + type + " name " + value + " must be capitalized.\n"; 
			} else {
				// Check that the rest is acceptable
 				if ( firstUpperRestLower.test( value ) == false ) {
					return "The " + type + " name " + value + " is ill formed.\n"; 
				}
			}
		}
		return "";
	}

	// Species Name
	function checkSpecies ( value, pulldown, i ) {
        var	lowercase = /^[a-z]+$/;

		if ( ! overrideEntry ( value ) && ! overridePulldown ( pulldown ) ) {
			// Species must be all lowercase, no numbers
 			if ( lowercase.test( value ) == false ) {
				return "The species name " + value + " must be lower case, no numbers, no other characters.\n"; 
			}

			// Also check for 'sp' without . typo
			if ( value == "sp" || value == "spp" ) {
				return "The species name " + value + " requires a period. \n"; 
			}
		}
		return "";
	}

    function checkForm() {

		var frm = document.forms[0];
		var rows = frm.row_token.length;
		var errors = "";
        var dupes = "";

		// If there is only one row of data, rows comes back as undefined
		if ( rows ) {

            if (form_submitted == 0) {

                for (var i=0; i < rows;i++) {
				    if ( frm.genus_name[i].value != "" ) {
                        for (var j=i+1; j < rows;j++) {

                        }
                    }
                }
            }
			// Loop over all data rows
			for ( var i=0; i < rows; i++ ) {
				// Genus Name
				if ( frm.genus_name[i].value != "" ) {
                    var genus_reso = null;
                    if (frm.genus_reso) {
                        genus_reso = frm.genus_reso[i];
                    }
					errors += checkName ( "genus", frm.genus_name[i].value, genus_reso, i );
                    var name1 = getNameKey(frm,i);
                    for ( var j=0; j < i; j++ ) {
                        if (frm.genus_name[j].value != "") {
                            var name2 = getNameKey(frm,j);
                            if (name1 == name2 && frm.reid_no && frm.reid_no[i].value == 0) {
                                var name = name1;
                                dupes += "Rows "+(j+1)+" and "+(i+1)+": "+name+" may be a duplicate.\n"; 
                            }
//                            if ( frm.genus_name[i].value == frm.genus_name[j].value && frm.species_name[i].value == frm.species_name[j].value && i != j && frm.reid_no[i].value == 0 ) {
//                            }
                        }
                    }
				} else {
					// If they don't have the genus, disregard the entire row
					continue;
				}
	
                if ( frm.subgenus_name && frm.subgenus_name[i].value != "" ) {
                    var subgenus_reso = null;
                    if (frm.subgenus_reso) {
                        subgenus_reso = frm.subgenus_reso[i];
                    }
                    errors += checkName ( "subgenus", frm.subgenus_name[i].value, subgenus_reso, i );
                }
	
				// Species must be there
				if ( frm.species_name[i].value == "" ) {
					errors += "A species name is required for " + frm.genus_name[i].value + ".\n"; 
				} else {
                    var species_reso = null;
                    if (frm.species_reso) {
                        species_reso = frm.species_reso[i];
                    }
					errors += checkSpecies ( frm.species_name[i].value, species_reso, i );
				}

				// Reference num
				if ( frm.reference_no[i] && frm.reference_no[i].value == "" ) {
					errors += "A reference is required for " + frm.genus_name[i].value + " " + frm.species_name[i].value + ".\n"; 
				}
			}
            if (errors == "") {
                if (form_submitted == 0) {
                    form_submitted = 1;
                    if (dupes) {
                        errors += dupes;
                        errors += "Please submit this form again to enter these data anyway.";
                    }
                }
            }
		} else {

			// Only one row!

			// Genus Name
			if ( frm.genus_name.value != "" ) {
                var genus_reso = null;
                if (frm.genus_reso) {
                    genus_reso = frm.genus_reso;
                }
				errors += checkName ( "genus", frm.genus_name.value, genus_reso, 1 );

                if ( frm.subgenus_name && frm.subgenus_name.value != "" ) {
                    var subgenus_reso = null;
                    if (frm.subgenus_reso) {
                        subgenus_reso = frm.subgenus_reso;
                    }
                    errors += checkName ( "subgenus", frm.subgenus_name.value, subgenus_reso, i );
                }
	
				// Species must be there
				if ( frm.species_name.value == "" ) {
					errors += "A species name is required for " + frm.genus_name.value + ".\n"; 
				} else {
                    var species_reso = null;
                    if (frm.species_reso) {
                        species_reso = frm.species_reso;
                    }
					errors += checkSpecies ( frm.species_name.value, species_reso, 1 );
				}

				// Reference num
				if ( frm.reference_no.value == "" ) {
					errors += "A reference is required for " + frm.genus_name[i].value + " " + frm.species_name[i].value + ".\n"; 
				}
			}
		}
		// Report errors
		if ( errors != "" ) {
			errors = "   Please fix the following errors:   \n" + 
					 "---------------------------------------\n\n" +
					 errors + "\n" +
					 "---------------------------------------\n\n" +
					 "See the tip sheet for instructions.";
			alert ( errors );
			return false;
		} 
		return true;
    }

    function getNameKey(frm,i) {

        var name_key = "";
        if (frm.genus_reso) {
            var index = frm.genus_reso[i].selectedIndex;
            if ( index != -1 && frm.genus_reso[i].options[index].text != "") {
                name_key += frm.genus_reso[i].options[index].text;
            }
        }
        name_key += frm.genus_name[i].value;
        if (frm.subgenus_reso[i]) {
            var index = frm.subgenus_reso[i].selectedIndex;
            if ( index != -1 && frm.subgenus_reso[i].options[index].text != "") {
                name_key += frm.subgenus_reso[i].options[index].text;
            }
        }
        if (frm.subgenus_name && frm.subgenus_name[i].value != "") {
            name_key += " ("+frm.subgenus_name[i].value+")";
        }
        if (frm.species_reso[i]) {
            var index = frm.species_reso[i].selectedIndex;
            if ( index != -1 && frm.species_reso[i].options[index].text != "") {
                name_key += frm.species_reso[i].options[index].text;
            }
        }
        name_key += " "+frm.species_name[i].value;
        return name_key;
    }

    //  End -->
    </script>
