    <script language="JavaScript" type="text/javascript">
    <!-- Begin

	// This is a handy little function for seeing what properties an object has
	function showProperties ( obj ) {
		var result = "";

		for ( var i in obj ) {
			result += "o." + i + " = " + obj[i] + "<BR>\n";
		}
		document.write ( result );
	}

	// Checks for sp. and indet. overrides
	function overrideEntry ( str ) {
		switch ( str ) {
			case 'sp.':   
			case 'spp.':   
			case 'indet.':   
				return true;
				break
			default:
				return false;
        }
	}

	// Checks for pulldown overrides
	function overridePulldown ( sel ) {
		var index = sel.selectedIndex;

		// Must check if -1 or Konquerer dies!
		if ( index != -1 ) {
 			switch ( sel.options[index].text ) {
				case 'informal':
				case 'informal aff.':
				case 'informal cf.':
					return true;
					break
				default:
					return false;
        	}
		}
	}

	// Genus & Subgenus Name
	function checkName ( type, value, pulldown, i ) {
        var	startUppercase = /^[A-Z]/;
        var	firstUpperRestLower = /^[A-Z][a-z]+$/;

		if ( ! overrideEntry ( value ) && ! overridePulldown ( pulldown ) ) {
			// Must start w/ upper case
 			if ( startUppercase.test( value ) == false ) {
				return type + " name \"" + value + "\" on row " + ( i + 1 ) + " must be capitalized.\n"; 
			} else {
				// Check that the rest is acceptable
 				if ( firstUpperRestLower.test( value ) == false ) {
					return type + " name \"" + value + "\" on row " + ( i + 1 ) + " is ill formed.\n"; 
				}
			}
		}
		return "";
	}

	// Species Name
	function checkSpecies ( value, pulldown, i ) {
        var	lowercase = /^[a-z]+$/;

		if ( ! overrideEntry ( value ) && ! overridePulldown ( pulldown ) ) {
			// Species must be all lowercase, no numbers
 			if ( lowercase.test( value ) == false ) {
				return "Species name \"" + value + "\" on row " + ( i + 1 ) + " must be lowercase, no numbers, no other characters.\n"; 
			}

			// Also check for 'sp' without . typo
			if ( value == "sp" || value == "spp" ) {
				return "Species name \"" + value + "\" on row " + ( i + 1 ) + " requires a period. \n"; 
			}
		}
		return "";
	}

    function checkForm() {

		var frm = document.forms[0];
		var rows = frm.row_token.length;
		var errors = "";

		// If there is only one row of data, rows comes back as undefined
		if ( rows ) {
			// Loop over all data rows
			for ( var i=0; i < rows; i++ ) {
				// Genus Name
				if ( frm.genus_name[i].value != "" ) {
					errors += checkName ( "Genus", frm.genus_name[i].value, frm.genus_reso[i], i );
				} else {
					// If they don't have the genus, disregard the entire row
					continue;
				}
	
				// Subgenus
				if ( frm.subgenus_name[i].value != "" ) {
					errors += checkName ( "Subgenus", frm.subgenus_name[i].value, frm.subgenus_reso[i], i );
				}
	
				// Species must be there
				if ( frm.species_name[i].value == "" ) {
					errors += "Species name is required on row " + ( i + 1 ) + ".\n"; 
				} else {
					errors += checkSpecies ( frm.species_name[i].value, frm.species_reso[i], i );
				}

				// Reference num
				if ( frm.reference_no[i].value == "" ) {
					errors += "Reference number required on row " + ( i + 1 ) + ".\n"; 
				}
			}
		} else {

			// Only one row!

			// Genus Name
			if ( frm.genus_name.value != "" ) {
				errors += checkName ( "Genus", frm.genus_name.value, frm.genus_reso, 1 );

				// Subgenus
				if ( frm.subgenus_name.value != "" ) {
					errors += checkName ( "Subgenus", frm.subgenus_name.value, frm.subgenus_reso, 1 );
				}
	
				// Species must be there
				if ( frm.species_name.value == "" ) {
					errors += "Species name is required on row 1.\n"; 
				} else {
					errors += checkSpecies ( frm.species_name.value, frm.species_reso, 1 );
				}

				// Reference num
				if ( frm.reference_no.value == "" ) {
					errors += "Reference number required on row " + ( i + 1 ) + ".\n"; 
				}
			}
		}
		// Report errors
		if ( errors != "" ) {
			errors = "   Errors detected!!   \n" + 
					 "---------------------------------------\n\n" +
					 errors + "\n" +
					 "---------------------------------------\n\n" +
					 "See the tip sheet for instructions.";
			alert ( errors );
			return false;
		} 
		return true;
    }

    //  End -->
    </script>
