<script language="JavaScript" type="text/javascript">
<!-- Begin

// Zips pulldown to the current user
function me ( ) {

	// Loop over all forms on the page
	for ( var i=0; i < document.forms.length; i++ ) {
		// If we have an enterer pulldown
		if ( document.forms[i].enterer ) {

			var options = document.forms[i].enterer.options;

			// Loop over each option to find our person
			for ( var loop=0; loop < options.length; loop++) {
				if ( options[loop].value == "%%enterer%%" ) {
					options.selectedIndex = loop;
					break;
				} // fi
			} // rof
			break;
		} //fi
	} // rof
}

// Zips pulldown to the current authorizer
function auth ( ) {

	// Loop over all forms on the page
	for ( var i=0; i < document.forms.length; i++ ) {
		// If we have an authorizer pulldown
		if ( document.forms[i].authorizer ) {

			var options = document.forms[i].authorizer.options;

			// Loop over each option to find our person
			for ( var loop=0; loop < options.length; loop++) {
				if ( options[loop].value == "%%authorizer%%" ) {
					options.selectedIndex = loop;
					break;
				} // fi
			} // rof
			break;
		} //fi
	} // rof
}

//  End -->
</script>

