    <script language="JavaScript" type="text/javascript">
    <!-- Begin

	window.onload = showHideEditors;

	// This is a handy little function for seeing what properties an object has
	function showProperties ( obj ) {
		var result = "";

		for ( var i in obj ) {
			result += "o." + i + " = " + obj[i] + "<BR>\n";
		}
		document.write ( result );
	}

    function checkForm() {
		var year = /^[1-2][0-9]{3}$/;
		var capital = /[A-Z]/;
		var period = /[A-Za-z]\.$/;
		var space = /([A-Za-z])(\.| | \.)([A-Za-z])|([A-Z][A-Z])/;
		var all_caps = /^[A-Z][A-Z]/;
		var frm = document.forms[0];
		var errors = "";

		// First Author Initials
		// pattern for multiple spaces match
		var last_name_institution = /^\S+\s+\S+\s+\S+/;
		var last_name_anon = /^anon/i;
		if ( frm.author1init.value == "" ) {
			if(frm.author1last.value.match(last_name_institution) ||
               frm.author1last.value.match(last_name_anon)){
				// OK to have a blank first name if the last name is
				// an institution, or is "anonymous"
			}
			else{
				errors += "* First author initials may not be blank\n"; 
			}
		} else {
			// Check for a capital letter
			if ( capital.test ( frm.author1init.value ) == false ) {
			    errors += "* First author initials should have a capital letter\n"; 
			}
			if ( period.test ( frm.author1init.value ) == false ) {
			    errors += "* The first author's initials must end with a period\n"; 
			}
			if ( space.test ( frm.author1init.value ) == true ) {
			    errors += "* There must be a period and a space between the first author's two initials\n"; 
			}
		}

		// First Author Last
		if ( frm.author1last.value == "" ) {
			errors += "* First author last name may not be blank\n"; 
		} else {
			// Check for a capital letter
			if ( capital.test ( frm.author1last.value ) == false ) {
                if (! frm.author1last.value.match(last_name_anon)) {
				    errors += "* First author last name should have a capital letter\n"; 
                }
			} else if ( all_caps.test ( frm.author1last.value ) == true && frm.author1last.value.length > 3) {
			    errors += "* First author name can't all consist of capital letters\n"; 
            }
		}

		// Second Author Initials
		if ( frm.author2init.value != "" ) {
			// Check for a capital letter
			if ( capital.test ( frm.author2init.value ) == false ) {
				errors += "* Second author initials should have a capital letter\n"; 
			} 
			if ( period.test ( frm.author2init.value ) == false ) {
			    errors += "* The second author's initials must end with a period\n"; 
			}
			if ( space.test ( frm.author2init.value ) == true ) {
			    errors += "* There must be a period and a space between the second author's two initials\n"; 
			}
		}

		// Second Author Last
		if ( frm.author2last.value != "" ) {
			// Check for a capital letter
			if ( capital.test ( frm.author2last.value ) == false ) {
				errors += "* Second author last name should have a capital letter\n"; 
			} else if ( all_caps.test ( frm.author2last.value ) == true && frm.author2last.value.length > 3) {
			    errors += "* Second author name can not consist of all capital letters\n"; 
            }
		}

		// OtherAuthors
		var contents = frm.otherauthors.value;
		var pattern = /(^[A-Z][a-z\']+)|([A-Z]\.$)/;
		var result = contents.match(pattern);
		if ( result != null )	{
			errors += "* Names of additional authors must be formatted with " +
			" initials before last names\n"+
			"Example: P. McCartney, J. P. Jones, J. Hendrix\n";
		}


		// Publication Year
		if ( frm.pubyr.value == "" ) {
			errors += "* The publication year may not be blank\n"; 
		} else {
			if ( year.test( frm.pubyr.value ) == false ) {
				errors += "* The publication year is invalid\n"; 
			}
		}


		// Language
        if (frm.language && frm.language.selectedIndex != null) {
            var index = frm.language.selectedIndex;
            if ( index == 0 ) {
                errors += "* The publication language must be selected\n"; 
            } 
        }

		// Publication Type
        if (frm.publication_type && frm.publication_type.selectedIndex != null) {
            var index = frm.publication_type.selectedIndex;
            if ( index == 0 ) {
                errors += "* The publication type must be selected\n"; 
            } else {
                if ( frm.publication_type.options[frm.publication_type.selectedIndex].text == "book/book chapter" ) {
                    if ( frm.pubtitle.value == "" ) {
                        errors += "* If you select \"book/book chapter\", you are required to fill in its name\n"; 
                    }
                }
            }
        }
		var contents = frm.editors.value;
		var pattern = /(^[A-Z][a-z\']+)|([A-Z]\.$)/;
		var result = contents.match(pattern);
		if ( result != null )	{
			errors += "* Names of editors must be formatted with " +
			" initials before last names\n"+
			"Example: P. McCartney, J. P. Jones, J. Hendrix\n";
		}

		if ( /[^A-Za-z0-9\)\]]$/.test(frm.reftitle.value) )	{
			errors += "* The reference's title must end with a letter\n";
		}
		if ( /[~@\#\$%\^\&\*_\+\{\}\|\\<>\t\n]/.test(frm.reftitle.value) || /[^A-Za-z0-9]\//.test(frm.reftitle.value) || /[\/][^A-Za-z0-9]/.test(frm.reftitle.value) || /[\.:;\?\!][A-Za-z0-9]/.test(frm.reftitle.value) )	{
			errors += "* The reference's title includes weird characters\n";
		}
		if ( /  /.test(frm.reftitle.value) )	{
			errors += "* The reference's title includes extra spaces\n";
		}

		if ( /[^A-Za-z0-9\)\]]$/.test(frm.pubtitle.value) )	{
			errors += "* The book/serial name must end with a letter\n";
		}
		if ( /[~@\#\$%\^\&\*_\+\{\}\|\\<>\t\n]/.test(frm.pubtitle.value) || /[^A-Za-z0-9]\//.test(frm.pubtitle.value) || /[\/][^A-Za-z0-9]/.test(frm.pubtitle.value) || /[\.:;\?\!][A-Za-z0-9]/.test(frm.pubtitle.value) )	{
			errors += "* The book/serial name includes weird characters\n";
		}
		if ( /  /.test(frm.pubtitle.value) )	{
			errors += "* The book/serial name includes extra spaces\n";
		}
		// Report errors
		if ( errors != "" ) {
			errors = "   Errors detected!   \n" + 
					 "---------------------------------------\n\n" +
					 errors + "\n" +
					 "---------------------------------------\n\n" +
					 "See the tip sheet for instructions";
			alert ( errors );
			return false;
		} 
		return true;
    }

	function showHideEditors()	{
		if ( document.forms[0].publication_type.value == 'book/book chapter' )	{
			document.getElementById('editors').style.display = 'inline';
		} else if ( document.getElementById('editors').style.display == 'inline' )	{
			document.getElementById('editors').style.display = 'none';
			document.forms[0].editors.value = '';
		}
	}


    //  End -->
    </script>
