<!-- Start of js_taxonomy_checkform.html -->

<!--	Note, makes use of a couple of functions from the common.js file.
		Mostly rewritten by rjp, 2/2004  -->


<script language="JavaScript" type="text/javascript">
<!-- Begin


// check the form to make sure it's legal to submit
function checkForm() {
	var frm = document.forms[0];
	var errors = new Error();

	// figure out the rank of the taxon name.	
	var rank = taxonRank(frm.taxon_name_corrected.value);
	var originalRank = taxonRank(frm.taxon_name);
			
	// make sure that the rank they started with in taxon_name is the
	// same as the edited rank.  This is the only check we have to do with the
	// original taxon name.
	if (rank != originalRank) {
		errors.add("The taxon's rank in the top field can't be changed.");
	}
		

	// First, make sure that they either selected the 
	// "it was first named in" check box,
	// or fill in some information in the authority reference fields.
	if (frm.ref_is_authority.checked) {
		// then make sure that the fields are blank
		
		if (! authorityRefsAreBlank()) {
			errors.add("Don't fill in authority reference fields if the 'first named in primary reference' checkbox is checked.");		
		}
	} else {  // ref_is_authority is not checked
		// so we need to check the validity of the reference information.
		if (authorityRefsAreBlank()) {
			errors.add("You must fill in an authority reference or check the 'first named in primary reference' checkbox.");
		} else {
			//the authority refs aren't blank
			
			//at a minimum, we need the author last name and pubyr.
			if (!(properLastName(frm.author1last.value))) {
				errors.add("Ill-formed or missing authority last name.");
			}
			if (!(properYear(frm.pubyr.value))) {
				errors.add("Ill-formed or missing authority year.");
			}
		
			if (frm.author1init.value != "") {
				if (! properInitial(frm.author1init.value)) {
					errors.add("Ill-formed authority initial");
				}
			}
			
			if (frm.author2last.value != "") {
				if (! properInitial(frm.author2last.value)) {
					errors.add("Ill-formed authority last name");
				}
			}
			
			if (frm.author2init.value != "") {
				if (! properInitial(frm.author2init.value)) {
					errors.add("Ill-formed authority initial");
				}
			}

	
		}	
	}

	
	

	// Check taxonomic opinion data if any are present on the page
	errors.appendErrors(checkOpinion());
	
	// Report errors
	if (errors.count() > 0) {
		errors.showAlert()
		return false;
	} 
	
	return false	
	//return true;
}




// check the opinion portion of the form
function checkOpinion() {
	var frm = document.forms[0];
	var errors = new Error();
		
	// figure out the rank of the taxon name.	
	var rank = taxonRank(frm.taxon_name_corrected.value);
	
	
	var checkedRadio = "";
	for (var i = 0; i < frm.taxon_status.length; i++) {
		if (frm.taxon_status[i].checked) {
			checkedRadio = frm.taxon_status[i].value;
		}
	}	
	

	
	//********************************
	// check the fields at the bottom of the form (the radio button ones)
	
	if (!(checkedRadio == "no_opinion")) {
		// if they're entering opinion data, then we need to check the
		// opinion reference section.
	
		// First, make sure that they either selected the 
		//"current reference argues for this opinion" check box,
		// or fill in some information in the opinion reference fields.
		if (frm.ref_has_opinion.checked) {
			// then make sure that the fields are blank
			
			if (! opinionRefsAreBlank()) {
				errors.add("Don't fill in opinion reference fields if the 'current reference argues for this opinion' checkbox is checked.");		
			}
		} else {  // ref_has_opinion is not checked
			// so we need to check the validity of the reference information.
			if (opinionRefsAreBlank()) {
				errors.add("You must filll in an opinion reference or check the 'current reference argues for this opinion' check box.");
			} else {
				//the opinion refs aren't blank
				
				//at a minimum, we need the author last name and pubyr.
				if (!(properLastName(frm.opinion_author1last.value))) {
					errors.add("Ill-formed or missing opinion last name.");
				}
				if (!(properYear(frm.opinion_pubyr.value))) {
					errors.add("Ill-formed or missing opinion year.");
				}
			
				if (frm.opinion_author1init.value != "") {
					if (! properInitial(frm.opinion_author1init.value)) {
						errors.add("Ill-formed opinion initial");
					}
				}
				
				if (frm.opinion_author2last.value != "") {
					if (! properInitial(frm.opinion_author2last.value)) {
						errors.add("Ill-formed opinion last name");
					}
				}
				
				if (frm.opinion_author2init.value != "") {
					if (! properInitial(frm.opinion_author2init.value)) {
						errors.add("Ill-formed opinion initial");
					}
				}

		
			}	
		}
	}
	
	
	switch (checkedRadio) {
	
	case "no_opinion": 
	// ***** no_opinion ***** 
	
		break;
	
	// ***** END OF no_opinion *****
	
	case "belongs_to":	
	// ***** belongs_to ***** 		
		
		
		break;
		
	// ***** END OF belongs_to ***** 	
	
	case "recombined_as":
	// ***** recombined_as ***** 
		if (frm.parent_taxon_name.value == "") {
			if ( taxonRank(frm.taxon_name_corrected) == "higher" )	{
				errors.add("Higher taxon name is missing.");
			} else	{
				errors.add("Name of combination is missing.");
			}
			
			break;
		}
	
		if (frm.taxon_name.value == frm.parent_taxon_name.value)	{
			errors.add("Recombined field can't have the same name as the original taxon.");
		}
	
		if (taxonRank(frm.parent_taxon_name.value) != rank) {
			errors.add("Recombined rank doesn't match original rank.");
		}
	
		if (frm.type_taxon_name.value == frm.parent_taxon_name.value)	{
			errors.add("Type taxon and higher taxon have the same name.");
		}
		
		if (! checkTaxonCapitalization(frm.parent_taxon_name.value)) {
			errors.add("'recombined as field' is ill-formed.");
		}
	
	
		break;
	// ***** END OF recombined_as ***** 
	
	case "invalid1":
	// ***** invalid1 ***** 
	
		var field = frm.parent_taxon_name2.value;
		
		if (field == "") {
			errors.add("The '" + frm.synonym.value + "' field is empty.");
		}
	
		if (taxonRank(frm.parent_taxon_name2.value) != rank) {
			errors.add("The '" + frm.synonym.value + "' rank doesn't match original rank.");
		}
	
		if (field == frm.taxon_name_corrected.value) {
			errors.add("The '" + frm.synonym.value + "' field matches the who named field at the top.");
		}
	
		if (! checkTaxonCapitalization(frm.parent_taxon_name2.value)) {
			errors.add("'" + frm.synonym.value + "' is ill-formed.");
		}
	
		break;
		
	// ***** END OF invalid1 *****
	
	case "invalid2":
	// ***** invalid2 ***** 
		break;
		
	// ***** END OF invalid2 ***** 

	}
	
	return errors;
}


// returns true if opinion reference fields are blank.
function opinionRefsAreBlank() {
	var frm = document.forms[0];
	
	return ((frm.opinion_author1init.value == "") &&
		(frm.opinion_author1last.value == "") &&
		(frm.opinion_author2init.value == "") &&
		(frm.opinion_author2last.value == "") &&
		(frm.opinion_pubyr.value == "") &&
		(frm.opinion_otherauthors.value == "") &&
		(frm.elements['opinion_2nd_pages'].value == "") &&
		(frm.elements['opinion_2nd_figures'].value == ""));				
}


// returns true if authority reference fields are blank.
function authorityRefsAreBlank() {
	var frm = document.forms[0];
	
	return ((frm.author1init.value == "") &&
		(frm.author1last.value == "") &&
		(frm.author2init.value == "") &&
		(frm.author2last.value == "") &&
		(frm.pubyr.value == "") &&
		(frm.otherauthors.value == "") &&
		(frm.elements['2nd_pages'].value == "") &&
		(frm.elements['2nd_figures'].value == ""));				
}





//  End -->
</script>


<!-- End of js_taxonomy_checkform.html -->
