<HTML>
<HEAD>
<link REL="stylesheet" TYPE="text/css" HREF="/StyleSheets/common.css">
<link REL="icon" HREF="/public/favicon.ico" type="image/x-icon">
<link REL="shortcut icon" HREF="/public/favicon.ico" type="image/x-icon">
<script src="/JavaScripts/login.js" language="JavaScript" type="text/javascript"></script>
<script src="/JavaScripts/common.js" language="JavaScript" type="text/javascript"></script>


<STYLE type="text/css">
.test { 
    background-color: RGB(230,230,230);
	
    border-width: 6px 6px 6px 6px;
    border-style: solid;
    border-color: RGB(200,200,200);
    padding: 1em 1em 0.5em 1em;
}
</STYLE>

</HEAD>
<BODY>


<CENTER>


<div class="navbox">
<IMG src="/public/PDlogo.gif">
</div>


<SCRIPT>checkBrowserVersion();</SCRIPT>

	
<p>If you are a data contributor, please log in.</p>

<form method="POST" action="bridge.pl">

<input type=hidden name="action" value="processLogin">
<input type=hidden name="destination" value="">

<TABLE BORDER=0 cellpadding=4 class="test">
<TR>
<TD align=right>Authorizer:</TD>
<TD><INPUT  id="authorizer" name="authorizer" size=18 onKeyUp="doCompleteAuthorizer(event);"></TD>
</TR>

<TR>
<TD align=right>Enterer:</TD>
<TD><INPUT  id="enterer" name="enterer" size=18 onKeyUp="doCompleteEnterer(event);"></TD>
</TR>

<TR>
<TD align=right>Password:</TD>
<TD><INPUT id="password" name="password" type="password" size=18></TD>
</TR>

<TR>
<TD colspan=2 align=center>
<INPUT TYPE="submit" value="Login">
</TD>
</TR>
</TABLE>
</FORM>

<p>If not, 
please <A HREF="/cgi-bin/bridge.pl?user=Guest&action=displayHomePage">
return to the public area</A>.</p>

</CENTER>

</BODY>
</HTML>
