<script language="JavaScript">
<!-- Begin

// Zips pulldown to the current authorizer
function auth ( ) {

	// Loop over all forms on the page
	for ( var i=0; i < document.forms.length; i++ ) {
		// If we have an authorizer pulldown
		if ( document.forms[i].authorizer ) {

			var options = document.forms[i].authorizer.options;

			// Loop over each option to find our person
			for ( var loop=0; loop < options.length; loop++) {
				if ( options[loop].value == "%%authorizer%%" ) {
					options.selectedIndex = loop;
					break;
				} // fi
			} // rof
			break;
		} //fi
	} // rof
}
//  End -->
</script>

	<center>
	<h2>Map request form</h2>
	</center>

    <form method=post action="bridge.pl">
	<input id="action" type=hidden name="action" value="displayMapResults">

	<hr>

<table width="100%">

<tr><td width="40%" valign=top><table>
<tr><td colspan=2 valign=top><h4>Search options</h4>
<tr><td valign=top>Research group<br> or project:
<td valign=top>

<select name="research_group">
<option selected>all
<option>marine invertebrate
<option>paleobotany
<option>taphonomy
<option>vertebrate
<option>ETE
<option>5%
<option>PGAP
</select>

<tr>
	<td valign=top>Authorizer:</td>
	<td valign=top><select name="authorizer"></select> &nbsp;<a href="javascript: auth( );">Me</a></td>
</tr>

<tr><td valign=top>Modified since:
<td valign=top>
<select name="modified_since">
<option selected>
<option>today
<option>yesterday
<option>two days ago
<option>three days ago
<option>last week
<option>two weeks ago
<option>three weeks ago
<option>last month
</select>&nbsp;or...<br>

<select name="date">
<option selected>
<option>31 <option>30
<option>29 <option>28 <option>27 <option>26 <option>25
<option>24 <option>23 <option>22 <option>21 <option>20
<option>19 <option>18 <option>17 <option>16 <option>15
<option>14 <option>13 <option>12 <option>11 <option>10
<option>9 <option>8 <option>7 <option>6 <option>5
<option>4 <option>3 <option>2 <option>1
</select>

<select name="month">
<option selected>
<option>December
<option>November
<option>October
<option>September
<option>August
<option>July
<option>June
<option>May
<option>April
<option>March
<option>February
<option>January
</select>

<select name="year">
<option selected>
<option>2002
<option>2001
<option>2000
<option>1999
<option>1998
</select>
	</td>
</tr>

<tr><td valign=top>Country:
<td valign=top><select name="country">
<option selected>all
<option>Argentina
<option>Australia
<option>Brazil
<option>Canada
<option>China
<option>Czech Republic
<option>Egypt
<option>Ethiopia
<option>France
<option>Germany
<option>India
<option>Kenya
<option>Mexico
<option>Norway
<option>Portugal
<option>Russian Federation
<option>South Africa
<option>Spain
<option>Sweden
<option>Tanzania, United Republic of
<option>Uganda
<option>United Kingdom
<option>United States
<option>Yemen
</select>

<tr><td valign="top">State/province:
<td valign=top><input name="state" size=25>

<tr><td valign=top>Period:
<td valign=top><select name="period">
<option selected>all
<option>Quaternary
<option>Tertiary
<option>Cretaceous
<option>Jurassic
<option>Triassic
<option>Permian
<option>Carboniferous
<option>Devonian
<option>Silurian
<option>Ordovician
<option>Cambrian
<option>Neoproterozoic
</select>

<tr><td valign=top>Epoch:
<td valign=top><input name=epoch size=25>

<tr><td valign=top>Age/stage:
<td valign=top><input name=stage size=25>

<tr><td valign=top>Formation:
<td valign=top><input name=formation size=25>

<tr><td valign=top>Lithology:
<td valign=top><select id="lithology1">
</select>

<tr><td valign="top">Paleoenvironment:
<td valign=top><select id="environment"></select>

<tr><td valign=top>
<nobr><select name="taxon_rank"><option>Higher-taxon<option selected>Genus<option>Genus and species<option>species</select>:</nobr>
<td valign=top><input name="genus_name" size=25>

</table>

<td valign=top width="60%"><table>
<tr><td colspan=2 valign=top><h4>View options</h4>
<tr><td colspan=2><div class="small"><i>Don't forget to <a href="$exec_url?action=displayPreferencesPage">set your preferences</a>.</i><p></div></td></tr>

<tr><td valign=top>Projection:
<td valign=top><select id="projection">
</select>

<tr><td valign=top>Map focus:
<td valign=top><select id="mapcontinent">
</select>

<tr><td valign=top>Magnification:
<td valign=top><select id="mapscale">
</select>

<tr><td valign=top>Resolution:
<td valign=top><select id="mapresolution">
</select>

<tr><td valign=top>Background color:
<td valign=top><select id="mapbgcolor">
</select>

<tr><td valign=top>Spacing and color of grid lines:
<td valign=top><select id="gridsize">
</select>
<select id="gridcolor">
</select>

<tr><td valign=top>Thickness and color of coastlines:
<td valign=top><select id="linethickness"></select>
<select id="coastlinecolor"></select>

<tr><td valign=top>International borders:
<td valign=top><valign=top><select id="borderlinecolor">
</select>

<tr><td valign=top>USA state borders:
<td valign=top><valign=top><select id="usalinecolor">
</select>

<tr><td valign=top>Data points:
<td valign=top>
<select id="pointsize"></select>
<select id="dotcolor"></select>
<select id="pointshape"></select>
<select id="dotborder"></select>
<font size=-1>black borders</font>

</table>
</table>

<table width=100%>
<tr><td width=40%><td width=60%><input type=submit value="Draw map">
</table>

</form>

