<html>
<head>
<title>Valid Paleobiology Database Marine Animal Orders</title>
<link REL="stylesheet" TYPE="text/css" HREF="/StyleSheets/common.css">
<link REL="icon" HREF="/public/favicon.ico" type="image/x-icon">
<link REL="shortcut icon" HREF="/public/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="title">Marine Animal Taxonomy</div>
<div class="titleDetails">Valid order names by class</div>

<hr>
<p>There are some "complexities" with this list because we are using Sepkoski's family and genus level databases.  They do not always agree.  Therefore all of the possible orders within classes are listed.  A single dash (-) is used to indicate the transition from the family level database to genus level database information.  A note has been added to indicate when a class has no orders listed. 
</p>
<hr>

<a name=Acanthodii></a>
<b>Acanthodii</b>
	<ul>
	<li>Climatiformes
	<li>Ischnacanthiformes
	<li>Acanthodiformes
	<li> -
	<li>Climatiiformes
	<li>Ischnacanthida
	<li>Acanthodida
	</ul>

<a name=Amphibia></a>
<b>Amphibia</b>
	<ul>
	<li>Temnospondyli
	</ul>

<a name=Anthozoa></a>
<b>Anthozoa</b>
	<ul>
	<li>Antipatharia
	<li>Stolonifera
	<li>Alcyonacea
	<li>Helioporacea
	<li>Gorgonida
	<li>Pennatulacea
	<li>Actiniaria
	<li>Kilbuchophyllida
	<li>Tabulata
	<li>Rugosa
	<li>Heterocorallia
	<li>Scleractina
	<li> -
	<li>Alcyonida
	<li>Cothoniida
	<li>Scleractinia
	<li>Actinaria
	</ul>

<a name=Arachnida></a>
<b>Arachnida</b>
	<ul>
	<li>Scorpionida
	</ul>

<a name=Articulata></a>
<b>Articulata</b>
	<ul>
	<li>Orthida
	<li>Strophomenida
	<li>Pentamerida
	<li>Rhynchonellida
	<li>Spiriferida
	<li>Atrypida
	<li>Terebratulida
	<li>Thecideida
	</ul>

<a name=Asteroidea></a>
<b>Asteroidea</b>
	<ul>
	<li>Platyasterida
	<li>Pustulosida
	<li>Hemizonida
	<li>Uractinida
	<li>Trichasteropsida
	<li>Forcipulatida
	<li>Valvatida
	<li>Notomyotida
	<li>Paxillosida
	<li>Spinuloida
	<li> -
	<li>Spinulosida
	</ul>

<a name=Aves></a>
<b>Aves</b>
	<ul>
	<li>Hesperrornithiformes
	<li>Ichthyornithiformes
	<li>Sphenisciformes
	<li>Procellariiformes
	<li>Pelecaniformes
	<li>Charadriiformes
	<li> -
	<li>Hesperornithiformes
	<li>Ichthornithiformes
	</ul>

<a name=Bivalvia></a>
<b>Bivalvia</b>
	<ul>
	<li>Nuculoida
	<li>Solemyoida
	<li>Praecardioida
	<li>Arcoida
	<li>Mytiloida
	<li>Pterioida
	<li>Modiomorphoida
	<li>Unionoida
	<li>Trigonioida
	<li>Veneroida
	<li>Myoida
	<li>Hippuritoida
	<li>Pholadomyoida
	<li>Uncertain
	<li> -
	<li>Actinodontoida
	<li>Orthonotoida
	</ul>

<a name=Blastoidea></a>
<b>Blastoidea</b>
	<ul>
	<li>Fissiculata
	<li>Spiraculata
	</ul>

<a name=Branchiopoda></a>
<b>Branchiopoda</b>
	<ul>
	<li>?incertae
	</ul>

<a name=Calcarea></a>
<b>Calcarea</b>
	<ul>
	<li>Heteractinida
	<li>Calcaronea
	<li>Pharetronida
	<li>Sphaerocoelida
	<li> -
	<li>?permosphincta
	</ul>

<a name=Camptostromoidea></a>
<b>Camptostromoidea</b>
	<ul>
	<li>Camptostromatoida
	</ul>

<a name=Cephalaspidomorphi></a>
<b>Cephalaspidomorphi</b>
	<ul>
	<li>Cephalaspidoformes
	<li>Atelaspidiformes
	<li>Anaspida
	</ul>

<a name=Cephalopoda></a>
<b>Cephalopoda</b>
	<ul>
	<li>Plectonocerida
	<li>Ellesmerocerida
	<li>Protactinocerida
	<li>Yanhecerida
	<li>Orthocerida
	<li>Ascocerida
	<li>Intejocerida
	<li>Actinocerida
	<li>Endocerida
	<li>Discosorida
	<li>Oncocerida
	<li>Nautilida
	<li>Tarphycerida
	<li>Barrandeocerida
	<li>Anarcestida
	<li>Clymeniida
	<li>Goniatitida
	<li>Prolecanitida
	<li>Ceratitida
	<li>Phylloceratida
	<li>Ammonoidea
	<li>Belemnitida
	<li>Octopida
	<li>Sepiida
	<li>Teuthida
	<li>Phragmoteuthida
	<li>Boletzkida
	<li>Aulacocerida
	<li>Unnamed
	<li> -
	<li>Phyllocerida
	<li>Ammonitida
	<li>Boletzkyida
	</ul>

<a name=Chondrichthyes></a>
<b>Chondrichthyes</b>
	<ul>
	<li>Desmiodontida
	<li>Cladoselachida
	<li>Coronodontida
	<li>Symmoriida
	<li>Eugeneodontida
	<li>Orodontida
	<li>Squatinactida
	<li>"ctenacanthidaB
	<li>Hexanchiformes
	<li>Squaliformes
	<li>Pristiophoriformes
	<li>Squatiniformes
	<li>Heterodontiformes
	<li>Orectolobiformes
	<li>Lamniformes
	<li>Carcharhiniformes
	<li>Rajiformes
	<li>Torpedinoidea
	<li>Myliobatiformes
	<li>Euselachii
	<li>Chondrenchelyiformes
	<li>Polysentoriformes
	<li>Bradyodontiformes
	<li>Chimaeriformes
	<li>Iniopterygia
	<li>Petalodontida
	<li> -
	<li>Ctenacanthida
	<li>Squalomorphii
	<li>Galeomorphii
	<li>Copodontiformes
	<li>Psammodontiformes
	<li>Holocephali
	</ul>

<a name=Cirripedia></a>
<b>Cirripedia</b>
	<ul>
	<li>Thoracica
	<li>Acrothoracica
	<li>Sybagogoida
	<li>Lauroidida
	</ul>

<a name=Coeloscleritophora></a>
<b>Coeloscleritophora</b>
	<ul>
	<li>Sachitida
	<li>Chancelloriida
	</ul>

<a name=Conodonta></a>
<b>Conodonta</b>
	<ul>
	<li>?paraconodontida
	<li>Conodontophorida
	</ul>

<a name=Copepoda></a>
<b>Copepoda</b>
	<ul>
	<li>Calanoida
	<li>Monstrilloida
	</ul>

<a name=Coronata></a>
<b>Coronata</b>
	<ul>
	<li>Coronata
	</ul>

<a name=Cribricyathea></a>
<b>Cribricyathea</b>
	<ul>
	<li>Conoidocyathida
	<li>Cribricyathida
	<li>Vologdinophyllida
	</ul>

<a name=Cricoconarida></a>
<b>Cricoconarida</b>
	<ul>
	<li>Dacryoconarida
	</ul>

<a name=Crinoidea></a>
<b>Crinoidea</b>
	<ul>
	<li>Echmatocrinida
	<li>Diplobathrida
	<li>Monobathrida
	<li>Disparida
	<li>Hybocrinida
	<li>Cladida
	<li>?hemistreptocrinida
	<li>Taxocrinida
	<li>Sagenocrinida
	<li>Millericrinida
	<li>Cyrtocrinida
	<li>Bourgueticrinida
	<li>Isocrinida
	<li>Comatulida
	<li>Uintacrinida
	<li>Roveacrinida
	<li>Encrinida
	</ul>

<a name=Cubozoa></a>
<b>Cubozoa</b>
<ul>
	<li>No orders defined
</ul>

<a name=Demospongia></a>
<b>Demospongia</b>
	<ul>
	<li>Poecilosclerida
	<li>Haplosclerida
	<li>Dictyoceratida
	<li>Verongiida
	<li>Verticillitida
	<li>Astrophorida
	<li>Lithistida
	<li>Hadromerida
	<li>Stromatoporoidea
	<li>Guadalupiida
	<li>Permosphincta
	<li>Axinellida
	<li>Tabulospongida
	<li>Homoscleromorpha
	</ul>

<a name=Dinocarida></a>
<b>Dinocarida</b>
	<ul>
	<li>Radiodonta
	</ul>

<a name=Diploporita></a>
<b>Diploporita</b>
	<ul>
	<li>Glyptosphaeritida
	<li>Sphaeronitida
	<li>Aristocystitida
	<li>Asteroblastida
	</ul>

<a name=Diplorhina></a>
<b>Diplorhina</b>
	<ul>
	<li>Arandaspidiformes
	<li>Eriptychiformes
	<li>Cyathaspidiformes
	<li>Pteraspidiformes
	<li>Psammosteiformes
	<li>Thelodontida
	<li>Phlebolepidiformes
	</ul>

<a name=Echinoidea></a>
<b>Echinoidea</b>
	<ul>
	<li>Bothriocidaroida
	<li>Echinocystitoida
	<li>Cidaroida
	<li>Echinothurioida
	<li>Diadematoida
	<li>Pedinoida
	<li>Pygasteroida
	<li>Salenioida
	<li>Hemicidaroida
	<li>Phymosomatoida
	<li>Temnopleuroida
	<li>Echinoida
	<li>Plesiocidaroida
	<li>Orthopsida
	<li>Holectypoida
	<li>Oligopygoida
	<li>Clypeasteroida
	<li>Cassiduloida
	<li>Disasteroida
	<li>Holasteroida
	<li>Spatangoida
	<li>Neolampadoida
	<li> -
	<li>Bothriocidaroidea
	<li>Micropygoida
	<li>Calycina
	</ul>

<a name=Edrioasteroidea></a>
<b>Edrioasteroidea</b>
	<ul>
	<li>Stromatocystitida
	<li>Edrioasterida
	<li>Isorophida
	</ul>

<a name=Enteropneusta></a>
<b>Enteropneusta</b>
	<ul>
	<li>Proconodontida
	<li>Belodiellida
	<li>Protopanderodontida
	<li>Panderodontida
	<li>Prioniodontida
	<li>Prioniodinida
	<li>Ozarkodinida
	</ul>

<a name=Eocrinoidea></a>
<b>Eocrinoidea</b>
	<ul>
	<li>Imbricata
	<li>Gogiida
	<li>Ascocystitida
	</ul>

<a name=Gastropoda></a>
<b>Gastropoda</b>
	<ul>
	<li>Bellerophontida
	<li>Euomphalina
	<li>Patellogastropoda
	<li>Archaeogastropoda
	<li>Architaenoglossa
	<li>Neotaenioglossa
	<li>Neogastropoda
	<li>Heterostrophia
	<li>Cephalaspidea
	<li>Anaspidea
	<li>Thecosomata
	<li>Gymnosomata
	<li>Sacoglossa
	<li>Umbraculomorpha
	<li>Basommatophora
	<li> -
	<li>Macluritina
	<li>Cephalaspida
	</ul>

<a name=Graptolithina></a>
<b>Graptolithina</b>
	<ul>
	<li>Dendroidea
	<li>Tuboidea
	<li>Cameroidea
	<li>Crustoidea
	<li>Dithecoidea
	<li>Archaeodendrida
	<li>Graptoloidea
	<li> -
	<li>Camaroidea
	</ul>

<a name=Gymnolaemata></a>
<b>Gymnolaemata</b>
	<ul>
	<li>Ctenostomata
	<li>Cheilostomata
	</ul>

<a name=Hexactinellida></a>
<b>Hexactinellida</b>
	<ul>
	<li>Hexactinosa
	<li>Lychniscosida
	<li>Reticulosa
	<li>Lyssacinosa
	<li>Amphidiscosa
	<li>Hemidiscosa
	<li> -
	<li>Lychniscosa
	<li>Lyssacinosida
	</ul>

<a name=Holothuroidea></a>
<b>Holothuroidea</b>
	<ul>
	<li>Dendrochirotida
	<li>Aspidochirotida
	<li>Dactylochirotida
	<li>Elasipodida
	<li>Apodida
	<li>Molpadiida
	<li>Arthrochirotida
	</ul>

<a name=Homoiostelea></a>
<b>Homoiostelea</b>
	<ul>
	<li>Soluta
	</ul>

<a name=Homostelea></a>
<b>Homostelea</b>
	<ul>
	<li>Cincta
	</ul>

<a name=Hydrozoa></a>
<b>Hydrozoa</b>
	<ul>
	<li>Trachylinida
	<li>Hydroida
	<li>Siphonophorida
	<li>Milleporina
	<li>Stylasterina
	<li>Lemniscaterina
	<li>Sphaeractinida
	<li> -
	<li>Calyptoblastina
	</ul>

<a name=Hyolithomorpha></a>
<b>Hyolithomorpha</b>
	<ul>
	<li>Hyolithida
	</ul>

<a name=Inarticulata></a>
<b>Inarticulata</b>
	<ul>
	<li>Craniopsida
	<li>Trimerellida
	<li>Craniida
	</ul>

<a name=Incertae></a>
<b>Incertae</b>
	<ul>
	<li>Waptiida
	<li>Skaracarida
	<li>Orstenocarida
	<li> -
	<li>Archaeophyllida
	<li> -
	<li>Pelagiellida
	<li>Tuarangiida
	<li>Hemithecellitina
	<li> -
	<li>Toxeumorphorida
	<li> -
	<li>Siphonostomatoida
	<li> -
	<li>Bostrichopodida
	<li>Marriocarida
	<li> -
	<li>Kutorginida
	<li>Obolellida
	<li>Chileida
	<li>Naukatida
	<li> -
	<li>Astraspidida
	<li> -
	<li>No orders defined
	<li> -
	<li>Calpionellida
	</ul>

<a name=Irregulares></a>
<b>Irregulares</b>
	<ul>
	<li>Archaeocyathida
	<li>Kazakhstanicyathida
	</ul>

<a name=Lingulata></a>
<b>Lingulata</b>
	<ul>
	<li>Lingulida
	<li>Acrotretida
	<li>Paterinida
	</ul>

<a name=Machaeridia></a>
<b>Machaeridia</b>
	<ul>
	<li>Hercollepadida
	<li>Turrilepadida
	<li> -
	<li>Lepidocoleomorpha
	<li>Hercolepadida
	</ul>

<a name=Malacostraca></a>
<b>Malacostraca</b>
	<ul>
	<li>Canadaspidida
	<li>Leptostraca
	<li>Hymenostraca
	<li>Hoplostraca
	<li>Archaeostraca
	<li>Phyllocarida
	<li>Palaeostomatopoda
	<li>Stomatopoda
	<li>Aeschronectida
	<li>Eocaridacea
	<li>Lophogastrida
	<li>Belotelsonidea
	<li>Waterstonellidea
	<li>Decapoda
	<li>Mysidacea
	<li>Cumacea
	<li>Tanaidacea
	<li>Isopoda
	<li>Amphipoda
	<li> -
	<li>?hymenostraca
	</ul>

<a name=Mammalia></a>
<b>Mammalia</b>
	<ul>
	<li>Cetacea
	<li>Sirenia
	<li>Desmostylia
	<li>Carnivora
	</ul>

<a name=Marrelomorpha></a>
<b>Marrelomorpha</b>
	<ul>
	<li>Mimetasterida
	<li>Acercostraca
	<li>Cyclina
	</ul>

<a name=Merostomata></a>
<b>Merostomata</b>
	<ul>
	<li>?leanchoiliida
	<li>Aglaspida
	<li>Xiphosurida
	<li>Chasmataspidida
	<li>Eurypterida
	<li> -
	<li>?aglaspida
	</ul>

<a name=Merostomoidea></a>
<b>Merostomoidea</b>
	<ul>
	<li>Limulavida
	<li>Emeraldellida
	<li>Cheloniellida
	</ul>

<a name=Monorhina></a>
<b>Monorhina</b>
	<ul>
	<li>Tremataspidiformes
	<li>Sclerodontiformes
	<li>Thyestiiformes
	<li>Ateleaspidiformes
	<li>Cephalaspidiformes
	<li>Jamoytiiformes
	<li>Birkeniiformes
	<li>Petromyzoniformes
	<li>Myxiniformes
	</ul>

<a name=Multiplacophora></a>
<b>Multiplacophora</b>
	<ul>
	<li>Strobilepida
	</ul>

<a name=Ophiuroidea></a>
<b>Ophiuroidea</b>
	<ul>
	<li>Stenurida
	<li>Oegophiurida
	<li>Phrynophiurida
	<li>Ophiurida
	<li>Thecanephra
	</ul>

<a name=Orthothecimorpha></a>
<b>Orthothecimorpha</b>
	<ul>
	<li>Circothecida
	<li>Exilithecida
	<li>Globorilida
	<li>Orthothecida
	</ul>

<a name=Osteichthyes></a>
<b>Osteichthyes</b>
	<ul>
	<li>Diabolepidida
	<li>Dipnoi
	<li>"onychodontida"
	<li>"actinistia"
	<li>Youngolepiformes
	<li>Holoptychiida
	<li>Rhizodontida
	<li>Osteolepidida
	<li>Panderichthyida
	<li>Bobasatraniiformes
	<li>Saurichthyiformes
	<li>Palaeonisciformes
	<li>Tarrasiiformes
	<li>Ptycholepiformes
	<li>Pholidopleuriformes
	<li>Perleidiformes
	<li>Cephaloxeniformes
	<li>Luganoiiformes
	<li>Peltopleuriformes
	<li>Acipenseriformes
	<li>Semionotiformes
	<li>Lepisosteiformes
	<li>Pycnodontiformes
	<li>Amiiformes
	<li>Parasemionotiformes
	<li>Macrosemiiformes
	<li>Pachycormiformes
	<li>Osteoglossiformes
	<li>Elopiformes
	<li>Megaliformes
	<li>Anguilliformes
	<li>Crossagnathiformes
	<li>Clupeiformes
	<li>Gonorhynchiformes
	<li>Siluriformes
	<li>Osmeriformes
	<li>Salmoniformes
	<li>Stomiiformes
	<li>Alepisauriformes
	<li>Aulopiformes
	<li>"ctenothrissiformesB
	<li>Myctophiformes
	<li>Acanthomorpha
	<li>Polymixiiformes
	<li>Ophidiiformes
	<li>Batrachoidiformes
	<li>Lophiiformes
	<li>Gadiformes
	<li>Atheriniformes
	<li>Beloniformes
	<li>Beryciformes
	<li>Lampridiformes
	<li>Zeiformes
	<li>Gasterosteiformes
	<li>Dactylopteriformes
	<li>Scorpaeniformes
	<li>Perciformes
	<li>Pleuronectiformes
	<li>Tetraodontiformes
	<li> -
	<li>Dipteriformes
	<li>Coelocanthiformes
	<li>Bobasatraniformes
	<li>Megalopiformes
	<li>Crossognathiformes
	<li>Tetradontiformes
	</ul>

<a name=Ostracoda></a>
<b>Ostracoda</b>
	<ul>
	<li>Archaeocopida
	<li>Leperditicopida
	<li>Palaeocopida
	<li>Leiocopa
	<li>Eridostracoda
	<li>Myodocopida
	<li>Metacopida
	<li>Podocopida
	<li>Platycopida
	</ul>

<a name=Paracrinoidea></a>
<b>Paracrinoidea</b>
	<ul>
	<li>Comarocystitida
	<li>Platycystitida
	</ul>

<a name=Paragastropoda></a>
<b>Paragastropoda</b>
	<ul>
	<li>Hyperstrophina
	</ul>

<a name=Petalonamae></a>
<b>Petalonamae</b>
	<ul>
	<li>Erniettamorpha
	<li>Rangeomorpha
	</ul>

<a name=Placodermi></a>
<b>Placodermi</b>
	<ul>
	<li>Stensioellida
	<li>Pseudopetalichthida
	<li>Gemuerdinida
	<li>Ptyctodontida
	<li>Palaeacanthaspida
	<li>Brindabellaspida
	<li>Petalichthyida
	<li>Arthrodira
	<li>Antiarcha
	<li> -
	<li>Rhenanida
	<li>Acanthothoraci
	<li>Petalichthida
	</ul>

<a name=Polychaeta></a>
<b>Polychaeta</b>
	<ul>
	<li>Amphinomorpha
	<li>Eunicemorpha
	<li>Phyllodocemorpha
	<li>Spiomorpha
	<li>Drilomorpha
	<li>Terebellomorpha
	<li>Flabelligerimorpha
	<li>Serpulimorpha
	</ul>

<a name=Polyhymenophora></a>
<b>Polyhymenophora</b>
	<ul>
	<li>Spirotrichia
	</ul>

<a name=Polyplacophora></a>
<b>Polyplacophora</b>
	<ul>
	<li>Septemchitonida
	<li>Palaeoloricata
	<li>Phosphatoloricatida
	<li>Lepidopleurida
	<li>Chintonida
	<li>Acanthochitonida
	<li> -
	<li>Paleoloricata
	<li>Neoloricata
	</ul>

<a name=Pteraspidomorphi></a>
<b>Pteraspidomorphi</b>
	<ul>
	<li>Astraspidiformes
	<li>Pteraspidomorphes
	<li>Thelodontiformes
	</ul>

<a name=Pterobranchia></a>
<b>Pterobranchia</b>
	<ul>
	<li>Stolonoidea
	<li>Rhabdopleurida
	<li>Cephalodiscida
	</ul>

<a name=Pycnogonida></a>
<b>Pycnogonida</b>
	<ul>
	<li>Palaeopantopoda
	<li>Palaeoisopoda
	<li>Pantopoda
	</ul>

<a name=Radiolaria></a>
<b>Radiolaria</b>
	<ul>
	<li>Spumellaria
	<li>Nassellaria
	<li>Phaeodarea
	<li>Foraminiferida
	<li>?chitinozoa
	</ul>

<a name=Regulares></a>
<b>Regulares</b>
	<ul>
	<li>Monocyathida
	<li>Ajacicyathida
	<li>Capsulocyathida
	<li> -
	<li>Tabulacyathida
	</ul>

<a name=Remipedia></a>
<b>Remipedia</b>
<ul>
	<li>No orders defined
	<li> -
	<li>Enantiopoda
	</ul>

<a name=Reptilia></a>
<b>Reptilia</b>
	<ul>
	<li>Testudines
	<li>Sphenodontida
	<li>Squamata
	<li>Thalatiosauria
	<li>Nothosauria
	<li>Plesiosauria
	<li>Pachypleurosauria
	<li>Placodontia
	<li>Ichthyosauria
	<li>Crocodilia
	<li> -
	<li>Chelonia
	<li>Thalattosauria
	<li>Notosauria
	<li>Spheodontia
	</ul>

<a name=Rhizopodea></a>
<b>Rhizopodea</b>
<ul>
	<li>No orders defined
</ul>

<a name=Rhombifera></a>
<b>Rhombifera</b>
	<ul>
	<li>Dichoporita
	<li>Fistuliporita
	</ul>

<a name=Rostroconchia></a>
<b>Rostroconchia</b>
	<ul>
	<li>Ribeirioida
	<li>Conocardioida
	</ul>

<a name=Scaphopoda></a>
<b>Scaphopoda</b>
	<ul>
	<li>Dentalioida
	<li>Siphonodentalioida
	</ul>

<a name=Scyphozoa></a>
<b>Scyphozoa</b>
	<ul>
	<li>Carybdeida
	<li>Coronatida
	<li>Semaeostomatida
	<li>Lithorhizostomatida
	<li>Rhizostomatida
	<li>?conulariida
	<li> -
	<li>Conchopeltida
	</ul>

<a name=Somasteroidea></a>
<b>Somasteroidea</b>
	<ul>
	<li>Goniactinida
	</ul>

<a name=Stenolaemata></a>
<b>Stenolaemata</b>
	<ul>
	<li>Cyclostomata
	<li>Cystoporata
	<li>Trepostomata
	<li>Cryptostomata
	<li>Fenestrata
	</ul>

<a name=Stylophora></a>
<b>Stylophora</b>
	<ul>
	<li>Cornuta
	<li>Mitrata
	</ul>

<a name=Tentaculitoidea></a>
<b>Tentaculitoidea</b>
	<ul>
	<li>Tentaculitida
	<li>Homoctenida
	<li>?dacryoconarida
	</ul>

<a name=Tergomya></a>
<b>Tergomya</b>
	<ul>
	<li>Tryblidiida
	<li>Cyrtonellida
	<li>Hyseloconida
	<li> -
	<li>Hypseloconida
	</ul>

<a name=Thylacocephala></a>
<b>Thylacocephala</b>
	<ul>
	<li>Concavicarida
	<li>Conchyliocarida
	<li>Incertae
	</ul>

<a name=Tommotiida></a>
<b>Tommotiida</b>
	<ul>
	<li>Mitrosagophora
	<li>Coleolida
	<li>Hyolithelminthes
	<li>Paiutiida
	<li>Sabelliditida
	<li>Volborthellida
	</ul>

<a name=Trilobita></a>
<b>Trilobita</b>
	<ul>
	<li>Naraoiida
	<li>Olenellida
	<li>Agnostida
	<li>Redlichiida
	<li>Corynexochida
	<li>Lichida
	<li>Odontopleurida
	<li>Asaphida
	<li>Ptychopariida
	<li>Proetida
	<li>Phacopida
	</ul>

<a name=Uncertain></a>
<b>Uncertain</b>
	<ul>
	<li>Naukatoidea
	<li> -
	<li>Hyolith
	<li> -
	<li>No orders defined
	<li> -
	<li>Coleoloida
	</ul>

<hr>
<br>Created 1999.11.01 by John Alroy
<br>Modified 1999.11.03 by M. Kosnik

</body>
</html>
