
<center><p class="pageTitle" align="center" style="margin-bottom: 1em;">Paleobiology Database Main Menu</p></center>

<center><div style="margin-bottom: 2em;"><i>%%message%%</i></div></center>

<table border="0 align="center">
        <tr>
          <td valign="top" class="small">
          <div style="margin-left: 4em;">
          <p class="verylarge">Data entry</p>

            <p class="large">Basic steps</p>
            <ul>
              <li><a href="?a=displaySearchRefs&amp;type=add">Add a new reference</a></li>
              <div show="access">
              <li><a href="?a=displayAuthorityTaxonSearchForm">Add/edit taxonomic name</A></li>
              <li><a href="?a=displayOpinionSearchForm">Add/edit taxonomic opinion</A></li>
              </div>
              <li><a href="?a=displaySearchCollsForAdd">Add a new collection</a></li>
              <li><a href="?a=displayOccurrenceAddEdit">Add taxonomic occurrences</a>&nbsp;&nbsp;</li>
              <li><a href="?a=displaySearchColls&type=occurrence_list">Paste in an occurrence list</a>&nbsp;&nbsp;</li>
              <li><a href="?a=displaySearchColls&type=occurrence_table">Add/edit a table of occurrences</a>&nbsp;&nbsp;</li>
              <li><a href="?a=home">Go to the public web site</a></li>
            </ul>

            <p class="large">References</p>
            <ul>
              <li><a href="?a=displaySearchRefs&amp;type=select">Change current reference</a></li>
              <li><a href="?a=editCurrentRef">Edit current reference</a></li>
              <li><a href="?a=displaySearchRefs&amp;type=edit">Edit a different reference</a></li>
            </ul>

            <p class="large">Collections and occurrences</p>
            <ul>
              <li><a href="?a=displaySearchColls&amp;type=edit">Edit an old collection</a></li>
              <li><a href="?a=displayOccurrenceAddEdit">Edit old occurrences</a>&nbsp;&nbsp;</li>
              <div show="access">
              <li><a href="?a=displayReIDCollsAndOccsSearchForm">Reidentify occurrences</a></li>
              </div>
              <li><a href="?a=startStartReclassifyOccurrences">Reclassify occurrences of homonyms</a></li>
              <div show="access">
              <li><a href="?a=searchOccurrenceMisspellingForm">Correct misspellings</a></li>
              </div>
            </ul>

            <p class="large">Additional entry functions</p>
            <ul>
              <div show="access">
<!--
              <li><a href="?a=displayReviewForm">Add/edit review page</a></li>
-->
              <li><a href="?a=displayCladeSearchForm">Add/edit cladogram</a></li>
              </div>
              <li><a href="?a=startStartEcologyTaphonomySearch">Add/edit ecological/taphonomic data</a></li>
              <li><a href="?a=startStartEcologyVertebrateSearch">Add/edit vertebrate ecology data</a></li>
              <div show="access">
              <li><a href="?a=displaySpecimenSearchForm">Add/edit specimen measurement data</a></li>
              </div>
              <li><a href="?a=startImage">Add an image of a taxon</a></li>
              <li><a href="?a=displaySanityForm">Check progress on a group</a></li>
              <li><a href="?a=badNameForm">Search for bad names</a></li>
            </ul>
	    <ul>
	      <li><a href="?a=uploadNexusFile">Upload a nexus file</a></li>
	    </ul>
          </div>
          </td>

          <td valign="top" class="small">
          <div style="margin-left: 2em;">
          <p class="verylarge">Other</p>

            <p class="large">Search</p>
            <ul>
              <li><a href="?a=displaySearchRefs&amp;type=view">Search for a reference</a></li>
              <li><a href="?a=displaySearchColls&amp;type=view">Search for collections</a></li>
	      <li><a href="?a=nexusFileSearch">Search for nexus files</a></li>
              <li><a href="?a=displaySearchStrataForm&amp;type=view">Search for a stratigraphic unit</a></li>
              <li><a href="?a=mapForm">Show collections on a map</a></li>
              <li><a href="?a=beginTaxonInfo">Search for a taxon</a></li>
              <li><a href="?a=classificationForm">Print a taxonomic hierarchy</a></li>
              <li><a href="?a=searchScale">View a time scale</a></li>
              <li><a href="?a=intervals">View a time interval</a></li>
<!--
              <li><a href="?a=listReviews">Read review pages</a></li>
-->
            </ul>

            <p class="large">Download</p>
            <ul>
              <li><a href="?a=displayDownloadForm">Download occurrences</a></li>
              <li><a href="?a=displayDownloadTaxonomyForm">Download taxonomic names and opinions</a></li>
              <li><a href="?a=displayDownloadMeasurementsForm">Download measurements</a></li>
              <li><a href="?a=displayDownloadNeptuneForm">Download/analyze Neptune data</a></li>
            </ul>

            <p class="large">Data analysis</p>
            <ul>
              <li><a href="?a=displayReportForm">Generate data summary tables</a></li>
              <li><a href="?a=displaySearchColls&amp;type=most_common">Find common taxa</a></li>
              <li><a href="?a=beginFirstAppearance">Calculate a first appearance</a></li>
              <li><a href="?a=displayCurveForm">Generate diversity curves</a></li>
              <li><a href="?a=displaySearchColls&amp;type=analyze_abundance">Analyze abundance data</a></li>
              <li><a href="?a=displayTaxaIntervalsForm">Analyze taxonomic ranges</a></li>
              <li><a href="?a=displaySearchSectionForm">Analyze stratigraphic sections</a></li>
              <li><a href="?page=word_odds_form">Analyze paper titles</a></li>
            </ul>

            <p class="large">Account management</p>
            <ul>
              <div show="officer">
              <li><a href="?a=personForm">Add person</a></li>
              <li style="margin-bottom: 0em;">Edit person named
                <form method="GET" action="">
                <input type="hidden" name="a" value="personForm">
                <input type="text" size="30" name="name" style="font-size: 0.5em; margin-bottom: -1em;">
                </form>
              </li>
              </div>
              <li><a href="?a=logout">Log out or change login</a></li>
              <li><a href="?a=displayPreferencesPage">Set preferences</a></li>
              <li><a href="?a=displayPermissionListForm">Change editing permission list</a></li>
	      <li><a href="http://paleodb.org/cgi-bin/yabb2/YaBB.pl" target="_blank">View discussion forum</a></li>
            </ul>
          </td>
          </div>
        </tr>
        <tr>
          <td colspan=2>
<div style="align: left; padding-left: 3em; padding-right: 3em;">
<i><p class="tiny">Please consult the <a href="javascript: tipsPopup('/public/tips/tutorial.html')">data entry tutorial</a> and tip sheets for entering
<a href="javascript: tipsPopup('/public/tips/tips.html')">collection data</a>,
<a href="javascript: tipsPopup('/public/tips/occurrence_tips.html')">occurrences</a>,
<a href="javascript: tipsPopup('/public/tips/lithtips.html')">lithologies</a>,
<a href="javascript: tipsPopup('/public/tips/environtips.html')">paleoenvironments/tectonic settings</a>,
<a href="javascript: tipsPopup('/public/tips/taxonomy_FAQ.html')">taxonomic data</a>,
<a href="javascript: tipsPopup('/public/tips/ecology_tips.html')">ecology/taphonomy</a>,
<a href="javascript: tipsPopup('/public/tips/paleobotany_tips.html')">paleobotany data</a>, and
<a href="javascript: tipsPopup('/public/tips/upload_tips.html')">batch uploads</a>. If you have further questions you can write to any member of the <a href="?page=EC">Executive Committee</a>.
Remember: enter all the data, don't enter lumped or mixed collections, and search carefully to avoid entering duplicates.</p>
</div>
    </td>
  </tr>
</table>
