<table border=0 align=center>
  <tr>
    <td>
      <table border=0>
      <tr><td colspan=2><h2 align=center>Paleobiology Database Main Menu</h2></td></tr>
	  <TR><TD> </TD></TR>
	  <TR><TD> </TD></TR>
        <tr>
          <td valign=top class=small>
          <h2>Data entry</h2>
            <h3>References</h3>
            <ul>
              <li><a href="$exec_url?action=displaySearchRefs&amp;type=add">Add a new reference</a></li>
              <li><a href="$exec_url?action=editCurrentRef">Edit current reference</a></li>
              <li><a href="$exec_url?action=displaySearchRefs&amp;type=edit">Edit a different reference</a></li>
            </ul>
            <h3>Collections</h3>
            <ul>
              <li><a href="$exec_url?action=startAddCollection">Add a new collection</a></li>
              <li><a href="$exec_url?action=startEditCollection">Edit an old collection</a></li>
            </ul>
            <h3>Occurrences</h3>
            <ul>
              <li><a href="$exec_url?action=startAddEditOccurrences">Add/edit occurrences for a collection</a>&nbsp;&nbsp;</li>
              <li><a href="$exec_url?action=startReidentifyOccurrences">Reidentify occurrences</a></li>
              <li><a href="$exec_url?action=startStartReclassifyOccurrences">Reclassify occurrences</a></li>
            </ul>
            <h3>Taxa</h3>
            <ul>
              <li><a href="$exec_url?action=displayAuthorityTaxonSearchForm">Add/edit taxonomic name</A></li>
			  <li><a href="$exec_url?action=displayOpinionTaxonSearchForm">Add/edit taxonomic opinion</A></li>
              <li><a href="$exec_url?action=startStartEcologyTaphonomySearch">Add/edit ecological/taphonomic data</a></li>
              <li><a href="$exec_url?action=startStartEcologyVertebrateSearch">Add/edit vertebrate ecology data</a></li>
              <li><a href="$exec_url?action=displaySpecimenSearchForm">Add/edit specimen measurement data</a></li>
              <li><a href="$exec_url?action=startImage">Add an image of a taxon</a></li>
            </ul>
          </td>
          <td valign=top class=small>
          <h2>Other</h2>
            <h3>Search</h3>
            <ul>
              <li><a href="$exec_url?action=displaySearchRefs&amp;type=select">Search for or select a reference</a></li>
              <li><a href="$exec_url?action=displaySearchColls&amp;type=view">Search for collections</a></li>
              <li><a href="$exec_url?action=displayMapForm">Show collections on a map</a></li>
              <li><a href="$exec_url?action=beginTaxonInfo">Search for a taxon</a></li>
              <li><a href="$exec_url?action=startStartPrintHierarchy">Print a taxonomic hierarchy</a></li>
              <li><a href="$exec_url?action=startScale">View a time scale</a></li>
            </ul>
            <h3>Data analysis</h3>
            <ul>
              <li><a href="$exec_url?action=displayReportForm">Generate data summary tables</a></li>
              <li><a href="$exec_url?action=displayDownloadForm">Download data sets</a></li>
              <li><a href="$exec_url?action=displayCurveForm">Generate diversity curves</a></li>
              <li><a href="$exec_url?action=displayTaxaIntervalsForm">Analyze taxonomic ranges</a></li>
              <li><a href="$exec_url?action=displaySearchSectionForm">Analyze stratigraphic section</a></li>
            </ul>
            <h3>Account management</h3>
            <ul>
              <li><a href="$exec_url?action=logout">Change login</a></li>
              <li><a href="$exec_url?action=displayPreferencesPage">Set preferences</a></li>
              <li><a href="$exec_url?user=Guest&amp;action=displayHomePage">Go to the public web site</a>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan=2>
<center><i><p class=small>Confused? Consult the <a href="javascript: tipsPopup('/public/tips/tutorial.html')">data entry tutorial</a> and tip sheets for entering
<a href="javascript: tipsPopup('/public/tips/tips.html')">collection and occurrence data</a>,
<a href="javascript: tipsPopup('/public/tips/lithtips.html')">lithologies</a>,
<br>
<a href="javascript: tipsPopup('/public/tips/environtips.html')">paleoenvironments/tectonic settings</a>,
<a href="javascript: tipsPopup('/public/tips/taxonomy_tips.html')">taxonomic data</a>,
<a href="javascript: tipsPopup('/public/tips/ecology_tips.html')">ecology/taphonomy</a>,
<a href="javascript: tipsPopup('/public/tips/paleobotany_tips.html')">paleobotany data</a>, and
<a href="javascript: tipsPopup('/public/tips/upload_tips.html')">batch uploads</a>
</i></p></center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
