<div align="center">
<h2>The Paleobiology Database: New Features</h2>
</div>

<center>
<p>
<a href="#Scripts">Scripts, pages, etc.</a> - <a href="#Meetings">Major changes resulting from meetings</a>
</p>
</center>
<hr>

<a name="Scripts"></a>
<center><h3>Newly added scripts, web pages, and other features</h3></center>

<center><h3>2005</h3></center>
<p>
<ul>
<li>2 March: added "smear slide" "acetic" "hydrochloric" "hydroflouric" "peroxide" to collection methods. "Added Abundance in sediment" pulldown. Add "hand sample" to geographic scale. Added "basinal (siliceous)" to environment. Added "coastal" "inner" "shelf" "outer" "shelf" "oceanic" "oligotrophic" "mesotrophic" "eutrophic" to 'General' environment group. Added "Depth habitat" pulldown.
</ul>

<center><h3>2004</h3></center>
<p>
<ul>
<li>14 May: "Analyze" function on collection display page automatically computes a test of whether the abundance distribution fits the log series
<li>12 May: Added options to download only those collections with certain geographic and stratigraphic scales
<li>26 April: Added "volcaniclastic" to lithology pulldown menus
<li>4 April: Added taxon number key to occurrences and reidentifications tables; rewrote data entry scripts so taxon numbers are added automatically to these tables; rewrote multiple scripts to employ numbers instead of names; released Reclassify module that allows changing the numbers
<li>25 March: Release of completely rewritten taxonomic data entry/editing functions, which employ new modules Taxon and Opinion
<li>8 March: TimeLookup computes age boundaries of 10 m.y. bins
<li>5 March: TimeLookup allows finding collections that fall in each 10 m.y. bin; added "compendium" value to publication type pulldown; scripts prefer all other publication types to compendium when computing best taxonomic assignment for a taxon
<li>29 February: Changed Download so user can select a time scale across which occurrences are tallied and printed to a -scale file
<li>26 February: Download creates a -genera file that lists the downloaded genera and their geometric mean abundances
<li>23 February: TimeLookup allows finding the interval assignments for all collections, instead of just the collections falling in one interval
<li>18 February: Added kg value to rock censused unit pulldown
<li>19 January: Added "news article" value to publication type pulldown
</ul>

<center><h3>2003</h3></center>
<p>
<ul>
<li>31 December: Users can download data created before or after a specified date
<li>28 September: Users may search for taxonomic information by author name and publication year
<li>22 September: Release of ecology/taphonomy scripts and table
<li>21 September: PrintHierarchy module: prints a hierarchical classification for any specified taxa; data may be downloaded
<li>18 September: Download module modified to print lists of genera in addition to collections or occurrences
<li>14 September: displaySynonymyList function in TaxonInfo module: prints a full synonymy list in the traditional format
<li>28 August: Maps can be recentered by clicking on a point, or zoomed in or out by clicking on a link; all text on map results page placed in a navigation menu on the left side
<li>19 August: Added 1% to references; GPS datum field, "ash" and "tuff" values in lithology fields, and "very fine" through "very coarse" values in lithology adjective fields to collections
<li>23 July: Major system upgrade: time interval fields in collections table/forms consolidated; new scales, intervals, and correlations tables added; Scales.pm and TimeLookup.pm released; and Download.pm, Map.pm, and Report.pm revised to employ new tables via TimeLookup.pm
<li>15 July: "PACED" added to lists of research groups and projects
<li>5 July: Revised collection form by adding museum repositories pulldowns; "archaeological" to reason for collection; "lenticular," "tabular," "pedogenic," "brown," "red," and "white" to lithology adjectives; "anthropogenic" and "bone collector" to modes of occurrence; "burning," "cutmarks," and "stone tools" to feeding/predation traces; and "ichnofossils" to what is not on the list
<li>1 July: Created tutorial page
<li>27 June: Released Classification.pm module and revised Download.pm to allow classs, order, and family names of occurrences to be downloaded
<li>11 June: Moved from the old Dell PowerEdge server to the new Apple Xserve
<li>6 May: Released new Images.pm module, which allows uploading images and viewing them through the taxonomic information page
<li>26 March: Enterers can "Use collection's reference" when editing an old collection
<li>3 February: "paleoentomology" added to list of research groups
<li>23 January: Taxonomic data entry and taxon information scripts released
</ul>

<center>
<h3>2002</h3></center>
<p>
<ul>
<li>21 December: Enterer names may be used to constrain map searches
<li>18 November: Paleogeographic reconstructions added to map generator, plus Adobe Illustrator, GIF, JPEG, and PICT download options; ability to plot up to four different sets of data points; variable image sizes; multiple new colors; cartoons of colors and projections; etc.
<li>4 November: Major revision of map generator: allows Eckert, Mollweide, and orthographic projections; may draw international and U.S. state borders; points may be crosses, diamonds, stars, or triangles; multiple new colors; etc.
<li>24 October: Map background color may be set to "transparent"
<li>23 October: Secondary references may be assigned to collections and are computed automatically on entry of occurrences
<li>22 October: Plant organ values may be downloaded
<li>10 October: Research projects and not just research groups may be used to filter the data when searching for collections, downloading data, or making tabular reports; speed of report script greatly enhanced
<li>4 October: Curves may be restricted to use only collections created before or after a date; authorizer name determined automatically by curve script
<li>3 October: Maps may be restricted to research projects, not just research groups
<li>1 October: "PGAP" added to list of research projects; collection names displayed on occurrence list edit/entry pages
<li>26 September: speed of download script greatly increased; "quartzite" added to lithology fields
<li>24 September: Quote character ('"') added to genus, subgenus, and species resolution fields in occurrences table
<li>20 August: Collection and map searches by genus-species or species name; basic age and geography info displayed after collection name on collection search results page
<li>16 August: Collection search by genus name queries not just occurrences but reidentifications
<li>1 August: Number of blank occurrence rows set as a preference instead of entered in the collection search form
<li>27 July: references may be sorted by enterer or date of entry
<li>26 July: 30 references may be viewed at a time; references may be sorted by author, year, publication title, or authorizer; "tar," "amber," and "evaporite" added to primary and secondary lithology; "stromatolitic" and "tuffaceous" added to lithology adjectives; "mire" changed to "mire/swamp"; "concretion" added to modes of preservation; "cellulose" added to original biominerals; "seasonal" added to degree of concentration; eight insect damage categories added to feeding/predation traces
<li>23 July: "volcanic basin" and "crater basin" added to tectonic settings
<li>12 July: "siliciclastic" and "mixed carbonate-siliciclastic" added to lithology fields; "Holocene" removed from period fields
<li>11 July: Collections may be searched by reference number
<li>9 July: Default species name may be set to "indet." or "sp."
<li>8 July: Entry of lat/long coordinates made mandatory for new collections; "floatstone" and "rudstone" added to lithology pulldowns
<li>7 July: Map view options added to preferences
<li>6 July: Downloads may be restricted to a single country
<li>4 July: Subgenus names may be downloaded; reidentifications may be edited by means of the edit occurrences function
<li>1 July: Any search for references automatically generates a downloadable flat file
<li>30 June: Preferences added for lat and long degree value, location details, stratigraphy comments, and lithology description
<li>29 June: Preferences added for state, geographic resolution, epoch maximum, formation, stratigraphic resolution, primary lithology, paleoenvironment, body fossils, assemblage components, and field collection
<li>28 June: References may be searched by any authorizer, not just "mine only"
<li>27 June: Preferences added for research group, latitude and longitude direction, purpose of collection
<li>26 June: Preferences added for full collection search form and abundances in occurrence form
<li>25 June: Users may set preferences for country, period, and display of taphonomy section, subgenera, and plant organs; subset and superset collections displayed with links around collection numbers on collection display page; map generator may search using "today/yesterday/two days ago" etc. limits
<li>13 June: "framestone," "bafflestone," and "bindstone" added to lithology fields; contributors' area main page integrated into bridge
<li>12 June: Data set coverage page revised: clicking on words in the cells generates a map query for the relevant period/continent/research group
<li>11 June: "Guest" user implemented, so public pages are served by bridge.pl; collection and reference data released on public web site; major revision of public pages, including revamped navigation menu, cleaned up main page, randomly selected fossil image, etc.; revision of contributors' main page; "Asia (north)" view added to map generator
<li>4 June: Map generator allows "formation" searches
<li>3 June: Major revision of data entry scripts: "person" table, improved session management and page-to-page traffic control, only a single login required, enterer and reference tracked throughout a session, additional navigation menu at the top of each page, alternating dark and light backgrounds in search return tables, "me" buttons
<li>16 May: Required fields in references, occurrences, and reidentifications forms checked by
a Java script
<li>15 May: Scripts prevent entry of multiple identical records
<li>13 May: Links to tip sheet pages cause a new browser window to pop up
<li>2 May: More than one project name may be checked off at once in references form
<li>25 March: Map search by "modified since"
<li>22 March: "unpublished field data" added to lat/long basis field
<li>19 March: Plant organ pulldown revisions: second pulldown added adjacent to first; "multi organs" added and three values abbreviated
<li>19 March: Age/stage search added to map and download scripts
<li>8 March: "volcaniclastic" added to lithology adjective fields
<li>25 February: <a href="buglist.html">Bug list page</a> released; customized diversity curve forms created for each working group, and report generator may restrict tabulations to data of individual working groups; North American land mammal ages added to age/stage lookup table; project names and project ref numbers added to reference table/forms; reference searches by title words or PBDB reference number; facelift of reference search return page, with links to collections tied to each reference
</ul>
</p>

<center><h3>1999 - 2001</h3></center>
<p>
<ul>
<li>1 November 2001: Revised taxonomic authorities data entry script released
<li>22 October 2001: Paleobiology Database domain names (paleodatabase.org, paleodb.org, pbdb.org) made available to name servers by UCSB
<li>21 August 2001: Revision of main page in data entry and analysis area; terrestrial lithologies such as "coal ball" added to lithology fields; debugging of download script
<li>19 July 2001: <a href="/public/datasets.html">Major data sets page</a> released
<li>5 July 2001: <a href="/public/pdnetwork.html">Paleontology Database Network page</a> released
<li>26 June 2001: Reidentification data entry script released
<li>9 April 2001: <a href="/public/publications.html">Official PBDB publications page</a> released
<li>5 April 2000: Removed "unpublished" from "type of publication" field, and field renamed "purpose of collection"
<li>August 1999: Major database structure upgrade
<li>26 July 1999: Added six <b>Early/Middle/Late</b> fields
</ul>
</p>

<hr>

<a name="Meetings"></a>
<h4>Changes proposed at the March, 2001 working group meetings</h4>
All of these changes had been implemented as of May, 2002.<p>
<ul>
<li>"Period" and "Epoch/series" fields split into maximum and minimum fields
<li>"Modern" added to "Period" fields
<li>new "Group" field
<li>"group" added to "scale of stratigraphic resolution" field
<li>single "lithology adjectives" and "lithification" fields each split into two fields, each associated with a different lithology
<li>"metamorphosed" added to "lithification" field
<li>"siderite" added to primary and secondary "lithology" fields
<li>modified marine values in "paleoenvironment" field
<ul>
<li>"shallow subtidal" changed to "shallow subtidal indet."
<li>new "lagoonal/restricted shallow subtidal" and "open shallow subtidal" values
<li>"paralic indet." changed to "marginal marine indet."
<li>new "paralic" value
</ul>
<li>multiple new terrestrial values in "paleoenvironment" field
<li>multiple new values in "tectonic setting" field
<li>new "sequence stratigraphy" field
<li>new taphonomy section (multiple new fields and values)
<li>"taphonomic" added to "purpose of collection" field
<li>"anthill" added to "collection method" field
</ul>

<hr>

<h4>Changes proposed at the March, 1999 working group meeting</h4>
All of these changes were implemented.<p>

<ul>
<li><b>Authorized by</b>: name changed from "Contributor"; added value <i>D. Jacobs (F. Fursich, T. Hansen,</i> and <i>M. Kosnik</i> were added just before the meeting)
<li><b>Entered by</b>: field added; set to be a copy of "Authorized by" list plus values <i>S. Low</i> and <i>M. Sommers</i>
<li><b>Collection name</b>: name changed from "Locality name"; 80 character limit imposed
<li><b>Also known as</b>: field added
<li><b>Scale of geographic resolution</b>: field added
<li><b>Section name</b>: field added
<li><b>Scale of stratigraphic resolution</b>: field added
<li><b>Lithology adjectives</b>: added values <i>condensed, firmground, hardground, lag,</i> and <i>yellow;</i> "skeletal" changed to <i>shelly/skeletal</i>
<li><b>Lithification</b>: field added
<li><b>Lithology</b>: "firmground" and "hardground" removed; "shale," "sandstone," and "siltstone" changed to <i>shale/clay/claystone, sand/sandstone,</i> and <i>silt/siltstone</i>
<li><b>Interbedded/mixed with</b>: field added
<li><b>Lithology 2</b>: field added
<li><b>Paleoenvironment</b>: five "indet." fields added
<li><b>Modes of preservation</b>: <i>concretion, soft part,</i> and eight "original" and "replaced with" fields added
<li><b>Publication type</b>: <i>unpublished</i> added
<li><b>List coverage</b>: "one or a few groups" removed; <i>all macrofossils, all microfossils, some macrofossils, some microfossils,</i> and <i>one group only</i> added
<li><b>Collection attributes</b>: "bulk - chemical" and "bulk - mechanical" changed to <i>bulk, chemical,</i> and <i>mechanical;</i> "field survey" changed to <i>field collection;</i> "surface" split into <i>surface (float)</i> and <i>surface (in situ);</i> <i>observed (not collected), peel or thin section,</i> and <i>survey of museum collection</i> added
</ul>

