<!-- Begin occurrence_header_row.html -->

<div class="titleDetails">Taxonomic list for collection <span id="collection_no"></span> (<span id="collection_name"></span>)</div>

<p>Required fields are in <span class="required">red</span>. 
Consult the <a href="javascript:tipsPopup('/public/tips/tips.html#Occurrences')">main data entry tip sheet</a> 
or <a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">plant organ tip sheet</a> for help.
</p>


<table>
<tr>
<!-- OPTIONAL genus_and_species_only -->
  <th>Genus reso</th>
<!-- END genus_and_species_only -->
	<th><span class="required">Genus<br><font size=-2> or higher taxon</span></th>
<!-- OPTIONAL genus_and_species_only -->
<!-- OPTIONAL subgenera -->
	<th>Subgenus reso</th>
	<th>Subgenus name</th>
<!-- END subgenera -->
	<th>Species reso</th>
<!-- END genus_and_species_only -->
	<th><span class="required">Species<br><font size=-2> or sp. or indet.</span></th>
<!-- OPTIONAL genus_and_species_only -->
<!-- OPTIONAL abundances -->
	<th colspan=2><a href="javascript:tipsPopup('/public/tips/tips.html#Abundance')">Abundance and unit</a></th>
<!-- END abundances -->
	<th>Reference</th>
	<th>Comments</th>
<!-- OPTIONAL plant_organs -->
  <th><a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">Plant organ</a></th>
  <th><a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">Plant organ 2</a></th>
<!-- END plant_organs -->
<!-- END genus_and_species_only -->
</tr>
<!-- End occurrence_header_row.html -->
