<!-- Begin occurrence_header_row.html -->

<div align="center"><h4>Taxonomic list for collection <span id="collection_no"></span> (<span id="collection_name"></span>)</h4></div>

<p>Required fields are in <span class="required">red</span>. Delete entries by setting the genus name to blank. 
Consult the <a href="javascript:tipsPopup('/public/tips/tips.html#Occurrences')">main data entry tip sheet</a> 
or <a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">plant organ tip sheet</a> for help.
</p>


<table class="small">
<tr>
<div hide="genus_and_species_only">
  <th>Genus reso</th>
</div>
	<th><span class="required">Genus<br><span class="small"> or higher taxon</span></span></th>
<div hide="genus_and_species_only">
<div show="subgenera">
	<th>Subgenus reso</th>
	<th>Subgenus name</th>
</div>
	<th>Species reso</th>
</div>
	<th><span class="required">Species<br><span class="small"> or sp. or indet.</span></span></th>
<div hide="genus_and_species_only">
<div show="abundances">
	<th colspan=2><a href="javascript:tipsPopup('/public/tips/tips.html#Abundance')">Abundance and unit</a></th>
</div>
</div>
	<th>Reference</th>
<div hide="genus_and_species_only">
	<th>Comments</th>
<div show="plant_organs">
  <th><a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">Plant organ</a></th>
  <th><a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">Plant organ 2</a></th>
</div>
</div>
</tr>
<!-- End occurrence_header_row.html -->
