<!-- Begin occurrence_header_row.html -->
<tr><td width="30%"></td><td width="70%">
<h3>Taxonomic list for collection <span id="collection_no"></span></h3>
For help, please see the <a href="javascript:tipsPopup('/public/tips/tips.html#Occurrences')">tip sheet</a>.
</td></tr>
</table><br>


<table>
<tr>
  <th>Genus reso</th>
	<th><font color='red'>Genus</font><br><font color='red' size=-2> or higher taxon</font></th>
<!-- OPTIONAL subgenera -->
	<th>Subgenus reso</th>
	<th>Subgenus name</th>
<!-- END subgenera -->
	<th>Species reso</th>
	<th><font color='red'>Species</font><br><font color='red' size=-2> or sp. or indet.</font></th>
<!-- OPTIONAL abundances -->
	<th colspan=2><a href="javascript:tipsPopup('/public/tips/abundance_tips.html')">Abundance and unit</a></th>
<!-- END abundances -->
	<th>Reference</th>
	<th>Comments</th>
<!-- OPTIONAL plant_organs -->
  <th><a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">Plant organ</a></th>
  <th><a href="javascript:tipsPopup('/public/tips/paleobotany_tips.html')">Plant organ 2</a></th>
<!-- END plant_organs -->
</tr>
<!-- End occurrence_header_row.html -->
