<!-- Begin occurrence entry row -->
<tr>
	<td>
	<input type=hidden name="row_token" value="row_token">
<div show="collection_no">
	<input id="collection_no" type="hidden">
	<input name="occurrence_no" type="hidden" value="-1">
	<input id="reid_no" type="hidden" value="-1">
</div>

	<input name="taxon_name" size="30" maxlength="255" class="small">
	</td>

<div hide="genus_and_species_only">
<div show="abundances">
	<td><input name="abund_value" size="4" maxlength="255" class="small"></td>
	<td><select id="abund_unit" class="verysmall"></select></td>
</div>
<div show="counts">
	<td><input name="abund_value" size="4" maxlength="255" class="small"></td>
</div>
</div>
<div hide="counts">
	<td align="center"><input id="reference_no" type="hidden" class="small"><span style="color: lightgrey;"><span id="reference_no"></span></span></td>
</div>
<div hide="genus_and_species_only">
	<td><input name="comments" size="40" maxlength="65535" class="small"></td>
<div show="plant_organs">
	<td><select id="plant_organ" class="small"></select></td>
	<td><select id="plant_organ2" class="small"></select></td>
</div>
</div>
</tr>
<!-- End occurrence entry row -->
