<!-- Begin occurrence edit row -->
<tr>
	<input id="collection_no" type=hidden>
	<input id="authorizer" type=hidden>
	<input id="enterer" type=hidden>
	<input id="occurrence_no" type=hidden>
	<input id="reid_no" type=hidden>
	<td align=right><select id="genus_reso"></select></td>
	<td><input id="genus_name" size=20 maxlength=255></td>
<!-- OPTIONAL subgenera -->
	<td align=right><select id="subgenus_reso"></select></td>
	<td><input id="subgenus_name" size=20 maxlength=255></td>
<!-- END subgenera -->
	<td align=right><select id="species_reso"></select></td>
	<td><input id="species_name" size=20 maxlength=255></td>
<!-- OPTIONAL abundances -->
	<td><input id="abund_value" size=4 maxlength=255></td>
	<td><select id="abund_unit"></select></td>
<!-- END abundances -->
	<td align=center><input id="reference_no" size=6 maxlength=10></td>
	<td><input id="comments" size=40 maxlength=65535></td>
<!-- OPTIONAL plant_organs -->
	<td><select id="plant_organ"></select></td>
	<td><select id="plant_organ2"></select></td>
<!-- END plant_organs -->
</tr>
<!-- End occurrence edit row -->
