
<div align="center"><p class="large" style="margin-bottom: 1.5em;">%%collection_name%%<p></div>

<p class="verysmall" style="margin-left: 8em; margin-right: 8em;">
%%old_occurrences%%
You can always use the <a href="%%write_url%%?action=displayOccurrenceAddEdit&collection_no=%%collection_no%%">regular form</a> instead.
</p>

<input name="action" value="processEditOccurrences" type="hidden">
<input type="hidden" name="collection_no" value="">
<input type="hidden" name="list_collection_no" value="">
<input type="hidden" name="reference_no" value="">
<input type="hidden" name="form_source" value="occurrence_list_form">

<div style="margin-left: 8em;">

<div style="clear: none; float: left;">

<div style="margin-left: 7em;">
<p class="medium">Taxonomic list</p>
</div>

<textarea id="taxon_list" rows="40" cols="40"></textarea>
</div>

<div class="verysmall" style="clear: right; float: left; margin-top: 4em; margin-left: 2em; text-align: left;">

<div>
Place informal names in &lt;brackets&gt;.<br>
</div>
<div style="text-indent: -0.5em; padding-left: 0.5em;">
Write comments on the line after<br>the name starting with * # or /.<br>
</div>
Examples:
<div style="border: 1px solid gray; text-align: left; margin-top: 1em; height: 15em; width: 18em;">
Homo ? sapiens<br>
*AMNH 99999<br>
aff. Acer sp.<br>
Dinosauria indet.<br>
#isolated teeth<br>
cf. Murchisonia &lt;sp. A&gt;<br>
Panthera onca<br>
/subspecies "P. onca augusta"<br>
</div>

<p class="verysmall">
Don't forget to read the <a href="javascript:tipsPopup('/public/tips/occurrence_tips.html')">occurrence tip sheet</a> 
</p>

<div style="clear: left; margin-top: 3em;">
<p><input value="Enter" type="submit"> the new occurrences</p>
</form>

</div>

</div>

</div>

<div style="clear: both; height: 2em;"></div>
