<!-- Begin occurrence read only row -->
<tr bgcolor="#E0E0E0">
	<td align=right><div id="genus_reso"><span id="genus_reso"></span></div></td>
	<td align="center"><span id="genus_name"></span></td>
<!-- OPTIONAL subgenera -->
	<td align=right><span id="subgenus_reso"></span></td>
	<td align="center"><span id="subgenus_name"></span></td>
<!-- END subgenera -->
	<td align=right><span id="species_reso"></span></td>
	<td align="center"><span id="species_name"></span></td>
<!-- OPTIONAL abundances -->
	<td align="center"><span id="abund_value"></span></td>
	<td align="center"><span id="abund_unit"></span></td>
<!-- END abundances -->
	<td align="center"><span id="reference_no"></span></td>
	<td><span id="comments"></span></td>
<!-- OPTIONAL plant_organs -->
	<td><span id="plant_organ"></span></td>
	<td><span id="plant_organ2"></span></td>
<!-- END plant_organs -->
</tr>
<!-- End occurrence read only row -->
