<HTML>
<HEAD><TITLE>Paleobiology Database Diversity Curve Request Form</TITLE></HEAD>
<body bgcolor="white" background="/public/PDbg.gif" text=black link="#0033FF" vlink="#990099">

<font face="arial,helvetica">
<CENTER>
<H1>Paleobiology Database Diversity Curve Request Form</H1></CENTER>

<h4>
This form allows you to request a diversity curve with assorted statistics.
</h4>
<i>Note: I plan to add more options for excluding collections that are missing data in any of a variety of categories.</i><p>

The basic time scale used by this form derives from <a href="javascript: tipsPopup( '/public/data/harland.html')">Harland et al. 1989</a>.
Analyses may employ either epochs from the Harland scale or <a href="/public/timescale.10my.html">10 m.y.-long "working intervals"</a> defined by the group.<p>

<form method="POST" action="%%read_url%%">
 
<input type=hidden name="action" value="displayCurveResults">

<table cellpadding=4>
<tr><td colspan=2><b><font size=+1>Spatiotemporal coverage</font></b>
<tr><td>
<font size=-1>
What working time scale should be used?
</font>

<td><font size=-1><select name=scale>
<option>stages
<option>Sepkoski intervals
<option selected>10 m.y. intervals
<option>Harland epochs
</select>
</font>

<tr><td valign=top>
<font size=-1>
If you only want to include specific geographic regions, check them off:

<td valign=top><font size=-1>
<input type=checkbox name="Africa" value="Y">Africa
<input type=checkbox name="Antarctica" value="Y">Antarctica
<input type=checkbox name="Asia" value="Y">Asia
<input type=checkbox name="Australia" value="Y">Australia<br>
<input type=checkbox name="Europe" value="Y">Europe
<input type=checkbox name="North America" value="Y">North America
<input type=checkbox name="South America" value="Y">South America<br>

<tr><td>
<font size=-1>
Include lists that have poor geographic data (no county or lat/long)?
<td><font size=-1>
<select name=strictgeography>
<option selected>yes, include them
<option>no, exclude them
</select>

<tr><td>
<font size=-1>
Include lists that have not been fit into a single age/stage?
<td><font size=-1>
<select name=strictchronology>
<option selected>yes, include them
<option>no, exclude them
</select>

<tr><td colspan=2><b><font size=+1>Additional restrictions</font></b>

<tr><td>
Created 
<select name="created_before_after">
<option selected>before
<option>after
</select>

</td><td>
<select name="date">
<option selected>
<option>31 <option>30
<option>29 <option>28 <option>27 <option>26 <option>25
<option>24 <option>23 <option>22 <option>21 <option>20
<option>19 <option>18 <option>17 <option>16 <option>15
<option>14 <option>13 <option>12 <option>11 <option>10
<option>9 <option>8 <option>7 <option>6 <option>5
<option>4 <option>3 <option>2 <option>1
</select>

<select name="month">
<option selected>
<option>December
<option>November
<option>October
<option>September
<option>August
<option>July
<option>June
<option>May
<option>April
<option>March
<option>February
<option>January
</select>

<select name="year">
<option selected>
<option>2003
<option>2002
<option>2001
<option>2000
<option>1999
<option>1998
</select>
	</td>
</tr>

<tr><td>
<font size=-1>
<select name=stratscale_minmax>
<option selected>broadest
<option>narrowest
</select>
allowable scale of stratigraphic resolution:
<td><font size=-1>
<select name=stratscale>
<option selected>
<option>formation
<option>member
<option>group of beds
<option>bed
</select>

<tr><td>
<font size=-1>
Required stratigraphic data (= fields that must be filled):
<td><font size=-1>
<input type=checkbox name=requiredfm value="Y">formation
<input type=checkbox name=requiredmbr value="Y">member

<tr><td>
<font size=-1>
Lumping of collections:
<td><font size=-1>
<input type=checkbox name=lumpbyfm value="Y">by formation
</select>

<tr><td>
<font size=-1>
Include lists with <select name=lowerupper>
<option selected>at least
<option>no more than
</select>
how many genus occurrences?

<td>
<input name=cutoff size=10>

<tr><td>
<font size=-1>
You may restrict the analysis so that the lithology field must
<select name=lithonlyor>
<option selected>equal
<option>include
<option>combine
</select>
the following value:<br>
<font size=-1>
Warning! Select only from the left-hand list unless you want to combine lithologies.

<td valign=top><font size=-1>
<select name=lithology1>
<option selected>
<option>all siliciclastic lithologies
<option>all carbonate lithologies
<option>
<option>claystone
<option>mudstone
<option>"shale"
<option>siltstone
<option>sandstone
<option>conglomerate
<option>
<option>marl
<option>
<option>lime mudstone
<option>wackestone
<option>packstone
<option>grainstone
<option>"reef rocks"
<option>"limestone"
<option>dolomite
<option>"carbonate"
<option>
<option>chert
<option>phosphorite
<option>ironstone
<option>
</select>

<select name=lithology2>
<option selected>
<option>all siliciclastic lithologies
<option>all carbonate lithologies
<option>
<option>claystone
<option>mudstone
<option>"shale"
<option>siltstone
<option>sandstone
<option>conglomerate
<option>
<option>marl
<option>
<option>lime mudstone
<option>wackestone
<option>packstone
<option>grainstone
<option>"reef rocks"
<option>"limestone"
<option>dolomite
<option>"carbonate"
<option>
<option>chert
<option>phosphorite
<option>ironstone
<option>
</select>

<tr><td>
<font size=-1>
You may restrict the analysis so that the paleoenvironment field must
fall in the following category:

<td valign=top><font size=-1>
<select name=paleoenvironment>
<option selected>
<option>zone 1
<option>zone 2
<option>zone 3
<option>zone 4
<option>zone 5
</select>

<tr><td valign=top>
<font size=-1>
If you don't want to analyze all taxonomic groups together, you may either check off a set of allowed or required groups or select a single class.
Required groups must be present in every list; allowed groups also will be counted but may be in absent in some lists.
<td>

<font size=-1>
brachiopods
<select name=brachiopods>
<option>
<option selected>allowed
<option>required
</select><br>

<font size=-1>
bryozoans
<select name=bryozoans>
<option selected>
<option>allowed
<option>required
</select><br>

<font size=-1>
cephalopods
<select name=cephalopods>
<option>
<option selected>allowed
<option>required
</select><br>

<font size=-1>
conodonts
<select name=conodonts>
<option selected>
<option>allowed
<option>required
</select><br>

<font size=-1>
corals
<select name=corals>
<option>
<option selected>allowed
<option>required
</select><br>

<font size=-1>
echinoderms
<select name=echinoderms>
<option>
<option selected>allowed
<option>required
</select><br>

<font size=-1>
graptolites
<select name=graptolites>
<option selected>
<option>allowed
<option>required
</select><br>

<font size=-1>
molluscs (benthic)
<select name=molluscs>
<option>
<option selected>allowed
<option>required
</select><br>

<font size=-1>
trilobites
<select name=trilobites>
<option>
<option selected>allowed
<option>required
</select>
<p>

<select name=class>
<option selected>
<option>Anthozoa
<option>Articulata
<option>Bivalvia
<option>Cephalopoda
<option>Crinoidea
<option>Echinoidea
<option>Gastropoda
<option>Gymnolaemata
<option>Stenolaemata
<option>Trilobita

<option>
<option>Acantharia
<option>Acanthodii
<option>Acrania
<option>Amphibia
<option>Arachnida
<option>Ascidiacea
<option>Asteroidea
<option>Aves
<option>Blastoidea
<option>Brachypoda
<option>Branchiopoda
<option>Calcarea
<option>Cambroclavida
<option>Camptostromoidea
<option>Cephalaspidomorphi
<option>Cephalochordata
<option>Chondrichthyes
<option>Cirripedia
<option>Coeloscleritophora
<option>Conodonta
<option>Copepoda
<option>Coronata
<option>Cribricyathea
<option>Cricoconarida
<option>Ctenocystoidea
<option>Cubozoa
<option>Cyclozoa
<option>Demospongia
<option>Dinocarida
<option>Diploporita
<option>Diplorhina
<option>Edrioasteroidea
<option>Eldonioidea
<option>Enteropneusta
<option>Eocrinoidea
<option>Graptolithina
<option>Helcionelloida
<option>Helicoplacoidea
<option>Hexactinellida
<option>Hirudinea
<option>Holothuroidea
<option>Homoiostelea
<option>Homostelea
<option>Hydroconozoa
<option>Hydrozoa
<option>Hyolithomorpha
<option>Inarticulata
<option>Incertae
<option>Irregulares
<option>Lingulata
<option>Machaeridia
<option>Malacostraca
<option>Mammalia
<option>Marrelomorpha
<option>Medusae
<option>Merostomata
<option>Merostomoidea
<option>Monorhina
<option>Multiplacophora
<option>Myriapoda
<option>Myzostomaria
<option>Oligochaeta
<option>Ophiocistioidea
<option>Ophiuroidea
<option>Orthothecimorpha
<option>Osteichthyes
<option>Ostracoda
<option>Palaeoscolecida
<option>Parablastoidea
<option>Paracrinoidea
<option>Paragastropoda
<option>Paratrilobita
<option>Petalonamae
<option>Placodermi
<option>Polychaeta
<option>Polyhymenophora
<option>Polyplacophora
<option>Pteraspidomorphi
<option>Pterobranchia
<option>Pycnogonida
<option>Radiolaria
<option>Regulares
<option>Remipedia
<option>Reptilia
<option>Rhabditida
<option>Rhizopodea
<option>Rhombifera
<option>Rostroconchia
<option>Scaphopoda
<option>Scyphozoa
<option>Somasteroidea
<option>Stenothecoidea
<option>Stylophora
<option>Tentaculitoidea
<option>Tergomya
<option>Thylacocephala
<option>Tommotiida
<option>Tunicata
<option>Uncertain

</select>

<tr><td colspan=2><b><font size=+1>Subsampling</font></b><br>
Important: Don't modify anything in this section unless you want to perform subsampling analyses. Nothing will happen unless you configure the required pull-downs.

<tr><td valign=top>
<font size=-1>
Subsampling method:<br>
<i><font color="FF0000" size=-2>Required</font> <font size=-2>if you want to do a subsampling analysis.</font></i>
<td valign=top>
<font size=-1>
<select name=samplingmethod>
<option selected>
<option>classical rarefaction
<option>by-list subsampling (lists tallied)
<option>by-list subsampling (occurrences tallied)
<option>by-list subsampling (occurrences-squared tallied)
<option>by-specimen subsampling
</select>

<tr><td valign=top>
<font size=-1>
Exact number of items (lists, occurrences, or occurrences-squared) to draw in each temporal bin:<br>
<i><font color="FF0000" size=-2>Required</font> <font size=-2>if you want to do
a subsampling analysis.</font></i>
<td valign=top>
<input name=samplesize>
<!--
<font size=-1>
<select name=samplesize>
<option selected>
<option>10
<option>20
<option>50
<option>100
<option>150
<option>200
<option>500
<option>1000
<option>1500
<option>2000
<option>5000
</select>
-->

<tr><td valign=top>
<font size=-1>
Intermediate numbers of items to report in subsampling curves:<br>
<i><font size=-2>Not required.</font></i>
<td valign=top>
<font size=-1>
<select name=stepsize>
<option selected>
<option>1, 10, 100...
<option>1, 3, 10, 30...
<option>1, 2, 5, 10...
<option>1, 2, 4, 8...
<option>1, 1.4, 2, 2.8...
<option>1000, 2000, 3000...
<option>100, 200, 300...
<option>50, 100, 150...
<option>20, 40, 60...
</select>

<tr><td valign=top>
<font size=-1>
Number of subsampling trials:<br>
<i><font color="FF0000" size=-2>Required</font> <font size=-2>if you want to do a subsampling analysis.</font></i>
<td valign=top>
<font size=-1>
<select name=samplingtrials>
<option selected>
<option>1
<option>5
<option>10
<option>20
<option>50
<option>100
</select>

<tr><td valign=top>
<font size=-1>
Diversity measure to report:
<td valign=top>
<font size=-1>
<select name=diversity>
<option selected>boundary-crossers
<option>range-through
<option>range-through minus singletons
<option>sampled-in-bin
<option>sampled minus singletons
</select>

<tr><td valign=top>
<font size=-1>
Print subsampling stats for intervals with less items than the exact quota?

<td valign=top>
<font size=-1>
<select name=printall>
<option selected>no
<option>yes
</select>

<tr><td valign=top>
<font size=-1>
Use the geographic dispersion algorithm?
<td valign=top>
<font size=-1>
<select name=disperse>
<option selected>no
<option>yes
</select>
</table>

<hr>
<table cellpadding=4 width=100%>
<tr><td valign=top>

<tr><td valign=top>
<td valign=top align=right><input type=submit value="Submit">
</table>
</font>

</form>
<hr>

</body>

