<center><h2>Protocol for entry of 1% and 5% data</h2></center>

<h3>Reference classifications</h3>

<ul>
<li>"junk": it's obvious from the paper's title that we don't want to database it, so everyone should ignore it
<li>"desirable": the title sounds promising to you, so someone should get the paper
<li>"help": either you can't get the paper by ILL or you looked at the paper and it's in a foreign language you can't figure out, so could someone else deal with it please?
<li>"claimed": you want to enter the paper and are going to get it but don't have it yet
<li>"copied": you have a copy of the paper but haven't looked at it yet
<li>"discarded": you got the paper, looked at it, and realized it had no enterable data, so you put it aside and did not enter it into the PBDB
<li>"entered": you got the paper; entered it as a PBDB reference; made sure to check the "1%" or "5%" box on the entry form; entered its collection and occurrence data into the PBDB; and marked it as "entered" in the 1%/5% ref tracking system
</ul>

<h3>Criteria for junking/discarding papers</h3>

Junk the following:

<ul>
<li>Abstracts
<li>Field trip guidebooks
<li>Theses
<li>Articles in popular magazines or newspapers, including rock hound magazines
<li>Basically, any publication that isn't peer-reviewed
<li>Papers with no original data = first reports of collections, occurrences, or reidentifications
<li>Papers with no faunal data at all (1% project)
<li>Papers with no faunal or taxonomic data (5% project)
<li>Papers with no fossil data (1% project)
<li>Late Pleistocene, Holocene, or Modern papers (5% project)
<li>Papers with terrestrial data only (1% project)
<li>Papers with plant and/or invertebrate and/or non-tetrapod vertebrate data only (5% project)
</ul>

<h3>Criteria for defining a collection</h3>

Much of the literature presents vague information on collecting contexts.
Some of this information is useable and some isn't.
DO NOT create new collections if any of the following apply:

<ul>
<li>You have younger <i>or</i> older literature that splits up the collection into subcomponents, so this paper's scale is too coarse (e.g., it's a quarry list but there is a different paper on bulk samples from the same place)
<li>That said, <i>do</i> create a new collection if the scale is more vague but different methods were used to collect the data, or you are really sure that the more detailed collections were collected by a different field party (e.g., paper X has a vague, large mammal list for the whole quarry and Y has a bulk sample of small mammals; enter each collection separately)
<li>The collection is a summary formation list for a well-known, fossiliferous formation
<li>The paper is a 19th or early 20th century account of a basin or formation that doesn't give detailed locality info
<li>You can't prove easily there's a more detailed paper, but it seems obvious for whatever other reason
<li>Regardless of other papers, the information is just on too big a spatial scale (e.g., multiple states of the United States; multiple countries on other continents)
<li>The paper is about a very well-databased part of the literature, in which case you should double-check with the primary authorizer of those data (e.g., for North American mammals check with Alroy; for African mammals check with Behrensmeyer; for reefs check with Kiessling; etc.)
</ul>

<h3>Criteria for defining a primary reference</h3>

<p>
It is crucial to distinguish between the primary reference and secondary references.
Only the former will be counted in analyses that try to extrapolate the amount of data in the entire published literature.
A reference is primary if it is the oldest paper to give contextual information and list at least one occurrence.
A reference is <i>not</i> primary if it gives contextual data only, or if it adds to or revises an existing faunal list - no matter how good the revision might be.
A paper does <i>not</i> have to be the primary ref to be entered; it only needs to give the first report of an occurrence, which could happen even when older papers list different occurrences from the same collection.
</p>

<h3>Background papers</h3>

<p>
We are attempting to database first reports of collections and occurrences and reidentifications.
To do this, we sometimes need to get an older paper or papers on a collection to document that (1) the new, 1%/5% paper is not the collection's primary reference, and/or (2) some of the occurrences were published earlier.
Obviously, if the new paper has no new data at all, it's junk.
But frequently a new paper simply adds some occurrences to an old collection, or reIDs some of the occurrences.
These papers do have to be databased.
The correct protocol for entering background papers is to start with the first paper published on the collection, then work your way forward to the 1%/5% paper.
Do not continue adding papers that are more recent than the 1%/5% paper.
</p>

<h3>What data to enter</h3>

<ul>
<li>Enter all the collections of all the organisms, whether they are marine or terrestrial, animal or plant, etc., as long as paper includes at least one collection falling within your project's domain
<li>If the paper reidentifies older occurrences in the literature, find the older papers and enter their collections so you can put in the reIDS
<li>Enter any taxonomic data, and especially authorities and classifications of new taxa, regardless of whether you are focusing on faunal data
<li>Be careful to fill out the following non-required, but typically obvious fields:
 <ul>
 <li>scale of geographic resolution
 <li>scale of stratigraphic resolution
 <li>environment = if nothing else, marine indet. or terrestrial indet. 
 <li>modes of preservation = body (usually)
 <li>assemblage components = macrofossils (most often, and often "mesofossils" for vertebrate so-called "micro" collections)
 <li>collection types = field collection (if not "observed (not collected)" or "survey of museum collection")
 </ul>
</ul>
<p>

