
<!--Start of reference_display_row.html -->
<tr>
  <th valign=top align=left>
    <b><span id="reference_no"></span></b>
  </th>
  <td valign=top>&nbsp;
    <span id="author1init"></span>
    <span id="author1last"></span><span show="otherauthors">, </span><span id="author2init"></span><span show="author2init">&nbsp;</span><span id="author2last"></span><span show="otherauthors">, </span><span id="otherauthors"></span>.
    <span id="pubyr"></span>.
    <span id="reftitle"></span><span show="reftitle">.</span>
    <i><span id="pubtitle"></span></i>
    <b><span id="pubvol"></span><span show="pubno">(</span><span id="pubno"></span><span show="pubno">)</span></b><span show="firstpage">:</span><span id="firstpage"></span><span show="lastpage">-</span><span id="lastpage"></span>
  </td>
</tr>
<!--End of reference_display_row.html -->
