<!-- Begin reid_header_row.html -->
<div align="center"><h2>Reidentification form</h2></div>

<p><b>Current reference:</b></p>
<table border=0>
<span id="ref_string"></span>
</table>

<form method=POST action="$exec_url" onSubmit="return checkForm();">
<input type="hidden" name="form_source" value="new_reids_form">
<input type="hidden" name="action" value="processEditOccurrences">
<input id="reference_no" name="reference_no" type="hidden">
<input id="list_collection_no " name="list_collection_no" type="hidden">
<input id="taxon_name" name="taxon_name" type="hidden">

<table border=0 class="small" cellpadding=1 cellspacing=0>
<tr>
	<th>Genus reso</th>
	<th><span class="required">Genus name</span></th>
<!-- OPTIONAL subgenera -->
	<th>Subgenus reso</th>
	<th>Subgenus name</th>
<!-- END subgenera -->
	<th>Species reso</th>
	<th><span class="required">Species name</span></th>
	<th>Comments</th>
<!-- OPTIONAL plant_organs -->
	<th>Plant organs</th>
	<th>Plant organs 2</th>
<!-- END plant_organs -->
</tr>

<!-- End reid_header_row.html -->
