<tr>
    <input id="collection_no" type=hidden>
    <input type=hidden name="row_token" value="row_token">
    <td><select id="genus_reso" class="small"></select></td>
	<td><input name="genus_name" size=20 class="small"></td>
<!-- OPTIONAL subgenera -->
	<td><select id="subgenus_reso" class="small"></select></td>
	<td><input name="subgenus_name" size=20 class="small"></td>
<!-- END subgenera -->
	<td><select id="species_reso" class="small"></select></td>
	<td><input name="species_name" size=20 class="small"></td>
	<input id="occurrence_no" size=6 type=hidden>
	<td><input name="comments" size=40 class="small"></td>
<!-- OPTIONAL plant_organs -->
    <td><select id="plant_organ" class="small"></select></td>
    <td><select id="plant_organ2" class="small"></select></td>
<!-- END plant_organs -->
</tr>

