<!-- Begin reid_header_row.html -->
<div align="center"><h2>Reidentification form</h2></div>

<p><b>Current reference:</b></p>
<table border=0>
<span id="ref_string"></span>
</table>

<hr color='blue'>

<table border=0 class="small">
<tr>
	<th>Genus reso</th>
	<th><span class="required">Genus name</span></th>
<!-- OPTIONAL subgenera -->
	<th>Subgenus reso</th>
	<th>Subgenus name</th>
<!-- END subgenera -->
	<th>Species reso</th>
	<th><span class="required">Species name</span></th>
	<th>Comments</th>
<!-- OPTIONAL plant_organs -->
	<th>Plant organs</th>
	<th>Plant organs 2</th>
<!-- END plant_organs -->
</tr>

<form method=POST action='$exec_url' onSubmit='return checkForm();'>
<input type=hidden name=action value=processNewReIDs>
<input type=hidden name=reference_no value=".$s->get("reference_no").">
<!-- End reid_header_row.html -->
