<tr>
    <input id="reference_no" type="hidden">
    <input id="collection_no" type="hidden">
	<input id="occurrence_no" size="6" type="hidden">
    <input name="reid_no" type="hidden" value="-1">
    <input type="hidden" name="row_token" value="row_token">
	<td><input name="taxon_name" size="35" class="small"></td>
	<td><input name="comments" size="45" class="small"></td>
<div show="plant_organs">
    <td><select id="plant_organ" class="small"></select></td>
    <td><select id="plant_organ2" class="small"></select></td>
</div>
</tr>

