<tr>
    <input id="collection_no" type="hidden">
	<input id="occurrence_no" size="6" type="hidden">
    <input name="reid_no" type="hidden" value="-1">
    <input type="hidden" name="row_token" value="row_token">
    <td><select id="genus_reso" class="small"></select></td>
	<td><input name="genus_name" size=20 class="small"></td>
<div show="subgenera">
	<td><select id="subgenus_reso" class="small"></select></td>
	<td><input name="subgenus_name" size="20" class="small"></td>
</div>
	<td><select id="species_reso" class="small"></select></td>
	<td><input name="species_name" size="20" class="small"></td>
	<td><input name="comments" size="40" class="small"></td>
<div show="plant_organs">
    <td><select id="plant_organ" class="small"></select></td>
    <td><select id="plant_organ2" class="small"></select></td>
</div>
</tr>

