<tr>
<!--	<td>class will be here</td>
	<td>order will be here</td> -->
	<td valign=top nowrap><font size=-1><i><span id="genus_reso">&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;</span> <genus><span id="genus_name">&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;</span></genus> </i>
<div show="subgenus_name"><i>(</div><div show="subgenus_reso"><span id="subgenus_reso"></span> </div><div show="subgenus_name"><span id="subgenus_name"></span>)</i></div><div show="species_reso"><i><span id="species_reso"></span> </i></div><i><species><span id="species_name"></span></species> </i></font></td>
	<td valign=top><font size=-1><span id="reference_no"></span></font></td>
    <td valign=top><span id="abund_value"></span> <span id="abund_unit"></span></td>
	<td valign=top><font size=-1><span id="comments"></span></font></td>
</tr>	
