<html>
  <head>
    <title>Bug Report Form</title>
  </head>
  <body bgcolor="white">
  <table border=0 width=550>
  <tr>
    <td>
      <h1>Bug Report Form</h1>
      Please use the the form below to report any bugs you may
      encounter while using the system. To check the status of
      a bug, please use the <a href="/cgi-bin/report_bug.cgi?action=displayMenuPage">status page</a>
      <p>
      <form method=post action="/cgi-bin/report_bug.cgi">
      <input type="hidden" name="action" value="submitBug">
      <table border=0>
      <tr>
        <td>Your Name:</td>
        <td width=81%><input name="reporter_name"></td>
      </tr>
      <tr>
        <td colspan=2>
          Bug Report:<br>
          <textarea cols=60 rows=5 name="bug_report"></textarea>
          <br>
          <input type=submit value="Submit Bug">
        </td>
      </tr>
      </table>
      </form>
    </td>
  </tr>
  </table>
  </body>
</html>
