<script language="JavaScript" type="text/javascript">
<!-- Begin

// Checks the form data
function checkForm ( ) {

	var frm = document.forms[1];
	var errors = "";

	if ( frm.inventory_method.selectedIndex == 0 )	{
		errors = "* Please select an inventorying method\n";
	}

	if ( frm.latdeg.value == "" || frm.lngdeg.value == "" ) {
		errors += "* Please enter lat/long coordinates\n";
	}

	if ( /[^0-9]/.test( frm.latdeg.value ) || /[^0-9]/.test( frm.latmin.value ) || /[^0-9]/.test( frm.latsec.value ) )	{
		errors += "* The latitude must be a number\n";
	}
	if ( frm.latdeg.value > 89 )	{
		errors += "* The latitude must be less than 90 degrees\n";
	}
	if ( frm.latmin.value != "" && frm.latmin.value > 60 )	{
		errors += "* Latitude minutes must be less than 60 degrees\n";
	}
	if ( frm.latsec.value != "" && frm.latsec.value > 60 )	{
		errors += "* Latitude seconds must be less than 60 degrees\n";
	}

	if ( /[^0-9]/.test( frm.lngdeg.value ) || /[^0-9]/.test( frm.lngmin.value ) || /[^0-9]/.test( frm.lngsec.value ) )	{
		errors += "* The longitude must be a number\n";
	}
	if ( frm.lngdeg.value > 179 )	{
		errors += "* The longitude must be less than 180 degrees\n";
	}
	if ( frm.lngmin.value != "" && frm.lngmin.value > 60 )	{
		errors += "* Longitude minutes must be less than 60 degrees\n";
	}
	if ( frm.lngsec.value != "" && frm.lngsec.value > 60 )	{
		errors += "* Longitude seconds must be less than 60 degrees\n";
	}

	if ( errors != "" ) {
		alert ( errors );
		return false;
	} else {
		return true;
	}
}


//  End -->
</script>

<center><p class="pageTitle">Duplicate inventory search form</p>
</center>

<form method="POST" action="%%write_url%%" onSubmit="return checkForm();">
<input id="action" type=hidden name="action" value="displayCollResults">
<input id="type" type=hidden name="type" value="add">

<div class="displayPanel" style="margin-left: auto; margin-right: auto; margin-top: 3em; width: 38em; padding-top: 1em;">

<center>


<p class="large" style="margin-left: auto; margin-right: auto;">
Inventorying method: <select id="inventory_method"></select>
</p>

<table>
  <tr>
    <td></td>
    <td><span class="required">Degrees</span></td>
    <td>Minutes</td>
    <td>Seconds</td>
    <td>Decimal value*</td>
    <td><span class="required">Direction</span></td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td><input id="latdeg" size=5 maxlength=3></td>
    <td><input id="latmin" size=3 maxlength=2></td>
    <td><input id="latsec" size=3 maxlength=2></td>
    <td><input id="latdec" size=5 maxlength=8></td>
    <td><select id="latdir"></select>
  </tr>
  <tr>
    <td>Longitude</td>
    <td><input id="lngdeg" size=5 maxlength=3></td>
    <td><input id="lngmin" size=3 maxlength=2></td>
    <td><input id="lngsec" size=3 maxlength=2></td>
    <td><input id="lngdec" size=5 maxlength=8></td>
    <td><select id="lngdir"></select></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td colspan=6>
      Sort by:
      <select name="sortby">
        <option value="distance">distance from coordinates</option>
        <option value="inventory_name">inventory name</option>
        <option value="inventory_no">inventory number</option>
      </select></p>
    </td>
  </tr>
</table>

<div class="small" style="margin-left: 11em; text-indent: -1em; text-align: left;">
<p style="margin-bottom: -0.5em;">The inventorying method and coordinates are required.</p>
<p style="margin-bottom: -0.5em;">The search will return inventories within 100 km of the coordinates.</p>
<p>Enter either minutes and seconds or a decimal value, but not both.</p>
</div>

<p><input type="submit" name="submit" value="Search inventories"></p>

</div>

</td></tr></table>

</center>

</form>
