<script language="JavaScript" type="text/javascript">
<!-- Begin


function checkForm( )	{
	var frm = document.forms[0];
	var errors = new Error();

	var val = frm.taxon_name.value;
	
	if (taxonRank(val) == "invalid") {
		errors.add("Ill-formed taxon.  Check capitalization and spacing.");
	}
	
	if (errors.count() > 0) {
		errors.showAlert()
		return false;
	}
	
	return true;
}

// End -->
</script>


<STYLE TYPE="text/css">
div { 
	margin: 1em 5% 2em 5%; 
	text-align: center;
}
h2 { margin: 0em 0em 1.5em 0em; }
p { margin: 0em 5% 2em 5%; }
span.s { margin: 0em 1em 0em 1em; };
</STYLE>


<TABLE BORDER=0 align=center>
<TR><TD>
<div>

<form method="POST" action="$exec_url" onSubmit="return checkForm();">
<input type=hidden name="action" value="processTaxonomySearch">
<input type=hidden name="destination" value="%%destination%%">

<h2>Please enter the full name of the taxon you want to add or revise</h2>

<p>
<b><span class="s">Taxon name:</span></b> <input name="taxon_name" value="" size="30">
&nbsp&nbsp&nbsp
<input type="submit" value="Search">
</p>

<p STYLE="text-align:left; margin: 0em 0em 0em 5%;">
<span class="tiny">Don't abbreviate the name, and be careful to spell it correctly!<br>
<b>Warning:</b> enter higher-ranked taxa first, e.g., enter a genus before its species; enter a family before its genera.
<BR>
<BR>
You may want to read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html')">tip sheet</a>.</span>
</p>

</form>

</div>

</TD></TR>
</TABLE>






