<script language="JavaScript" type="text/javascript">
<!-- Begin

// Checks the form data
function checkForm ( ) {

    var frm = document.forms[0];
    var errors = "";

    var returnVal = checkIntervalNames();
    if (!returnVal) {
        return false;
    }

    if ( frm.collection_names.value == ""
        && frm.reference_no.value == ""
        && frm.taxon_name.value == ""
        && frm.country.value == ""
        && frm.state.value == ""
        && frm.max_interval.value == ""
        && frm.min_interval.value == ""
        && frm.person_reversed.value == ""
        && frm.research_group.selectedIndex == 0 ) {
        errors = "Please supply a search term";
    }

    if ( errors != "" ) { 
        alert ( errors );
        return false;
    } else {
        return true;
    }
}


//  End -->
</script>

<div align="center">
  <span id="page_title"></span>
</div>

<div align=center>
  <span id="message"></span>
</div>
       
<div align=center>
<form method=post action="bridge.pl" onSubmit="return checkForm();">
<input type="hidden" name="action" value="occurrenceMisspellingForm">

<div class="displayPanel" align=left>
  <span class="displayPanelHeader"><b>Search for a taxon similar to</b></span>
  <div class="displayPanelContent small">
    <table border=0 cellpadding=2 cellspacing=2>
      <tr>
        <td>Taxon name:</td><td><input name=taxon_name class="small"></td>
      </tr>
    </table>
  </div>
</div>

<h5> OR </h5>

<div class="displayPanel" align=left>
  <span class="displayPanelHeader"><b>Search by other criteria</b></span>
  <div class="displayPanelContent small">
    <table border=0 cellpadding=2 cellspacing=2>
      <tr>
        <td>Collection name or number: </td><td><input name=collection_names class="small" size=20></td>
        <td style="padding-left: 1em">Reference number: </td><td><input name=reference_no class="small" size=6></td>
      </tr>
      <tr>
        <td>Data <select name="person_type" class="small"><option>authorizer</option><option>enterer</option><option>modifier</option><option value="any">any of above</option></select>: </td>
        <td><input name="person_reversed" onKeyUp="doComplete(event, this, entererNames());" class="small" size=16>&nbsp;<a href="#" onClick="document.forms[0].person_reversed.value='<span id="enterer_reversed"></span>'">Me</a></td>
        <td style="padding-left: 1em;">Research group or project: </td>
        <td><select id="research_group" class="small"></select>
      </tr>
      <tr>
        <td>Country/continent: </td><td><input name=country class="small"></td>
        <td style="padding-left: 1em;">State/province: </td><td><input name=state class="small"></td>
      </tr>    
      <tr>
        <td>Oldest time interval (or age in Ma): </td><td colspan=3><select id="eml_max_interval" class="small"></select><input name="max_interval" class="small" onKeyUp="doComplete(event, this, intervalNames(),1);"></td>
      </tr>
      <tr>
        <td>Youngest time interval/Ma: </td><td colspan=3><select id="eml_min_interval" class="small"></select><input name="min_interval" class="small" onKeyUp="doComplete(event, this, intervalNames(),1);"></td>
      </tr>
      <tr>
        <td colspan=4 align="center">
          <div class="small" style="width: 640px;">
            <i>Hints: the search engine is not case sensitive.  You can use "_" to match any single character or "%" for an open ended match. Criteria above apply to collections.</i>
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>


<div class="displayPanel" align=left>
  <span class="displayPanelHeader"><b>Search by collection options</b></span>
  <div class="displayPanelContent small">

    <table border=0 cellpadding=2 cellspacing=2>
      <tr valign=top>
        <td nowrap>
        <input type="checkbox" name="edit_only" checked value="YES">
          Only show occurrences I have permission to edit
        </td>
      </tr>
      <tr valign=top>
        <td>
        Show: 
        <select name="show_detail">
          <option value="full">not fully classified occurrences, and typos</option>
          <option value="unclassified" selected>unclassified occurrences, and typos</option>
          <option value="typos">typos only</option>
        </select>
      </tr>
      <tr>
        <td>Number of records per page: <input name=limit size=10 value=15 class="small">
      </tr>
      <tr>
        <td align="center">
          <div class="small" style="width: 640px;">
            <i>Note "not fully classified" means there is no species level taxonomy data, though there may be genus level data. "unclassified" means there's not even genus level taxonomic data.</i>
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>

<p><input type="submit" value="Search for misspellings"></p>

</form>
</div>
