%%NOESCAPE_enterer_authorizer_lists%%                                                                                                                       
<table border=0 align=center>
  <tr>
    <td>
      <div align="center">
        <h2>Opinion search form</h2><br>
      </div>

      <div align="center">
        <form method="POST" action="bridge.pl">
          <input name="action" type="hidden" value="submitOpinionSearch">
          <input id="use_reference" type="hidden">
          <table width="100%"><tr><td align=center>
            <table border=0 cellpadding=2 cellspacing=2>
              <tr>
                <td><b>Taxon name:</b></td>
                <td><input name="taxon_name" value="" size="30"></td>
              </tr>
              <tr>
                <td><b>Authorizer:</b></td>
                <td><input name="authorizer_reversed" size=14 onKeyUp="doComplete(event, this, authorizerNames());">&nbsp;<a href="#" onClick="document.forms[0].authorizer_reversed.value='%%authorizer_reversed%%'">Me</a></td>
              </tr>
              <tr>
                <td><b>Author:</b></td>
                <td><input name="author" size=14><br></td>
              </tr>
              <tr>
                <td><b>Publication year:</b></td>
                <td><input name="pubyr" size=4><br></td>
              </tr>
              <tr>
                <td><b>Reference number:</b></td>
                <td><input name="reference_no" size=10><br></td>
              </tr>
              <tr>
                <td>
                  <b>Record created</b>
                  <select name="created_before_after">
                    <option>before</option>
                    <option selected>after</option>
                  </select>:
                </td>
                <td>
                  <select name="created_day">
                    <option selected></option>
                    <script language="JavaScript" type="text/javascript">fillDays();</script>
                  </select>
                  <select name="created_month">
                    <option selected></option>
                    <script language="JavaScript" type="text/javascript">fillMonths();</script>
                  </select>
                  <select name="created_year">
                    <option selected></option>
                    <script language="JavaScript" type="text/javascript">fillYears();</script>
                  </select>  
                </td>
              </tr>
            </table>
          </table>
          <input type="submit" value="Search">
        </form>
      </div>

      <div align="center">
        <p style="text-align:left; margin: 0em 0em 0em 5%;">
          <span class="tiny">Don't abbreviate the name, and be careful to spell it correctly!<br>
          Enter higher-ranked taxa first, e.g., enter a genus before its species; enter a family before its genera.<br>
          Don't enter the genus name if the species originally was combined in a subgenus.<br>
          Example: enter "Scalites tropidophora" instead of "Pleurotomaria (Scalites) tropidophora."<br>
          If you enter a taxon name, other search fields (authorizer, author, etc.) will be ignored.<br>
          <br>
          You may want to read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html')">tip sheet</a>.</span>
        </p>
      </div>
      
    </td>
  </tr>
</table>






