<script language="JavaScript" type="text/javascript">
<!-- Begin
function checkForm() {
	var frm = document.forms[0];
	var errors = new Error();

	var taxon = frm.taxon_name.value;
	
    var isSpecies = /^[A-Z][a-z]+[ ][a-z]+\n?$/;
    var isSubspecies = /^[A-Z][a-z]+[ ][a-z]+[ ][a-z]+\n?$/;
    var isHigher = /^[A-Z][a-z]+\n?$/;

    var isValid;
    if (isSubspecies.test(taxon) ||
        isSpecies.test(taxon) ||
        ishigher.test(taxon)) {
        isValid = 1;
    } else {
        isValid = 0;
    }

    if (!isValid) {
		errors.add("Ill-formed taxon.  Check capitalization and spacing.");
	}
	
	if (errors.count() > 0) {
		errors.showAlert()
		return false;
	}
	
	return true;
}

// End -->
</script>


<table border=0 align=center>
  <tr>
    <td>
      <div align="center">
        <form method="POST" action="%%write_url%%" onSubmit="return checkForm();">
          <input name="action" type="hidden" value="submitTaxonSearch">
          <input id="goal" type="hidden">
          <input id="use_reference" type="hidden">

          <h2><span id="page_title"></span></h2><br>

          <b><span style="margin: 0em 1em 0em 1em;">Taxon name:</span></b> <input name="taxon_name" value="" size="30">
          &nbsp;&nbsp;&nbsp;
          <input type="submit" value="Search">
          <br>

          <p style="text-align:left; margin: 2em 0em 0em 5%;">
            <span class="tiny">Don't abbreviate the name, and be careful to spell it correctly!<br>
            Enter higher-ranked taxa first, e.g., enter a genus before its species; enter a family before its genera.<br>
            Don't enter the genus name if the species originally was combined in a subgenus.<br>
            Example: enter "Scalites tropidophora" instead of "Pleurotomaria (Scalites) tropidophora."<br>
            <br>
            You may want to read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html')">tip sheet</a>.</span>
          </p>
        </form>
      </div>
    </td>
  </tr>
</table>






