
<form method=post action="$exec_url">
<input id="action" type=hidden name="action" value="">
<input id="type" type=hidden name="type" value="">

<div align="center">
<h2>Reference search form</h2>


<h4><font size="3" color='red'>
%%message%%
</font></h4>

<table border=0 cellpadding=4>
<tr>
	<th align=right>Author's last name:</th>
	<td><input id="name" name="name" type=text size=20>

	&nbsp;&nbsp;<b>year:</b>
	<input id="year" name="year" type=text size=5 maxlength=4>
	</td>

<tr>
	<th align=right>Title includes: </th>
	<td colspan=2>
	<input id="reftitle" name="reftitle" type=text size=40>
	</td> 
</tr>

<tr>
	<th align=right> Reference number: </th>
	<td>
	<input id="reference_no" name="reference_no" type=text size=7 maxlength=5>
	</td>
</tr>

<tr>
	<th align=right valign=top>Authorizer: </th>
	<td>
	<select name="authorizer"></select>&nbsp;<a href="javascript: auth( );">Me</a>
	</td> 
</tr>

<tr>
	<th align=right valign=top>Project: </th>
	<td valign=top>
	<select id="project_name"></select>

	<b>Sort by:</b> 
	<select name="refsortby"><option>author<option>year<option>publication<option>authorizer<option>enterer<option>entry date</select>
	<p>
	</td> 
</tr>

<tr>
	<th></th>
	<td colspan="3">
	<input type=submit value="Search"> %%use_current%%
	</td>
</tr>
</table>
</div>

</form>
