<script language="JavaScript" type="text/javascript">
<!-- Begin


function checkForm( )	{
	var frm = document.forms[0];
	var errors = new Error();

	var val = frm.taxon_name.value;
	
	if (taxonRank(val) == "invalid") {
		errors.add("Ill-formed taxon.  Check capitalization and spacing.");
	}
	
	if (errors.count() > 0) {
		errors.showAlert()
		return false;
	}
	
	return true;
}

// End -->
</script>
<BR>

<center><h3>Please enter the full name of the taxon you want to add or revise</h3></center>
<BR>
<form method="POST" action="$exec_url" onSubmit="return checkForm();">

<input type=hidden name="action" value="processTaxonomySearch">
<input type=hidden name="destination" value="%%destination%%">

<center>
<table><tr><td>
<b>Taxon name:</b> <input type="text" id="taxon_name" name="taxon_name" size=30><br>
</td></tr>

<tr><td align="right">
<input type=submit value="Search">
</td></tr></table>

<p><span class="tiny">Don't abbreviate the name, and be careful to spell it correctly!<BR> You may want to read the <a href="javascript:tipsPopup('/public/tips/taxonomy_tips.html')">tip sheet</a>.</span></p>

<center>
</form>

