<script language="JavaScript" type="text/javascript">
<!-- Begin

// Checks the form data
function checkForm ( ) {

    var frm = document.forms[1];
    var errors = "";

    var returnVal = checkIntervalNames();
    if (!returnVal) {
        return false;
    }

    if ( frm.collection_names.value == ""
        && frm.reference_no.value == ""
        && frm.taxon_name.value == ""
        && frm.max_interval.value == ""
        && frm.min_interval.value == ""
        && frm.person_reversed.value == ""
        && frm.research_group.selectedIndex == 0 ) {
        errors = "Please supply a search term";
    }

    if ( errors != "" ) { 
        alert ( errors );
        return false;
    } else {
        return true;
    }
}


//  End -->
</script>

<div align="center">
  <p class="pageTitle">%%page_title%%</p>
</div>

<div align="center" style="padding-left: 1em; padding-right: 1em;">
<form method=post action="%%write_url%%" onSubmit="return checkForm();">
<input type="hidden" name="action">
<input type="hidden" name="type">

<div class="displayPanel" align=left>
  <span class="displayPanelHeader">Search by taxon</span>
  <div class="displayPanelContent small">
    <table border=0 cellpadding=2 cellspacing=2>
      <tr>
        <td>Taxon name:</td><td><input name="taxon_name" class="small"></td>
        <td>Sort occurrences by:</td>
        <td>
          <select name="sort_occs_by" class="small">
            <option value="collection_no">collection number</option>
            <option value="created" selected>date entered</option>
            <option value="genus_name,subgenus_name,species_name">taxon name</option>
          </select>
          <select name="sort_occs_order" class="small"><option value="asc">ascending<option value="desc">descending</select>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="displayPanel" align=left>
  <span class="displayPanelHeader">... <i>or</i> search by collection</span>
  <div class="displayPanelContent small">
    <table border=0 cellpadding=2 cellspacing=2>
      <tr>
        <td>Collection name or number: </td><td><input name=collection_names class="small" size=20></td>
        <td style="padding-left: 1em">Reference #: </td><td><input name=reference_no class="small" size=6></td>
      </tr>
      <tr>
        <td>Data <select name="person_type" class="small"><option>authorizer</option><option>enterer</option><option>modifier</option><option value="any">any of above</option></select>: </td>
        <td><input name="person_reversed" onKeyUp="doComplete(event, this, entererNames());" class="small" size=16>&nbsp;<a href="#" onClick="document.forms[1].person_reversed.value='%%enterer_me%%'">Me</a></td>
        <td style="padding-left: 1em;">Group/project: </td>
        <td><select id="research_group" class="small"></select>
      </tr>
      <tr>
        <td colspan="4">Time interval (or age in Ma): <select id="eml_max_interval" class="small"></select><input name="max_interval" class="small" onKeyUp="doComplete(event, this, intervalNames(),1);">
        to <select id="eml_min_interval" class="small"></select><input name="min_interval" class="small" onKeyUp="doComplete(event, this, intervalNames(),1);"></td>
      </tr>
      <tr>
        <td>Group, formation, or member: </td><td><input name="group_formation_member" class="small" size=20></td>
      </tr>
      <tr>
      </tr>
    </table>

  </div>
</div>


<div class="displayPanel" align=left>
  <span class="displayPanelHeader">Search by collection options</span>
  <div class="displayPanelContent small">

    <table border=0 cellpadding=2 cellspacing=2>
      <div show="action=occurrenceMisspellingForm">
        <tr valign=top>
          <td nowrap>
          <input type="checkbox" name="edit_only" checked value="YES">
            Only show occurrences I have permission to edit
          </td>
        </tr>
        <tr valign=top>
          <td>
          Show:
          <select name="show_detail">
            <option value="full">not fully classified occurrences, and typos</option>
            <option value="unclassified" selected>unclassified occurrences, and typos</option>
            <option value="typos">typos only</option>
          </select>
        </tr>
        <tr>
          <td>Number of records per page: <input name=limit size=10 value=15 class="small">
        </tr>
        <tr>
          <td align="center">
            <div class="small" style="width: 640px;">
              <i>Note "not fully classified" means there is no species level taxonomy data, though there may be genus level data. "unclassified" means there's not even genus level taxonomic data.</i>
            </div>
          </td>
        </tr>  
      </div>
      <div show="action=displayCollResults">
        <div show="type=reclassify_occurrence">
          <tr valign=top colspan=2>
            <td nowrap>
              <input type="checkbox" name="authorizer_only" value="YES">
              Only show occurrences where I'm the authorizer
            </td>
          </tr>
        </div>
        <tr valign=top>
          <td>Sort by:
            <select name="sortby" class="small">
              <option value="collection_no">collection number</option>
              <option value="collection_name" SELECTED>collection name</option>
              <option value="interval_name">time interval name</option>
              <option value="geography">country, state</option>
            </select>
            <select name=sortorder class="small"><option value="asc">ascending<option value="desc">descending</select>
          </td>
        </tr>
        <tr>
          <td colspan="2">Number of records per page: <input name=limit size=10 value=30 class="small">
        </tr>
      </div>
    </table>

    </div>
    </div>

    <p>
    <div show="action=occurrenceMisspellingForm">
        <input type="submit" value="Search for misspellings">
    </div>
    <div show="type=reclassify_occurrence">
        <input type="submit" value="Reclassify occurrences">
    </div>
    <div show="type=reid">
        <input type="submit" value="Search for reidentifications">
    </div>
    </p>

</form>
</div>
