
<script language="JavaScript" type="text/javascript">
<!-- Begin
function checkForm()	{
	var frm = document.forms[1];
	var taxon = frm.taxon_name.value;
	var errors = "";
	var isSpecies = /^[A-Z][a-z]+ [a-z]+\n?$/;
	var isSubspecies = /^[A-Z][a-z]+ [a-z]+ [a-z]+\n?$/;
	var isSubgenus = /^[A-Z][a-z]+ \([A-Z][a-z]+\)(| [a-z]+)\n?$/;
	var isHigher = /^[A-Z][a-z]+\n?$/;

	if ( taxon == "" )	{
		errors = 'You must enter a taxon name';
	} else if ( ! isSubspecies.test(taxon) && ! isSpecies.test(taxon) && ! isSubgenus.test(taxon) && ! isHigher.test(taxon) )	{
		if ( /^ /.test(taxon) )  {
			errors = 'The taxon name starts with a space';
		} else if ( / $/.test(taxon) )  {
			errors = 'The taxon name ends with a space';
		} else if ( /  /.test(taxon) )  {
			errors = 'The taxon name includes two spaces in a row';
		} else if ( /^[^A-Z]/.test(taxon) )  {
			errors = 'The taxon name is uncapitalized';
		} else if ( /[^A-Za-z \(\)%]/.test(taxon) )  {
			errors = 'The taxon name includes illegal characters';
		} else  {
			errors = 'The taxon name is misformatted';
		}
	}

	if ( errors != "" )	{
		alert(errors);
		return false;
	}
	
	return true;
}

// End -->
</script>

<center>
<p class="pageTitle">%%page_title%%</p>

<div style="width: 40em;">

<form method="POST" action="%%write_url%%" onSubmit="return checkForm();">
<input id="action" type="hidden">
<input id="goal" type="hidden">
<input id="use_reference" type="hidden">

<div class="displayPanel" style="padding-top: 2em; padding-bottom: 2em;">
<center><i>%%errors%%</i></center>
<table border="0" cellpadding="2" cellspacing="2">
  <tr>
  <td>Taxon name:</td>
  <td><input name="taxon_name" value="" size="30"></td>
  </tr>
<div show="taxonomy_fields">
<input id="use_reference" type="hidden">
  <tr>
  <td>Authorizer:</td>
  <td><input name="authorizer_reversed" size="14" onKeyUp="doComplete(event, this, authorizerNames());">&nbsp;<a href="#" onClick="document.forms[1].authorizer_reversed.value='%%authorizer_me%%'">Me</a></td>
  </tr>
  <tr>
  <td>Author:</td>
  <td><input name="author" size="14"><br></td>
  </tr>
  <tr>
  <td>Publication year:</td>
  <td><input name="pubyr" size="4"><br></td>
  </tr>
  <tr>
  <td>Reference number:</td>
  <td><input name="reference_no" size="10"><br></td>
  </tr>
  <tr>
  <td>
    Record created
    <select name="created_before_after">
    <option>before</option>
    <option selected>after</option>
    </select>:
  </td>
  <td>
    <select name="created_month" autofill="month"></select>
    <select name="created_day" autofill="day_of_month"></select>
    <select name="created_year" autofill="year"></select>
  </td>
  </tr>
</div>
</table>
<input type="submit" value="Search">
</div>

</form>

</div>
</center>


