<script language="JavaScript" type="text/javascript">
<!-- Begin

var bad_info = ""; // Global variable

function checkForm() {
    var errors = new Error();

//    var isFloat = /^([0-9]+(\.[0-9]+)*|\.[0-9]+)$/;

    var f = document.forms[0];

    if (errors.count() > 0) {
        errors.showAlert()
        return false;
    }
    
    return true;
}

-->
</script>

<center>
<h2><span id="taxon_name"></span> <span id="collection"></span></h2>
</center>

<div align="center"><table cellpadding=0 cellspacing=0 border=0><tr><td>
<form method="POST" action="bridge.pl" onSubmit="return checkForm();">

<input id="join_occs" type="hidden" name="join_occs">
<input type="hidden" name="action" value="processMeasurementForm">
<input id="occurrence_no" type="hidden" name="occurrence_no">
<input id="taxon_no" type="hidden" name="taxon_no">

<table cellpadding="4" class="small">
  <tr>
    <td valign="top" colspan=2>
        <table cellpadding=0 cellspacing=2>
          <tr>
            <th><span class="small">Specimen #</span></th>
            <th><span class="small">Length</span></th>
            <th><span class="small">Width</span></th>
            <th><span class="small">Height</span></th>
            <th><span class="small">Diagonal</span></th>
            <th><span class="small">Side</span></th>
            <th><span class="small">Part</span></th>
            <th><span class="small">Source</span></th>
            <th><span class="small">Magnification</span></th>
            <th><span class="small">Type?</span></th>
          </tr>
          %%table_rows%%
        </table>
    </td>
  </tr>
</table>

<table width=100%><tr><td align="center">
  <input type=submit value="Submit">
</td></tr></table>
</form>
<p>&nbsp;</p>
