<tr>
  <td><input type="text" name="specimen_id" size=18 class="tiny"></td>
  <td><input type="text" name="specimen_part" size=10 class="tiny"></td>
%%inputs%%
  <td><select name="specimen_side" class="tiny"></select></td>
  <td><select name="sex" class="tiny"></select></td>
  <td><select name="specimen_is_type" class="tiny"></select></td>
  <td><select name="measurement_source" class="tiny"></select></td>
  <td><input type="text" name="magnification" size=7 class="tiny"></td>
</tr>
<tr>
  <td colspan=10 style="padding-bottom: .8em;"><span class="small">Comments</span>: <input type="text" name="comments" size=83 class="tiny"></td>
</tr>
