<script language="JavaScript" type="text/javascript">
<!-- Begin

var bad_info = ""; // Global variable

function checkForm() {
    var errors = new Error();

//    var isFloat = /^([0-9]+(\.[0-9]+)*|\.[0-9]+)$/;

    var f = document.forms[0];

    if (errors.count() > 0) {
        errors.showAlert()
        return false;
    }
    
    return true;
}

-->
</script>

<center>
<h2>Specimen measurement form: <span id="taxon_name"></span> (collection <span id="collection_no"></span>)</h2>
</center>

<div align="center"><table cellpadding=0 cellspacing=0 border=0><tr><td>
<form method="POST" action="bridge.pl" onSubmit="return checkForm();">


<input type="hidden" name="action" value="processMeasurementForm">
<input id="occurrence_no" type="hidden" name="occurrence_no">

<table cellpadding=4>
  <tr>
    <td valign="top" colspan=2>
        <table cellpadding=0 cellspacing=2>
          <tr>
            <th><span class="smallTextHeader">Specimen #</span></th>
            <th><span class="smallTextHeader">Length</span></th>
            <th><span class="smallTextHeader">Width</span></th>
            <th><span class="smallTextHeader">Height</span></th>
            <th><span class="smallTextHeader">Diagonal</span></th>
            <th><span class="smallTextHeader">Side</span></th>
            <th><span class="smallTextHeader">Part</span></th>
            <th><span class="smallTextHeader">Source</span></th>
            <th><span class="smallTextHeader">Magnification</span></th>
            <th><span class="smallTextHeader">Type?</span></th>
          </tr>
          %%table_rows%%
        </table>
    </td>
  </tr>
</table>

<table width=100%><tr><td align="center">
  <input type=submit value="Submit">
</td></tr></table>
</form>
<p>&nbsp;</p>
