<script language="JavaScript" type="text/javascript">
<!-- Begin

var bad_info = ""; // Global variable

function checkForm() {

    var f = document.forms[1];
    var isFloat = /^([0-9]+(\.[0-9]+)*|\.[0-9]+)$/;
    var errors = "";

    var specimens_measured = parseInt(f.specimens_measured.value);
    if (specimens_measured == 1) {
        if (f.length_median.value != '' ||
            f.length_min.value != '' ||
            f.length_max.value != '' ||
            f.length_error.value != '' || 
            f.width_median.value != '' ||
            f.width_min.value != '' ||
            f.width_max.value != '' ||
            f.width_error.value != '' || 
            f.height_median.value != '' ||
            f.height_min.value != '' ||
            f.height_max.value != '' ||
            f.height_error.value != '' || 
            f.circumference_median.value != '' ||
            f.circumference_min.value != '' ||
            f.circumference_max.value != '' ||
            f.circumference_error.value != '' || 
            f.diagonal_median.value != '' ||
            f.diagonal_min.value != '' ||
            f.diagonal_max.value != '' ||
            f.diagonal_error.value != '' || 
            f.diameter_median.value != '' ||
            f.diameter_min.value != '' ||
            f.diameter_max.value != '' ||
            f.diameter_error.value != '' || 
            f.inflation_median.value != '' ||
            f.inflation_min.value != '' ||
            f.inflation_max.value != '' ||
            f.inflation_error.value != '' ||
            f.d13C_median.value != '' ||
            f.d13C_min.value != '' ||
            f.d13C_max.value != '' ||
            f.d13C_error.value != '' ||
            f.d18O_median.value != '' ||
            f.d18O_min.value != '' ||
            f.d18O_max.value != '' ||
            f.d18O_error.value != '') {
            errors += "* If the number of specimens measured is 1, don't enter any median/min/max/error values\n";
        }
    } else if (f.specimens_measured.value < 1) {
        errors += "* There must be at least one measured specimen\n";
    }

    if ( ! /[A-Za-z]/.test( f.specimen_part.value ) && f.specimen_part.value )	{
        errors += "* The part name is misformatted\n";
    }
    else if ( ! /[A-Za-z]/.test( f.specimen_part.value ) )	{
        errors += "* You must indicate the part\n";
    }
    if ( f.mass_average.value && ! /^body$/.test(f.specimen_part.value) )	{
        errors += "* If you enter a mass value the part must be 'body'\n";
    }

    if (specimens_measured >= 1) {
        var field_count = 0;
        if (f.mass_average.value != '') {
            field_count += 1;
        }
        if (f.length_average.value != '') {
            field_count += 1;
        }
        if (f.width_average.value != '') {
            field_count += 1;
        }
        if (f.height_average.value != '') {
            field_count += 1;
        }
        if (f.circumference_average.value != '') {
            field_count += 1;
        }
        if (f.diagonal_average.value != '') {
            field_count += 1;
        }
        if (f.diameter_average.value != '') {
            field_count += 1;
        }
        if (f.inflation_average.value != '') {
            field_count += 1;
        }
        if (f.d13C_average.value != '') {
            field_count += 1;
        }
        if (f.d18O_average.value != '') {
            field_count += 1;
        }
        if (field_count < 1) {
            errors += "Fill in at least one of the measurement values\n";
        }
    }

    // real_average is highest priority; I'm not bothering with the others
    //  for now JA 19.9.11
    if ( ! isFloat.test(f.mass_average.value) && f.mass_average.value )	{
        errors += '* The mass average value is misformatted\n';
    }
    if ( ! isFloat.test(f.length_average.value) && f.length_average.value )	{
        errors += '* The length average value is misformatted\n';
    }
    if ( ! isFloat.test(f.width_average.value) && f.width_average.value )	{
        errors += '* The width average value is misformatted\n';
    }
    if ( ! isFloat.test(f.height_average.value) && f.height_average.value )	{
        errors += '* The height average value is misformatted\n';
    }
    if ( ! isFloat.test(f.circumference_average.value) && f.circumference_average.value )	{
        errors += '* The circumference average value is misformatted\n';
    }
    if ( ! isFloat.test(f.diagonal_average.value) && f.diagonal_average.value )	{
        errors += '* The diagonal average value is misformatted\n';
    }
    if ( ! isFloat.test(f.diameter_average.value) && f.diameter_average.value )	{
        errors += '* The diameter average value is misformatted\n';
    }
    if ( ! isFloat.test(f.inflation_average.value) && f.inflation_average.value )	{
        errors += '* The inflation average value is misformatted\n';
    }
    if ( ! isFloat.test(f.d13C_average.value) && f.d13C_average.value )	{
        errors += '* The d13C average value is misformatted\n';
    }
    if ( ! isFloat.test(f.d18O_average.value) && f.d18O_average.value )	{
        errors += '* The d18O average value is misformatted\n';
    }

    if (errors != "") {
        alert(errors);
        return false;
    }
    
    return true;
}
--> 
</script>

<center>
<p class="pageTitle"><span id="taxon_name"></span> <span id="collection"></span></p>
</center>

<form method="POST" action="%%write_url%%" onSubmit="return checkForm();">

<div class="small" style="width: 44em; margin-left: auto; margin-right: auto; margin-bottom: 1em; padding-left: 0.5em; text-indent: -0.5em; overflow: hidden;">
%%reference%%
%%switch_to_ref%%
%%occurrences%%
</div>

<div style="padding-left: 6em; overflow: hidden;">

<input type="hidden" name="action" value="processMeasurementForm">
<input id="full_form" type="hidden" value="YES">
<input id="types_only" type="hidden" name="types_only">
<input id="specimen_no" type="hidden" name="specimen_no">
<input id="occurrence_no" type="hidden" name="occurrence_no">
<input id="taxon_no" type="hidden" name="taxon_no">

<table class="verysmall" cellpadding="6">
  <tr>
    <td>Specimens measured <input id="specimens_measured" type="text" size="5"></td>
    <td>Proportion of sample measured <select name="specimen_coverage"><select id="specimen_coverage"></select></tr>
  </tr>
  <tr>
    <td>Specimen number <input id="specimen_id" type="text" size="20"></td>
    <td>Side/sex/part 
      <select id="specimen_side"></select>
      <select id="sex"></select>
      <input id="specimen_part" type="text" size=10>
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="2">
      Size estimates (mm): 
        <table class="small">
          <tr>
            <td></td>
            <td>value*</td>
            <td>median</td>
            <td>min</td>
            <td>max</td>
            <td>error</td>
          </tr>
          <tr>
          <span show="mass_unit">
            <td>mass <select name="mass_unit" class="small"><option>g</option><option>kg</option></select></td>
            <td><input id="mass_average" size="7" maxlength="7"></td>
            <td><input id="mass_median" size="7" maxlength="7"></td>
            <td><input id="mass_min" size="7" maxlength="7"></td>
            <td><input id="mass_max" size="7" maxlength="7"></td>
            <td><input id="mass_error" size="7" maxlength="7"><select id="mass_error_unit"></select></td>
          </span>
          </tr>
          <tr>
            <td>length</td>
            <td><input id="length_average" size="7" maxlength="7"></td>
            <td><input id="length_median" size="7" maxlength="7"></td>
            <td><input id="length_min" size="7" maxlength="7"></td>
            <td><input id="length_max" size="7" maxlength="7"></td>
            <td><input id="length_error" size="7" maxlength="7"><select id="length_error_unit"></select></td>
          </tr>
          <tr>
            <td>width</td>
            <td><input id="width_average" size="7" maxlength="7"></td>
            <td><input id="width_median" size="7" maxlength="7"></td>
            <td><input id="width_min" size="7" maxlength="7"></td>
            <td><input id="width_max" size="7" maxlength="7"></td>
            <td><input id="width_error" size="7" maxlength="7"><select id="width_error_unit"></select></td>
          </tr>
          <tr>
            <td>height</td>
            <td><input id="height_average" size="7" maxlength="7"></td>
            <td><input id="height_median" size="7" maxlength="7"></td>
            <td><input id="height_min" size="7" maxlength="7"></td>
            <td><input id="height_max" size="7" maxlength="7"></td>
            <td><input id="height_error" size="7" maxlength="7"><select id="height_error_unit"></select></td>
          </tr>
          <tr>
            <td>circumference</td>
            <td><input id="circumference_average" size="7" maxlength="7"></td>
            <td><input id="circumference_median" size="7" maxlength="7"></td>
            <td><input id="circumference_min" size="7" maxlength="7"></td>
            <td><input id="circumference_max" size="7" maxlength="7"></td>
            <td><input id="circumference_error" size="7" maxlength="7"><select id="circumference_error_unit"></select></td>
          </tr>
          <tr>
            <td>diagonal</td>
            <td><input id="diagonal_average" size="7" maxlength="7"></td>
            <td><input id="diagonal_median" size="7" maxlength="7"></td>
            <td><input id="diagonal_min" size="7" maxlength="7"></td>
            <td><input id="diagonal_max" size="7" maxlength="7"></td>
            <td><input id="diagonal_error" size="7" maxlength="7"><select id="diagonal_error_unit"></select></td>
          </tr>
          <tr>
            <td>diameter</td>
            <td><input id="diameter_average" size="7" maxlength="7"></td>
            <td><input id="diameter_median" size="7" maxlength="7"></td>
            <td><input id="diameter_min" size="7" maxlength="7"></td>
            <td><input id="diameter_max" size="7" maxlength="7"></td>
            <td><input id="diameter_error" size="7" maxlength="7"><select id="diameter_error_unit"></select></td>
          </tr>
          <tr>
            <td>inflation</td>
            <td><input id="inflation_average" size="7" maxlength="7"></td>
            <td><input id="inflation_median" size="7" maxlength="7"></td>
            <td><input id="inflation_min" size="7" maxlength="7"></td>
            <td><input id="inflation_max" size="7" maxlength="7"></td>
            <td><input id="inflation_error" size="7" maxlength="7"><select id="inflation_error_unit"></select></td>
          </tr>
          <tr>
            <td>&delta;<sup>13</sup>C</td>
            <td><input id="d13C_average" size="7" maxlength="7"></td>
            <td><input id="d13C_median" size="7" maxlength="7"></td>
            <td><input id="d13C_min" size="7" maxlength="7"></td>
            <td><input id="d13C_max" size="7" maxlength="7"></td>
            <td><input id="d13C_error" size="7" maxlength="7"><select id="d13C_error_unit"></select></td>
          </tr>
          <tr>
            <td>&delta;<sup>18</sup>O</td>
            <td><input id="d18O_average" size="7" maxlength="7"></td>
            <td><input id="d18O_median" size="7" maxlength="7"></td>
            <td><input id="d18O_min" size="7" maxlength="7"></td>
            <td><input id="d18O_max" size="7" maxlength="7"></td>
            <td><input id="d18O_error" size="7" maxlength="7"><select id="d18O_error_unit"></select></td>
          </tr>
        </table>
        <div class="small" style="width: 40em;">* If the measurement magnification is not 1, enter the raw, uncalibrated result.</div>
    </td>
  </tr>
  <tr>
    <td>
      
    </td>
  </tr>
  <tr>
    <td>
Type of length measurement: <select class="verysmall" id="length_position"><option></option><option>greatest</option><option>least</option><option>anteroposterior</option><option>basal</option><option>condylobasal</option><option>condyloincisive</option></select>
    </td>
    <td>
Type of width measurement: <select class="verysmall" id="width_position"><option></option><option>greatest</option><option>least</option><option>anterior</option><option>distal</option><option>midshaft</option><option>mediolateral</option><option>posterior</option><option>proximal</option><option>transverse</option><option>orbital</option><option>quadrate</option><option>zygomatic</option></select>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
     Measurement source 
     <select id="measurement_source"></select>
    </td>
    <td>
     Measurement magnification <input id="magnification" type="text" size="7" maxlength="7">
    </td>
  </tr>
  <tr><td colspan="2">
      Does this sample include type specimens?
      <select id="specimen_is_type"></select>
  </td></tr>
</table>

  <div class="verysmall" style="margin-left: 6px;">
    <div style="float: left; clear: none; margin-right: 1em;">
    Comments:
    </div>
    <div style="float: left; clear: none; margin-right: 1em;">
    <textarea id="comments" cols="50" rows="4" wrap="virtual"></textarea>
    </div>
    <div style="float: left; clear: none;">
    <input type="submit" value="Submit">
    </div>
  </div>

</form>
