<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>
  <div show="title">%%title%%</div>
  <div hide="title">Paleobiology Database</div>
</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" type="text/css" href="/StyleSheets/common.css" />
<link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />

<!--javascript containing common functions-->
<script src="/JavaScripts/login.js" language="JavaScript" type="text/javascript"></script>
<script src="/JavaScripts/common.js" language="JavaScript" type="text/javascript"></script>
%%extra_header%%
</head>

<body>
<div align="left">
<table class="navbox" border="0" style="width: 100%">
  <tr>
    <td align="left" style="padding-left: 2em; width: 8em;" nowrap>
      <a href="$exec_url?action=displayMenuPage&amp;clear=clearQueue" class="menu">Main menu</a>
    </td>
    <td align="center" style="padding-left: 1em;" nowrap>
      <a href="$exec_url?action=logout" class="menu"><span style="white-space: nowrap;">%%enterer%%</span></a>
    </td>
    <td align="center" style="padding-left: 1em;" nowrap>
      <a href="$exec_url?action=displaySearchRefs&amp;type=select" class="menu">Reference: %%reference%%</a>
    </td>
    <td align="left" style="padding-left: 1em; width: 14em;" nowrap>
      <a href="$exec_url?user=Contributor&amp;action=displayHomePage" class="menu">Contributors' home page</a>
    </td>
  </tr>
</table>
</div>

<noscript>
  <p class="warning">
    JavaScript is required to use this web site.  Please turn it on before proceeding.
  </p>
</noscript>

<div id="mainBody">

