
<!-- Begin std_page_bottom.html -->
      <table border=0 width=640 bgcolor="#0077FF" align=center>
        <tr>
          <td width=160 align=center nowrap>
            <a href="$exec_url?action=displayMenuPage&amp;clear=clearQueue" class="menu">Main menu</a>
          </td>
          <td width=160 align=center>
            <a href="$exec_url?action=logout" class="menu">Current enterer:<BR>%%enterer%%</a>
          </td>
          <td width=160 align=center>
            <a href="$exec_url?action=displaySearchRefs&amp;type=select" class="menu">Current reference:<BR>%%reference%%</a>
          </td>
          <td width=160 align=center nowrap>
            <a href="$exec_url?user=Contributor&amp;action=displayHomePage" class="menu">Contributors' home page</a>
          </td>
        </tr>
      </table>
  
</body>
</html>
