<!-- std_page_top for Private Page -->
<html>
<head><title id="title">Paleobiology Database</title>
<link REL="stylesheet" TYPE="text/css" HREF="/StyleSheets/common.css">

<script language="JavaScript">
<!-- Begin

function tipsPopup (URL) {
	window.open(URL, 'tips', 'toolbar=1,scrollbars=1,location=1,statusbar=0,menubar=0,resizable=1,width=640,height=480');
}
//  End -->
</script>

</head>

<BODY>
<table border=0 align=center>
  <tr>
    <td width=650>

      <table border=0 width=640 bgcolor="0077FF">
        <tr>
          <td width=160 align=center>
            <nobr>
            <a id="main_menu" href="$exec_url?action=displayMenuPage&clear=clearQueue" class="menu">Main menu</a>
            </nobr>
          </td>
          <td width=160 align=center>
            <a id="login" href="$exec_url?action=logout" class="menu">Current enterer:<BR>%%enterer%%</a>
          </td>
          <td width=160 align=center>
            <a id="login" href="$exec_url?action=displaySearchRefs&type=select" class="menu">Current reference:<BR>%%reference%%</a>
          </td>
          <td width=160 align=center>
            <nobr>
            <a id="login" href="$exec_url?user=Contributor&action=displayHomePage" class="menu">Contributors' home page</a>
            </nobr>
          </td>
        </tr>
      </table>
  </tr>
</table>

<NOSCRIPT>
<p class="warning">
JavaScript is required to use this web site.  Please turn it on before proceeding.
</p>
</NOSCRIPT>

<!-- End std_page_top.html -->

