
<!-- Begin std_page_bottom.html -->
      <table border=0 width=640 bgcolor="0077FF" align=center>
        <tr>
          <td width=160 align=center>
            <nobr>
            <a id="main_menu" href="$exec_url?action=displayMenuPage&clear=clearQueue" class="menu">Main menu</a>
            </nobr>
          </td>
          <td width=160 align=center>
            <a id="login" href="$exec_url?action=logout" class="menu">Current enterer:<BR>%%enterer%%</a>
          </td>
          <td width=160 align=center>
            <a id="login" href="$exec_url?action=displaySearchRefs&type=select" class="menu">Current reference:<BR>%%reference%%</a>
          </td>
          <td width=160 align=center>
            <nobr>
            <a id="login" href="$exec_url?user=Contributor&action=displayHomePage" class="menu">Contributors' home page</a>
            </nobr>
          </td>
        </tr>
      </table>
  
</body>
</html>
