<tr valign="top">
	<div show="higher_taxa"><td class="small"><span id="class"></span></td><td class="small"><span id="order"></span></td><td class="small"><span id="family"></span></td></div>
	<td class="small" valign=top nowrap><i><r_genus><span id="genus_reso"></span></r_genus> <genus><span id="genus_name"></span></genus> </i> <div show="subgenus_name"><i>(</div><div show="subgenus_reso"><span id="subgenus_reso"></span> </div><div show="subgenus_name"><span id="subgenus_name"></span>)</i></div><div show="species_reso"><i><span id="species_reso"></span> </i></div><i><species><span id="species_name"></span></species></i> <span id="authority"></span> </td>
	<td class="small" valign=top><span id="reference_no"></span></td>
	<td class="small" valign=top><span id="abund_value"></span> <span id="abund_unit"></span></td>
	<td class="small" valign=top><span id="comments"></span></td>
</tr>	
