<hr>
<table border=0>
  <tr>
    <td align=right valign=center>
      <nobr><select name=child_rank> <option selected>species <option>subgenus <option>genus <option>subtribe <option>tribe <option>subfamily <option>family <option>superfamily <option>infraorder <option>suborder <option>order <option>superorder <option>subclass <option>class <option>superclass <option>subphylum <option>phylum <option>superphylum <option>subkingdom <option>kingdom <option>superkingdom </select>
    </td>
    <td valign=center><input name=child_taxon size=30 maxlength=80></nobr></td>
    <td valign=center>
      <nobr><font size=-1>named by/year: <input name=child_taxon_author size=20 maxlength=255> <input name=child_taxon_year size=6 maxlength=4></font></nobr>
    </td>
  </tr>
  <tr>
    <td valign=center>
      <nobr><font size=-1>agree?</font> <select name=agree><option selected> <option>yes <option>no </select></nobr>
    </td>
    <td align=center valign=center>
      <nobr><select name=status><option>belongs to <option>recombined as <option>subjective synonym of <option>objective synonym of <option>homonym of <option>replaced by <option>corrected as <option>nomen dubium <option>nomen nudum <option>nomen oblitem <option>nomen vanum </select></nobr>
    </td>
    <td valign=center>
      <nobr><font size=-1>opinion of/year: <input name=opinion_of size=20 maxlength=255> <input name=opinion_of_year size=6 maxlength=4></font></nobr>
    </td>
  </tr>
  <tr>
    <td align=right valign=center>
      <nobr><select name=parent_rank> <option selected>species <option>subgenus <option>genus <option>subtribe <option>tribe <option>subfamily <option>family <option>superfamily <option>infraorder <option>suborder <option>order <option>superorder <option>subclass <option>class <option>superclass <option>subphylum <option>phylum <option>superphylum <option>subkingdom <option>kingdom <option>superkingdom </select>
    </td>
    <td valign=center><input name=parent_taxon size=30 maxlength=80></nobr></td>
    <td valign=center>
      <nobr><font size=-1>named by/year: <input name=parent_taxon_author size=20 maxlength=255> <input name=parent_taxon_year size=6 maxlength=4></font></nobr>
    </td>
  </tr>
</table>
