<HEAD><TITLE>Paleobiology Database Working Time Scale: 10 m.y.-Long Sampling Bins</TITLE>
<link REL="stylesheet" TYPE="text/css" HREF="/StyleSheets/common.css">

<!--javascript containing common functions-->
<SCRIPT src="/JavaScripts/common.js" language="JavaScript" type="text/javascript">
</SCRIPT>
</HEAD>

<body>

<div align="center"><h2>Paleobiology Database Working Time Scale: 10 m.y.-Long Sampling Bins</h2></div>

<hr>

<table>
<tr><td><u>Bin</u>	<td><u>First stage in bin</u> 	<td><u>Age at base (Ma)</u>
<tr><td>Cenozoic 6	<td>Tortonian	<td>11.2
<tr><td>Cenozoic 5	<td>Aquitanian	<td>23.8
<tr><td>Cenozoic 4	<td>Rupelian	<td>33.7
<tr><td>Cenozoic 3	<td>Bartonian	<td>41.3
<tr><td>Cenozoic 2	<td>Ypresian	<td>55
<tr><td>Cenozoic 1	<td>Danian	<td>65
<tr><td>Cretaceous 8	<td>Maastrichtian	<td>71.3
<tr><td>Cretaceous 7	<td>Campanian	<td>83.5
<tr><td>Cretaceous 6	<td>Turonian	<td>93.5
<tr><td>Cretaceous 5	<td>Cenomanian	<td>98.9
<tr><td>Cretaceous 4	<td>Albian	<td>112.2
<tr><td>Cretaceous 3	<td>Aptian	<td>121.0
<tr><td>Cretaceous 2	<td>Hauterivian	<td>132.0
<tr><td>Cretaceous 1	<td>Berriasian	<td>141.8
<tr><td>Jurassic 6	<td>Tithonian	<td>150.5
<tr><td>Jurassic 5	<td>Callovian	<td>160.4
<tr><td>Jurassic 4	<td>Bajocian	<td>174
<tr><td>Jurassic 3	<td>Toarcian	<td>183.6
<tr><td>Jurassic 2	<td>Pliensbachian	<td>191.5
<tr><td>Jurassic 1	<td>Hettangian	<td>199.6
<tr><td>Triassic 5	<td>Rhaetian	<td>209.6
<tr><td>Triassic 4	<td>Norian	<td>220.7
<tr><td>Triassic 3	<td>Carnian	<td>227.4
<tr><td>Triassic 2	<td>Ladinian	<td>241.2
<tr><td>Triassic 1	<td>Griesbachian	<td>251.4
<tr><td>Permian 5	<td>Wujiapingian	<td>260
<tr><td>Permian 4	<td>Roadian	<td>270
<tr><td>Permian 3	<td>Artinskian	<td>280
<tr><td>Permian 2	<td>Sakmarian	<td>290
<tr><td>Permian 1	<td>Asselian	<td>300.3
<tr><td>Carboniferous 5	<td>Vereiskian	<td>311
<tr><td>Carboniferous 4	<td>Chokierian	<td>320
<tr><td>Carboniferous 3	<td>Brigantian	<td>331
<tr><td>Carboniferous 2	<td>Chadian	<td>342.5
<tr><td>Carboniferous 1	<td>Hastarian	<td>354
<tr><td>Devonian 5	<td>Famennian	<td>376.5
<tr><td>Devonian 4	<td>Frasnian	<td>382.5
<tr><td>Devonian 3	<td>Eifelian	<td>391
<tr><td>Devonian 2	<td>Emsian	<td>409.5
<tr><td>Devonian 1	<td>Lochkovian	<td>418
<tr><td>Silurian 2	<td>Sheinwoodian	<td>428
<tr><td>Silurian 1	<td>Rhuddanian	<td>443
<tr><td>Ordovician 5	<td>Longvillian	<td>452.55
<tr><td>Ordovician 4	<td>Early Llandeilo	<td>460.4
<tr><td>Ordovician 3	<td>Late Arenig	<td>474
<tr><td>Ordovician 2	<td>Early Arenig	<td>483
<tr><td>Ordovician 1	<td>Tremadoc	<td>495
<tr><td>Cambrian 5	<td>Maentwrogian	<td>500
<tr><td>Cambrian 4	<td>Solvan	<td>518
<tr><td>Cambrian 3	<td>Lenian	<td>525
<tr><td>Cambrian 2	<td>Tommotian	<td>534
<tr><td>Cambrian 1	<td>Nemakit-Daldynian	<td>545
<tr><td>
</table>

<hr>
</body>



