<head><title>Problematic "Genus" Names</title>
<link REL="stylesheet" TYPE="text/css" HREF="/StyleSheets/common.css">

<!--javascript containing common functions-->
<SCRIPT src="/JavaScripts/common.js" language="JavaScript" type="text/javascript">
</SCRIPT>
</head>

<body>
<div align="center"><h2>Problematic "Genus" Names</h2></div>

<pre>
Abthraconeilo
Acanthalomina
Acantholoma
Acanthopectin
Acanthracospirifer
Acdalopora
Acerta
Aceteonidae (A. sp. a)
Achiageisonoceras
Acinosporites
Aclisinia
Acodina
Acodus
Acontiodus
Acra (1 valve collected)
Acrolichas (originally entered as "? Acrolichas sp.")
Acteon
Acteonella (Acteonella? sp.)
Acteonidae (A. sp. a)
Actinastrea
Actinestreon
Actinocrinus
Actinopstreon
Actinopterella (3 species)
Actinostrea
Actinostrteon
Acutostreon (Acutostreon sp.)
Adetognathodus
Admetula
Aechimina
Aegeria
Aegiromena
Aeila
Aemuliophyllum
Afrollonia
Aganides
Agaricocrinites
Agelacrinus
Ageneracrinus (Ageneracrinus sp. 1)
Aguileria (Aguileria cumminsi White)
Aklydonion
Alaperna
Alaria
Alectryonia
Alepidaster
Allagecrinida
Allanaria (3 species)
Allegacrinus
Allomorone (Allomorone burlesonis Dante and Frizzell 1965)
Allorisma (**)
Altina (2 valves collected)
Alwynella
Amakusatapes
Ambalodus
Ambitisporites
Amblypygus
Ambocoetia
Ambonicardia (Ambonicardia cookii Whitfield)
Ambrosea (Ambrosea nitida Stephenson)
Amerista ((brachial valve) - originally entered as "? Amerista sp.")
Amiptygma
Ammarchaediscus (sgn. (Rectodiscus))
Ammonoidea (originally entered as "Ammonites nutfieldensis")
Amnyge
Amocoelia
Amonia (1 valve collected)
Amorphofungia
Amphiastrea
Amplaspongia
Amplexizaphretis
Amplexizaprentis
Ampliata
Amplovalvata
Ampullinidae
Ampullonatica
Amusium
Amygdalina
Amygdella
Ananchytes
Anaphilicas (originally entered as "? Anaphilicas sp.")
Anasobella
Anatiferocystites
Ancenochilus
Ancillus (rare)
Ancycloceras
Ancyloceras (very rare)
Andesaspis
Anglonautilis
Anglonautilus
Angulithes
Angustidontus
Anisocycla (uncommon)
Anisopsis
Annulichoncha
Annuliconda
Anomalocaridae
Anomalodesmata
Anoptera
Anteglosia (Anteglosia subornata (Wade))
Anthracoleda (Subgenus Pseudoleda)
Anthraconeilo
Anthraconeilopsis (originally entered as "Anthraconeilopsis? kansana")
Antiferocystites
Antiplebetoceras
Antracospirifer
Aphelacrinus
Apheorthis
Aphorraida
Aphorraidae
Apiocrinus
Apiocyphraea
Apopliopsis
Aporrhaidae
Aptolinter
Arachiniograptus
Arapsothryis
Arasta
Arcacea
Archaeocidaridae (originally entered as "Archaeocidarid sp.")
Archaeocystites
Archaeogastropod (was Pleurotomaria; PJW3)
Archaeogastropoda (originally entered as "? Pleurotomaria sp.")
Archaeolithothamnium
Archaeooides
Archemedea
Archiageisonoceras
Arcidae (originally entered as "Arcid sp.")
Arcitectonica
Arctichnus (originally entered as "Arctichnus cf. arcticus")
Arcticid (Arcticidae gen. et sp. nov. (Aberhan))
Arctospirifer
Arenicolites (originally entered as "? Arenicolites sp.")
Argiope
Aristocystis
Armonia
Armorichochitina
Armoricochitina
Arthraria
Asiacanthus
Asiaspis
Asketochiton (Family Lepidopleuridae)
Asphaltina
Asphaltinella
Aspidaeglina
Astartidae
Asteroida (Ossikel)
Asteroidea (starfish ossicles)
Astieria (originally entered as "Astieria cf. sayni")
Astieriptychites
Astraeospongia
Astreospongia
Astreptodictya
Astutorhynchia
Astylostroma
Atelophyllum
Athletea (Athletea petrosus smithi)
Athyridida
Atraktoprion
Aucella
Aulacoparina
Aulichnites
Aulocopleura
Aurograptus
Austraphylloporina
Austrocucullaea
Austronucula
Avicula
Aviculipinna (originally entered as "Aviculipinna? sp.")
Aviculopectin
Aviculopinna
Axinaea
Axinea
Axinella
Axiopsis
Badouxia (rare)
Bairdocypris
Bairdopilata
Bairia
Bakevelliidae
Balanoconchia
Baltisphaeridium
Barbartia
Barrandeo ([there is nothing listed for class/order next to this, and this guy's writing is so bad I'm not sure it's a binom. species name])
Barrioidiceras
Bartychisma
Baryschyr
Bathymophila
Bathyocypris
Bavlinella
Beatricea (2 species)
Belemnita
Belemnite (fragmented)
Belemnitida
Belemnoceras
Bellerophontida (B. sp. A, B. sp. B., B. sp. C)
Belmnites (Belemnite sp. - originally entered as "Belemnite sp.")
Belonnidium
Belopsia
Belosaepia
Benignities (originally entered as "Benigites sp.")
Benoistia
Benthanyphyllum
Bergaueria
Berronostroma
Bertiella
Beschtubeites
Bessiella
Biantholithus
Biauris
Bifungites
Billingaspis
Billingsastrea
Bilobites
Birkelundita
Bispinoproductus
Bitium
Bitraia
Bivalven (indet.)
Bivalvia
Blothocrinus
Bodmania
Bohemolichas
Bojarkia (originally entered as "Bojarkia? sp.")
Bojophyton
Boonderia
Bordonia
Borealites
Borelites
Botelloides (1 specimen and 4 fragments)
Bothriopygus
Botriopygus
Bourguetia
Braarudosphaera
Brachyaspis
Brachyellasma
Braciodontes
Branson
Brauzaia (Brauzaia melrosensis Dante and Frizzell 1965)
Brazosiella (Brazosiella kokeni Dante and Frizzell 1965)
Breenops
Breviarca
Broeggerina
Brogniartella
Brokenriveria
Brooksella
Brosmophycis (occasional)
Brotia
Bryozoa (ctenostome)
Bucaniopsis
Buccinidae (originally entered as "Buccinidae? n. gen. montensis")
Buchaniopsis
Buchelia
Buchellia
Buchholzbrunnichnus
Buchida
Bullimorpha
Bullinella
Buranella
Burnetia
Buschophyllum
Buthotrephis
Buthtrephis
Bythinella
Cadosina ("semiradiata olzae"  - originally entered as "Cadosina semiradiata olzae")
Calathium
Calcarea
Calcisphaera
Caleschara
Calliops
Callistina (Callistina (Larma) munda n. sp.)
Callistoma
Callonema
Calymenidae (originally entered as "Calymenid sp.")
Calyptrophorus
Camarophoria
Cambrocaris
Camerophoria
Camerotoechia
Cappilia
Carbonicola
Carboprimitia
Carcharhinidae (originally entered as "Carcharinidae sp.")
Carcharias
Carcinophyllum
Cardioceas (B)
Cardiopsis
Cardiothryis
Carniferella
Caryatis
Caryophillia
Cassia
Cataractocrinus (gen. et sp. nov.)
Caviliucina (Caviliucina droueti schloenbachi)
Cavoscala
Cayugaea
Ceiba (originally entered as "Ceiba ceibaensis n. sp.")
Centalium
Centrastrea
Ceramapora
Cerithiidae (C. sp. a (1), C. sp. (2))
Chaenocardiola
Chagrinichnites
Chandomirovia
Changjiangoceras
Changyangoceras
Chaosocrinus (sp. nov.)
Characterophyllum
Chasmatoporella
Chataimulosia
Cheilophis
Chelone
Chenendrocyphya
Chenendroscyphia
Chiasmolithus
Chiloporella
Chiplonkarina
Chirlotrypa
Choicensisphinctes
Chondriovelum
Chondrites
Chonetida (Chonetid sp. A)
Chuaria
Chungkingaspis
Chunxianoceras
Cidaroida (spine)
Cidaroidea (spines)
Cingulchitina
Circulichnis
Cirostrema (Cirostrema cf. C. nassulum)
Cistella
Cladoconchus
Cladodus (shark tooth)
Cleidophorus
Cleiodictya
Cleiothyris
Cleithyridina
Cliefdenella
Cliefdenoceras
Cliefdenospongia
Climacimmina
Climaconus
Clinolithes (boring sronge)
Clintendoceras
Clionlithes
Clionolites
Clionolithes
Cliophorus
Cliothyridina
Coccocrinus
Coccolithus
Cochilioceras
Cocklespira (Cocklespira engonata (Conrad 1865))
Coelconus
Coelidium
Coeloclema
Coeloconus
Coenostelodictyon (Not seen in field, but surmised based on existence of co-occurring fauna in museum tray)
Collinia
Colombellina (Colombellina cancellata Dockery)
Colomisphaera
Colsia
Columbellidae
Comasphaeridium
Comatula
Comitileda
Concardium
Conchopeltus
Condrathyris
Congeria
Conilithes
Conoardium
Conocephalites
Conorthoceras (originally entered as "Conorthoceras? sp.")
Conradella (Conradella dyeri cellulosa)
Constellirostra
Conulariinae
Conulopyrina
Corax
Corbicella
Corbicellops
Corbis
Corbulamima
Corbulidae (originally entered as "Corbulids sp.")
Corbulis
Corbulomya
Cornites
Cornula
Corvina (Corvina intermedia (Koken 1888))
Corymya (cf Corymya tennis Whitfield - originally entered as "cf. Corymya tennis")
Cosnia (Cosnia cosnensis (de Loriol))
Costolatostyliolina
Craena
Craenena
Cranaenella
Crasinella
Crassiorina
Crassisclas
Crassitella (1 valves collected)
Crassotrea
Craveroceras
Crebrosomoides (Crebrosomoides umbonatus minusculus)
Cresies
Cretarhabdus (originally entered as "Cretarhabdus ex gr. crenulatus")
Cribocentrum
Cribroscyphia
Cricella
Criosarasinella
Crocodilus
Crocodylus (originally entered as "Crocodylus? sp.")
Crossopodia
Crurithryis
Cruruthyris
Crustacea (fragment/tooth)
Cruziana
Crypicardina
Cryplobiatus
Cryptoblatus
Cryptochasma ("ovale gen. et sp. nov."  - originally entered as "Cryptochasma ovale gen. et sp. nov.")
Crytobairdia
Crytogomphus
Crytoniodus
Ctenentoma
Ctenocella
Ctenostoma
Ctenpostreon
Cteondonta
Cubiostrea
Cucllaea
Cuneolus
Cupressocrinus (Cupressocrinus crassus celechovicensis)
Cupulochonia
Curculionid (rare)
Curvirimula
Curvolithos
Curvolithus
Cyatbaxonia
Cyathocrinus
Cyclagelosphaera
Cyclendoceras
Cyclicargolithus
Cyclichna
Cyclocyclicus
Cyclocyclopa (found in shale)
Cyclonemina
Cyclopentagonopa (Cyclopentagonopa n. sp. 1 nd Cyclopentagonopa n. sp. 2)
Cyclopuncta
Cyclora (originally entered as "? Cyclora sp.")
Cylincha
Cylindrocoelia
Cylindrohelium
Cylindroptyxis (originally entered as "Cylindroptyxis fontis n. sp.")
Cymatiosphaera
Cymenorytis
Cymopolia
Cyphosolenus
Cyphosoma
Cypricarculana
Cypricardia
Cypricordella
Cypridea
Cyprina
Cyrena
Cyrtinia
Cyrtocycloceras (2 species)
Cyrtometopella
Cyrtomodus
Cystohexagonaria
Cystoidea (originally entered as ""Cystidea" sp.")
Cystrostoma
Cytherea
Cytheria
Cytherina (originally entered as ""Cytherina" sp.")
Cytrospirifer
Cyuocyclicus
Cyzicus (Cyzicus? shupei Stephenson)
Dactylocephalina
Dactylopora
Daiwania
Daobaowanceroides
Dateroceras
Dathmila (Dathmila lineola Stephenson)
Davidonia
Decadorinus
Decapoda
Decipiens
Deiradoclavus
Delawarella (Delawarella danei Young)
Delotaxis (elements O, N, B1, B2, B3)
Delphinula
Dendrina (originally entered as "Dendrina? sp.")
Dendroidichnites
Dentaliumm
Dentimitra
Dentinella
Derbya
Desquanatia
Devonogypa (Devonogypa spinulosa lata)
Diadora (Diadora? bartonvillensis Stephenson)
Dianchora
Diaperoecia
Diaphorastoma
Diaphorostoma
Diastopora
Dichognathus
Diconularia
Dictyclostus
Dictyoclosyus (ssp. spinolinearis n. ssp.)
Dictyoclstus
Dictyoclustus (plus var. wettonensis)
Dictyococcites
Dictyomaria
Dictyotriletes
Didemnum
Didymaulichnus
Dielasmoides
Diexallophasis
Dimerocrinus
Dimorphosoma
Dinicthys
Dinolobus
Diodontopteria
Diosporella
Diozoptyxis (originally entered as "Diozoptyxis cf. pilgrimi")
Diplichnites (type 'A' and 'B')
Diplocraterion
Diplodella
Diplonothis
Diplopodichnus
Diplopora
Diplora
Dirrhopalum
Discaelia
Dischonia
Discina
Discoaster
Discoelia
Discorhabdus
Disepta
Dissimilites
Distacodus
Distheles
Ditodus (shark tooth)
Dizygopleurella
Domenginella
Domingella
Donalina
Dongkalaceras
Doraclotum
Dorsoserpula
Draffania
Dreissena
Drepanochilus (Drepanochilus sp.)
Drepanodina
Drymopora
Dumnonia (Dumnonia collisnigrae Morris and Cleevely)
Duracephalus
Durranella (Need PMPD#-Percival, 1979b.)
Eblania
Eccyliomphalus
Echinobrissus
Echinochonchus
Echinochonus
Echinocrinus
Echinocyamis
Echinoderm (spines)
Echinoidea (spine)
Echinospatagus
Ecoacteon (Acteon linteus)
Ectodemites
Egelicalva
Ehlersospongia (gen. et sp. nov.)
Ekeraspis
Ekokenia (Ekokenia eporrecta (Koken 1888))
Elasmonella
Elektoriskos
Eleniceras (originally entered as "Eleniceras cf. spiniger")
Elimia (originally entered as "Elimia cf. E. trigemmata")
Ellesmeroceroides
Ellipsagelosphaera
Elongaticeras
Elrodoceras
Elvania
Elytha
Elytron
Emericiceras
Emiratia
Emmelezoe
Emmelozoe
Emphanisporites
Enallaster (originally entered as "Enallaster ? texanus")
Encrinuris
Endemoceras
Endodesma
Endostafella
Endothrya (sp. globulus/radiata)
Ennallaster
Ensigervilleia
Entobia (common)
Entritonium
Eoangyomphalus (Angyomphalus (E.))
Eobelodina
Eocantharus
Eocaudia
Eocolina
Eoconospira
Eocrinus
Eodrillia
Eoophlura
Eoparastaffella
Eoperegrinella
Eopleurophorus
Eopluerotoma
Eopsephaea
Eopunctata
Eorecticularia
Eosolea (Eosolea texana Dante and Frizzell 1965)
Eospiringea
Eostaffellina
Eotaihungshania
Eotetragraptus
Eotrophina
Epengonoceras (originally entered as "Epengonoceras cf. dumblei")
Epiphyton
Epistacheoides
Eridonychia (2 species)
Ervilia (100+ valves collected)
Ervilla (50 valves collected)
Estiastra
Eucalymene
Eucalyptocrinitidae (originally entered as "Eucalyptocrinitid sp.")
Eucalyptocrinus
Eucheirocrinus
Euciroa
Eucoma
Eucorystes
Eufistulana (Kummelia sp. - owens)
Eugomphodus (frequent)
Euhomaloceras
Eumargarita
Eumarginula
Eumetra
Eunella
Eunerinea (originally entered as "Eunerinea lopezi n. sp.")
Eunoa
Eupatagas
Euphemus (originally entered as "? Euphemus sp.")
Eupoikilofusa
Eurasiaticoceras
Eurca
Eurekaphyllum (originally entered as "? Eurekaphyllum sp.")
Eurostosoma
Euryptychites
Eusarcus
Euthymiceras (originally entered as "Euthymiceras cf. euthymi")
Eutritonium (Eutritonium sp.)
Exallaspis
Expansograptus
Externiceras
Faberia
Falcodus
Falodus
Farina (originally entered as "Fatina kugitangensis")
Fasciculiptera
Fasciolariidae (F. sp. a)
Fasciuliptera
Fascularia
Faunus (originally entered as "Faunus cf. chiraensis")
Favistella
Fenestellida
Fish (vertebra)
Fituliramus
Flexibilia
Floricolumnus ("Floricolumnus (col.) sp. cf. F. girvanensis" - originally entered as "Floricolumnus cf. girvanensis")
Fomitechella
Forator (Forator parkinsoni Morris and Cleevey)
Forbesiceras
Fossarus (Fossarus' carinatus (J. de C. Sowerby))
Fossularca
Fourstonella
Fremontia
Frodospira
Fuchsella
Fulgur
Fusinis
Fustaria
Fustilaria
Galeodes
Galeodosconsia
Gallienithyris
Gallograptus
Galodea
Gastopoda (Gastropoda sp. 1)
Gastrochaenolites
Gastropod
Gastropoda (1)
Geinitzinita (Geinitzinita arctocretacea intercolaris)
Georgiacetus
Gephrotes
Gerastos
Gervilliopsis (Gervilliopsis sp.)
Gigantella
Gigantostrea
Girvanagnostus
Girvanella
Glabovalvulina
Glabretina
Glabrosingulum (nuclei)
Glauconome
Gleesonia
Glenodonta
Globovalvulina
Glomerula
Glomspira
Glyptoagnostus
Glyptodesma
Glyptospirifer
Glytorthis
Goldius
Gombeoceras
Goniaster
Gordia
Gorgonella
Gotlanochitina (Gotlanochitina e.g. phillippoti)
Gounqiunspirifer
Grabaulites
Grammotodon
Grandispirifer
Granulifera
Graphiadactylloides
Graphiadactylus ("sp. B"  - originally entered as "Graphiadactylus sp. B")
Graphosterigma
Graptodicta
Graptospongia
Graysonia
Greenockia ("(Greenockia = ?Moorefieldella)")
Gregaryceras
Grenevievella
Grifithidella
Gruenwaldtia
Grypaeostrea (Grypaeostrea sp. aff. vomer)
Gryphophyllum
Gryptochiton
Grzybowskia
Guangxichia
Guizhoupliomerops
Gurievskiella
Gymnocytherium (originally entered as "Gymnocytherium? sp.")
Gyptopleura
Haddingodus
Hadranax
Hadrochiton
Haliris (24 valves collected)
Hallimondia ("fasciculata gen. et sp. nov."  - originally entered as "Hallimondia fasciculata gen. et sp. nov.")
Hamburia (species if very rare)
Haminaea (Haminea? simpsonensis Stephenson)
Hammatocnemis
Hanzhongaspis
Haplobranchoceras
Haplobrancoceras
Hedellara
Helicoceras (Helicoceras sp.)
Helicosphaera
Heliocienia (originally entered as "Heliocoenia sp.")
Heliocoenia
Heliocrinus
Hellopora
Helminthoidichnites
Helminthopsis
Hemiaspis
Hemicircoceras
Hemidictya
Hemigordius
Hemisinus (uncommon)
Heolites
Hercorhyncus (Hercorhynchus n. sp. (Owens et al))
Herrinannograptus
Herrmanograptus
Hesslandia
Heteractinida
Heteranomia (uncommon)
Heterodiceras (originally entered as "?Heterodiceras sp.")
Heterodonta
Heteromorpha (Heteromorph ammonite - originally entered as "Heteromorph ammonite")
Heteronema ("unrecognizable")
Heterophyllum
Hettonia
Hexaconularia
Hexacrinus
Hexagonocyclicus
Hillaeopora
Hindeodella
Hindia
Hippochrenes
Hippurograptus
Histiophorus
Hoegklintia
Holcostephanus (abundant)
Holocystis
Holometopus
Holopella (originally entered as "? Holopella sp.")
Holospira (Holospira sp.)
Holubaspis (originally entered as "Holubaspis? sp.")
Homalaxis
Homalonmia
Homeochiton (Family Uncertain)
Homograptus
Homopmya
Homoya
Hondichnus
Honghuayuangnathus
Hopeiceras
Hopeioceras
Howellaspis (originally entered as "? Howellaspis sp.")
Huanghuanella
Hunanospirifer
Hupehenoceras
Hybochilocrinus
Hydrobia
Hydrozoa (originally entered as "Hydrobia subulata")
Hyodus
Hyolites
Hyolitha (hyolith)
Hyoostrama
Hypacanthohoplites
Hypothyris
Hypothyroidism (originally entered as "Hypothyridium sp.")
Hysteropleura (3-0-0)
Hystricrinus
Ichangolithus
Ichthyloria (originally entered as "Ichthyloria ex gr. tjumenica")
Idonearca
Igoceras
Imbricata
Indianites (originally entered as "? Indianites sp.")
Infundibulum
Intexalvichnus
Inversaria
Iphidella
Iridistrophia
Isastraea
Isastrea
Iscafusus (Iscafusus rigidus (J. de C. Sowerby))
Ischadites
Ischnodactylus
Ischycondonta
Ischyodon
Isocardia
Isognomn
Isognomom
Isogomon
Issinella
Jahnia (nov. sp. - originally entered as "? Jahnia pelmen")
Jangxilithus
Jefitchia (Jefitchia copelandi Dante and Frizzell 1965)
Jiangshanites
Jiangxigraptus
Jonus
Juranomya
Jurassicordula
Jurrassicorbula
Kakwiphyllum (*)
Kallimorrhocrinus
Karakaschiceras
Keilorites
Keislognathus
Keriophyllum
Kerkoceras
Kinella
Kinsabia
Kirkbyia
Kjerulfa
Klabavia
Komagnostus (0-1)
Konickophyllum
Koninckopora
Koninkophyllum
Kopetdagites
Korjakia
Kormagnsostus (2-1)
Kouphichnium
Kozlowiaphyllum
Kraterochiton
Krotovea
Kuresaarina
Kurosaaria
Kweichowilla
Labile (originally entered as "Lahilla larseni")
Lacrimiforma (Lacrimiforma sp.)
Laevaptychus
Laguna (originally entered as "Laganuim floridanum")
Laiwugnathus
Lambdagnathus
Lamellaptychus
Lamellaptycus
Lamellirhynchia
Lamprophyllum
Lanistes (Garel El Soda)
Lapparentia
Larcheria
Lathyphyllia
Latiata (Latiata?  sp.)
Latrius
Lavignon
Leda
Leiocorphye (originally entered as "? Leiocorphye sp.")
Leioestheria
Leiofusa
Leiogyra
Leiomegalaspides
Leiopyge
Leiosphaeridia
Leiosphaerids
Lenalituus
Leodicites (*)
Lepidodendron (bark pattern)
Lepidolites
Leprotolypa
Leptobrachion
Leptodiscus
Leptodomus
Leptoenophyllum
Leptoinophyllum
Leptomoria
Leptonotis
Leptophloeum (plant remains)
Lethamina
Levicerithium (Levicerithium breviforme Stephenson)
Liacalymene
Lianghelouceras
Liangshanaspis
Liangshanocephalus
Lianhuashanolepis
Lichenocrinus
Licrophycus
Ligonadina
Lilloettia
Lindosroemella
Lindostoemella
Lindostroemella
Lindostromella
Linearis (Linearis subtenuistriana (d'Orbigny))
Linguelella
Lingulichnus
Liocheina
Lioclema
Liomegistaspis
Liosirastriatula
Liostera
Listracanthus
Lithodomus
Lithostrontionella
Litopia
Litorhadia
Lloydia
Lohanpoensis
Lohanpopsis
Loipophyllum
Lophosphaeridium
Lophpophyllum
Loshanella
Loxognathus
Loxopteria
Lucinidae (sp. A - originally entered as "Lucinid sp.")
Lumbriconerites (*)
Lutianus (occasional)
Lutralia
Lyellia
Macaronichnus (segregatis?)
Machaeridia (machaeridian plates)
Machurites
Mackineyella
Maclurea
Macrocerithium (Macrocerithium tramitense (Cragin))
Macrocheilus
Macrodus
Maderia
Madreporaria
Malbosiceras (originally entered as "Malbosiceras cf. malbosi")
Malongullospongia
Mametella
Manchuroceroides
Manivitella (originally entered as "Manivitella ex gr. pemmatoidea")
Maotianshania
Marginicintus
Marginula (originally entered as "Marginula cf. occultata")
Mariacrinus
Marsaisia
Martellia
Martiella
Marvillia
Mastiograptus
Matacanthina
Matellia
Mathildella
Matromya
Maxilites
Mecaster (originally entered as "Mecaster cf. pseudofourneli")
Medusaegraptus
Medusagraptus
Megacystites
Megakozlowskiellina
Megalites
Meilsonia
Meitanillaenus
Melanopsis
Melbournopterus
Melissosoa
Melychocella
Memraniporidra
Menjaites
Menoieidina
Merriamella
Mesocyridira
Mesoendoceras
Mesopilocrinus
Mesosaccela
Mesosacella
Mesostoma
Metacalycoceras (originally entered as "? Metacalycoceras sp.")
Metacrosalenia
Metaphillipsia
Metophioceras (abundant)
Mexicanoceras
Michellinia
Micrdodrillia
Micrhystridium ("group")
Microceras
Microdisca
Microsphaeridiorhnynchia
Microsphaeridiorhynchia
Microsphaeridiorhynchus
Microsphaeridorhynchia
Microsphaeridorhynchus
Microthyridina
Mimogeisonoceras
Miodermis
Miraacapha
Mirandaichnium
Mirocheilinella
Misinteripora
Misraea
Modiola
Modiolis
Modiulus
Moenospirifer
Monlongia
Monotheles
Monroea (Monroea castellana n. sp.)
Montastraea
Monticuliporella
Montlivaltlia
Mortelia
Mourlounia (originally entered as "? Portlockiella sp.")
Mulleria
Multiplicisphaeridium
Murchisonida (M. sp. A)
Muscrospirifer
Myritella
Mytea (100+ valves collected)
Mytilidae
Naerea
Naiadites
Nakaolingaspis
Nalivbonella
Namalia
Nanshanaspis
Nassariidae
Nasusgnathus
Naticoenema
Nausitora (rare)
Navis
Neaeroporomya
Negreliceras
Neklania
Nemipterus
Nemtatopora
Neoactinodonta
Neoeburoceras
Neogastropod (N. sp. b)
Neokoninckophylllum
Neomiodontidae
Neonereites
Neoprioniodus
Neoprionioidus
Neoprionodus
Neopsilocephalina
Neosprifer (Neospirifer or Aperispirfer sp.)
Neostringophyllum
Neotollia
Neptunagnostella
Neptunella (originally entered as "Neptunella cf. espaillaci")
Nereidavis (both * Nereidavis sp. A, and Nereidavis sp. B)
Nerineidae
Nerinidae
Neriotoma
Nerudaspis
Newtoniella
Nibiconia
Nicaiseilopha
Nickelsopora (Nickelsopora n. sp. A)
Nidulites
Nigeroplica
Ninkianglithus
Nippononectes
Nodicrescis
Nodoloxohema
Nodoloxonema
Noemiamea
Nonactaeonina (Nonactaeonina sp.)
Nothognathella
Novakia
Nubeculinella
Nucelospira
Nuclidae (Nuclidae (Nucula) mauricensis Harris 1919)
Nudirostra
Nuferella
Nusulella
Nuulana
Nyassa
Nystia
Obulus
Odontostoma
Odostoma
Odotus
Oichnus
Oltulocrinus
Omasaria
Oncotodus
Onnioides
Onoceras
Onuphiunella
Onychites
Oomoceras
Operculinoides
Ophioarachnicola
Ophiomorpha
Ophiopolytretus
Oppilatala
Orbiculoides
Orepanochilus
Orhtoceras
Orientolepis
Orthoretiograptus
Orthorhychula
Orthorhynchula
Orthostoma
Orthotetina
Orthothecida
Ortonia
Oryctoconus (questionable echinoderm material)
Oscillopha
Oslomena
Ostreidae
Otostomia
Ottoina
Ovactaeonella
Ovalestrea
Oxydiscus
Oxyrhina
Oxytomoidea
Ozardkodina (element O1(3), A3(2), O. r. remescheidensis n. form beta element P (23))
Pachydicta
Pachymelania (Pachymelania ? sp. - originally entered as "Pachymelania ? sp.")
Pachyphyllum
Paeeumias
Pagometopus
Palaeactina
Palaenucula
Palaeohypodotus (rare)
Palaeonubecularia
Palaeophycus
Palaeoporella
Palecocrinus
Paleocyclas
Paleolima
Paleomerus
Paleoneilo
Paleoophis
Paleoporella
Paleopsephaea (Paleopsephaea decorosa Stephenson)
Paleozygopleura
Palmatodella
Paltoceras
Paludomus
Panderogracilis
Pandorinella
Pandorinellian ("P. ling. linguiformis gamma morph")
Parabrograptus
Paracaligelloides
Paracanthograptus
Paracardiograptus
Paracedarina ("rank 6")
Parachaetes
Paracharina
Paraclintendoceras
Paraconocerina
Paracyanthus
Paracyclus
Paradrepanodus
Paraeburoceras
Paragnathodus
Parahormotimina
Parahuiheceras
Paraichthyocrinus (no abundance data)
Paralabrax
Paraloshanella
Paramedusium
Paramoellerita
Paramphipora (indet.)
Parapachydiscus (Parapachydiscus sp.)
Parapolypora
Paraporcellia (Porcellia (P.))
Pararetroclitendoceras
Parasclerites
Paratexularia
Parathuramina
Parbatmya (Parbatmya brazosensis Dante and Frizzell 1965)
Parelimania
Parhabdolithus
Parkeristoma
Parvicorbis
Paryphostoma
Pasceolus
Paterulus
Patruliusiceras
Pauciacirsa (Pauciacirsa simplex Dockery)
Paupospira (originally Loxoplocus; PJW3)
Pchycrommium
Pecchiola
Pectunculina
Pegmatrea
Pelecypodichnus
Pelekygnathus ("P. ling. linguiformis gamma morph")
Peltastes
Pemitia (?- extremely large)
Pemtremites
Penecallista
Penneritopora
Penniretopora
Pentacrinus
Pentagonocyclicus
Pentaserpula
Peregrinoceras ("sp. ex gr. albidum"  - originally entered as "Peregrinoceras sp. ex gr. albidum")
Perilaux
Perilobocrinus (Perilobocrinus gr. paludatus-proximus)
Periplora (parvum)
Perisphinctidae
Perissonata (Perissonata protexta (Conrad) non G)
Permia
Petrbokia
Phacoides
Phacopidae (originally entered as "? Phacopid sp.")
Phakelodus
Phallium
Phanelactis
Phenacocycylas
Phichedia
Phillipsi
Phipidomella
Pholidops
Pholoadomya
Phosphanulus
Phycodes
Phylacops
Phyllochiton
Physotomya
Pianodema
Pianodesma
Pichognathus
Pictoneritina
Pinella (Pinella reticulata Stephenson)
Pirula (originally entered as "?Pirula sp.")
Pisces
Placophyllum (originally entered as "? Placophyllum sp.")
Plagiurella
Planolateralis (Calliomphalus (Planolateralis) n. sp. (Owens et al))
Planolites
Planorbis (originally entered as "cf. Planorbis sp.")
Platychisma
Platycolpus
Platycrinties (sp. A, sp. B, sp. C)
Platycrinus
Platymetopus
Platymya
Platyostoma (originally entered as "cf. Platyostoma sp.")
Platystoma
Platyventroceras
Pleapopleurus
Pleapopluerus
Pleckonella
Pleclodina
Plectogyra
Plectospathodus
Plectospirifer
Pleetatrypa
Pleiadeaster
Plethorthis
Plethrospira
Pleuofusia
Pleurocardia (Cardium (Trachycardium ?) uniformis Weller)
Pleurocystitidae (originally entered as "Pleurocystitid sp.")
Pleurophorus (originally entered as "Pleurophorus? sp.")
Pleurotrema
Plicatotrigonioides
Podolithus
Podorhabdus
Polhemia
Polidevcia
Polinicies
Polorthus
Polycaelia
Polycisus
Polydryxium
Polyedryxium
Polygonium
Polyplucograptus
Polypothecia
Polyptychodus
Polyptyxis
Pomatius
Pontosphaera
Posidonella
Posidonomya
Poteriocrinus
Praearca (originally entered as "Praearca? sp.")
Praecerithium
Praectenodonta
Praeleda (originally entered as "cf. Praeleda sp.")
Praepatokephalus
Preophidion (Preophidion petropolis Dante and Frizzell 1965)
Prisconatica
Prismapora
Prismpora
Procassidulus
Proconodonuts
Prodesheyesites (originally entered as "Prodesheyesites sp.nov. aff. laeviusculus")
Productida
Prohelicotoma (originally Helicotoma; PJW3)
Pronajiaceras
Pronjaites (originally entered as "Pronjaites ex gr. bidevexus")
Prorotia
Prosicula
Protarea
Proteonina
Proteus (abundant)
Protillaenus
Protocordia
Protocycloceroides
Protognathus
Protohertzina
Protophillipsinella
Protopliomeroides
Protoryncha
Protoschizodus
Provanna ("abundant")
Prozacompsus
Psammotoena
Psarodictyum
Pseodomelania
Pseodomonotis
Pseodorthoceras
Pseudammodiscus
Pseudamusium (species listed as "concentrico-lineatum")
Pseudmelania
Pseudoancistroceras
Pseudoastraliceras
Pseudoatrypa
Pseudoaustraliceras (originally entered as "Pseudoaustraliceras gr. ramososeptum-pavlovi")
Pseudobythocyoris
Pseudocerina
Pseudoclaviscala (Pseudoclaviscala laevicosta Dockery)
Pseudocrommium (originally entered as "Pseudocrommium carmenensis n. sp.")
Pseudodawanicus
Pseudodictromitria
Pseudoectenolites
Pseudoencurtis (originally entered as "Pseudoencurtis n. sp.")
Pseudofletcheria (originally entered as "? Pseudofletcheria sp.")
Pseudolivella (occasional - originally entered as "Pseudolivella cf. impressa")
Pseudomicroplasma
Pseudopalmatohindia
Pseudopetigurus
Pseudophyllograptus
Pseudoplasmopora
Pseudopliendoceras
Pseudoretiograptus
Pseudorissoina
Pseudostrohiza
Pseudosubplanites
Pseudothoceras
Pseudotythocyoris
Pseudozaphrentis
Psilonichnus
Psuedoliva (Psuedoliva funkeana funkeana)
Psuedomalaxis
Psuedomiltha
Ptarmingia
Ptchyomphalina
Ptenophyllum
Pteriidae
Pterocrinus
Pterospermella
Pterot (Pterot rigonia aff. castrovillensis)
Pterygometrus
Ptychaglyptus
Ptychostylus
Ptychtodus
Punctoprimitia
Pycnodonta
Pyknochiton
Pyramidellidae
Pyrenomeous
Pyrenomoeus
Pyrgulifera (originally entered as "Pyrgulifera kahuitara n. sp.")
Pyrimidella (Pyrimidella sp.)
Pyronema
Pyzarus ((Echinobathra) n. sp.)
Quasiarcgaediscus (originally entered as "Quasiarcgaediscus cf. clausiluminus")
Quasimartinia
Quassilites
Quepora
Quitmaniceras
Rachistognathus
Rangie
Rastidiscus
Receptaculites
Rectilabrum
Rectobaidia (Rectobaidia aff. R. fragosa)
Rectodiscus
Rectograptus
Rectroclitendoceras
Recurvoceroides
Reginaites ("exilis sp. nov."  - originally entered as "Reginaites exilis sp. nov.")
Reineckia (sgn. (Reineckites))
Renalcis
Reniceras
Repichnia (common)
Reptocavea (originally entered as "Reptocava rugosa")
Reptopora
Resabulum (Resabulum rusticum (J. de C. Sowerby))
Reticulariiina (found in Fraileys)
Reticularina
Reticulofenestra
Retilamina
Retiograptus
Retusotriletes
Rhabdonesonida
Rhabdopleura
Rhabdosphaera ("narrow and wide tubes")
Rhabomeson
Rhacopea
Rhamphidoceras
Rhapanocrinus
Rhaphitoma
Rheophax
Rhetechelys
Rhineoderma
Rhinidictya
Rhinopterocaris
Rhipdomella (R. perminuta and R. perminuta var.)
Rhizocorallium (rare)
Rhizocrinus
Rhizodopsis (scales)
Rhodocrinus
Rhopalithes
Rhopalolasma
Rhopalonaria
Rhopalophyllum
Rhopolonaria
Rhychotrema
Rhynchatrypa
Rhynchocamera
Rhynchonellidae (rhynchonellids - originally entered as "Rhynchonellida sp.")
Rhynchonelloid (Rhynchonelloidea sp. A)
Rhynchospira
Rhynchoteuthis
Rhysocamax
Rhytiopora
Rhytophorus (Rhytiphorus? sp.)
Ribeirella
Rinetrigonia
Ringicardium
Ringiculidae
Rishardsonoceras
Rissoellid (?Rissoellidae sp.)
Roddyia
Rogersites (originally entered as "Rogersites cf. atherstoni")
Rokycania
Romingerella
Rosellatana
Rostarca
Roubidouxia
Rugosa (solitary rugose)
Rusophycus
Saccocrinus
Sakagamiina
Samelina (1 valve collected)
Sanoarca (Breviarca (Sanoarca) grandis Stephenson)
Sanxignathus
Saughina (morph indet.)
Scabriscutellum
Scabtrigonia
Scala
Scalarituba (trace fossil)
Scandodus
Scaphiomanon (2 species)
Scaphopoda (originally entered as "Scaphopod ")
Scapularca
Scenidium
Schedohalysites
Scheillwinella
Schisomopora
Schizophyllum
Schuchertalla
Schumardella
Scleractinia
Sclerasterias
Scobinidola (Scobinodola sp.)
Scolicia (common)
Scoliodon (abundant)
Scolithos
Sculellium
Sculptaspis
Scupocellaria
Scurria
Scutula
Sedgewickia
Segmentagnostus
Selachophidium
Selenospira
Selkirkia
Semela (Semela cf. S. linosa)
Semiacteon
Semicava
Semicircularea
Semicrecis
Seminolithes
Septaglomospiranella
Septospirigerella
Serpulidae (originally entered as "Serpulids sp.")
Serpuloides
Shipaia
Sibirinka (nov. gen. et nov. sp.)
Sibirirhynchia
Sidetes
Signata (Signata stenzeli Dante and Frizzell 1965)
Silurovelella
Sinkiangolasma
Sinoceroides
Sinocladopora
Sinoclavus
Sinospongophyllum
Sinus
Siphonodendrum
Siphonphyllia
Skippella
Skolithos (originally entered as "Scolithos sp.")
Smiloorochus (originally entered as "Smilotrochus austeni")
Smitticellaria
Socialophyllum
Solariorbus
Solenacea
Solenomya
Solenopora
Solenospira
Solida (? Solida sp.)
Solildula
Sololites
Somalirhynchia. (originally entered as "Somalirhynchia cf.. arabica")
Sparganophyllum
Sparsispongia
Spatangoid
Spathiocaris
Spathognathodus
Specus (Specus fimbriatus n. sp.)
Spenia
Spenotreta
Sphaerocodium
Sphaerodus
Sphaerorthoceras
Sphaerothuria
Sphenolithus
Sphenolium
Sphenotus
Spinagnostus
Spinaptychus
Spinatripa (kwangsiensis)
Spinocarnifina
Spiratella
Spirellus
Sponge
Squamalaria
Squamularina
Stachei
Stacheia (3 species)
Stacheiodes
Stacheoides
Staminocella
Stauroholcus
Stchirowskiceras
Stegerhyncus
Stellerides
Stenocisma
Stenoporida
Stenothyra
Steopora
Stephanosphinctes
Stephanotis (originally entered as "Stephanodus libycus")
Steptognathodus
Stereoplasmocerina
Steretoceras
Steriolasma
Stiallia
Stiaria
Stomiosphaera
Straelenotrapezium
Stragarolus
Straparolous (subgenus Amphiscapha)
Straparolus
Strebloplax
Streelispora
Strenueva
Streplopteria
Strepsodiscus
Strepteneura
Streptognathus
Striaconus
Strictoporella
Stropeodonta
Stropheodonta
Strophodus
Stylioina
Sublites
Subpolptychites
Suculites (uncommon)
Sulcatopinna
Sullivania
Sunnaginian (a-type, 2 right sclerite, 2 left sclerite)
Surobula (originally entered as "Surobula n. sp.")
Surorbula
Syaptocrinus
Sycidium
Sycum
Symbathocrinus
Synchnoelasma
Synprioniodina
Syphoneudea
Syringoporida (S. sp. A)
Tabuliopora
Talpina
Tanaocrinus
Tanbaoites
Tangyaia
Taras
Tarassocrinus
Tasmanites (a sporomorph)
Taxioura
Technophora
Teichichnus
Telliina
Tellinomya
Teratoceroides
Terebratulidae (originally entered as "Terebratulid sp.")
Teredolites (originally entered as "? Teredolites sp.")
Teschenites (originally entered as "Teschenites aff. pachydicranus")
Tesselaster
Teteracamera
Tetraprioniodus
Tetraprionoidus
Tetrastomella
Tetrocycloecia
Texagryphea
Thalassinoides
Thalassoinoides
Thamnobeatricia
Thanmiscus
Thecidium
Theodenisia
Theodissa
Theodoxus
Thetironia
Thilipsura
Thomasia
Thomasina (Author listed as Productus (T.))
Thoracosaurus
Thrassia
Thuraminoides (*)
Thurmanella
Thurmannites
Thysanobololus
Tirvonella
Tivelina
Tolypaminna
Tonganoxichnus
Tonohamites
Tornatella
Tornatina
Tovula (Tovula microlirae n. sp.)
Toxasteridae ("(?) indet."  - originally entered as "Toxasteridae (?) indet.")
Toxeumophora
Toxoceras
Toxoceratoides
Trachyaspis
Trachyaster (originally entered as "Trachyaster cf. rugosus")
Trachydoma (originally entered as "Trachydoma? sp.")
Trachylebreridea
Trachypora
Transversopontis
Traquairaspis
Trecospira
Trematophyllum
Treptichnus
Treptoceras
Triaenodon
Triangulodus
Tribloceras
Triconodella
Trigera
Trigeria
Trigoniidae (originally entered as "Trigoniid-A gilleti")
Trigonocera
Trigonograptus (Bed 6)
Trilobita
Triplophylliltes
Triplophyllites
Tripodellus
Triptoceras (originally entered as "Triptoceras? sp.")
Tritaria
Triton
Tritonidea
Tritonoatractus (Tritonoatractus pearlensis danvillensis)
Trochaliopsis
Trochidae (originally entered as "Trochid sp.")
Trochoptygmatis
Tropidocyclas
Tropidodsicus
Tropiscurcula
Trupetustroma
Tryonia (Tryonia valida Stephenson)
Trypanites
Tuba (rare - originally entered as "Tuba? sp.")
Tubelelloides
Tubisalebra
Turbinatocaninia
Turbinolina
Turitella
Turridae
Tympanotonus (Potamides cowickeensis Sohl)
Tyrpostega
Umbonicardium
Undichna
Uniconas
Unio (Unio sp. a)
Urbimena
Valangites
Valvata
Vandonia
Vanpalmeria
Varatrypa ("Varatrypa spp.")
Vargania
Variseila (Variseila meeki Wade)
Vascellum (Vascellum subleve n. sp.)
Vaunagites
Veliberychia
Velibeyrichia
Vendotaenia
Veneridae
Verericardia
Vertebrata (fish debris)
Verticillopora
Veryhachium
Vetidrillia
Visbysphaera
Vistoia
Vitrinellidae (V. sp. a)
Viviparus
Voiseyells
Volsella
Volvotextularia
Voysa (Voysa compacta n. sp.)
Wadeopsamea (Wadeopsamea? sp.)
Waldheimia (originally entered as "Waldheimia cf. villersensis")
Wareembaia
Waylandella (W. sp. B)
Weirchellatia
Wetherdella (determined by S. B. Guscin)
Whitella
Whitfieldia
Wilsonia
Wrigleya
Wuningolithus
Wushichites
Wushinchites
Xenocyclopyge
Xenospirifer
Xiadongoceras
Yarrowigahia
Yingtangella
Yorba (originally entered as "Yorbia sp.")
Yunnanellina
Zaphrenthis
Zeloasma
Zetaproetus
Zhinjinites
Zhongnanoceras
Zigzagigraptus
Zitteloceras
Zonatula
Zonozoe
Zoophycos
Zoophycus (trace fossil)
Zozia
Zygobolbina
Zygolithus
Zygosella
Zygrhablithus
conodonta
faberia
galeodea
indet.
sp. (originally entered as "sp. ")
stropheodontid (originally entered as "stropheodontid ")
tendagurium (originally entered as "?tendagurium sp.")
</pre>
</body>

