
<div style="position: relative; text-align: center; clear: all;">

<h3><span id="scale_name"></span></h3>

<table>
<tr><td align=left>

<table>
<tr><td valign="top" width="50%" valign="top">
<p><b>Authorizer:</b> <span id="authorizer"></span>
</p>
</td>

</td><td width="50%" valign="top">
<p><b>Enterer:</b> <span id="enterer"></span>
</p>
</td></tr>

<tr><td valign="top">
<p><b>Continent:</b> <span id="continent"></span>
</p>

</td><td valign="top">
<p><b>Basis of scale:</b> <span id="basis"></span>
</p>
</td></tr>
</table>

</td><td valign="top">
<p><b>Rank of each interval:</b> <span id="scale_rank"></span>
</p>
</td></tr>
</table>

<div show="scale_comments">
<table>
<tr><td valign="top">
<b>Comments:</b> </td><td>
<span id="scale_comments"></span>
</td></tr>
</table>

</td></tr>
</table>

</div>

