
<div style="position: relative; width: 44em; margin-left: 6em; text-align: center; clear: all;">

<table align="center"><tr><td align="left">
<p class="verysmall">
<b>Authorizer:</b> <span id="authorizer"></span>&nbsp;&nbsp;
<b>Enterer:</b> <span id="enterer"></span>
</p>

<p class="verysmall">
<b>Continent:</b> <span id="continent"></span>&nbsp;&nbsp;
<b>Rank of each interval:</b> <span id="scale_rank"></span>
</p>

<p class="verysmall">
<nobr><b>Basis of scale:</b> <span id="basis"></span></nobr>&nbsp;&nbsp;
</p>

<div show="scale_comments">
<p class="verysmall">
<b>Comments:</b>
<span id="scale_comments"></span>
</p>
</div>

</td></tr></table>

</div>

