
<tr><td align="center">
&nbsp;<nobr><span id="eml_interval"></span><div show="eml_interval"> </div><span id="interval"></span></nobr>
</td>
<td>
</td>
<td align="center">
<span id="eml_max_interval"></span><div show="eml_max_interval"> </div><span id="max_interval"></span>
</td>
<td align="center">
<span id="eml_min_interval"></span><div show="eml_min_interval"> </div><span id="min_interval"></span>
</td>
</tr>
<tr><td align="left" colspan="4" style="padding-left: 1em; padding-right: 1em;">
<p class="tiny"><span id="corr_comments"></span></p>
</td></tr>

<tr><td colspan=4 valign="middle">
<hr>
</td><td align="center" valign="middle">
<span id="lower_boundary"></span>
</td></tr>
